﻿@import "_variables";

/***************************************************
 * HTML
 ***************************************************/


// Main style
//------------------------------------------------------

html, body {
    font-size: @font-size-default * 6 / 5;
    -webkit-text-size-adjust: 100%;

    @media (max-width:@break1) {
        font-size: @font-size-default;
    }

    * {
        -webkit-tap-highlight-color: rgba(0,0,0,0);
        user-select: none;
    }


    &.toc_open {
        //position: fixed;
    }
}

body {
    padding: @gheader-height 0 @footer-height;

    &, & * {
        //transition: width @transition-dur1;
    }

}

.print {
    display: none !important;
}


.__contents_box() {
    max-width: @width-contents-max1;

    @media (max-width:@break1) {
        max-width: @width-contents-max2;
    }

    width: 100%;
    padding: 0 @margin-default;
    display: flex;
}

header {
    display: flex;

    &[role="global"] {
        justify-content: center;
        position: fixed;
        top: 0;
        background: @color-back;
        opacity: 0.95;
        display: flex;
        align-items: center;
        justify-content: space-between;
        z-index: 99;

        & > * {
            height: @gheader-height;
        }


        .header_logo {
            padding-left: 10px;
            flex-grow: 99;
            align-items: center;
            display: flex;
            border-bottom: 1px @border-type1 @color-light1;

            img {
                //*width: 100%;
                //*width: 20%;
                //*min-width: 160px;
                max-width: 180px;
                height: @gheader-height / 2;
            }
        }

        .header_nav {
            display: flex;
            width: auto;

            li {
                width: @gheader-height;
                height: @gheader-height;
                border-left: 1px @border-type1 @color-light1;
                border-bottom: 1px @border-type1 @color-light1;

                &.open {
                    border-bottom-color: @color00;
                    background: @color-light2;
                }

                & > a {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                &.language > a {

                    &::before {
                        .__icon("language");
                        width: 70%;
                        height: 70%;
                    }
                }

                &.toc {
                    display: none;

                    @media (max-width: @break2) {
                        display: flex;
                    }

                    & > a {

                        &::before {
                            .__icon("menu");
                            width: 70%;
                            height: 70%;
                        }
                    }
                }

                ul {
                    display: none;
                }
            }
        }
    }

    &[role="manual"] {
        //*position: fixed;
        justify-content: center;
        height: auto;
        top: @gheader-height;
        background: @color-base;
        min-height: @mheader-height;
        display: flex;
        align-items: center;

        .contents_box {
            .__contents_box();
            height: 100%;
            align-items: center;

            span {
                font-size: 1.8rem;
                color: @color20;
                font-weight: bold;
                line-height: 1.2;
                padding: 0.1em 0;
                display: flex;
                align-items: center;

                @media screen and (max-width:@break3) {
                    font-size: 1.5rem;
                }

                &::before {
                    .__icon("manual";75%);
                    width: 1.7em;
                    height: 1.7em;
                    display: inline-block;
                }
            }
        }
    }
}
main[role="main_contents"] {
    width: 100%;
    display: flex;
    justify-content: center;

    @media screen and (max-width: @break2) {
        min-height: calc(100vh - @gheader-height - @mheader-height);
    }

    .contents_box {
        .__contents_box();
        margin-top: @margin-default;

        nav[role="side_toc"] {
            flex-basis: @sidetoc-width1;
            flex-shrink: 0;
            line-height: 1.2;
            z-index: 2;

            .side_toc {
                width: @sidetoc-width1;
                overflow: hidden;
                font-size: 1rem;
            }

            @media screen and (min-width: @break2) {
                &.fixed {
                    .side_toc {
                        position: fixed;
                        top: calc(@gheader-height + @margin-default);
                    }
                }
            }

            .side_toc_inner {
                width: calc(@sidetoc-width1 + 20px);
                overflow-y: scroll;
                overflow-x: hidden;
                -webkit-overflow-scrolling: touch;
                height: 100%;
            }

            ul.toc_list {
                @a-padding: 0.75em;
                width: @sidetoc-width1;


                @media screen and (min-width: @break2) {
                    &.level1 {
                        padding: 1px 0;
                    }
                }

                @media screen and (max-width: @break2) {
                    &.level1 {
                        margin-top: -1px;
                    }
                }


                li {
                    background: @color-light2;
                    position: relative;
                    width: @sidetoc-width1;
                    .__border(top);

                    @media screen and (max-width: @break2) {
                        width: 100%;
                        max-width: @sidetoc-width2;
                    }

                    @media screen and (max-width: @break3) {
                        max-width: unset;
                    }


                    .toc_list_btn {
                        display: flex;
                        align-items: center;
                        padding: 0.5em 0.3em;

                        @media screen and (max-width: @break3) {
                            padding: 0.5em;
                        }
                    }

                    &.parent {

                        .toc_list_btn {

                            &::after {
                                .__icon("plus");
                            }
                        }

                        &.open {
                            & > .toc_list_a {
                                & > .toc_list_btn {

                                    &::after {
                                        .__icon("minus");
                                    }
                                }
                            }
                        }
                    }

                    .toc_list_a {
                        padding: 0.2em 0 0.2em 0.7em;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        cursor: pointer;

                        &::after {
                            content: "";
                            display: block;
                            min-height: 3em;
                        }

                        &:hover {
                            .toc_list_text {
                                text-decoration: underline;
                            }

                            .__border(left;@width:5px;@color:@color-base);
                            padding-left: calc(0.7em - 5px);
                        }

                        .toc_list_text {
                            flex-grow: 99;
                            padding-left: 0.3em;
                        }
                    }


                    .leaf {

                        .toc_list_text {
                            padding-right: 0.5em;
                        }

                        .toc_list_btn {

                            &::after {
                                content: none;
                            }
                        }
                    }

                    .toc_list_inner {
                        display: none;
                        overflow: hidden;
                    }

                    &.open {
                        & > .toc_list_inner {
                            display: unset;
                        }
                    }



                    &.level1 {
                        margin-bottom: @margin-shrink;

                        @media screen and (max-width: @break2) {
                            margin-bottom: 0;
                        }

                        &.active {
                            & > .toc_list_a {
                                background: @color-base;
                                color: @color-back;

                                &::before {
                                    .__icon(@position:75%);
                                    flex-basis: 2em;
                                    height: 2em;
                                }

                                .toc_list_btn {

                                    &::after {
                                        .__icon(@position:75%);
                                    }
                                }
                            }

                            &.open {
                                & > .toc_list_a {
                                    .toc_list_btn {

                                        &::after {
                                            .__icon(@position:75%);
                                        }
                                    }
                                }
                            }
                        }

                        & > .toc_list_a {
                            background: @color-base-light;
                            font-weight: bold;

                            .toc_list_text {
                                //font-size: 1.1rem;
                            }

                            &::before {
                                .__icon("list");
                                flex-basis: 2em;
                                height: 2em;
                            }

                            .toc_list_btn {

                                &::after {
                                    .__icon("plus");
                                }
                            }
                        }
                    }

                    &.level2 {
                        background: @color-light2;
                    }

                    &.level3,
                    &.level4,
                    &.level5,
                    &.level6 {
                        background: @color-light2;
                        @a-padding: 0.75em;

                        .toc_list_a {

                            &::before {
                                .__icon("hierarchy";5%);
                                height: 2em;
                                flex-basis: 1.5em;
                            }
                        }
                    }

                    &.level3 {
                        .toc_list_a {
                            &::before {
                                margin-left: @a-padding * 1;
                            }
                            //padding-left: @a-padding * 1;
                        }
                    }

                    &.level4 {
                        .toc_list_a {
                            &::before {
                                margin-left: @a-padding * 2;
                            }
                            //padding-left: @a-padding * 2;
                        }
                    }

                    &.level5 {
                        .toc_list_a {
                            &::before {
                                margin-left: @a-padding * 3;
                            }
                            //padding-left: @a-padding * 3;
                        }
                    }

                    &.level6 {
                        .toc_list_a {
                            &::before {
                                margin-left: @a-padding * 4;
                            }
                            //padding-left: @a-padding * 4;
                        }
                    }

                    &.active {
                        &.level1 {
                            & > .toc_list_a.active {
                                font-weight: bold;
                                color: @color-back;
                            }
                        }

                        .toc_list_a.selected {
                            font-weight: bold;
                            color: @color-base;
                        }
                    }
                }
            }


            @media screen and (max-width: @break2) {
                & {
                    flex-basis: @sidetoc-width2;
                    width: @sidetoc-width2;
                    right: -100%;
                    position: fixed;
                    top: @gheader-height - 1;
                    z-index: 98;
                    transition: @transition-dur1;


                    .side_toc_back::before {
                        content: "";
                        width: 100%;
                        height: 100%;
                        background: fade(@color-back,70%);
                        position: fixed;
                        top: @gheader-height;
                        left: 0;
                        display: block;
                        opacity: 0;
                        transition: @transition-dur2;
                        transform: translate3d(0,0,0);
                        pointer-events: none;
                    }

                    .side_toc {
                        width: @sidetoc-width2;
                        max-width: @sidetoc-width2;
                        position: absolute;
                    }


                    .side_toc_inner {
                        width: calc(@sidetoc-width2 + 20px);
                        max-width: calc(@sidetoc-width2 + 20px);
                    }

                    ul.toc_list {
                        width: @sidetoc-width2;

                        &.level1 {
                            .__border(left;@width:1px;@color:@color-light1);
                            .__border(bottom;@color:@color-light1);

                            &:last-child {
                            }
                        }
                    }

                    &.open {
                        //*right: 0;
                        .side_toc_back::before {
                            opacity: 1;
                            pointer-events: auto;
                        }
                    }
                }
            }


            @media screen and (max-width: @break3) {
                & {
                    position: fixed;
                    top: @gheader-height;
                    right: -100%;
                    z-index: 99;
                    width: 100%;

                    &::before {
                        content: none;
                    }

                    .side_toc,
                    .side_toc_inner,
                    .toc_list {
                        width: 100% !important;
                        max-width: none !important;
                    }
                }
            }
            // simplebar
            .simplebar-track {
                &.simplebar-vertical {
                    left: calc(@sidetoc-width1 - 11px);
                    right: auto;

                    @media screen and (max-width: @break2) {
                        left: calc(@sidetoc-width2 - 10px);
                    }

                    @media screen and (max-width: @break3) {
                        left: calc(100% - 10px);
                    }
                }
            }
        }

        main[role="contents_inner"] {
            flex-shrink: 99;
            margin-left: @margin-spread;
            width: 100%;
            padding-bottom: @margin-blank * 3;
            position: relative;
            min-width: 0;

            nav[role="breadcrumb"] {
                @root: 1.414;
                width: 100%;
                overflow: hidden;

                @media screen and (max-width:@break3) {
                    display: none;
                }

                .breadcrumb_list {
                    display: flex;
                    flex-wrap: wrap;

                    li {
                        width: auto;
                        height: 2em;
                        //overflow: hidden;
                        display: flex;
                        align-items: center;
                        margin-bottom: @margin-shrink;
                        padding: 0;
                        position: relative;

                        &:first-child {
                            .topicref_before {
                                display: none;
                            }
                        }

                        &:not(:first-child) {
                            //margin-left: -1em * @root;
                            .topicref_inner {
                                border-left: none;
                                padding-left: 2em;
                            }
                        }


                        &.active {
                            a {
                                color: @color-default;
                                font-weight: bold;
                            }
                        }

                        span {
                            a {
                                display: flex;
                                color: @color-link;
                                position: relative;

                                .topicref_before {
                                    width: 1em * @root;
                                    height: 2em;
                                    display: flex;
                                    align-items: center;
                                    overflow: hidden;
                                    position: absolute;
                                    //left: -1em * @root;
                                    &::before {
                                        content: "";
                                        width: 1em * @root;
                                        height: 1em * @root;
                                        display: block;
                                        transform: rotate(45deg);
                                        position: relative;
                                        left: -1em * @root / 2;
                                        background: @color-back;
                                        z-index: 2;
                                        .__border(right);
                                        .__border(top);
                                    }
                                }

                                .topicref_inner {
                                    height: 2em;
                                    padding: 0.2em 1em;
                                    .__border(top);
                                    .__border(bottom);
                                    .__border(left);
                                }

                                .topicref_after {
                                    width: 1em * @root;
                                    height: 2em;
                                    display: flex;
                                    align-items: center;
                                    overflow: hidden;
                                    position: absolute;
                                    right: -1em * @root;

                                    &::after {
                                        content: "";
                                        width: 1em * @root;
                                        height: 1em * @root;
                                        display: block;
                                        transform: rotate(45deg);
                                        position: relative;
                                        left: -1em * @root / 2;
                                        background: @color-back;
                                        z-index: 3;
                                        .__border(right);
                                        .__border(top);
                                    }
                                }

                                &:hover {
                                    .topicref_inner,
                                    .topicref_after::after {
                                        border-color: @color-link;
                                        background: @color-link;
                                        color: @color-back;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            nav[role="footer_control"] {
                position: fixed;
                left: 0;
                z-index: 3;
                width: 100%;
                display: flex;
                justify-content: center;
                pointer-events: none;
                bottom: calc(@footer-height + @margin-shrink);

                @media screen and (max-width: @break2) {
                    bottom: @margin-shrink;
                }

                &.bottom {
                    position: absolute;
                    margin-left: @margin-default * -1;
                    width: calc(100% + @margin-default * 2);
                    overflow: visible;
                    bottom: @margin-default;
                }

                .footer_control_inner {
                    width: 100%;
                    max-width: calc(@width-contents-max1 - @margin-spread);
                    margin: 0 @margin-default;
                    padding-left: calc(@sidetoc-width1 + @margin-spread);
                    display: flex;
                    flex-direction: column-reverse;

                    @media screen and (max-width: @break1) {
                        max-width: calc(@width-contents-max2 - @margin-spread);
                    }

                    @media screen and (max-width: @break2) {
                        padding-left: 0;
                    }

                    a {
                        .__border(@width:2px;@color:@color-back);
                        background-clip: padding-box;
                        pointer-events: auto;
                    }

                    .pagenation {
                        display: none;
                    }

                    .topic_prev_next {
                        display: flex;
                        //* flex-wrap: wrap;
                        justify-content: center;
                        width: 100%;
                        margin-right: @margin-spread;

                        span {
                            padding: 0.2em 0;
                            flex-basis: 50%;

                            a {
                                background-color: @color-base;
                                color: @color-back;
                                font-weight: bold;
                                border-radius: @border-radius;
                                margin: 0 0.5em;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                position: relative;
                                min-width: 100px;
                                max-width: 200px;
                                height: 100%;
                            }

                            &.topic_prev {

                                a {
                                    padding: 0.3em 1em 0.3em 2em;
                                    margin-left: auto;

                                    &::before {
                                        .__icon("link";75%);
                                        width: 1.5em;
                                        height: 1.5em;
                                        transform: rotate(180deg);
                                        position: absolute;
                                        left: 0;
                                    }
                                }
                            }

                            &.topic_next {

                                a {
                                    padding: 0.3em 2em 0.3em 1em;
                                    margin-right: auto;

                                    &::after {
                                        .__icon("link";75%);
                                        width: 1.5em;
                                        height: 1.5em;
                                        position: absolute;
                                        right: 0;
                                    }
                                }
                            }

                            &:only-child {
                                a {
                                    margin-left: auto;
                                    margin-right: auto;
                                }
                            }
                        }
                    }

                    .page_top {
                        @wh: 3em;
                        //* position: absolute;
                        //animation: __hide 0.5s;
                        display: flex;
                        flex-direction: row-reverse;
                        margin-right: @frameout;
                        padding-right: @margin-shrink;

                        @media screen and (min-width:@break3 + 100px) {
                            margin-bottom: -2.5em;
                        }

                        a {
                            display: flex;
                            width: @wh;
                            height: @wh;
                            background-color: @color-base;
                            border-radius: @wh;
                            justify-content: center;
                            align-items: center;

                            &::before {
                                .__icon("arrow";75%);
                                width: 2.5em;
                                height: 2.5em;
                            }
                        }
                    }
                }

                @frametime: 0.25s;

                &.fixed {

                    .page_top {
                        animation: __show_pt @frametime;
                        opacity: 1;
                        margin-right: 0;
                    }
                }


                &.top_area {

                    .page_top {
                        animation: __hide_pt @frametime;
                        opacity: 0;
                        margin-right: @frameout;

                        a {
                            pointer-events: none;
                        }
                    }
                }

                &.loaded {
                    // .page_top {
                    //     display: none;
                    // }
                }
            }

            @media screen and (max-width:@break2) {
                & {
                    margin-left: 0;
                }
            }
        }
    }
}

footer {
    height: @footer-height;
    background: @color-light2;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
    position: fixed;
    bottom: 0;
    z-index: 9;

    @media screen and (max-width: @break2) {
        & {
            position: relative;
        }
    }
}


// Custom style
//------------------------------------------------------

body {
    &#top {
        main[role="contents_inner"] {
            padding-bottom: 0;
        }

        nav[role="footer_control"] {
            display: none;
        }
    }

    &[id*="troubleshooting"] {
        .remedy {
        }
    }
}
.faq {
    &:not(.pagenation) {

        section:not(:last-child) {
            padding-bottom: @margin-spread;
        }
    }

    main[role="main_contents"] {


        h1 {
            display: flex;
            align-items: center;

            &::before {
                .__icon("faq");
                display: inline-block;
                margin-right: 0.2em;
            }
        }


        .enclosure {
            .__border();
            padding: @margin-shrink;
            margin: @margin-default 0;
        }

        a {

            &.faq_link {
                display: flex;
                align-items: center;
                cursor: pointer;
                border: none;
                font-weight: bold;
                color: @color-base;
                border: none;

                &::before {
                    .__icon("question");
                    width: 2.5em;
                    height: 2.5em;
                    flex-shrink: 0;
                    display: block;
                }
            }

            &.faq_button {
                background-color: @color-base;
                color: @color-back;
                font-weight: bold;
                border-radius: @border-radius;
                margin: 0 0.5em;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                padding: 0.3em 2em;
                min-width: 150px;
                margin: 0 auto;
                position: absolute;
                transform: translate(-50%,0);
                left: 50%;

                @media screen and (max-width:@break3) {
                    width: 100%;
                }

                &::before {
                    content: none;
                }

                &::after {
                    .__icon("link";100%);
                    width: 1.5em;
                    height: 1.5em;
                    position: absolute;
                    right: 0;
                }
            }
        }

        .faq_links {
            .faq_group {

                .page {
                    &:not(.active) {
                        //display: none;
                    }
                }
            }
        }
    }

    &.pagenation {

        nav[role="footer_control"] {
            .pagenation {
                display: flex !important;
                align-items: center;
                justify-content: center;
                pointer-events: auto;
                background: rgba(255,255,255,0.8);
                padding: @margin-shrink 0;

                .pagenation_page {
                    margin: 0 0.5em;
                    max-width: 200px;
                    min-width: 50px;

                    @media screen and (max-width:@break3) {
                        max-width: 50%;
                    }

                    .pagenation_page_inner {
                        display: flex;
                    }

                    .slick-center {
                        .pagenation_num {
                            background: @color-base;
                            color: @color-back;
                        }
                    }

                    .pagenation_num {
                        background: @color-base-on;
                        border-radius: 2em;
                        width: 2em;
                        height: 2em;
                        display: inline-flex;
                        align-items: center;
                        justify-content: center;
                        margin: 0 0.2em;
                        font-weight: bold;
                        cursor: pointer;
                        color: @color-base;
                    }
                }

                .__control_icon(@id;@pos: 0%) {
                    .__icon(@id;@pos);
                    display: inline-block;
                    width: 2em;
                    height: 2em;
                    cursor: pointer;
                    margin: 0 0.2em;
                }

                .pagenation_prev {
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    .last {
                        .__control_icon("link-last");
                        transform: rotate(180deg);
                    }

                    .one {
                        .__control_icon("link");
                        transform: rotate(180deg);
                    }

                    &[data-position="inactive"] {

                        .last {
                            .__control_icon("link-last";100%);
                        }

                        .one {
                            .__control_icon("link";100%);
                        }
                    }
                }


                .pagenation_next {
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    .last {
                        .__control_icon("link-last");
                    }

                    .one {
                        .__control_icon("link");
                    }

                    &[data-position="inactive"] {

                        .last {
                            .__control_icon("link-last";100%);
                        }

                        .one {
                            .__control_icon("link";100%);
                        }
                    }
                }
            }

            .topic_prev_next {
                display: none !important;
            }
        }
    }


    .related-links {
        display: none !important;
    }
}