﻿@import "_variables";

/***************************************************
 * PDF
 ***************************************************/

html, body {
    font-size: @font-size-pdf;
}

body {
    
}

.screen {
    display: none !important;
}

main[role="contents_inner"] {
    counter-reset: h1 0;

    .chapter:not(:empty) {
        counter-increment: h1;
        counter-reset: h2;
    }

    .chapter-title-page {
        display: flex;
        width: 100%;
        height: @page-height - @page-margin2;
        text-align: right;
        display: flex;
        justify-content: flex-end;


        .chapter-title {
            font-size: 2.5rem;
            padding-right: 0.5em;
            margin-top: (@page-height - @page-margin) * 0.4;

            &::before {
                content: "Chapter " counter(h1);
                margin-right: 0.5em;
                font-size: 50%;
                display: block;
                font-weight: bold;
                color: @color-base;
                margin-bottom: 0.5em;
            }

            .chapter-title-text {
                display: block;
            }
        }
    }

    h1 {
        //* padding: 0.3em;
        //* background: @color-base;
        //* color: @color-back;
        &.title {
            display: none;

            &::before {
                content: counter(h1);
                margin-right: 0.5em;
                display: inline-block;
            }
        }
    }

    h2 {
        font-size: 2rem;
        counter-increment: h2;

        &::before {
            content: counter(h1) "." counter(h2);
            margin-right: 0.5em;
            display: inline-block;
        }
    }

    h3 {
        font-size: 1.2rem;

        &.title {
            font-size: 1.5rem;
        }
    }

    a {
        &.pagenum {
            content: "P." target-counter(attr(href url), page);
        }
    }

    .tablewrapper {
        overflow: hidden;

        table {
            th, td {
                padding: 1mm;
            }
        }
    }
}

/***************************************************
 * PDF
 ***************************************************/
.page-box {
    display: flex;
    justify-content: space-between;

    &.top {
        align-items: flex-start;
    }

    &.middle {
        align-items: center;
    }

    &.bottom {
        align-items: flex-end;
    }

    .logo {
        img {
            width: 100%;
            height: 100%;
        }
    }
}

.book-cover {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: @page-height - @page-margin2 - 1mm;

    &#cover1 {
        &::before {
            content: "";
            background: @color-base;
            position: absolute;
            width: 30mm + @page-bleed;
            height: @page-height-bleed;
            margin-top: @page-margin-bleed * -1;
            margin-left: @page-margin-bleed * -1;
        }

        .manual-title {
            padding: 10mm 0 10mm 20mm;

            .manual-title-text {
                font-size: 2.5rem;
            }

            .subtitle {
                display: block;
                font-size: 60%;
                .__border(top);
                padding-top: 5mm;
                margin-top: 5mm;
            }
        }

        .top {
            flex-shrink: 0;
            flex-grow: 0;
            flex-basis: 15mm;

            .logo {
                margin-left: auto;
                height: 10mm;
                width: 50mm;
            }
        }

        .middle {
            flex-grow: 99;
            justify-content: center;
        }

        .bottom {
            flex-shrink: 0;
            flex-grow: 0;
            flex-basis: 15mm;
        }
    }

    &#cover3 {

        .manual-title {
            font-size: 1rem;
            text-align: center;

            .subtitle {
                display: block;
                font-size: 70%;
            }
        }

        .top {
        }

        .middle {
        }

        .bottom {
            flex-direction: column;
            align-items: center;

            & > * {
                margin: 0.3em;
            }

            ul.list {
                padding: 5mm 15mm;
                .__border(top);


                li {
                    list-style: disc;
                }
            }
        }
    }

    &#cover4 {

        .top {
        }

        .middle {
            align-items: center;
            justify-content: center;
            flex-grow: 99;

            .logo {
                height: 50mm;
                width: 50mm;
            }
        }

        .bottom {
        }
    }

    &#cover0 {
        align-items: center;
        flex-direction: row;
        height: @page-width-cover0;

        .manual-title {
            width: 100%;
            display: flex;
            align-items: center;

            .subtitle {
                display: inline-block;
                font-size: 70%;
                margin-left: 1em;
            }
        }

        .logo {
            height: 10mm;
            width: 30mm;

            img {
            }
        }

        .top {
            padding: 0 5mm;
        }

        .middle {
            padding: 0 5mm;
            flex-grow: 99;
            font-size: 1.4rem;
        }

        .bottom {
            padding: 0 5mm;
            font-size: 1rem;
        }
    }
}


/***************************************************
 * TOC
 ***************************************************/
main[role="contents_inner"] {
    .toc {
        ul {
            counter-reset: tocLevels 0;

            li {
                counter-increment: tocLevels 1;
                line-height: 1.4;

                &.top {
                    display: none !important;
                }

                &.toc-heading-1 {
                    margin-bottom: 2em;
                    display: flex;

                    &::before {
                        content: "Chapter "counters(tocLevels, '.');
                        font-size: 1.3em;
                        min-width: 6.3em;
                        color: @color-base;
                        font-weight: bold;
                    }

                    & > .contents {
                        .__border(left);
                        padding-left: 1em;
                        width: 100%;

                        & > a {
                            font-size: 1.3rem;
                            margin-bottom: 0.5em;

                            &::before {
                                content: none;
                            }
                        }
                    }
                }

                &.toc-heading-2 {
                    font-size: 1rem;

                    ul {
                        li {
                            padding-left: 1.3em;
                        }
                    }
                }


                a {
                    padding: 0 0.2em;
                    display: flex;
                    justify-content: space-between;
                    flex-grow: 0;
                    flex-shrink: 0;

                    &::before {
                        content: counters(tocLevels, '.');
                        margin-right: 0.5em;
                        flex-grow: 0;
                        flex-shrink: 0;
                    }

                    &::after {
                        flex-grow: 99;
                    }
                }
            }
        }
    }


}

/***************************************************
 * Side index
 ***************************************************/
.side-index {
    width: 100%;

    .side-index-list {
        display: flex;
        flex-direction: column;
        width: @page-margin-bleed - 8mm;
        justify-content: start;
        position: absolute;
        max-height: @page-height - @page-margin2;
        min-height: 100mm;

        &.left {
            right: 0;

            li {
                //* writing-mode: vertical-rl;
                a {
                    padding-left: @page-bleed;
                    border-radius: 0 @page-bleed @page-bleed 0;
                }
            }
        }

        &.right {
            left: 0;

            li {
                //* writing-mode: vertical-lr;
                a {
                    padding-right: @page-bleed;
                    border-radius: @page-bleed 0 0 @page-bleed;
                }
            }
        }

        li {
            //width: @page-margin;
            flex-grow: 1;
            flex-shrink: 0;
            margin-bottom: 1mm;
            max-height: 20mm;
            min-height: 2.5em;
            display: flex;

            a {
                background: @color-base-on;
                color: @color-back;
                display: flex;
                align-items: center;
                justify-content: center;
                max-height: 20mm;
                min-height: 2.5em;
                width: 100%;
            }

            &.current {
            }

            &.else {
                a {
                    background: fade(@color-default,10%);
                }
            }

            .num {
                font-size: 1.2rem;
                font-weight: bold;
                flex-shrink: 0;
                flex-grow: 0;
                white-space: nowrap;
                width: 2.2em;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            .txt {
                display: none;
                flex-grow: 99;
            }
        }
    }
}




#overlay {

    .content {
    }
}

#blank {

    .content {
        font-weight: bold;
        font-family: @font-sans-serif_;
        color: @color-light1;
        font-size: 2rem;
        text-align: center;
        width: 100%;
        .__border(bottom);
    }
}