﻿// **************************************************
//  Variables - Common
// **************************************************/

// util
@random: `Math.random()`;

// path
@path-base: "..";
@path-image: "@{path-base}/img";
@path-image-common: "@{path-image}/common";
@path-image-pdf: "@{path-image}/pdf";

@path-formatter: "../@{path-image}";
@path-formatter-common: "@{path-formatter}/common";
@path-formatter-pdf: "@{path-formatter}/pdf";

// breakpoint
@break1: 1366px;
@break2: 1024px;
@break3: 600px;

// width

// transition
@transition-dur1: 0.25s;
@transition-dur2: @transition-dur1 * 2;
@transition-dur3: @transition-dur1 * 4;


// color
@color00: transparent;
@color10: #555; //黒系
@color11: #999;
@color12: #ccc;
@color13: #f5f5f5;
@color20: #fff; //白系
@color30: #263b74; //青系
@color40: #c00; //赤系
@color50: #fc0; //黄系
@color60: green; //緑系
@color-registration: cmyk(100%,100%,100%,100%);
@color-default: @color10;
@color-back: @color20;
@color-base: @color30;
@color-base-half: lighten(@color-base,50%);
@color-base-light: lighten(@color-base,65%);
@color-base-on: lighten(@color-base,60%);
@color-link: lighten(@color-base,30%);
@color-light1: @color12;
@color-light2: @color13;
.__color-random(@fade: 100%) {
    @random-num: `(Math.random() * 0xFFFFFF<<0).toString(16)`;
    @color-hex: e(@random-num);
    @color-random: ~"#@{color-hex}";
}

// border
@border-type1: solid;
@border-type2: dotted;
@border-type3: dashed;
@border-width-screen: 1px;
@border-width-print: 0.3pt;
@border-radius: 5px;
@border-color: @color-light1;
.__border(@part: "";@width: "";@type: @border-type1;@color: @color-light1) when (@part = "") and (@width = "") {
    @media screen {
        border: @border-width-screen @type @color;
    }

    @media print {
        border: @border-width-print @type @color;
    }
}

.__border(@part: "";@width: "";@type: @border-type1;@color: @color-light1) when not (@part = "") and (@width = "") {

    @media screen {
        border-@{part}: @border-width-screen @type @color;
    }

    @media print {
        border-@{part}: @border-width-print @type @color;
    }
}
.__border(@part: "";@width: "";@type: @border-type1;@color: @color-light1) when (@part = "") and not (@width = "") {
    border: @width @type @color;
}

.__border(@part: "";@width: "";@type: @border-type1;@color: @color-light1) when not (@part = "") and not (@width = "") {
    border-@{part}: @width @type @color;
}

//font
@font-serif_: "Times New Roman",serif;
@font-sans-serif_: "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3","メイリオ", Meiryo, sans-serif;
@font-en: Arial,sans-serif;
@font-mono_: monospace;
@font-main: @font-sans-serif_;
@font-sub: "游ゴシック体", "Yu Gothic", YuGothic,@font-main;
@font-else: @font-serif_;
@font-size-default: 15px;
@font-size-pdf: 10pt;
@line-height: 1.4;


// string
@title-book: title-book;
@title-h1: title-h1;
@title-h2: title-h2;
@title-delimeter: title-delimeter;
@num-h1: num-h1;
@num-h2: num-h2;

// margin
@margin-default: 1.33rem;
@margin-spread: @margin-default * 2;
@margin-blank: @margin-default * 3;
@margin-shrink: @margin-default / 2;

// icons
@icon-url: "@{path-image-common}/icon_";
.__icon(@id:"";@position: 0%) when (@id = "") {
    background-position: @position;
}
.__icon(@id;@position: 0%) {
    content: "";
    background-image: url("@{icon-url}@{id}.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: @position;
    width: 1.5em;
    height: 1.5em;
    flex-shrink: 0;
    display: inline-block;
}

// **************************************************
//  Variables - HTML
// **************************************************/

@gheader-height: 60px;
@mheader-height: 80px;
@footer-height: 50px;

@sidetoc-width1: 18.5em;
@sidetoc-width2: 30em;
@width-contents-max1: 1621px;
@width-contents-max2: 1170px;


// **************************************************
//  Variables - Page
// **************************************************/
@page-height: 297mm;
@page-width: 210mm;
@page-width-cover0: 10mm;
@page-size: @page-width @page-height;
@page-margin: 20mm;
@page-margin2: @page-margin * 2;
@page-margins: @page-margin @page-margin;
@page-border: @border-width-print @border-type1 @color-default;
@page-bottom-margin: 10pt 0 30pt 0;

// registration
@page-registration-flg: true;
@page-bleed: 3mm;
@page-height-bleed: @page-height + @page-bleed * 2;
@page-width-bleed: @page-width + @page-bleed * 2;
@page-margin-bleed: @page-margin + @page-bleed;
@page-registration-margin: 15mm;
@page-registration-width: @page-width + @page-registration-margin * 2;
@page-registration-height: @page-height + @page-registration-margin * 2;
@page-registration-width-cover0: @page-width-cover0 + @page-registration-margin * 2;

.__page-registration() when (@page-registration-flg) {
    size: @page-registration-width @page-registration-height;
    margin: @page-margin + @page-registration-margin;
    background: url("@{path-formatter-pdf}/registration-left.svg") no-repeat left top,url("@{path-formatter-pdf}/registration-center.svg") no-repeat center top,url("@{path-formatter-pdf}/registration-right.svg") no-repeat right top;
    background-size: @page-registration-width @page-registration-height;
    width: @page-registration-width;
    height: @page-registration-height;
}

.__page-registration-cover0() when (@page-registration-flg) {
    size: @page-registration-width-cover0 @page-registration-height;
    margin: 15mm;
}

.__page-registration-cover0() when not (@page-registration-flg) {
    size: @page-width-cover0 @page-height;
    margin: 0;
}

// **************************************************
//  keyframes
// **************************************************/
@frameout: -50%;
@keyframes __show_pt {
    0% {
        opacity: 0;
        margin-right: @frameout;
    }

    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
        margin-right: 0;
    }
}

@keyframes __hide_pt {
    0% {
        opacity: 1;
        margin-right: 0;
    }
    50% {
        opacity: 0;
    }

    100% {
        opacity: 0;
        margin-right: @frameout;
    }
}
