@charset "UTF-8";

/* ---------------------
 * FONTSIZE MODEL * 
 * ---------------------
 *  63% ->	10pxに相当
 *  70% ->	11pxに相当
 *  75% ->	12pxに相当
 *  82% ->	13pxに相当
 *  88% ->	14pxに相当
 *  94% ->	15pxに相当
 * 100% ->	16pxに相当
 * 107% ->	17pxに相当
 * 113% ->	18pxに相当
 * 119% ->	19pxに相当
 * 125% ->	20pxに相当
 * --------------------- */
 
 
/* ========BASIC======== */
* {
/*   font-family:"Hiragino Kaku Gothic Pro",HiraKakuPro-W3,"ヒラギノ角ゴ Pro W3","メイリオ", Meiryo,"MS P ゴシック",verdana,sans-serif; */
   font-family:"ヒラギノ角ゴPro W3", "Hiragino Kaku Gothic Pro", Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", sans-serif;
   color:#333;
}

body {
   margin:0;
   padding:0;
   letter-spacing:1px;
   background:#fff;
}

br {
   letter-spacing:normal;
}

table {
    border-spacing: 0;
}

a {
   color: #3588C2;
   text-decoration:none;
}

a:hover {
   color:#7FD0FF;
   text-decoration:underline;
}

img {
   border:0;
   vertical-align:bottom;
}

h1,h2,h3,h4,h5,h6 {
   margin:0;
}

/* TOP */
div#top {
   min-width:860px;
   margin:0 10px;
}

/* ========TEMPLATE LAYOUT======== */
div#header {
   width:100%;
   margin:0;
   position:relative;
   padding:0 5px;
}

div#pr {
   position:absolute;
   width:480px;
/*   left:330px; */
   right: 5px;
   top:5px;
}

div#menu {
/*
   width:100%;
   float:left;
   margin-bottom:20px;
   background:url("/images/bg_menu.gif") 0 100% repeat-x;
*/
}

div#contents {
   min-width:100%;
   margin:0;
}

div#main {
   margin-left: 230px;
}

div#sub {
   float:left;
   width:220px;
}

div#totop {
   clear:both;
}

div#footer {
   clear:both;
   background:#EBEADD;
}


/* ========HEADER CUSTOMIZE======== */
div#header h1 {
   margin-bottom:10px;
   font-size:125%;/* 24px相当 */
   color:#fff;
   background:#EBEADD;
   line-height:45px;
	padding-left: 5px;
}

div#header h1 a {
   color:#333;
}

div#header h1 a:hover {
   color:#666;
}

div#header #pr p {
   margin-left:10px;
   font-size:75%;/* 12px相当 */
}


/* ========MENU CUSTOMIZE======== */
div#menu ul {
   margin:0;
   padding:0;
}

div#menu li {
   float:left;
   font-size:75%;/* 12px相当 */
   color:#333;
   text-align:center;
   list-style-type:none;
}

div#menu li a {
   display:block;
   width:120px;
   color:#5A5132;
   line-height:50px;
   border-left:1px solid #D8D8D8;
   background:#F2F2F2;
}

div#menu li.home a {
   border:none;
}

div#menu li a.active {
   background:#D2D2D2;
}

div#menu li a:hover {
   color:#333;
   background:#D2D2D2;
   text-decoration:none;
}



/* ========MAIN CONTENTS CUSTOMIZE======== */
div#main h2 {
   margin-bottom:8px;
   padding:2px 2px 2px 0;
   color:#5A5132;
   font-size:94%;/* 15px相当 */
   font-weight:bold;
   border-bottom:3px double #5A5132;
}

div#main h2 th{
   font-size:94%;
   font-weight:bold;
   padding-right: 3em;
}

div#main h3 {
   margin-bottom:3px;
   font-size:94%;/* 14px相当 */
}

div#main h4 {
   margin-bottom:2px;
   font-size:82%;/* 13px相当 */
}

div#main h5 {
   margin-bottom:2px;
   font-size:82%;/* 13px相当 */
}

div#main h6 {
   margin-bottom:2px;
   font-size:82%;/* 13px相当 */
}

div#main p {
   margin:0 0 1em 0;
   font-size:82%;/* 13px相当 */
}

div#main ul,ol,dl {
   font-size:82%;/* 13px相当 */
}

div#main dt {
   margin-bottom:3px;
}

div#main dd {
   padding:0;
   margin:0 0 0.5em 1em;
   padding:3px;
   background:#f1f1f1;
}

div#main th, td {
   font-size:82%;/* 13px相当 */
}
div#main input[type="text"] {
   width: 250px;
}

/* INFORMATION CUSTOMIZE */
* html body div#main dl.information dd div {
   display:inline-block;
}

div#main dl.information dt {
   float:left;
   width:10em;
   margin:0;
   padding:0;
}

div#main dl.information dd {
   margin:0 0 0.5em 10em;
   padding:0;
   background:transparent;
}

/* ========SUBCONTENTS CUSTOMIZE======== */
div#sub .section {
   margin-bottom:5px;
}

div#sub h2 {
   padding:3px;
   font-size:85%;/* 14px相当 */
/*   font-size:88%;/* 14px相当 */
   font-weight:bold;
   color:#5A5132;
   padding-left:10px;
   background:#fff url("/images/bg_submenu.gif") 0 50% no-repeat;
   border-bottom:1px solid #E7E7E7;
}

div#sub ul {
   margin:0;
   padding:0;
}

div#sub li {
   font-size:82%;/* 13px相当 */
   line-height:1.4;
   border-bottom:1px solid #ddd;
   list-style:none;
   
}

div#sub li a {
   display:block;
   padding-left:10px;
/*   color:#333; */
/*   line-height:3.0; */
   margin: 7px 0;
   background:url("/images/bg_sub_list.gif") 1px 5px no-repeat;
}

ul#tokudesu li a  {
   display:block;
   padding-left:10px;
   line-height:normal;
   color:#3333ff;
   background:#ffffff;
   margin: 2px 0;
   font-size:110%;
}

/* ========TOTOP CUSTOMIZE========= */
div#totop {
   margin:10px 0;
   text-align:right;
   font-size:75%;/* 12px相当 */
}

div#totop a {
   padding:0 0 0 12px;
   background:url("/images/bg_totop.gif") 0 50% no-repeat;
   color:#333;
}


/* ========FOOTMENU CUSTOMIZE======== */
div#footMenu ul {
   margin:0 0 10px 0;
   padding:10px 0 0 0;
   text-align:right;
   background:url("/images/bg_dotline.gif") 0 0 repeat-x;
}

div#footMenu li {
   display:inline;
   margin:0 0 0 10px;
   font-size:75%;/* 12px相当 */
   list-style:none;
}

div#footMenu li a {
   padding-left:10px;
   color:#333;
   background: url(/images/bg_footmenu.gif) 0 50% no-repeat;
}


/* ========FOOTER CUSTOMIZE======== */
address {
   padding:10px 0;
   font-style:normal;
   font-size:75%;/* 12px相当 */
   text-align:center;
}


div.tooltip {  
    width: 250px;  
    position: absolute;  
    left: -9999px;  
    background: #EEE;  
    padding: 5px;  
    border: 1px solid #AAA;  
}  
  
div.tooltip p{  
    color: #FFF;  
    background: #222;  
    padding: 5px 10px;  
} 
