.frame .close {
  position: absolute;
  right: 0px;
  top: 30px;
  z-index: 2;
}

.frame .close a {
  display: block;
  overflow: hidden;
  color: transparent;
  text-decoration: none;
  text-indent: 110%;
  white-space: nowrap;
  font-size: 0;
  width: 50px;
  height: 50px;
  position: absolute;
  right: 10px;
  top: -60px;
  background-color: #fff;
  border-radius: 50%;
}

.frame .close a::before,
.frame .close a::after {
  position: absolute;
  left: 10%;
  top: 50%;
  display: block;
  content: '';
  margin-top: -2px;
  width: 80%;
  height: 4px;
  background: transparent url(../image/img_line.png) no-repeat center center;
  background-size: contain;
  transition: transform 0.4s;
}

.frame .close a::before {
  transform: rotate(45deg);
}

.frame .close a::after {
  transform: rotate(-45deg) scale(1, -1);
}

@media all and (min-width: 740px) {
  .frame .close {
    right: 0px;
    top: 30px;
  }
}

@media all and (min-width: 740px) {
	#inquiry_banner {
		position: absolute;
		top: 86px;
		right: 16px;
		opacity: 0.95;
	}
}

@media all and (max-width: 739px) {
	#inquiry_banner {
		position: absolute;
		top: 58px;
		right: 8px;
		opacity: 0.95;
	}

	#inquiry_banner img {
		width: 200px;
	}
}

/* ***************************** 改修：ｺｺｶﾗ ******************************* */
/* for inquiry button
------------------------*/

#inquiry_banner *,
#inquiry_banner *::after {
    transition: .3s all;
}
#inquiry_banner {
    display: flex;
    flex-wrap: wrap;
    flex: 0 0 200px;
    max-width: 240px;
    justify-content: flex-end;
}
#inquiry_banner a {
    box-shadow: -2px 2px 6px rgb(0 0 0 / 50%);
    background: #d03f54;
    display: flex;
    flex-wrap: wrap;
    width: 15em;
    height: 4.5em;
    align-items: center;
    justify-content: center;
    color: #fff;
    position: relative;
    padding-right: 30px;
    text-decoration: none;
    border-radius: 2.5em;
    transform-origin: center;
    animation-name: rubber;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
}
@media all and (max-width: 839px) {
    #inquiry_banner a {
        font-size: 0.8rem;
    }
}
#inquiry_banner a:hover {
    background: #fff;
    color: #4098c7;
    animation: none;
    transform: scale(0.95);
}

#inquiry_banner a::after {
    content: '';
    position: absolute;
    top: 2px;
    right: 1.3em;
    bottom: 0;
    margin: auto 0;
    width: 10px;
    height: 10px;
    border-top: 1px solid #fff;
    border-right: 1px solid #fff;
    transform: rotate(45deg);
}

#inquiry_banner a:hover::after {
    border-color: #4098c7;
}

#inquiry_banner a span {
    font-weight: 500;
    line-height: 1.4;
    padding-left: .375em;
}

@keyframes rubber {
  0%  { transform: scale3d(1,1,1);}
  80% { transform: scale3d(1,1,1);}
  85% { transform: scale3d(1.1,.9,1);}
  88% { transform: scale3d(.9,1.1,1);}
  91% { transform: scale3d(1.07,.95,1);}
  94% { transform: scale3d(.95,1.03,1);}
  97% { transform: scale3d(1.03,.95,1);}
}
@keyframes pulse {
}

/* ***************************** 改修：ｺｺﾏﾃﾞ ******************************* */