/* Variable */
#effect .shadow-light {
  box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.1);
}
#effect .shadow-light-hover {
  box-shadow: 7px 7px 13px rgba(0, 0, 0, 0.3);
}
#effect .shadow-none {
  box-shadow: none !important;
}
#effect .float {
  box-shadow: 0 0 6px var(--color-base-ghost);
}
/* Additional */
/* Component */
/* //////////////////////////////////////////////////////
// Base
////////////////////////////////////////////////////// */
html {
  height: 100%;
}
body {
  background-color: var(--color-base);
  width: 100%;
  height: 100vh;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 2rem;
  background-color: var(--color-base2);
  /* List */
  /* Link/Button */
}
body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 16rem;
  z-index: -1;
  background-color: var(--color-base);
}
@media (max-width: 767px) {
  body::before {
    height: 21rem;
  }
}
body header {
  flex-shrink: 0;
  flex-grow: 0;
  align-items: flex-end;
}
body footer {
  flex-shrink: 0;
  flex-grow: 0;
  height: 3rem;
}
@media (max-width: 767px) {
  body footer {
    height: 4rem;
  }
}
body main {
  display: flex;
  gap: 1rem;
  flex-grow: 9;
  flex-direction: column;
  height: 100px;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  z-index: 5;
}
body article {
  width: 100%;
  min-width: 30rem;
}
body article:first-of-type {
  min-height: 16rem;
}
body cici-ai-csui {
  display: none;
}
body a.inline {
  font-size: 90%;
}
body a[class*="symbol-"]:not(.circle-button) {
  border-radius: 100vh;
  border: 1px solid var(--color-default-light);
  padding: 0 1em 0 0.5em;
  vertical-align: middle;
}
body a:active {
  transform: scale(0.95);
}
body a:hover {
  color: var(--color-back);
  background-color: var(--color-key);
}
body a:hover::before,
body a:hover::after {
  color: inherit;
}
body a:active {
  color: var(--color-default-on);
}
body a.link {
  text-underline-offset: 5px;
  text-decoration: underline;
}
body a.circle-button {
  border-radius: 100vh;
  width: 3rem;
  height: 3rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
body .menu-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  gap: 2em;
}
body .menu-button > * {
  box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.1);
  border-radius: 0.8rem;
  background-color: var(--color-back);
  overflow: hidden;
}
body .menu-button,
body .menu-button li,
body .menu-button a {
  height: 100%;
}
body .menu-button a {
  font-size: 2rem;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  padding: 2em 1em;
}
body ul li + li {
  margin-top: 0.5em;
}
body button[type="reset"],
body button[type="button"],
body button[type="submit"] {
  background-color: var(--color-base);
  color: var(--color-back);
  border: none;
  padding: 0.5em 2em;
  margin: 0.5rem;
  font-size: 1rem;
  white-space: nowrap;
  letter-spacing: 4px;
  line-height: 1.2;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  min-height: 3em;
  border-radius: 100vh;
}
body button[type="reset"]:hover,
body button[type="button"]:hover,
body button[type="submit"]:hover {
  background-color: var(--color-base-screen3);
  background-color: var(--color-key);
}
body button[type="reset"]:active,
body button[type="button"]:active,
body button[type="submit"]:active {
  transform: scale(0.95);
}
body button[type="reset"]:has(>.symbol),
body button[type="button"]:has(>.symbol),
body button[type="submit"]:has(>.symbol),
body button[type="reset"][class*="symbol-"],
body button[type="button"][class*="symbol-"],
body button[type="submit"][class*="symbol-"] {
  padding-left: 0em;
}
body button[type="reset"].red-button,
body button[type="button"].red-button,
body button[type="submit"].red-button {
  background-color: var(--color-caution);
}
body button[type="reset"].red-button:hover,
body button[type="button"].red-button:hover,
body button[type="submit"].red-button:hover {
  background-color: var(--color-key);
}
body button[type="reset"].circle-button,
body button[type="button"].circle-button,
body button[type="submit"].circle-button {
  padding: 0;
  width: 3em;
  transition-duration: 0.2s;
  transition-property: width, padding, transform;
  transition-timing-function: cubic-bezier(0.72, 0.02, 0.26, 0.99);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  white-space: nowrap;
}
body button[type="reset"].circle-button span,
body button[type="button"].circle-button span,
body button[type="submit"].circle-button span {
  transition-duration: 0.2s;
  transition-property: width, padding, transform;
  transition-timing-function: cubic-bezier(0.72, 0.02, 0.26, 0.99);
  display: block;
  white-space: nowrap;
  width: 0;
  overflow: hidden;
}
body button[type="reset"].circle-button:not(:empty):hover,
body button[type="button"].circle-button:not(:empty):hover,
body button[type="submit"].circle-button:not(:empty):hover {
  transition-duration: 0.2s;
  transition-property: width, padding, transform;
  transition-timing-function: cubic-bezier(0.72, 0.02, 0.26, 0.99);
  width: 100%;
  padding: 0 1em 0 0.5em;
}
body button[type="reset"].circle-button:not(:empty):hover span,
body button[type="button"].circle-button:not(:empty):hover span,
body button[type="submit"].circle-button:not(:empty):hover span {
  transition-duration: 0.2s;
  transition-property: width, padding, transform;
  transition-timing-function: cubic-bezier(0.72, 0.02, 0.26, 0.99);
  width: 100%;
}
/* //////////////////////////////////////////////////////
// Header
////////////////////////////////////////////////////// */
header[role="global"] {
  z-index: 6;
  position: fixed;
  top: 1rem;
  left: -2rem;
  top: 0;
  left: 0;
}
header[role="global"] a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10rem;
  height: 2.8em;
  width: 7rem;
  height: 4.5em;
  background-color: var(--color-back);
  transition-duration: 0.2s;
  transition-property: width;
  transition-timing-function: cubic-bezier(0.72, 0.02, 0.26, 0.99);
  box-shadow: 4px -4px 6px 0px var(--color-back-shadow2), -1px 1px 0px 1px var(--color-black-shadow1), -2px 2px 1px 2px var(--color-black-shadow1), -3px 3px 2px 2px var(--color-black-shadow1), -6px 6px 4px 1px var(--color-black-shadow1), -9px 9px 7px 0px var(--color-black-shadow1), -12px 12px 10px 0px var(--color-black-shadow1), -1px 1px 5px 0px var(--color-black-shadow1);
  border-radius: 0 0 0.8rem 0;
}
header[role="global"] .logo {
  padding: 0.5rem 2rem 0.25em 3em;
  padding: 0.5rem 1rem 0.25em;
  width: 100%;
}
header[role="global"] .logo img {
  width: 100%;
}
header[role="local"] {
  z-index: 9;
  color: var(--color-back);
  text-align: center;
  text-align: left;
  top: 0;
  padding-left: 7rem;
  height: 5rem;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}
header[role="local"] h1 {
  font-size: 2.2rem;
  font-weight: 100;
  background-color: var(--color-base-shadow);
  flex-shrink: 0;
}
/* //////////////////////////////////////////////////////
// Main
////////////////////////////////////////////////////// */
main {
  padding-left: 5rem;
  /* Title */
  /* Img */
  /* Text */
}
main.slim-art {
  width: auto;
  max-width: 42rem;
  padding: 0;
}
main.flexi-art {
  width: auto;
  padding: 0;
}
main.column-art {
  flex-direction: row;
  gap: 2rem;
}
main article {
  flex-grow: 0;
  flex-shrink: 1;
}
main article.card {
  border: 3px solid var(--color-back);
  box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.1);
  background-color: var(--color-back);
  border-radius: 0.8rem;
  overflow-y: auto;
}
main article.glass-card {
  padding: 0 !important;
  background: none;
  flex-shrink: 1;
  overflow: visible;
}
main article.glass-card button,
main article.glass-card a {
  background-color: var(--color-back);
  box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.1);
}
main article.glass-card button:hover,
main article.glass-card a:hover {
  background-color: var(--color-key);
  color: var(--color-back);
}
main article.history-back {
  max-height: 3em;
}
main article.history-back a {
  background-color: var(--color-back);
  box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.1);
}
main article .art-box {
  overflow-y: auto;
  height: 100%;
  padding: 1em;
}
main h1 {
  font-size: 5rem;
  font-weight: 100;
  line-height: 1.2;
  color: var(--color-back);
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
}
@media (max-width: 767px) {
  main h1 {
    font-size: 4rem;
  }
}
main h2 {
  font-size: 2rem;
  font-weight: 200;
  padding: 1em;
}
main img {
  max-width: 100%;
}
main p + p {
  margin-top: 0.3em;
}
/* //////////////////////////////////////////////////////
// Nav
////////////////////////////////////////////////////// */
nav {
  z-index: 99;
}
nav[role="action"] ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
nav[role="action"] button {
  min-height: 2rem;
  letter-spacing: 0;
  padding: 1rem 1.5rem;
}
nav[role="control"] {
  position: fixed;
  bottom: 3rem;
  left: 1.5rem;
}
nav[role="control"] ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
nav[role="control"] a {
  height: 3em;
  width: 3em;
  background-color: var(--color-base);
  color: var(--color-back);
  border: none;
  padding: 0.5em 2em;
  margin: 0.5rem;
  font-size: 1rem;
  white-space: nowrap;
  letter-spacing: 4px;
  line-height: 1.2;
  cursor: pointer;
  display: inline-flex;
  vertical-align: middle;
  min-height: 3em;
  border-radius: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.1);
  color: var(--color-default);
  background-color: var(--color-back);
  padding: 1em;
}
nav[role="control"] a:hover {
  color: var(--color-back);
  box-shadow: 7px 7px 13px rgba(0, 0, 0, 0.3);
}
nav[role="control"] a:hover {
  background-color: var(--color-base-screen3);
  background-color: var(--color-key);
}
nav[role="control"] a:active {
  transform: scale(0.95);
}
nav[role="control"] a:has(>.symbol),
nav[role="control"] a[class*="symbol-"] {
  padding-left: 0em;
}
nav[role="control"] a.red-button {
  background-color: var(--color-caution);
}
nav[role="control"] a.red-button:hover {
  background-color: var(--color-key);
}
nav[role="control"] a.circle-button {
  padding: 0;
  width: 3em;
  transition-duration: 0.2s;
  transition-property: width, padding, transform;
  transition-timing-function: cubic-bezier(0.72, 0.02, 0.26, 0.99);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  white-space: nowrap;
}
nav[role="control"] a.circle-button span {
  transition-duration: 0.2s;
  transition-property: width, padding, transform;
  transition-timing-function: cubic-bezier(0.72, 0.02, 0.26, 0.99);
  display: block;
  white-space: nowrap;
  width: 0;
  overflow: hidden;
}
nav[role="control"] a.circle-button:not(:empty):hover {
  transition-duration: 0.2s;
  transition-property: width, padding, transform;
  transition-timing-function: cubic-bezier(0.72, 0.02, 0.26, 0.99);
  width: 100%;
  padding: 0 1em 0 0.5em;
}
nav[role="control"] a.circle-button:not(:empty):hover span {
  transition-duration: 0.2s;
  transition-property: width, padding, transform;
  transition-timing-function: cubic-bezier(0.72, 0.02, 0.26, 0.99);
  width: 100%;
}
/* //////////////////////////////////////////////////////
// Footer
////////////////////////////////////////////////////// */
footer {
  text-align: center;
  font-size: 0.7rem;
  padding: 0.5rem 0rem 0.5rem;
  z-index: 0;
  color: var(--color-base-screen5);
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  align-content: flex-end;
  flex-wrap: wrap;
}
footer .footer-links {
  flex-shrink: 0;
}
footer .footer-links ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
footer .footer-links ul li {
  width: auto;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  margin: 0;
}
footer .footer-links ul li + li::before {
  content: "|";
  padding: 0 0.5em;
}
footer .footer-links ul li a {
  white-space: nowrap;
  border: none;
}
footer .footer-links ul li a:hover {
  background-color: var(--color-transparent);
  color: var(--color-key-on);
}
footer .footer-copyright {
  flex-grow: 0;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
}
/* Parts */
/* Form/Search */
form {
  height: 100%;
}
form fieldset {
  width: 100%;
}
form legend {
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--color-base-screen3);
}
form label {
  cursor: pointer;
  font-weight: 500;
  vertical-align: middle;
}
form select,
form option {
  color: var(--color-default);
  font-family: inherit;
  outline: none;
  box-shadow: none;
  border: none;
  margin: 0;
  padding: 0;
  opacity: 1;
  text-align: right;
}
form select:disabled,
form option:disabled {
  appearance: none !important;
}
form select::placeholder,
form option::placeholder {
  color: var(--color-default-light);
}
form button {
  font-family: inherit;
  outline: none;
  appearance: none;
  border: none;
}
form input,
form textarea {
  font-family: inherit;
  appearance: none;
  outline: none;
  box-shadow: none;
  border: none;
  text-align: right;
}
form input::placeholder,
form textarea::placeholder {
  color: var(--color-default-light);
}
form select {
  padding: 0.7em 1em;
  font-size: 1rem;
  margin: 0;
}
form select:not([disabled]) {
  padding: 0.7em 0;
  cursor: pointer;
}
form select option {
  margin: 0;
  text-align: center;
}
form input {
  color: var(--color-default);
  font-size: 1rem;
  flex-grow: 1;
  border-radius: 0.8rem;
  transition-duration: 0.2s;
  transition-property: box-shadow;
  transition-timing-function: cubic-bezier(0.72, 0.02, 0.26, 0.99);
}
form input:focus-within {
  background-color: var(--color-base2);
}
form input[type="date"],
form input[type="tel"],
form input[type="email"],
form input[type="text"],
form input[type="password"] {
  padding: 0.3em 1em;
  width: 100%;
}
form input[type="submit"],
form input[type="button"] {
  background-color: var(--color-base);
  color: var(--color-back);
  border: none;
  padding: 0.5em 2em;
  margin: 0.5rem;
  font-size: 1rem;
  white-space: nowrap;
  letter-spacing: 4px;
  line-height: 1.2;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  min-height: 3em;
  border-radius: 100vh;
  display: iniline-block;
}
form input[type="submit"]:hover,
form input[type="button"]:hover {
  background-color: var(--color-base-screen3);
  background-color: var(--color-key);
}
form input[type="submit"]:active,
form input[type="button"]:active {
  transform: scale(0.95);
}
form input[type="submit"]:has(>.symbol),
form input[type="button"]:has(>.symbol),
form input[type="submit"][class*="symbol-"],
form input[type="button"][class*="symbol-"] {
  padding-left: 0em;
}
form input[type="submit"].red-button,
form input[type="button"].red-button {
  background-color: var(--color-caution);
}
form input[type="submit"].red-button:hover,
form input[type="button"].red-button:hover {
  background-color: var(--color-key);
}
form input[type="submit"].circle-button,
form input[type="button"].circle-button {
  padding: 0;
  width: 3em;
  transition-duration: 0.2s;
  transition-property: width, padding, transform;
  transition-timing-function: cubic-bezier(0.72, 0.02, 0.26, 0.99);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  white-space: nowrap;
}
form input[type="submit"].circle-button span,
form input[type="button"].circle-button span {
  transition-duration: 0.2s;
  transition-property: width, padding, transform;
  transition-timing-function: cubic-bezier(0.72, 0.02, 0.26, 0.99);
  display: block;
  white-space: nowrap;
  width: 0;
  overflow: hidden;
}
form input[type="submit"].circle-button:not(:empty):hover,
form input[type="button"].circle-button:not(:empty):hover {
  transition-duration: 0.2s;
  transition-property: width, padding, transform;
  transition-timing-function: cubic-bezier(0.72, 0.02, 0.26, 0.99);
  width: 100%;
  padding: 0 1em 0 0.5em;
}
form input[type="submit"].circle-button:not(:empty):hover span,
form input[type="button"].circle-button:not(:empty):hover span {
  transition-duration: 0.2s;
  transition-property: width, padding, transform;
  transition-timing-function: cubic-bezier(0.72, 0.02, 0.26, 0.99);
  width: 100%;
}
form input[type="submit"]:hover,
form input[type="button"]:hover {
  width: auto;
}
form input[type="radio"],
form input[type="checkbox"] {
  margin: 0;
  vertical-align: middle;
  cursor: pointer;
  flex-grow: 0;
}
form input[type="radio"]::before,
form input[type="checkbox"]::before {
  font-family: "Material Symbols Rounded";
  font-size: 1.5em;
  content: "\e835";
  width: 100%;
  height: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  margin-right: 0.5em;
}
form input[type="radio"]:checked::before,
form input[type="checkbox"]:checked::before {
  font-family: "Material Symbols Rounded";
  font-size: 1.5em;
  content: "\e834";
}
form .form-field + .form-field {
  margin-top: 1em;
  padding-top: 1em;
}
form .form-field .form-legend {
  width: 100%;
  padding-bottom: 1em;
  position: sticky;
  top: -1em;
  background-color: var(--color-back-fade1);
  z-index: 3;
  padding: 0.5em 0 1em;
}
form .form-field .form-message {
  margin-top: 1em;
}
form .form-field .form-message + .form-message {
  margin-top: 0;
}
form .form-field li > a {
  padding: 1em;
}
form .form-field .form-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%;
  gap: 1em;
}
form .form-field .form-list > li {
  width: auto;
  width: 100%;
  margin: 0;
}
form .form-field .form-list > li label {
  display: flex;
  flex-shrink: 99;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 0.3em;
}
form .form-field .form-list > li label.required span::after {
  content: "*";
  color: var(--color-corp);
}
form .form-field .form-list > li label .form-select {
  flex-grow: 1;
  text-align: right;
}
form .form-field .form-list > li label .form-label-text {
  white-space: nowrap;
  display: inline-block;
  flex-grow: 0;
  flex-shrink: 1;
  padding-right: 0.5em;
}
form .form-field .form-list > li label .form-input-text {
  display: inline-block;
  flex-grow: 1;
  display: inline-flex;
  justify-content: flex-end;
  align-items: center;
}
form .form-field .form-list > li label .form-label-copy {
  flex-grow: 0;
  cursor: pointer;
}
form .form-field .form-list > li label .form-label-copy.circle-button {
  font-size: 0.7rem;
  border: 1px solid var(--color-base);
  border-radius: 100vh;
  padding: 0.2em 0;
}
form .form-field .form-list > li label .form-label-copy:hover {
  background-color: var(--color-key);
  color: var(--color-back);
  border: 1px solid var(--color-key);
}
form .form-field .form-list > li label .form-input-group {
  text-align: left;
}
form .form-field .form-list > li label + input {
  text-align: left;
}
form .form-field .form-list > li .form-label {
  padding-left: 0.5em;
  border-bottom: 1px solid var(--color-default-light);
}
form .form-field .form-list > li .form-label:has(:focus) {
  border-color: var(--color-coop);
}
form .form-field .form-footer {
  display: table-caption;
  caption-side: bottom;
}
form .form-submit {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  position: sticky;
  bottom: 0;
}
form .form-submit:not(:first-child) {
  margin-top: 2rem;
  padding-top: 1em;
}
form .form-submit .left-submit {
  margin-right: auto;
}
form .form-submit .right-submit {
  margin-left: auto;
}
main.form h1 {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
main.form article {
  margin-left: auto;
  margin-right: auto;
  padding: 2rem;
}
main.search article.list-search {
  width: 30rem;
  flex-shrink: 0;
}
main.search article.list-table {
  padding: 0;
  margin: 0;
}
/* table-scroll-box */
.table-scroll-box {
  width: 100%;
  height: 100%;
  overflow-y: auto;
}
.table-scroll-box table {
  height: 100%;
}
/* table */
table {
  border-collapse: separate;
  width: 100%;
  background-color: var(--color-back);
}
table caption {
  padding: 0;
  background-color: var(--color-base);
  border-bottom: 1px solid var(--color-base);
}
table caption * {
  color: var(--color-back);
}
table caption .table-navigation {
  display: flex;
}
table caption .table-navigation .table-information {
  flex-grow: 1;
}
table caption .table-navigation .table-information span {
  display: inline-flex;
  white-space: nowrap;
  height: 1.8rem;
  padding-right: 2em;
  padding-left: 2em;
  justify-content: center;
  align-items: center;
}
table caption .table-navigation ul {
  display: flex;
  justify-content: flex-end;
}
table caption .table-navigation li {
  margin: 0;
  padding: 0 0.2rem;
  flex-basis: 4rem;
  flex-grow: 0;
}
table caption .table-navigation li:nth-of-type(2) {
  flex-basis: 9rem;
}
table caption .table-navigation button,
table caption .table-navigation select {
  background-color: var(--color-transparent);
  border-radius: 100vh;
  border-radius: 0 0 0.5em 0.5em;
  text-align: center;
  height: 1.8rem;
  width: 100%;
  padding: 0;
}
table caption .table-navigation button:hover,
table caption .table-navigation select:hover {
  background-color: var(--color-key);
}
table caption .table-navigation button {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: auto;
  margin: 0;
  padding: 0;
}
table caption .table-navigation select {
  appearance: auto;
}
table caption .table-navigation option {
  background-color: var(--color-base);
  max-height: 40px;
  text-align: center;
}
table thead th {
  position: sticky;
  top: 0;
  z-index: 2 !important;
  font-size: 1em;
}
table tbody th,
table tbody td {
  border-bottom: 1px solid var(--color-default-soft);
}
table tbody tr:hover {
  box-shadow: 0 0 6px var(--color-base-ghost);
}
table tbody tr:hover th,
table tbody tr:hover td {
  background-color: var(--color-base-light);
  border-bottom: 1px solid var(--color-base2);
}
table tbody tr:hover td {
  background-color: var(--color-base2);
  border-bottom: 1px solid var(--color-base2);
}
table th,
table td {
  text-align: center;
  vertical-align: middle;
  overflow: hidden;
}
table th {
  padding: 0.7rem;
  background-color: var(--color-base);
  color: var(--color-back);
}
table th:first-child {
  position: sticky;
  left: 0;
  z-index: 1;
}
table td {
  padding: 0.5rem;
  font-size: 0.9em;
  /*
    &:last-child {
      &::after {
        @code: #config[@symbols][edit];
        #icon.content("\@{code}");
        position: absolute;
        top: 0;
        right: -2em;
        vertical-align: middle;
        #padding._(@p:0.7rem);
        display: inline-flex;
        height: 100%;
        justify-content: center;
        align-items: center;

        #animation._(right);

      }
    }
      */
}
table button[class*="symbol-"] {
  padding-left: 0.5em;
  padding-right: 0.5em;
  margin: 0;
  line-height: 1;
  min-height: 2rem;
  font-size: 80%;
}
table button[class*="symbol-"]::before {
  padding: 0;
  padding-right: 0.3em;
}
body.modal {
  padding: 0;
  background: none;
}
body.modal::before,
body.modal::after {
  content: none;
}
body.modal main {
  padding: 1em;
}
body.modal .form-legend {
  top: 0;
}
main.modal {
  max-width: none;
  display: none;
  z-index: 999;
  width: 100%;
  height: 100%;
  position: fixed;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
}
main.modal article.modal-back {
  border-radius: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-base-fade3);
  position: fixed;
  border: none;
}
main.modal article.modal-frame {
  z-index: 9;
  width: 100%;
  max-width: 42rem;
  margin: 0 auto;
  height: calc(100% - 100px);
}
main.modal article.modal-frame iframe {
  width: 100%;
  height: 100%;
  height: calc(100% - 4px);
}
main.modal article.modal-close {
  border-radius: 0;
  position: fixed;
  right: 0;
  top: 0;
  padding: 1em;
  width: 2rem;
  height: 2rem;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
main.modal article.modal-close span::before {
  padding: 0;
}
/* //////////////////////////////////////////////////////
// Common
////////////////////////////////////////////////////// */
body .flex-box {
  display: flex;
  flex-wrap: wrap;
}
body .flex-box > * {
  margin: 0.2em;
  width: auto;
}
body .column {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
body .column > * {
  margin: 0.2em;
  width: auto;
}
body .note {
  margin-top: 1em;
  text-align: left;
  font-size: 90%;
}
body .note ul > li {
  text-indent: -1em;
  padding-left: 1em;
}
body .none {
  display: none;
}
body .iblock {
  display: inline-block;
}
body .ta-l {
  text-align: left !important;
}
body .ta-c {
  text-align: center !important;
}
body .ta-r {
  text-align: right !important;
}
body .symbol-login::before {
  content: "\e73c";
  padding-left: 0;
  padding-right: 0.5em;
}
body .symbol-login.circle-button::before {
  padding: 0 0.5em;
}
body .symbol-sineup::before {
  content: "\e7fe";
  padding-left: 0;
  padding-right: 0.5em;
}
body .symbol-sineup.circle-button::before {
  padding: 0 0.5em;
}
body .symbol-home::before {
  content: "\e88a";
  padding-left: 0;
  padding-right: 0.5em;
}
body .symbol-home.circle-button::before {
  padding: 0 0.5em;
}
body .symbol-search::before {
  content: "\e8b6";
  padding-left: 0;
  padding-right: 0.5em;
}
body .symbol-search.circle-button::before {
  padding: 0 0.5em;
}
body .symbol-refresh::before {
  content: "\e5d5";
  padding-left: 0;
  padding-right: 0.5em;
}
body .symbol-refresh.circle-button::before {
  padding: 0 0.5em;
}
body .symbol-menu::before {
  content: "\e5d2";
  padding-left: 0;
  padding-right: 0.5em;
}
body .symbol-menu.circle-button::before {
  padding: 0 0.5em;
}
body .symbol-list::before {
  content: "\e896";
  padding-left: 0;
  padding-right: 0.5em;
}
body .symbol-list.circle-button::before {
  padding: 0 0.5em;
}
body .symbol-close::before {
  content: "\e5cd";
  padding-left: 0;
  padding-right: 0.5em;
}
body .symbol-close.circle-button::before {
  padding: 0 0.5em;
}
body .symbol-add_circle::before {
  content: "\e147";
  padding-left: 0;
  padding-right: 0.5em;
}
body .symbol-add_circle.circle-button::before {
  padding: 0 0.5em;
}
body .symbol-do_not_disturb_on::before {
  content: "\e644";
  padding-left: 0;
  padding-right: 0.5em;
}
body .symbol-do_not_disturb_on.circle-button::before {
  padding: 0 0.5em;
}
body .symbol-download::before {
  content: "\f090";
  padding-left: 0;
  padding-right: 0.5em;
}
body .symbol-download.circle-button::before {
  padding: 0 0.5em;
}
body .symbol-arrow_back::before {
  content: "\e5c4";
  padding-left: 0;
  padding-right: 0.5em;
}
body .symbol-arrow_back.circle-button::before {
  padding: 0 0.5em;
}
body .symbol-arrow_forward::before {
  content: "\e5c8";
  padding-left: 0;
  padding-right: 0.5em;
}
body .symbol-arrow_forward.circle-button::before {
  padding: 0 0.5em;
}
body .symbol-subdirectory_arrow_right::before {
  content: "\e5da";
  padding-left: 0;
  padding-right: 0.5em;
}
body .symbol-subdirectory_arrow_right.circle-button::before {
  padding: 0 0.5em;
}
body .symbol-mail::before {
  content: "\e158";
  padding-left: 0;
  padding-right: 0.5em;
}
body .symbol-mail.circle-button::before {
  padding: 0 0.5em;
}
body .symbol-check_box_outline_blank::before {
  content: "\e835";
  padding-left: 0;
  padding-right: 0.5em;
}
body .symbol-check_box_outline_blank.circle-button::before {
  padding: 0 0.5em;
}
body .symbol-check_box::before {
  content: "\e834";
  padding-left: 0;
  padding-right: 0.5em;
}
body .symbol-check_box.circle-button::before {
  padding: 0 0.5em;
}
body .symbol-data_table::before {
  content: "\e99c";
  padding-left: 0;
  padding-right: 0.5em;
}
body .symbol-data_table.circle-button::before {
  padding: 0 0.5em;
}
body .symbol-format_list_bulleted::before {
  content: "\e241";
  padding-left: 0;
  padding-right: 0.5em;
}
body .symbol-format_list_bulleted.circle-button::before {
  padding: 0 0.5em;
}
body .symbol-fact_check::before {
  content: "\f0c5";
  padding-left: 0;
  padding-right: 0.5em;
}
body .symbol-fact_check.circle-button::before {
  padding: 0 0.5em;
}
body .symbol-account_circle::before {
  content: "\e853";
  padding-left: 0;
  padding-right: 0.5em;
}
body .symbol-account_circle.circle-button::before {
  padding: 0 0.5em;
}
body .symbol-numbers::before {
  content: "\eac7";
  padding-left: 0;
  padding-right: 0.5em;
}
body .symbol-numbers.circle-button::before {
  padding: 0 0.5em;
}
body .symbol-number::before {
  content: "\eb8d";
  padding-left: 0;
  padding-right: 0.5em;
}
body .symbol-number.circle-button::before {
  padding: 0 0.5em;
}
body .symbol-phone::before {
  content: "\e325";
  padding-left: 0;
  padding-right: 0.5em;
}
body .symbol-phone.circle-button::before {
  padding: 0 0.5em;
}
body .symbol-call::before {
  content: "\e0b0";
  padding-left: 0;
  padding-right: 0.5em;
}
body .symbol-call.circle-button::before {
  padding: 0 0.5em;
}
body .symbol-calendar_month::before {
  content: "\ebcc";
  padding-left: 0;
  padding-right: 0.5em;
}
body .symbol-calendar_month.circle-button::before {
  padding: 0 0.5em;
}
body .symbol-lock::before {
  content: "\e897";
  padding-left: 0;
  padding-right: 0.5em;
}
body .symbol-lock.circle-button::before {
  padding: 0 0.5em;
}
body .symbol-manage_accounts::before {
  content: "\f02e";
  padding-left: 0;
  padding-right: 0.5em;
}
body .symbol-manage_accounts.circle-button::before {
  padding: 0 0.5em;
}
body .symbol-manage_search::before {
  content: "\f02f";
  padding-left: 0;
  padding-right: 0.5em;
}
body .symbol-manage_search.circle-button::before {
  padding: 0 0.5em;
}
body .symbol-id_card::before {
  content: "\f4ca";
  padding-left: 0;
  padding-right: 0.5em;
}
body .symbol-id_card.circle-button::before {
  padding: 0 0.5em;
}
body .symbol-more_horiz::before {
  content: "\e5d3";
  padding-left: 0;
  padding-right: 0.5em;
}
body .symbol-more_horiz.circle-button::before {
  padding: 0 0.5em;
}
body .symbol-edit::before {
  content: "\e3c9";
  padding-left: 0;
  padding-right: 0.5em;
}
body .symbol-edit.circle-button::before {
  padding: 0 0.5em;
}
body .symbol-chevron_left::before {
  content: "\e5cb";
  padding-left: 0;
  padding-right: 0.5em;
}
body .symbol-chevron_left.circle-button::before {
  padding: 0 0.5em;
}
body .symbol-chevron_right::before {
  content: "\e5cc";
  padding-left: 0;
  padding-right: 0.5em;
}
body .symbol-chevron_right.circle-button::before {
  padding: 0 0.5em;
}
body .symbol-logout::before {
  content: "\e9ba";
  padding-left: 0;
  padding-right: 0.5em;
}
body .symbol-logout.circle-button::before {
  padding: 0 0.5em;
}
body .symbol-shopping_cart::before {
  content: "\e8cc";
  padding-left: 0;
  padding-right: 0.5em;
}
body .symbol-shopping_cart.circle-button::before {
  padding: 0 0.5em;
}
body .symbol-cancel::before {
  content: "\e5c9";
  padding-left: 0;
  padding-right: 0.5em;
}
body .symbol-cancel.circle-button::before {
  padding: 0 0.5em;
}
body .symbol-content_copy::before {
  content: "\e14d";
  padding-left: 0;
  padding-right: 0.5em;
}
body .symbol-content_copy.circle-button::before {
  padding: 0 0.5em;
}
body .symbol-new_releases::before {
  content: "\e031";
  padding-left: 0;
  padding-right: 0.5em;
}
body .symbol-new_releases.circle-button::before {
  padding: 0 0.5em;
}
body .symbol-stars::before {
  content: "\e8d0";
  padding-left: 0;
  padding-right: 0.5em;
}
body .symbol-stars.circle-button::before {
  padding: 0 0.5em;
}
body .symbol-star::before {
  content: "\e838";
  padding-left: 0;
  padding-right: 0.5em;
}
body .symbol-star.circle-button::before {
  padding: 0 0.5em;
}
body .symbol-info::before {
  content: "\e88e";
  padding-left: 0;
  padding-right: 0.5em;
}
body .symbol-info.circle-button::before {
  padding: 0 0.5em;
}
body .symbol-percent::before {
  content: "\eb58";
  padding-left: 0;
  padding-right: 0.5em;
}
body .symbol-percent.circle-button::before {
  padding: 0 0.5em;
}
body .symbol-paid::before {
  content: "\f041";
  padding-left: 0;
  padding-right: 0.5em;
}
body .symbol-paid.circle-button::before {
  padding: 0 0.5em;
}
body .symbol-delete::before {
  content: "\e872";
  padding-left: 0;
  padding-right: 0.5em;
}
body .symbol-delete.circle-button::before {
  padding: 0 0.5em;
}
body .symbol-link::before {
  content: "\e157";
  padding-left: 0;
  padding-right: 0.5em;
}
body .symbol-link.circle-button::before {
  padding: 0 0.5em;
}
