/* Variable */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");
#effect .shadow-light {
  box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.1);
}
#effect .shadow-light-hover {
  box-shadow: 7px 7px 13px rgba(0, 0, 0, 0.3);
}
#effect .shadow-none {
  box-shadow: none !important;
}
#effect .float {
  box-shadow: 0 0 6px var(--color-base-ghost);
}
/* Additional */
/* Imports */
/* Init */
:root {
  --color-back: #fff;
  --color-back-on: #ffffff;
  --color-back-dark: #cccccc;
  --color-back-light: #ffffff;
  --color-back-soft: #ffffff;
  --color-back-ghost: rgba(255, 255, 255, 0.5);
  --color-back-shadow3: rgba(102, 102, 102, 0.4);
  --color-back-shadow2: rgba(128, 128, 128, 0.2);
  --color-back-shadow1: rgba(153, 153, 153, 0.1);
  --color-back-spin90: #ffffff;
  --color-back-spin180: #ffffff;
  --color-back-spin270: #ffffff;
  --color-back-grey: #ffffff;
  --color-back-screen1: #ffffff;
  --color-back-multiply1: #e6e6e6;
  --color-back-fade1: rgba(255, 255, 255, 0.9);
  --color-back-screen2: #ffffff;
  --color-back-multiply2: #cccccc;
  --color-back-fade2: rgba(255, 255, 255, 0.8);
  --color-back-screen3: #ffffff;
  --color-back-multiply3: #b3b3b3;
  --color-back-fade3: rgba(255, 255, 255, 0.7);
  --color-back-screen4: #ffffff;
  --color-back-multiply4: #999999;
  --color-back-fade4: rgba(255, 255, 255, 0.6);
  --color-back-screen5: #ffffff;
  --color-back-multiply5: #808080;
  --color-back-fade5: rgba(255, 255, 255, 0.5);
  --color-back-screen6: #ffffff;
  --color-back-multiply6: #666666;
  --color-back-fade6: rgba(255, 255, 255, 0.4);
  --color-back-screen7: #ffffff;
  --color-back-multiply7: #4d4d4d;
  --color-back-fade7: rgba(255, 255, 255, 0.3);
  --color-back-screen8: #ffffff;
  --color-back-multiply8: #333333;
  --color-back-fade8: rgba(255, 255, 255, 0.2);
  --color-back-screen9: #ffffff;
  --color-back-multiply9: #191919;
  --color-back-fade9: rgba(255, 255, 255, 0.1);
  --color-black: #222;
  --color-black-on: #7b7b7b;
  --color-black-dark: #000000;
  --color-black-light: #a2a2a2;
  --color-black-soft: #e9e9e9;
  --color-black-ghost: rgba(34, 34, 34, 0.5);
  --color-black-shadow3: rgba(0, 0, 0, 0.4);
  --color-black-shadow2: rgba(0, 0, 0, 0.2);
  --color-black-shadow1: rgba(0, 0, 0, 0.1);
  --color-black-spin90: #222222;
  --color-black-spin180: #222222;
  --color-black-spin270: #222222;
  --color-black-grey: #222222;
  --color-black-screen1: #383838;
  --color-black-multiply1: #1f1f1f;
  --color-black-fade1: rgba(34, 34, 34, 0.9);
  --color-black-screen2: #4e4e4e;
  --color-black-multiply2: #1b1b1b;
  --color-black-fade2: rgba(34, 34, 34, 0.8);
  --color-black-screen3: #646464;
  --color-black-multiply3: #181818;
  --color-black-fade3: rgba(34, 34, 34, 0.7);
  --color-black-screen4: #7a7a7a;
  --color-black-multiply4: #141414;
  --color-black-fade4: rgba(34, 34, 34, 0.6);
  --color-black-screen5: #919191;
  --color-black-multiply5: #111111;
  --color-black-fade5: rgba(34, 34, 34, 0.5);
  --color-black-screen6: #a7a7a7;
  --color-black-multiply6: #0e0e0e;
  --color-black-fade6: rgba(34, 34, 34, 0.4);
  --color-black-screen7: #bdbdbd;
  --color-black-multiply7: #0a0a0a;
  --color-black-fade7: rgba(34, 34, 34, 0.3);
  --color-black-screen8: #d3d3d3;
  --color-black-multiply8: #070707;
  --color-black-fade8: rgba(34, 34, 34, 0.2);
  --color-black-screen9: #e9e9e9;
  --color-black-multiply9: #030303;
  --color-black-fade9: rgba(34, 34, 34, 0.1);
  --color-default: #444;
  --color-default-on: #9d9d9d;
  --color-default-dark: #111111;
  --color-default-light: #c3c3c3;
  --color-default-soft: #ececec;
  --color-default-ghost: rgba(68, 68, 68, 0.5);
  --color-default-shadow3: rgba(0, 0, 0, 0.4);
  --color-default-shadow2: rgba(0, 0, 0, 0.2);
  --color-default-shadow1: rgba(0, 0, 0, 0.1);
  --color-default-spin90: #444444;
  --color-default-spin180: #444444;
  --color-default-spin270: #444444;
  --color-default-grey: #444444;
  --color-default-screen1: #575757;
  --color-default-multiply1: #3d3d3d;
  --color-default-fade1: rgba(68, 68, 68, 0.9);
  --color-default-screen2: #696969;
  --color-default-multiply2: #363636;
  --color-default-fade2: rgba(68, 68, 68, 0.8);
  --color-default-screen3: #7c7c7c;
  --color-default-multiply3: #303030;
  --color-default-fade3: rgba(68, 68, 68, 0.7);
  --color-default-screen4: #8f8f8f;
  --color-default-multiply4: #292929;
  --color-default-fade4: rgba(68, 68, 68, 0.6);
  --color-default-screen5: #a2a2a2;
  --color-default-multiply5: #222222;
  --color-default-fade5: rgba(68, 68, 68, 0.5);
  --color-default-screen6: #b4b4b4;
  --color-default-multiply6: #1b1b1b;
  --color-default-fade6: rgba(68, 68, 68, 0.4);
  --color-default-screen7: #c7c7c7;
  --color-default-multiply7: #141414;
  --color-default-fade7: rgba(68, 68, 68, 0.3);
  --color-default-screen8: #dadada;
  --color-default-multiply8: #0e0e0e;
  --color-default-fade8: rgba(68, 68, 68, 0.2);
  --color-default-screen9: #ececec;
  --color-default-multiply9: #070707;
  --color-default-fade9: rgba(68, 68, 68, 0.1);
  --color-base: #001a6f;
  --color-base-on: #2256ff;
  --color-base-dark: #000209;
  --color-base-light: #6f91ff;
  --color-base-soft: #e6e8f1;
  --color-base-ghost: rgba(0, 26, 111, 0.5);
  --color-base-shadow3: rgba(0, 0, 0, 0.4);
  --color-base-shadow2: rgba(0, 0, 0, 0.2);
  --color-base-shadow1: rgba(0, 0, 0, 0.1);
  --color-base-spin90: #6f0051;
  --color-base-spin180: #6f5500;
  --color-base-spin270: #006f1d;
  --color-base-grey: #383838;
  --color-base-screen1: #1a317d;
  --color-base-multiply1: #001764;
  --color-base-fade1: rgba(0, 26, 111, 0.9);
  --color-base-screen2: #33488c;
  --color-base-multiply2: #001559;
  --color-base-fade2: rgba(0, 26, 111, 0.8);
  --color-base-screen3: #4d5f9a;
  --color-base-multiply3: #00124e;
  --color-base-fade3: rgba(0, 26, 111, 0.7);
  --color-base-screen4: #6676a9;
  --color-base-multiply4: #001043;
  --color-base-fade4: rgba(0, 26, 111, 0.6);
  --color-base-screen5: #808cb7;
  --color-base-multiply5: #000d38;
  --color-base-fade5: rgba(0, 26, 111, 0.5);
  --color-base-screen6: #99a3c5;
  --color-base-multiply6: #000a2c;
  --color-base-fade6: rgba(0, 26, 111, 0.4);
  --color-base-screen7: #b3bad4;
  --color-base-multiply7: #000821;
  --color-base-fade7: rgba(0, 26, 111, 0.3);
  --color-base-screen8: #ccd1e2;
  --color-base-multiply8: #000516;
  --color-base-fade8: rgba(0, 26, 111, 0.2);
  --color-base-screen9: #e6e8f1;
  --color-base-multiply9: #00030b;
  --color-base-fade9: rgba(0, 26, 111, 0.1);
  --color-base2: #DCF2F0;
  --color-base2-on: #ffffff;
  --color-base2-dark: #92d6d0;
  --color-base2-light: #ffffff;
  --color-base2-soft: #fcfefe;
  --color-base2-ghost: rgba(220, 242, 240, 0.5);
  --color-base2-shadow3: rgba(42, 114, 107, 0.4);
  --color-base2-shadow2: rgba(56, 151, 142, 0.2);
  --color-base2-shadow1: rgba(71, 187, 176, 0.1);
  --color-base2-spin90: #e5dcf2;
  --color-base2-spin180: #f2dcde;
  --color-base2-spin270: #e9f2dc;
  --color-base2-grey: #e7e7e7;
  --color-base2-screen1: #e0f3f2;
  --color-base2-multiply1: #c6dad8;
  --color-base2-fade1: rgba(220, 242, 240, 0.9);
  --color-base2-screen2: #e3f5f3;
  --color-base2-multiply2: #b0c2c0;
  --color-base2-fade2: rgba(220, 242, 240, 0.8);
  --color-base2-screen3: #e7f6f4;
  --color-base2-multiply3: #9aa9a8;
  --color-base2-fade3: rgba(220, 242, 240, 0.7);
  --color-base2-screen4: #eaf7f6;
  --color-base2-multiply4: #849190;
  --color-base2-fade4: rgba(220, 242, 240, 0.6);
  --color-base2-screen5: #eef9f8;
  --color-base2-multiply5: #6e7978;
  --color-base2-fade5: rgba(220, 242, 240, 0.5);
  --color-base2-screen6: #f1faf9;
  --color-base2-multiply6: #586160;
  --color-base2-fade6: rgba(220, 242, 240, 0.4);
  --color-base2-screen7: #f5fbfb;
  --color-base2-multiply7: #424948;
  --color-base2-fade7: rgba(220, 242, 240, 0.3);
  --color-base2-screen8: #f8fcfc;
  --color-base2-multiply8: #2c3030;
  --color-base2-fade8: rgba(220, 242, 240, 0.2);
  --color-base2-screen9: #fcfefe;
  --color-base2-multiply9: #161818;
  --color-base2-fade9: rgba(220, 242, 240, 0.1);
  --color-corp: #f04ca5;
  --color-corp-on: #fef1f8;
  --color-corp-dark: #c51173;
  --color-corp-light: #ffffff;
  --color-corp-soft: #feedf6;
  --color-corp-ghost: rgba(240, 76, 165, 0.5);
  --color-corp-shadow3: rgba(9, 1, 5, 0.4);
  --color-corp-shadow2: rgba(56, 5, 33, 0.2);
  --color-corp-shadow1: rgba(103, 9, 60, 0.1);
  --color-corp-spin90: #f0e94c;
  --color-corp-spin180: #4cf097;
  --color-corp-spin270: #4c53f0;
  --color-corp-grey: #9e9e9e;
  --color-corp-screen1: #f25eae;
  --color-corp-multiply1: #d84495;
  --color-corp-fade1: rgba(240, 76, 165, 0.9);
  --color-corp-screen2: #f370b7;
  --color-corp-multiply2: #c03d84;
  --color-corp-fade2: rgba(240, 76, 165, 0.8);
  --color-corp-screen3: #f482c0;
  --color-corp-multiply3: #a83573;
  --color-corp-fade3: rgba(240, 76, 165, 0.7);
  --color-corp-screen4: #f694c9;
  --color-corp-multiply4: #902e63;
  --color-corp-fade4: rgba(240, 76, 165, 0.6);
  --color-corp-screen5: #f8a5d2;
  --color-corp-multiply5: #782653;
  --color-corp-fade5: rgba(240, 76, 165, 0.5);
  --color-corp-screen6: #f9b7db;
  --color-corp-multiply6: #601e42;
  --color-corp-fade6: rgba(240, 76, 165, 0.4);
  --color-corp-screen7: #fbc9e4;
  --color-corp-multiply7: #481732;
  --color-corp-fade7: rgba(240, 76, 165, 0.3);
  --color-corp-screen8: #fcdbed;
  --color-corp-multiply8: #300f21;
  --color-corp-fade8: rgba(240, 76, 165, 0.2);
  --color-corp-screen9: #feedf6;
  --color-corp-multiply9: #180810;
  --color-corp-fade9: rgba(240, 76, 165, 0.1);
  --color-key: #ea5503;
  --color-key-on: #fec2a2;
  --color-key-dark: #853002;
  --color-key-light: #fff3ed;
  --color-key-soft: #fdeee6;
  --color-key-ghost: rgba(234, 85, 3, 0.5);
  --color-key-shadow3: rgba(0, 0, 0, 0.4);
  --color-key-shadow2: rgba(0, 0, 0, 0.2);
  --color-key-shadow1: rgba(33, 12, 0, 0.1);
  --color-key-spin90: #25ea03;
  --color-key-spin180: #0398ea;
  --color-key-spin270: #c803ea;
  --color-key-grey: #767676;
  --color-key-screen1: #ec661c;
  --color-key-multiply1: #d34c03;
  --color-key-fade1: rgba(234, 85, 3, 0.9);
  --color-key-screen2: #ee7735;
  --color-key-multiply2: #bb4402;
  --color-key-fade2: rgba(234, 85, 3, 0.8);
  --color-key-screen3: #f0884f;
  --color-key-multiply3: #a43c02;
  --color-key-fade3: rgba(234, 85, 3, 0.7);
  --color-key-screen4: #f29968;
  --color-key-multiply4: #8c3302;
  --color-key-fade4: rgba(234, 85, 3, 0.6);
  --color-key-screen5: #f5aa81;
  --color-key-multiply5: #752b02;
  --color-key-fade5: rgba(234, 85, 3, 0.5);
  --color-key-screen6: #f7bb9a;
  --color-key-multiply6: #5e2201;
  --color-key-fade6: rgba(234, 85, 3, 0.4);
  --color-key-screen7: #f9ccb3;
  --color-key-multiply7: #461a01;
  --color-key-fade7: rgba(234, 85, 3, 0.3);
  --color-key-screen8: #fbddcd;
  --color-key-multiply8: #2f1101;
  --color-key-fade8: rgba(234, 85, 3, 0.2);
  --color-key-screen9: #fdeee6;
  --color-key-multiply9: #170800;
  --color-key-fade9: rgba(234, 85, 3, 0.1);
  --color-badge: yellow;
  --color-badge-on: #ffffb3;
  --color-badge-dark: #999900;
  --color-badge-light: #ffffff;
  --color-badge-soft: #ffffe6;
  --color-badge-ghost: rgba(255, 255, 0, 0.5);
  --color-badge-shadow3: rgba(0, 0, 0, 0.4);
  --color-badge-shadow2: rgba(0, 0, 0, 0.2);
  --color-badge-shadow1: rgba(51, 51, 0, 0.1);
  --color-badge-spin90: #00ff80;
  --color-badge-spin180: #0000ff;
  --color-badge-spin270: #ff0080;
  --color-badge-grey: #808080;
  --color-badge-screen1: #ffff1a;
  --color-badge-multiply1: #e6e600;
  --color-badge-fade1: rgba(255, 255, 0, 0.9);
  --color-badge-screen2: #ffff33;
  --color-badge-multiply2: #cccc00;
  --color-badge-fade2: rgba(255, 255, 0, 0.8);
  --color-badge-screen3: #ffff4d;
  --color-badge-multiply3: #b3b300;
  --color-badge-fade3: rgba(255, 255, 0, 0.7);
  --color-badge-screen4: #ffff66;
  --color-badge-multiply4: #999900;
  --color-badge-fade4: rgba(255, 255, 0, 0.6);
  --color-badge-screen5: #ffff80;
  --color-badge-multiply5: #808000;
  --color-badge-fade5: rgba(255, 255, 0, 0.5);
  --color-badge-screen6: #ffff99;
  --color-badge-multiply6: #666600;
  --color-badge-fade6: rgba(255, 255, 0, 0.4);
  --color-badge-screen7: #ffffb3;
  --color-badge-multiply7: #4d4d00;
  --color-badge-fade7: rgba(255, 255, 0, 0.3);
  --color-badge-screen8: #ffffcc;
  --color-badge-multiply8: #333300;
  --color-badge-fade8: rgba(255, 255, 0, 0.2);
  --color-badge-screen9: #ffffe6;
  --color-badge-multiply9: #191900;
  --color-badge-fade9: rgba(255, 255, 0, 0.1);
  --color-transparent: transparent;
  --color-transparent-on: rgba(89, 89, 89, 0);
  --color-transparent-dark: rgba(0, 0, 0, 0);
  --color-transparent-light: rgba(128, 128, 128, 0);
  --color-transparent-soft: #e6e6e6;
  --color-transparent-ghost: rgba(0, 0, 0, 0.5);
  --color-transparent-shadow3: rgba(0, 0, 0, 0.4);
  --color-transparent-shadow2: rgba(0, 0, 0, 0.2);
  --color-transparent-shadow1: rgba(0, 0, 0, 0.1);
  --color-transparent-spin90: rgba(0, 0, 0, 0);
  --color-transparent-spin180: rgba(0, 0, 0, 0);
  --color-transparent-spin270: rgba(0, 0, 0, 0);
  --color-transparent-grey: rgba(0, 0, 0, 0);
  --color-transparent-screen1: #1a1a1a;
  --color-transparent-multiply1: #e6e6e6;
  --color-transparent-fade1: rgba(0, 0, 0, 0.9);
  --color-transparent-screen2: #333333;
  --color-transparent-multiply2: #cccccc;
  --color-transparent-fade2: rgba(0, 0, 0, 0.8);
  --color-transparent-screen3: #4d4d4d;
  --color-transparent-multiply3: #b3b3b3;
  --color-transparent-fade3: rgba(0, 0, 0, 0.7);
  --color-transparent-screen4: #666666;
  --color-transparent-multiply4: #999999;
  --color-transparent-fade4: rgba(0, 0, 0, 0.6);
  --color-transparent-screen5: #808080;
  --color-transparent-multiply5: #808080;
  --color-transparent-fade5: rgba(0, 0, 0, 0.5);
  --color-transparent-screen6: #999999;
  --color-transparent-multiply6: #666666;
  --color-transparent-fade6: rgba(0, 0, 0, 0.4);
  --color-transparent-screen7: #b3b3b3;
  --color-transparent-multiply7: #4d4d4d;
  --color-transparent-fade7: rgba(0, 0, 0, 0.3);
  --color-transparent-screen8: #cccccc;
  --color-transparent-multiply8: #333333;
  --color-transparent-fade8: rgba(0, 0, 0, 0.2);
  --color-transparent-screen9: #e6e6e6;
  --color-transparent-multiply9: #191919;
  --color-transparent-fade9: rgba(0, 0, 0, 0.1);
  --color-caution: #c00;
  --color-caution-on: #ff8080;
  --color-caution-dark: #660000;
  --color-caution-light: #ffcccc;
  --color-caution-soft: #fae6e6;
  --color-caution-ghost: rgba(204, 0, 0, 0.5);
  --color-caution-shadow3: rgba(0, 0, 0, 0.4);
  --color-caution-shadow2: rgba(0, 0, 0, 0.2);
  --color-caution-shadow1: rgba(0, 0, 0, 0.1);
  --color-caution-spin90: #66cc00;
  --color-caution-spin180: #00cccc;
  --color-caution-spin270: #6600cc;
  --color-caution-grey: #666666;
  --color-caution-screen1: #d11a1a;
  --color-caution-multiply1: #b80000;
  --color-caution-fade1: rgba(204, 0, 0, 0.9);
  --color-caution-screen2: #d63333;
  --color-caution-multiply2: #a30000;
  --color-caution-fade2: rgba(204, 0, 0, 0.8);
  --color-caution-screen3: #db4d4d;
  --color-caution-multiply3: #8f0000;
  --color-caution-fade3: rgba(204, 0, 0, 0.7);
  --color-caution-screen4: #e06666;
  --color-caution-multiply4: #7a0000;
  --color-caution-fade4: rgba(204, 0, 0, 0.6);
  --color-caution-screen5: #e68080;
  --color-caution-multiply5: #660000;
  --color-caution-fade5: rgba(204, 0, 0, 0.5);
  --color-caution-screen6: #eb9999;
  --color-caution-multiply6: #520000;
  --color-caution-fade6: rgba(204, 0, 0, 0.4);
  --color-caution-screen7: #f0b3b3;
  --color-caution-multiply7: #3d0000;
  --color-caution-fade7: rgba(204, 0, 0, 0.3);
  --color-caution-screen8: #f5cccc;
  --color-caution-multiply8: #290000;
  --color-caution-fade8: rgba(204, 0, 0, 0.2);
  --color-caution-screen9: #fae6e6;
  --color-caution-multiply9: #140000;
  --color-caution-fade9: rgba(204, 0, 0, 0.1);
  color: var(--color-default);
  font-size: 16px;
  font-family: "Noto Sans JP", sans-serif;
  line-height: 1.4;
}
:root .symbol {
  font-family: "Material Symbols Rounded";
  font-size: 1.5em;
  line-height: 0.1;
  vertical-align: middle;
  margin-right: 0.3em;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-variation-settings: 'FILL' 0, 'wght' 300, 'GRAD' 0, 'opsz' 20;
}
:root [class*="symbol-"] {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
:root [class*="symbol-"]::before,
:root [class*="symbol-"]::after {
  font-family: "Material Symbols Rounded";
  font-size: 1.5em;
  line-height: 0.6666;
  vertical-align: middle;
  letter-spacing: 0;
}
:root [class*="badge-"]::before {
  padding-left: 0.5em;
  color: var(--color-badge);
}
:root button,
:root input {
  /*
      &:hover  {
        .symbol,
        [class*="symbol-"]::before {
          //color: _var(color,base2) !important;
          font-variation-settings: 
            'FILL' 1,
            'wght' 300,
            'GRAD' 0,
            'opsz' 48
          !important;
        }
      }
        */
}
:root button[class*="symbol-"]::before,
:root input[class*="symbol-"]::before {
  padding-left: 0.7em;
  padding-right: 0.7em;
}
html * {
  transition-duration: 0.2s;
  transition-property: color, background-color, filter, transform, font-variation-settings;
  transition-timing-function: cubic-bezier(0.72, 0.02, 0.26, 0.99);
  scrollbar-color: var(--color-default) var(--color-default-screen7);
  scrollbar-width: auto;
}
html ::-webkit-scrollbar {
  width: 10px;
}
html ::-webkit-scrollbar-track {
  background-color: var(--color-default-screen7);
}
html ::-webkit-scrollbar-thumb {
  background-color: var(--color-default);
}
