@charset 'utf-8';
div.tabbox{
  display:block;
  margin:0;
  padding:0;
}
div.tabbox > table.tab{
  width:100%;
}
div.tabbox > table.tab td{
  border:solid 1px #808089;
  border-bottom:none;
  text-align:center;
  padding:0;
}
div.tabbox > table.tab td > div{
  padding:0.25em 0;
  border:solid 1px #000;
  color:#808089;
}
div.tabbox > table.tab td.selected > div{
  background-color:#333;
  border:solid 1px #fff;
  color:#fff;
  box-shadow: 0 0 0.2em #808089, 0 0 0.2em #808089 inset;
}
html:not(.sdl)div.tabbox > table.tab td.selected{
  background-color:#303038;
  text-shadow:0 0 0.5em #000;
}
@media screen and (max-width:380px){
  div.tabbox > table.tab td[data-capital*='#N/A'] > div{
    font-size:0.85em;
    padding:0.325em 0;
  }
}

ul.capitalgroup > li{
  border-bottom:1px solid #999;
  box-shadow: 0 0 0.2em #808089;
  font-size:1.1em;
  line-height:1.7em;
  vertical-align:top;
}
ul.capitalgroup > li:first-child{
  border-top:1px solid #ccc;
}
ul.capitalgroup > li > div.icon-accordionhead{
  margin:0;
  padding:0.5em;
  padding-bottom:0.2em;
  cursor:pointer;
}
ul.indexlist{
  padding-left:1em;
}

li.index > div.indexlabel{
  margin-right:1em;
}
li.index > div.link {
  text-align: right;
  padding: 0;
  margin: 0 1em 0.3em 0;
  background-image:url("../ico/wpp-leader.svg");
  background-size:1em;
  background-position:0 0.3em;
  background-repeat:repeat-x;
}
li.index > div.link > span.linksleeve{
  background-color:#000;
}
li.index > div.link > span.linksleeve > span.jumper{
  display:inline-block;
  height:1.5em;
  width:1.5em;
}
li.index > div.link > span.linksleeve > span.jumper.emphasis{
  background-color:#3382a6;
}

.hide{
  display:none;
}

div.scrollable > ul.tab div[data-cap]{
  display:inline-block;
}
