@charset 'utf-8';
/* ================================================================
   基本
   ================================================================ */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:not(input[type="text"]):not(input[type="password"]),
*::before,
*::after {
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  user-select: none;
  touch-callout: none;
}

html {
  margin: 0;
  padding: 0;
  width:100%;
  height:100%;
  /*font-family: "Nobel-light", "LexusRodinPro-M", "メイリオ", sans-serif;*/
  font-family: "LexusRodinPro-M", "メイリオ", sans-serif;
  font-size: 1em;
  line-height: 1.6em;
  letter-spacing: 0.1em;
  font-weight: 100;
  color: #eee;
  text-shadow:0 0 0.1em #505057;
  -webkit-text-size-adjust: 100%;
  background-color: #000;
  box-sizing: border-box;
}
  html:not(.sdl) .sdlonly{
    display:none;
  }
  html.sdl.magni01{
    font-size: 1.2em;
    line-height: 1.7em;
  }
  html.sdl.magni02{
    font-size: 1.4em;
    line-height: 1.8em;
  }
  html.sdl.magni03{
    font-size: 1.6em;
    line-height: 2.0em;
  }
  html.sdl{
    overflow-y:hidden;
  }
@media screen and (min-width:1400px){
  html{
    font-size: calc(1em + (1vw * 0.2));
    line-height: calc(1.6em + (1vw * 0.2));
  }
  html.sdl{
    font-size: calc(1.2em + (1vw * 0.2));
    line-height: calc(1.7em + (1vw * 0.2));
  }
  html.sdl.larger{
    font-size: calc(1.4em + (1vw * 0.2));
    line-height: calc(1.8em + (1vw * 0.2));
  }
}

body {
  margin: 0;
  padding: 0;
  width:100%;
  height:100%;
}

div.wrap{
  position:relative;
  margin: 0;
  padding: 0;
  width:100%;
  height:100%;
}

ol,
ul {
  list-style: none;
  list-style-position: outside;
  padding:0;
  margin:0;
}
li{
  padding:0;
  margin:0;
}
table {
  border-spacing: 0;
  border-collapse: collapse;
  vertical-align: middle;
}
caption,
th,
td {
  font-weight: normal;
  text-align: left;
  vertical-align: middle;
  padding:.25em .35em;
}
a {
  color:#eee;
  text-decoration: none;
}
a img {
  border: none;
}

select,
input,
textarea,
button {
  vertical-align: middle;
}
label {
  display: inline-block;
  vertical-align: middle;
}
h1 {
  font-size: 1.3em;
  font-weight: normal;
  margin:.7em 0;
}
h2 {
  font-size: 1.2em;
  font-weight: normal;
  margin:.4em 0;
}
h3 {
  font-size: 1.1em;
  font-weight: normal;
  margin:.3em 0;
}
h4 {
  font-size: 1.05em;
  font-weight: normal;
  margin:.2em 0;
}
h1:empty,
h2:empty,
h3:empty,
h4:empty{
  display:none;
}

sup,
span.sup {
  font-size: 0.7em;
  line-height:0.7em;
  vertical-align: super;
}
sub,
span.sub,
span.p_sub{
  font-size: 0.7em;
  line-height:0.7em;
  vertical-align: sub;
}

span.b{
  font-weight: bold;
}
span.u{
  text-decoration: underline;
}
span.i{
  font-style: italic;
}

img.icon{
  display:inline-block;
  vertical-align:top;
  /*filter: drop-shadow(0 0 0.1em #8080c0);*/
  opacity:0.9;
  height:1.5em;
  width:1.5em;
}
img.icon.large{
  height:1.9em;
  width:1.9em;
}
img.icon.small{
  height:1.3em;
  width:1.3em;
}
.icon.tiny{
  height:1.0em;
  width:1.0em;
}

ul.simplelist{
  list-style-type:none;
}
ul.simplelist > li{
  margin:0;
  padding:0;
  border-bottom:1px solid #999;
  box-shadow: 0 0 0.2em #808089;
  font-size:1.1em;
  line-height:1.1em;
  height:2.5em;
  cursor:pointer;
  vertical-align:top;
}
ul.simplelist > li:first-child{
  border-top:1px solid #999;
}
ul.simplelist > li:after{
  vertical-align:top;
}
ul.simplelist > li > div.list{
  display:inline-block;
  padding:0.7em;
  padding-right: 0;
  width: calc(100% - 1.5em - 0.4em);
  white-space:nowrap;
}
ul.simplelist > li > div.list + img{
  margin-top:0.4em;
  margin-right: 0.4em;
}
ul.simplelist > li > div.list > span.liststrip{
  margin-right:2em;
}

img.icon-accordionhead:before{
  margin-bottom:-0.3em;
}
.open.icon-accordionhead > img.icon-accordionhead,
.show.icon-accordionhead > img.icon-accordionhead{
  transform:rotate(90deg);
}

.focusable{
  cursor:pointer;
}
html.ios .focusable:not(.scrollout):not(input[type="text"]):not(input[type="password"]):active,
html.ios .focusable:not(.scrollout):not(input[type="text"]):not(input[type="password"]):focus,
html.ios .focusable.focusing:not(.scrollout){
  background-color:#14485c;
  color:#9fd1e7;
}

/* for rectangle test */
/*.focusable{
  background-color:#305;
}
.focusable.scrollout{
  background-color:#053;
}*/
/**/

a.smplink.focusable:not(.scrollout){
  background-color:#333;
  border:1px solid #999;
  box-shadow: 0 0 0.1em #808089 , 0 0 0.1em #808089  inset;
  border-radius:0.2em;
  padding-left:0.2em;
  padding-right:0.2em;
  margin-left:0.2em;
  margin-right:0.2em;
}

/* ================================================================
   ヘッダー
   ================================================================ */

header{
  position: fixed;
  height:3.2em;
  margin: 0;
  padding: 0;
  z-index: 100;
  background-color:#333;
  box-shadow:0 0 0.1em #808089;
}
header > div.titlebox{
  width:100vw;
  height:3.2em;
  margin: 0;
  overflow:hidden;
}
header > div.titlebox > div{
  display:inline-block;
  vertical-align:top;
  height:3.2em;
  text-align:center;
}
header > div.titlebox > div > img.icon{
  margin-top:0.7em;
}
header > div.titlebox > div.return,
header > div.titlebox > div.search,
header > div.titlebox > div.menu{
  width:2.5em;
  padding:0;
}
header:not(.showmenu) > div.titlebox > div.menu > img.icon.icon-menu-open,
header.showmenu > div.titlebox > div.menu > img.icon.icon-menu-close{
  display:inline-block;
}
header.showmenu > div.titlebox > div.menu > img.icon.icon-menu-open,
header:not(.showmenu) > div.titlebox > div.menu > img.icon.icon-menu-close{
  display:none;
}
header > div.titlebox > div.search > a{
  display:table-cell;
  width:2.5em;
  height:3.2em;
  text-align:center;
  vertical-align:middle;
}
header > div.titlebox.with_breadclumb > titlebox
header > div.titlebox > div.title{
  vertical-align:top;
  white-space:nowrap;
  overflow:hidden;
  color:#eee;
  position:relative;
}
header > div.titlebox.with_breadclumb > div.title{
  padding-left:1em;
}
header > div.titlebox.with_breadclumb > div.title:before{
  content: "";
  position: absolute;
  z-index: 101;
  top: 0;
  left: 0;
  display: block;
  height: 3.2em;
  width: 1em;
  background-image: url(../ico/icon-arrow-y.svg);
  background-size: 0.7em;
  background-position: 0.1em 1.4em;
  background-repeat: no-repeat;
  background-color:#333;
}

header > div.titlebox.with_breadclumb > div.title.open:before{
  transform:rotate(180deg);
}
header > div.titlebox > div.title > span{
  font-size:1.3em;
  line-height:2.5em;
}
header > div.titlebox > div.title:not(.marqee){
  text-align:center;
}
header > div.titlebox > div > img.icon{
  cursor:pointer;
}
header > div.titlebox > div.marqee > span {
  margin-right:2em;
}

@media screen and (orientation:portrait){
  header > div.titlebox > div.menu{
    display:inline-block;
  }
  header > div.titlebox > div.title{
    width:calc(100vw - (2.5em * 3));
  }
}
@media screen and (orientation:landscape){
  header > div.titlebox > div.menu{
    display:none;
  }
  header > div.titlebox > div.title{
    width:calc(100vw - (2.5em * 2));
  }
}

header > ul.breadclumb{
  background-color:#333;
  width:100vw;
  text-align:center;
  padding:0;
  padding-bottom:0.3em;
  display:none;
}
header > ul.breadclumb > li.labelbox{
  margin:0 0.5em;
  padding:0 0 0.3em 0;
}
header > ul.breadclumb > li > img.icon.icon-arrow-y{
  transform:rotate(180deg);
  width: 0.7em;
  /*filter: none;*/
}
header > ul.breadclumb > li.labelbox.marqee > span{
  margin-right:2em;
}

header > div.menu{
  margin:0;
  position:absolute;
  width:100%;
  height:calc(100vh - 3.2em - 3.2em);
  z-index:101;
  background-color:#000;
  overflow-y:auto;
  overflow-x:hidden;
}
header > div.menu > div.menugroup{
  margin:1.5em 1.5em;
}
header > div.menu > div.menugroup > div.grouptitle{
  font-size: 1.3em;
  font-weight: normal;
  margin:.7em 0;
}
header > div.menu li{
  font-size:1.2em;
  padding:.4em 0;
  padding-left:1em;
}
header > div.menu li > div{
  display: inline-block;
  padding-left:0.5em;
  width:calc(100% - 1.5em - 1.5em);
}
header > div.menu li:after{
  background-position:0.25em 0;
}
header > div.menu li > div > span{
  vertical-align:top;
  margin-right:2em;
}

@media screen and (orientation:portrait){
  header.showmenu > div.menu{
    display:block;
  }
  header:not(.showmenu) > div.menu{
    display:none;
  }
}
@media screen and (orientation:landscape){
  header > div.menu{
    display:none;
  }
}

/* ================================================================
   フッター
   ================================================================ */

footer{
  position: fixed;
  bottom:0;
  display: block;
  z-index: 10;
  vertical-align:top;
  background-color:#000;
  box-shadow:0 0 0.1em #808089;
}

@media screen and (orientation:portrait){
  footer{
    width: 100%;
    height:12em;
    top:100vh;
    left:0;
    transform:translate(0,-3.2em);
  }
  footer > ul.footmenu{
    width:100vw;
    height:3.2em;
  }
  footer > ul.footmenu > li{
    display:inline-block;
    width:calc(100vw / 4);
    height:3.2em;
    margin:0;
  }
  footer > ul.footmenu > li > a{
    display:table-cell;
    width:calc(100vw / 4); /* "4" depends on the number of menu items */
    height:3.2em;
    text-align:center;
    vertical-align:middle;
  }
  footer > ul.footmenu > li > a > span{
    vertical-align:middle;
  }
  footer > div.sidemenu{
    display:none;
  }
}
@media screen and (orientation:landscape){
  footer{
    height:calc(100vh - 3.2em);
    width:3.2em;
    top:3.2em;
  }
  footer > ul.footmenu{
    display:none;
  }
  footer > div.sidemenu{
    position: fixed;
    top:3.2em;
    display:block;
    width:3.2em;
    height:calc(100vh - 3.2em);
    z-index: 10;
    background-color:#000;
    overflow:hidden;
  }
  footer > div.sidemenu > div.envelope{
    position:absolute;
    vertical-align:top;
  }
  footer > div.sidemenu > div.envelope > ul{
    display:inline-block;
    height:calc(100vh - 3.2em);
    border-right:1px solid #333;
    box-shadow:0 0 0.1em #808089;
    vertical-align:top;
  }
  footer > div.sidemenu > div.envelope > ul > li{
    margin-top:calc(((100vh - 3.2em) / 4) - (1.8em + 0.4em + 0.4em)); /* "4" depends on the number of menu items */
    margin-bottom:calc(((100vh - 3.2em) / 4) - (1.8em + 0.4em + 0.4em)); /* "4" depends on the number of menu items */
    font-size:1.2em;
    padding:.4em 0;
    height:2.4em;
    cursor:pointer;
  }
  footer > div.sidemenu > div.envelope > ul > li > img:nth-child(1){
    margin:auto 0.6em;
  }
  footer > div.sidemenu > div.envelope > ul > li > div{
    display:inline-block;
    padding:0.2em;
  }
  footer > div.sidemenu > div.envelope > ul > li > div > span{
    margin-right:2em;
  }

  footer > div.sidemenu > div.envelope{
    width:calc(40vw * 2);
  }
  footer > div.sidemenu > div.envelope > ul{
    width:40vw;
  }
  footer > div.sidemenu > div.envelope > ul > li > div{
    width:calc(40vw - 4.5em);
  }
  footer.selected,
  footer.selected > div.sidemenu{
    width:calc(40vw * 2);
  }
  footer:not(.selected).hidable > div.sidemenu > div.envelope > ul.main{
    width:3.2em;
  }
  footer:not(.selected).hidable > div.sidemenu > div.envelope > ul.main > li > div,
  footer:not(.selected).hidable > div.sidemenu > div.envelope > ul.main > li > img.icon-arrow-x,
  footer:not(.selected).hidable > div.sidemenu > div.envelope > ul.sub {
    display:none;
  }
  @media (min-width:1000px){
    footer > div.sidemenu > div.envelope{
      width:calc(18em * 2);
    }
    footer > div.sidemenu > div.envelope > ul{
      width:18em;
    }
    footer > div.sidemenu > div.envelope > ul > li > div{
      width:calc(18em - 7.5em);
    }
    footer.selected,
    footer.selected > div.sidemenu{
      width:calc(18em * 2);
    }
  }

}


/* ================================================================
   SDL スクロールバー
   ================================================================ */
@media screen and (orientation:landscape){
  html.sdl div.wrap:not(.hidescroll) > div.sdlscrollbarbox{
    position:fixed;
    height:calc(100vh - 3.2em);
    top:3.2em;
    left:calc(100vw - 1.6em);
    z-index:5;
  }
}

/* ================================================================
   メイン
   ================================================================ */
main{
  position:absolute;
  margin-top:3.2em;
  z-index: 1;
  vertical-align:top;
}
  html.sdl main{
    height: calc(100vh - 3.2em);
  }
main > div.scrollable{
  position:relative;
  display:block;
  vertical-align:top;
  width:100%;
  margin:0;
  overflow:hidden;
}
@media screen and (orientation:portrait){
  main{
    margin-left:0;
    width:100vw;
  }
  main div.scrollable{
    padding-bottom:4.2em;
    min-height:calc(100vh - 3.2em - 3.2em);
  }
}
@media screen and (orientation:landscape){
  main{
    margin-left:3.2em;
    margin-bottom: 0;
    width:calc(100vw - 3.2em);
  }
  main div.scrollable{
    padding-bottom:1em;
    min-height:calc(100vh - 3.2em);
  }
  html.sdl main{
    overflow:hidden;
  }
  html.sdl main div.scrollable{
    height:calc(100vh - 3.2em);
  }
  html.sdl div.wrap:not(.hidescroll) > main > div.scrollable{
    width: calc(100% - 1.6em);
  }
  html.sdl div.wrap.hidescroll > main > div.scrollable{
    width: 100%;
  }
}
