﻿@charset 'utf-8';
/*@font-face {
    font-family: 'Nobel-Regular';
    src: url('../font/nobelregular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Nobel-Light';
    src: url('../font/nobellight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}*/
@font-face {
    font-family: 'LexusRodinPro-M';
    src: url('../font/LexusRodinPro-M.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
/*@font-face {
    font-family: 'LexusRodinPro-L';
    src: url('../font/LexusRodinPro-L.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}*/
@font-face {
    font-family: 'LexusRodinPro-B';
    src: url('../font/LexusRodinPro-B.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
