@charset 'utf-8';

div.illusttop{
  width:100%;
}
div.illusttop > a{
  position:relative;
  margin:0;
}
div.illusttop > a > div.backimage{
  width:100%;
  height:100%;
  background-repeat:no-repeat;
  background-size:cover;
  background-color:#eee;
  background-position:center;
  opacity:0.5;
}
div.illusttop > a > div.iconafter{
  position:absolute;
  display:block;
  width:calc(100% - (1em * 2));
  margin:0 1em;
  vertical-align:top;
  top:50%;
  transform: translate(0, -60%);
}
div.illusttop > a > div.iconafter > h3{
  vertical-align:top;
  display:inline-block;
  margin:0;
  margin-left:.2em;
  width:calc(100% - .2em - 1.6em);
  text-shadow:0 0 0.8em #000;
}
div.illusttop > a > div.iconafter:after{
  vertical-align:top;
  filter:drop-shadow(0 0 0.8em #000);
}
@media screen and (orientation: portrait) {
  main{
    width:100%;
    height: calc(100vh - 3.2em - 3.2em);
  }
  main div.scrollable{
    padding-bottom:3.2em;
  }
  div.illusttop{
    padding-top:2vh;
  }
  div.illusttop > a{
    display:block;
    margin-bottom:2vh;
    width:100%;
    height:calc((100vh - 3.2em - 3.2em - (2vh * 3)) / 2);
  }
}
@media screen and (orientation: landscape) {
  main{
    /*width:calc(100%  - 3.2em);*/
    height: calc(100vh - 3.2em);
  }
  div.illusttop{
    padding-top:2vw;
  }
  div.illusttop > a{
    display:inline-block;
    margin-left:2vw;
    width:calc((100% - (2vw * 3)) / 2);
    height: calc(100vh - 3.2em - (2vw * 2));
  }
  div.illusttop > a:last-child{
    margin-right:2vw;
  }
}
