@charset 'utf-8';
div.scrollable{
  height: calc(100vh - 3.2em);
}
div.body > div.titlebox{
  padding:0.7em;
}
div.illustbox > div.listbox{
  overflow-x:hidden;
  overflow-y:auto;
}
  html.sdl div.illustbox > div.listbox{
    overflow-y:hidden;
  }
div.illustbox > div > figure{
  width:100%;
}

@media screen and (orientation: portrait){
  main{
    width:100%;
    height: calc(100vh - 3.2em - 3.2em);
  }
  div.illustbox > div.listbox{
    padding-bottom:3.2em;
  }
  div.illustbox > div.listbox > ul:before {
    content: "";
    height: 1px;
    display: block;
    background-color: #ddf;
    filter:blur(2px);
  }
}
@media screen and (orientation: landscape){
  main{
    width:calc(100%  - 3.2em);
    height: calc(100vh - 3.2em);
  }
  div.illustbox > div.listbox > ul {
    border-top: 1px solid #808089;
  }
}
@media screen and (orientation: portrait), screen and (max-width: 700px) {
  div.illustbox > div{
    display:block;
    width:100%;
  }
  div.illustbox > div.listbox > ul{
    display:block;
    width:100%;
  }
}
@media screen and (orientation: landscape), screen and (min-width: 701px) {
  div.illustbox,
  div.illustbox > div {
    vertical-align:top;
  }
  div.illustbox > div{
    display:inline-block;
    width:50%;
  }
}

div.illustbox ul > li span.hotspotstrip{
  margin-right:2em;
}
/*svg > g > *{
  cursor:pointer;
}
svg > g > circle{
  display:none;
}*/
div.illustbox ul > li.selected{
  background-color:#303038;
  text-shadow:0 0 0.5em #000;
}
@media screen and (orientation: landscape) {
  div.illustbox ul > li:first-child{
    border-top:1px solid #505057;
  }
}