div.keywordbox > div.formbox{
  position:relative;
  padding:1em 0.5em;
}
div.keywordbox > div.formbox > img.icon-search{
  position:absolute;
  z-index:2;
  top:50%;
  transform:translate(0.3em, -50%);
}
div.keywordbox > div.formbox > input[type='text']{
  position:relative;
  display:inline-block;
  vertical-align:top;
  font-size:1.2em;
  padding:0.3em 0.5em 0.3em 1.5em;
  border: 1px solid #808089;
  box-shadow:0 0 0.1em #ddf;
  background-color:#000;
  border-radius:0.2em;
  width:calc(100% - 0.3em - 1.5em);
  color:#eee;
}
div.keywordbox > div.formbox > img.icon-circle-x{
  position:absolute;
  z-index:2;
  top:50%;
  left:100%;
  transform:translate(-4.2em, -50%);
}
div.keywordbox > div.formbox > img.icon-send {
  position:absolute;
  z-index:2;
  top:50%;
  left:100%;
  transform:translate(-2.2em, -50%);
}
  html.sdl div.keywordbox > div.formbox > input[type='text']{
    width:calc(100%);
  }
  html.sdl div.keywordbox > div.formbox > img.icon-circle-x,
  html.sdl div.keywordbox > div.formbox > img.icon-send{
    display:none;
  }

div.keywordbox > div.formbox > div.suggestbox{
  position:absolute;
  display:block;
  background-color:#eee;
  top:calc(100% - 1em);
  width:calc(100% - 0.5em - 0.5em - 1.5em - 0.3em);
  max-height: calc(100vh - 3.2em - (1.2em + 1em + (0.3em * 2)) - 1em);
  z-index:3;
  overflow-x:hidden;
  overflow-y:auto;
  padding:0;
}
  div.keywordbox > div.formbox > div.suggestbox:not(:empty){
    border:1px solid #505057;
  }
  html.sdl div.keywordbox > div.formbox > div.suggestbox{
    display:none;
  }
div.keywordbox > div.formbox > div.suggestbox > ul{
  padding:0;
  margin:0;
}
div.keywordbox > div.formbox > div.suggestbox > ul > li{
  padding:0.3em;
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
  text-align:left;
  color:#000;
  text-shadow:none;
}
@media screen and (orientation: portrait) {
  main > div.scrollable{
    min-height: calc(100vh - 3.2em - 3.2em);
  }
}
@media screen and (orientation: landscape) {
  main > div.scrollable{
    min-height: calc(100vh - 3.2em);
  }
}
div.listbox div.rescount{
  padding:0 0.5em 0.3em 0.5em;
  font-size:0.95em;
}
div.listbox > ul > li{
  border-bottom:1px solid #999;
  box-shadow: 0 0 0.2em #808089;
  font-size:1.1em;
  line-height:1.7em;
  vertical-align:top;
}
div.listbox > ul > li:first-child{
  border-top:1px solid #999;
}
div.listbox > ul > li > div.search_title{
  padding:0.5em;
}
div.listbox > ul > li > div.search_title.marqee > span.anchor{
  margin-right:1em;
  padding-left:0.5em;
}
div.listbox > ul > li > div.icon-accordionhead{
  margin:0;
  padding:0.5em;
  padding-top:0;
  position:relative;
  cursor:pointer;
}
div.listbox > ul > li > div.icon-accordionhead > div.bodytext{
  display:inline-block;
  width:calc(100% - 1.5em);
  font-size:0.9em;
  padding:0.3em 0.5em;
  padding-top:0;
}
div.listbox > ul > li > div.icon-accordionhead:not(.open) > div.bodytext {
  height: 1.5em;
  overflow: hidden;
}
div.search_title span.emp,
div.search_body span.emp{
  font-weight:600;
  font-style:italic;
  padding:0.1em 0.3em;
  margin:0 0.2em;
  background-color:#505057;
  color:#fff;
  text-shadow:0 0 0.2em #000;
}