div.mic_modalcover {
  position:fixed;
  height:100%;
  width:100%;
  top:0;
  left:0;
  z-index:9997;
  background-color:#000;
  opacity:0.7;
}
div.mic_modalcover:after{
  content:".";
  visibility:hidden;
}
div.mic_modaldialog {
  position:fixed;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  width:20em;
  z-index:9998;
  background-color:#000;
  border:1px solid #dde;
  box-shadow:0 0 0.1em #fff;
}
div.mic_modaldialog > div.mic_modaltitle{
  background-color:#333;
  border-bottom:1px solid #dde;
}
div.mic_modaldialog > div.mic_modaltitle > span{
  padding:0.3em 0.5em;
}
div.mic_modaldialog > div.mic_modalbody > div.bodybox > span{
  padding:0.5em;
  display:block;
}

div.mic_modaldialog.reader{
  width:90vw;
  height:90vh;
}
div.mic_modaldialog.reader > div.mic_modaltitle > span{
  display:inline-block;
  width:calc(100% - 1.5em - 1.5em);
  margin-left:1.5em;
  text-align:center;
}
div.mic_modaldialog.reader > div.mic_modalbody{
  overflow: hidden;
}
html.sdl div.mic_modaldialog.reader > div.mic_modalbody{
  height:calc(90vh - 1.5em - 0.5em - 0.5em);
}
html.sdl div.mic_modaldialog.reader > div.mic_modalbody.hasbutton{
  height:calc(90vh - 1.5em - 0.5em - 0.5em - 3em);
}
div.mic_modaldialog.reader > div.mic_modalbody > div.bodybox{
  overflow-y: auto;
  overflow-x: hidden;
  height: calc(90vh - 2.3em);
}
div.mic_modaldialog.reader > div.mic_modalbody.hasbutton > div.bodybox{
  height: calc(90vh - 2.3em - 3em);
}
html.sdl div.mic_modaldialog.reader > div.mic_modalbody > div.bodybox{
  overflow: hidden;
  width:calc(100% - 2em);
}
html.sdl div.mic_modaldialog.reader > div.mic_modalbody > div.sdlscrollbarbox{
  position:fixed;
  height:100%;
  top:0;
  left:100%;
  transform:translate(-100%,0);
}
html.sdl div.mic_modaldialog.reader > div.mic_modalbody.hasbutton > div.sdlscrollbarbox{
  height:calc(100% - 3em);
}
div.mic_modaldialog.reader > span.closer{
  position:absolute;
  top:0.3em;
  left:calc(100% - 1.5em);
  width:1.0em;
  height:1.0em;
  background-image:url("../ico/icon-menu-close.svg");
  background-repeat:no-repeat;
  background-size:1.0em;
  margin-top:0.3em;
  z-index:9999;
}

div.mic_modaldialog > div.mic_modaltextbox{
  text-align:center;
  padding:0.3em 0.5em;
}
div.mic_modaldialog > div.mic_modaltextbox > input{
  width:100%;
  background-color:#000;
  border:1px solid #dde;
  color:#fff;
}

div.mic_modaldialog > div.mic_modalbuttonbox{
  text-align:center;
  padding-top:0.5em;
  padding-bottom:0.5em;
  padding-left:5%;
  padding-right:5%;
}
div.mic_modaldialog.reader > div.mic_modalbuttonbox{
  border-top:1px solid #dde;
}
div.mic_modaldialog > div.mic_modalbuttonbox > span.mic_modalbutton{
  display:inline-block;
  width:40%;
  padding:0.2em 0;
  font-size:0.85em;
  border-radius:1.5em;
  background-color: #000;
  border:1px solid #dde;
  box-shadow: 0 0 0.2em #808089, 0 0 0.2em #808089 inset;
}
div.mic_modaldialog > div.mic_modalbuttonbox > span.mic_modalbutton:nth-child(2){
  margin-left:5%;
}
