div.movielist > div.movieitem{
  display:inline-block;
  margin:0.5em;
}
div.movielist > div.movieitem > div.thumbnail{
  width:100%;
  position:relative;
}
div.movielist > div.movieitem > div.thumbnail > div.image{
  display:block;
  background-repeat:no-repeat;
  background-size:cover;
  background-color:#eee;
  background-position:center;
  opacity:0.5;
}
.thumbnail .button {
  position: absolute !important;
  top: 50%;
  left: 50%;
  line-height: 1.7em;
  background-color: #000;
  border-radius: 0.2em;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.thumbnail .button .icon {
    margin: 0.2em 1em;
}

div.movielist > div.movieitem > div.hyperlink > div{
  display:inline-block;
  vertical-align: top;
}
div.movielist > div.movieitem > div.hyperlink{
  width:100%;
  height:1.6em;
  white-space:nowrap;
}
div.movielist > div.movieitem > div.hyperlink > div.pagetitle{
  font-size:1em;
  width:calc(100% - 1.3em - .2em);
  overflow:hidden;
}
div.movielist > div.movieitem > div.hyperlink > div.pagetitle > span.anchor{
  margin-right:2em;
}
div.movielist > div.movieitem > div.hyperlink > div:nth-child(2){
  width:1.3em;
  margin-left:.2em;
}
div.hyperlink img.icon-arrow-c {
  margin-top:0.15em;
}

@media screen and (orientation:portrait){
  div.movielist{
    width:100vw;
  }
  div.movielist > div.movieitem > div.hyperlink,
  div.movielist > div.movieitem > div.thumbnail > div.image{
    width:calc((100vw / 2) - (0.5em * 2));
  }
  div.movielist > div.movieitem > div.thumbnail > div.image{
    height:calc((100vw / 2) - (0.5em * 2));
  }
}
@media screen and (orientation:landscape){
  div.movielist{
    width:calc(100vw - 3.2em);
  }
  div.movielist > div.movieitem > div.hyperlink,
  div.movielist > div.movieitem > div.thumbnail > div.image{
    width:calc(((100vw - 3.2em) / 3) - (0.5em * 2));
  }
  div.movielist > div.movieitem > div.thumbnail > div.image{
    height:calc(((100vw - 3.2em) / 3) - (0.5em * 2));
  }
  html.sdl div.movielist{
    width:calc(100vw - 3.2em - 2em);
  }
  html.sdl div.movielist > div.movieitem > div.hyperlink,
  html.sdl div.movielist > div.movieitem > div.thumbnail > div.image{
    width:calc(((100vw - 3.2em - 2em) / 3) - (0.5em * 2));
  }
  html.sdl div.movielist > div.movieitem > div.thumbnail > div.image{
    height:calc(((100vw - 3.2em - 2em) / 3) - (0.5em * 2));
  }
}
