@charset 'utf-8';

section.book{
  padding:0 0.7em;
  padding-bottom:1em;
}

section.topic,
div.om_body{
  margin-top:1em;
}

p{
  display:block;
  margin:0.2em 0;
}

*:not(.callouttxt) > a[name]:not(.hide){
  display:block;
  height:1px;
  padding-top:calc(3.2em + 0.2em);
  margin-top:calc((3.2em + 0.2em) * -1);
}
  html.sdl:not(.flickonly) a[name]:not(.hide){
    padding-top:0;
    margin-top:0;
  }

.overview{
  border:1px solid #999;
  padding:0.3em;
  margin-top: 1em;
  box-shadow:0 0 0.3em #808089, 0 0 0.3em #808089 inset;
}

figure,
figcaption {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}
figure {
  text-align: center;
}
figure > * {
  margin-right: auto;
  margin-left: auto;
}
figure + p{
  margin-top:0.7em;
}

.text-align-right {
  text-align: right;
}
.text-align-left {
  text-align: left;
}
.text-align-center {
  text-align: center;
}
.vertical-align-top {
  vertical-align: top;
}
.vertical-align-bottom {
  vertical-align: bottom;
}
.vertical-align-middle {
  vertical-align: middle;
}

.hide {
  display: none !important;
}

a.button-barM > img{
  margin-top:0.15em;
}


section.topic:before,
section.topic_function_basic:before,
section.topic_function_advanced:before,
section.introsub:before{
  display:block;
  content:"";
  background-color:#999;
  box-shadow:0 0 0.2em #808089;
  margin-top:2em;
  height:1px;
}
@media screen and (orientation:portrait){
  section.subtopiclv2_function_basic,
  section.subtopiclv2_function_basic > .basic_description{
    margin-left:0.7em;
  }
}
@media screen and (orientation:landscape){
  section.subtopiclv2_function_basic,
  section.subtopiclv2_function_basic > .basic_description{
    margin-left:1.2em;
  }
}
section.subtopiclv2_function_basic > .topic-title-C{
  margin-bottom:0.3em;
}

.subsection-title + p,
.subsection-title + .paragraph {
  margin-top: 0.5em;
}

.thumbnail{
  position: relative;
}
.thumbnail .button {
  position: absolute !important;
  top: 50%;
  left: 50%;
  line-height:1.7em;
  background-color:#000;
  border-radius:0.2em;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.thumbnail .button .icon{
  margin:0.2em 1em;
}

.paragraph{
  margin-top:1.3em;
  padding:0.7em;
}

.paragraph.notice{
  background-color:#555;
}
.paragraph.warning{
  background-color:#333;
}
.paragraph.notice > h2,
.paragraph.warning > h2{
  margin-bottom:0.5em;
}
.paragraph.hint{
  border-left: 1px solid #aab;
  padding-top:1.2em;
  padding-bottom:0.2em;
}
.paragraph.hint > h2{
  margin-top:-0.7em;
}

.paragraph.notice > *:not(h2):not(h3),
.paragraph.warning > *:not(h2):not(h3),
.note_para > *:not(h2):not(h3){
  margin-left:1.5em;
  font-size:0.95em;
}

.attention_para > ul + p{
  margin-left:1.5em;
}

.footnote {
  font-size: 0.9em;
  width:100%;
}
.footnote2 {
  font-size: 0.85em;
  width:100%;
}
.footnote > .footnote_head,
.footnote > .footnote_body,
.footnote2 > .footnote_head,
.footnote2 > .footnote_body {
  display:inline-block;
  vertical-align:top;
}
.footnote_head{
  text-align:right;
  padding-right:0.2em;
  margin-top:0.2em;
}
.footnote > .footnote_head{
  width:1.7em;
}
.footnote2 > .footnote_head{
  width:3.2em;
}
.footnote2.dig2 > .footnote_head{
  width:3.7em;
}
.footnote > .footnote_head + .footnote_body{
  width:calc(100% - 1.9em);
}
.footnote2 > .footnote_head + .footnote_body{
  width:calc(100% - 3.4em);
}
.footnote2.dig2 > .footnote_head + .footnote_body{
  width:calc(100% - 3.9em);
}

.calloutitem{
  text-align:left;
}
.calloutitem > .callout-head,
.calloutitem > .callout-body,
li > .list-indented{
  display:inline-block;
  vertical-align:top;
}
.calloutitem > .callout-head{
  width:2.2em;
}
.calloutitem > .callout-body{
  width:calc(100% - 2.2em);
}
.calloutlist.col2{
  margin-left:2em;
}

.list-rice-symbol > li,
.list-bull-symbol > li,
.list-dash-symbol > li,
.list-disc > li,
.calloutlist.col2 > li{
  background-size:1em;
  background-repeat:no-repeat;
  background-position:0.4em 0.3em;
  padding-left: 1.7em;
}
.list-rice-symbol > li {
  background-image:url("../ico/icon-rice.svg");
}
.list-bull-symbol > li {
  background-image:url("../ico/icon-bull.svg");
}
.list-dash-symbol > li {
  background-image:url("../ico/icon-dash.svg");
}
.list-disc > li,
.calloutlist.col2 > li{
  background-image:url("../ico/icon-disc.svg");
}

ol {
  counter-reset: li;
}

ol.list-number > li,
ol.list-latin > li {
  padding-left: 1.5em;
}
ol.list-number > li:before,
ol.list-latin > li:before {
  font-size: 80%;
  line-height: 1.5em;
  display: inline-block;
  min-width: 1.5em;
  height: 1.5em;
  margin-left:-1.5em;
  margin-top:0.3em;
  counter-increment: li;
  text-align: center;
  color: #fff;
  font-weight:600;
}
ol.list-number > li:before {
  content: counter(li, decimal);
}
ol.list-latin > li:before {
  content: counter(li, upper-alpha);
}
ol.list-number.callout > li:before,
ol.list-latin.callout > li:before {
  color:#faf;
}
ol.list-number > li > *:first-child,
ol.list-latin > li > *:first-child{
  margin-top:-1.5em;
}

li.list1_item {
  font-size: 0.9em;
}

img:not(.icon):not(.symbol):not(.symbolABC){
  border:1px solid #999;
  box-shadow: 0 0 0.2em #808089;
}
img.symbol,
img.symbolABC{
  height:1.3em;
  margin-left:.2em;
  margin-right:.2em;
  margin-bottom: -.3em;
}
.symbolIMG{
  position:relative;
}
.symbolIMG > img.symbol + img.symbol.zoom{
  position:absolute;
  z-index:2;
  top:0;
  left:0;
  transform:translate(-33%,-33%);
  border:1px solid #eee;
  box-shadow:0 0 0.2em #fff;
}

div.tablecontainer + div.tablecontainer{
  margin-top:.7em;
}
div.tablecontainer > table{
  width:100%;
}
table td,
table th{
  border:1px solid #999;
  box-shadow: 0 0 0.1em #808089 , 0 0 0.1em #808089  inset;
}
div.tablecontainer > table > thead > tr > th{
  text-align:center;
  font-weight:500;
  background-color:#333;
}
table td > div.tbl_fig > img{
  border:none !important;
  box-shadow:none !important;
}

@media screen and (max-width: 719px){
  div.tablecontainer.wide{
    overflow-x:auto;
  }
  div.tablecontainer.wide > table{
    min-width:calc(720px - 3.2em - 0.5em);
  }
}

td[width="5%"]{
  vertical-align:top;
}
td .tbl_fig img.image:not([width]){
  width:4em;
}
td .symbolIMG img.symbol:not([width]){
  height:2.5em;
}
