div.sdlscrollbarbox{
  vertical-align:top;
  width:1.6em;
  margin:0;
  display:none;
}
html.sdl div.sdlscrollbarbox{
  display:block;
}
div.sdlscrollbarbox.disabled{
  opacity:0.5;
}
div.sdlscrollbarbox div:empty:after{
  content:".";
  visibility:hidden;
  clear:both;
}
div.sdlscrollbarbox > div.sdlscrollbarheader{
  height:0;
}
div.sdlscrollbarbox > div.sdlscrollbar{
  position:relative;
  width:1.5em;
  height:100%;
  margin:0;
}
div.sdlscrollbarbox > div.sdlscrollbar > div.top,
div.sdlscrollbarbox > div.sdlscrollbar > div.upper,
div.sdlscrollbarbox > div.sdlscrollbar > div.lower
{
  width:1.5em;
  height:1.5em;
  text-align:center;
  background-repeat:no-repeat;
  background-size:1.5em;
}
div.sdlscrollbarbox > div.sdlscrollbar > div.top{
  background-image:url("../ico/icon-scroll-yend.svg");
}
div.sdlscrollbarbox > div.sdlscrollbar > div.upper{
  background-image:url("../ico/icon-scroll-y.svg");
}
div.sdlscrollbarbox > div.sdlscrollbar > div.lower{
  background-image:url("../ico/icon-scroll-y.svg");
  transform:rotate(180deg);
}

div.sdlscrollbarbox > div.sdlscrollbar > div.track{
  position:relative;
  width:1.5em;
  height:calc(100% - 1.5em - 1.5em - 1.5em);
  margin-top:-2px;
  margin-left:1px;
}
div.sdlscrollbarbox > div.sdlscrollbar > div.track > div.skid{
  position:absolute;
  top:0;
  left:0.55em;
  width:0.3em;
  height:100%;
  background-color:#505057;
  box-shadow: 0 0 0.1em #000, 0 0 0.1em #000 inset;
}
div.sdlscrollbarbox.disabled > div.sdlscrollbar > div.track > div.skid{
  box-shadow:none;
}
div.sdlscrollbarbox > div.sdlscrollbar > div.track > div.thumb{
  position:absolute;
  top:0;
  left:0.4em;
  width:0.6em;
  background-color:#000;
  border:1px solid #ccc;
  box-shadow: 0 0 0.1em #ddf, 0 0 0.1em #ddf inset;
}
div.sdlscrollbarbox.disabled > div.sdlscrollbar > div.track > div.thumb{
  background-color:#505057;
  height:100%;
  box-shadow:none;
}
