ul.simplelist > li > div.list{
  width:100% !important;
  padding-right: 0.7em !important;
}

li.marqee > div.list > span{
  margin-right:2em;
}

div.charsizeselector{
  text-align:center;
}
div.charsizeselector > div.charsizebutton[data-size]{
  display:inline-block;
  width:3em;
  height:2em;
  margin:0.5em 1em;
  padding:0.3em 0 0.5em 0;
  background-color: #000;
  border: 1px solid #808089;
  color: #808089;
  text-align:center;
  vertical-align:middle;
}
div.charsizeselector > div.charsizebutton[data-size]:after{
  content:"A";
  text-align:center;
  vertical-align:middle;
}
div.charsizeselector > div.charsizebutton[data-size='magni01']:after{
  font-size:0.9em;
}
div.charsizeselector > div.charsizebutton[data-size='magni02']:after{
  font-size:1.4em;
}
div.charsizeselector > div.charsizebutton[data-size='magni03']:after{
  font-size:1.8em;
}
html.magni01 div.charsizeselector > div.charsizebutton[data-size='magni01'],
html.magni02 div.charsizeselector > div.charsizebutton[data-size='magni02'],
html.magni03 div.charsizeselector > div.charsizebutton[data-size='magni03']{
  background-color: #333;
  border: 1px solid #eee;
  box-shadow: 0 0 0.3em #ddf, 0 0 0.3em #ddf inset;
  color: #eee;
}

li.accordionui{
  -webkit-tap-highlight-color:transparent;
  height:auto !important;
}
li.accordionui > div{
  margin-bottom: -0.2em;
}
html.ios li.accordionui.focusable:active{
  background-color:#000 !important;
  color:#eee !important;
}
li.accordionui > div.list:active,
li.accordionui > ul.licenselist > li:active{
  background-color:#14485c;
  color:#9fd1e7;
}
li.accordionui > ul.licenselist{
  display:none;
  margin-left:1em;
}
li.accordionui.show > ul.licenselist{
  display:block;
}

li.accordionui > ul.licenselist > li{
  font-size:0.9em;
  padding:0.5em;
  border-top: 1px solid #aaa;
}
