@charset 'utf-8';

div.titlebox{
  margin:1.3em;
  vertical-align:top;
  display:block;
}
div.titlebox > div{
  display:block;
  width:100%;
}

#warn_ind_ttl{
  float:left;
  font-size:1.2em;
}

.selector{
  float:right;
}
.selector a{
  display:inline-block;
  font-size:1em;
  padding:.35em 1.3em;
  border-radius:1.5em;
  width:calc((100% - 1.3em) / 2);
  text-align:center;
}
.selector a + a{
  margin-left:1.3em;
}
.selector a:not(.selected){
  background-color: #000;
  border:2px solid #808089;
  box-shadow: 0 0 0.3em #808089, 0 0 0.3em #808089 inset;
  color:#808089;
}
.selector a:not(.selected):hover{
  background-color: #333;
  color:#ccc;
}
.selector a.selected{
  background-color: #333;
  border:2px solid #eee;
  box-shadow: 0 0 0.3em #ddf, 0 0 0.3em #ddf inset;
  color:#eee;
}

div.iconbox{
  display:block;
  text-align: center;
  margin:0 auto;
  padding-top:1em;
  clear:both;
}
div.iconbox.invisible{
  visibility:hidden;
}
div.iconbox > div.iconlist{
  text-align: left;
}
div.iconbox > div.iconlist > ul{
  margin:0px;
  padding-inline-start:0px;
  border-bottom:1px solid #505057;
}
div.iconbox > div.iconlist > ul:last-child{
  border-bottom:none;
}
div.iconlist > ul > li{
  display:inline;
  margin:0;
  padding:0;
}
div.iconlist > ul > li > a{
  display:table-cell;
  width:4em;
  height:4em;
  text-align:center;
  vertical-align:middle;
  /*filter: contrast(120%);*/
}
div.iconlist > ul > li > a > img{
  width:90%;
}
div.iconlist > ul > li > a[href=""],
div.iconlist > ul > li > a[href="#"]{
  display:none;
}
div.iconlist.hide{
  display:none;
}
