div.itpslider > div{
  display:inline-block;
  vertical-align:bottom;
}
div.itpslider > div.label{
  text-align:center;
  overflow:visible;
  position:relative;
  width:1.5em;
  height:1.5em;
}
div.itpslider > div.label:after{
  content:".";
  visibility:hidden;
}
div.itpslider > div.label > span{
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
}
div.itpslider > div.track{
  width:calc(100% - 1.5em - 1.5em - 0.3em - 0.3em);
  height:1.5em;
  margin:0 0.3em;
  position:relative;
}
div.itpslider > div.track > div:after{
  content:".";
  visibility:hidden;
}
div.itpslider > div.track > div.skid{
  height:0.3em;
  width:100%;
  position:absolute;
  top:50%;
  transform:translateY(-50%);
}
div.itpslider > div.track > div.thumb{
  width:1em;
  height:1em;
  position:absolute;
  top:50%;
  transform:translateY(-50%);
  border-radius:1em;
  z-index:2;
}
