@charset 'utf-8';

div.bread{
  padding:0.5em;
}
div.bread > a.clumb{
  margin:0.5em 0;
  color:#ccc;
}
div.bread > a.clumb:after{
  margin:0 0.2em;
  background-position:0 0.1em;
}

@media screen and (orientation:portrait){
  main{
    min-height: calc(100vh - 3.2em - 3.2em);
  }
  section.toc h1.title{
    padding-bottom:2em;
  }
}
@media screen and (orientation:landscape){
  main{
    min-height: calc(100vh - 3.2em);
  }
  section.toc h1.title{
    padding-bottom:1.4em;
  }
}
