@charset 'utf-8';
div.search_index > div.toctop > a{
  display:block;
  position:relative;
  text-align:center;
}
div.search_index > div.toctop > a > h2{
  position:absolute;
  display:table-cell;
}
div.search_index > div.toctop > a.image_button > img{
  vertical-align:top;
}
div.search_index > div.toctop > a.image_button > h2{
  top:80%;
  transform: translate(0, -110%);
  width:100%;
  text-align:center;
}
@media screen and (orientation:portrait){
  main,
  main > div.scrollable{
    height: calc(100vh - 3.2em - 3.2em);
  }
  div.search_index > div.toctop{
    display:block;
    width:100%;
  }
  div.search_index > div.toctop > a{
    border-bottom:1px solid #999;
  }
  div.search_index > div.toctop > a.image_button{
    height:calc(50vh - 3.2em);
  }
  div.search_index > div.toctop > a.image_button > img{
    height:calc(((100vh - 3.2em - 3.2em) / 2) * 0.8);
  }
  div.search_index > div.toctop > a > h2{
    padding:0 5vw;
    width:calc(100% - 5vw - 5vw)
  }
}
@media screen and (orientation:landscape){
  main,
  main > div.scrollable{
    height: calc(100vh - 3.2em);
  }
  div.search_index > div.toctop{
    display:inline-block;
    width:calc(50% - 1px);
  }
  div.search_index > div.toctop:first-child{
    border-right:1px solid #999;
  }
  div.search_index > div.toctop > a:first-child{
    border-bottom:1px solid #999;
  }
  div.search_index > div.toctop > a.image_button{
    height:calc(100vh - 3.2em);
  }
  div.search_index > div.toctop > a.image_button > img{
    width:calc(((100vw - 3.2em) / 2) * 0.8);
  }
  div.search_index > div.toctop > a > h2{
    padding:0 2.5vw;
    width:calc(100% - 2.5vw - 2.5vw)
  }
}
