main div.scrollable {
  background-repeat:no-repeat;
  background-size: cover;
  background-position: center;
}
main div.scrollable > img.toptitle{
  position:absolute;
  z-index:2;
}
main div.scrollable > div.toptitle:after{
  content:"";
  visibility:hidden;
}

body > div.tutorialbox{
  width:100vw;
  height:100vh;
  margin:0;
  visibility:hidden;
  position:fixed;
  top:0;
  left:0;
  z-index:996;
}
body > div.tutorialbox > div.tutorialback{
  width:100vw;
  height:100vh;
  margin:0;
  padding:0;
  position:fixed;
  top:0;
  left:0;
  background-color:#000;
  opacity:0.6;
  z-index:997;
}
body > div.tutorialbox > div.tutorialback:after{
  content:".";
  visibility:hidden;
}

body > div.tutorialbox > div.tutorialcloser > img{
  background-color:#000;
  border: solid 1px #fff;
}

body > div.tutorialbox > div.tutorialfore{
  width:100vw;
  height:100vh;
  margin:0;
  padding:0;
  position:fixed;
  top:0;
  left:0;
  z-index:998;
}

body > div.tutorialbox > div.tutorialfore > div.tutorialcontent {
  width:100vw;
  height:100vh;
  margin:0;
  padding:0;
}
body > div.tutorialbox > div.tutorialfore > div.tutorialcontent > button{
  z-index:999;
}
body > div.tutorialbox > div.tutorialfore > div.tutorialcontent > button.slick-prev{
  left:10px;
}
body > div.tutorialbox > div.tutorialfore > div.tutorialcontent > button.slick-next{
  right:10px;
}

body > div.tutorialbox > div.tutorialfore > div.tutorialcontent div.tutorialitem{
  width:100vw;
  height:100vh;
  margin:0;
  padding:0;
  outline:none;
}

body > div.tutorialbox > div.tutorialfore > div.tutorialcontent div.tutorialitem > div.headbox{
  height:3.2em;
}
body > div.tutorialbox > div.tutorialfore > div.tutorialcontent div.tutorialitem > div.headbox > div.buttonbox{
  height:3.2em;
  width:2.5em;
}
body > div.tutorialbox > div.tutorialfore > div.tutorialcontent div.tutorialitem.item05 > div.headbox > div.buttonbox{
  margin-left:calc(100vw - 2.5em - 2.5em);
}
body > div.tutorialbox > div.tutorialfore > div.tutorialcontent div.tutorialitem.item06 > div.headbox > div.buttonbox{
  margin-left:calc(100vw - 2.5em);
}

body > div.tutorialbox > div.tutorialfore > div.tutorialcontent div.tutorialitem > div.footbox{
  height:3.2em;
}
body > div.tutorialbox > div.tutorialfore > div.tutorialcontent div.tutorialitem > div.footbox > div.buttonbox{
  height:3.2em;
  width:calc(100vw / 4);
}
body > div.tutorialbox > div.tutorialfore > div.tutorialcontent div.tutorialitem.item02 > div.footbox > div.buttonbox{
  margin-left:calc(100vw / 4)
}
body > div.tutorialbox > div.tutorialfore > div.tutorialcontent div.tutorialitem.item03 > div.footbox > div.buttonbox{
  margin-left:calc((100vw / 4) * 2)
}
body > div.tutorialbox > div.tutorialfore > div.tutorialcontent div.tutorialitem.item04 > div.footbox > div.buttonbox{
  margin-left:calc((100vw / 4) * 3)
}
body > div.tutorialbox > div.tutorialfore > div.tutorialcontent div.tutorialitem > div.headbox > div.buttonbox,
body > div.tutorialbox > div.tutorialfore > div.tutorialcontent div.tutorialitem > div.footbox > div.buttonbox{
  text-align:center;
  padding:0;
  background-color:#000;
  border:1px solid #fff;
  /*box-shadow: 0 0 0.3em #fff, 0 0 0.3em #fff inset;*/
}
body > div.tutorialbox > div.tutorialfore > div.tutorialcontent div.tutorialitem > div.headbox > div.buttonbox > img,
body > div.tutorialbox > div.tutorialfore > div.tutorialcontent div.tutorialitem > div.footbox > div.buttonbox > img{
  height:1.6em;
  width:1.6em;
  margin: calc(0.8em - 1px) auto;
}
body > div.tutorialbox:not(.highlight) > div.tutorialfore > div.tutorialcontent div.tutorialitem > div.headbox > div.buttonbox,
body > div.tutorialbox:not(.highlight) > div.tutorialfore > div.tutorialcontent div.tutorialitem > div.footbox > div.buttonbox,
body > div.tutorialbox > div.tutorialfore > div.tutorialcontent div.tutorialitem:not([tabindex="0"]) > div.headbox > div.buttonbox,
body > div.tutorialbox > div.tutorialfore > div.tutorialcontent div.tutorialitem:not([tabindex="0"]) > div.footbox > div.buttonbox{
  display:none;
}
body > div.tutorialbox > div.tutorialfore > div.tutorialcontent div.tutorialitem[tabindex="0"] > div.headbox > div.buttonbox{
  animation-name: blinkanimehead;
  animation-duration: 1.5s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
}
body > div.tutorialbox > div.tutorialfore > div.tutorialcontent div.tutorialitem[tabindex="0"] > div.footbox > div.buttonbox{
  animation-name: blinkanimefoot;
  animation-duration: 1.5s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
}
@keyframes blinkanimehead {
  0% {
    box-shadow: 0 0 0.0em #fff, 0 0 0.0em #fff inset;
  }
  50% {
    box-shadow: 0 0 1.0em #fff, 0 0 1.0em #fff inset;
  }
  100% {
    box-shadow: 0 0 0.0em #fff, 0 0 0.0em #fff inset;
  }
}
@keyframes blinkanimefoot {
  0% {
    box-shadow: 0 0 0.0em #fff, 0 0 0.0em #fff inset;
  }
  50% {
    box-shadow: 0 0 1.2em #fff, 0 0 1.2em #fff inset;
  }
  100% {
    box-shadow: 0 0 0.0em #fff, 0 0 0.0em #fff inset;
  }
}

body > div.tutorialbox > div.tutorialfore > div.tutorialcontent div.tutorialitem > div.bodybox{
  text-align:center;
  height:calc(100vh - 3.2em - 3.2em);
}
body > div.tutorialbox > div.tutorialfore > div.tutorialcontent div.tutorialitem > div.bodybox > div.courtesy{
  height:calc(100vh - (3.2em * 2) - 2em - 5em - 5em - 2em);
  width:100vw;
  display:table-cell;
  text-align:center;
  vertical-align:middle;
}
body > div.tutorialbox > div.tutorialfore > div.tutorialcontent div.tutorialitem > div.bodybox > div.courtesy > div.titletext{
  display:inline-block;
  margin:auto auto;
  width:80vw;
  font-size:1.6em;
  line-height:2em;
}
body > div.tutorialbox > div.tutorialfore > div.tutorialcontent div.tutorialitem > div.bodybox > div.skip{
  height:5em;
}
body > div.tutorialbox > div.tutorialfore > div.tutorialcontent div.tutorialitem > div.bodybox > div.skip > div.startbutton{
  display:inline-block;
  padding:0.5em;
  width:70vw;
}
body > div.tutorialbox > div.tutorialfore > div.tutorialcontent div.tutorialitem > div.bodybox > div.swipe{
  height:4em;
  position:relative;
}
body > div.tutorialbox > div.tutorialfore > div.tutorialcontent div.tutorialitem > div.bodybox > div.swipe > div.touchhand{
  position:absolute;
  left:calc(80vw);
  top:0;
  z-index:999;
  animation-name: swipeanime;
  animation-delay: 0.5s;
  animation-duration: 2.5s;
  animation-timing-function: ease;
  animation-iteration-count: 3;
}
@keyframes swipeanime {
  0% {
    left:calc(80vw);
  }
  30% {
    left:calc(80vw);
  }
  90% {
    left:calc(20vw - 1.8em);
  }
  100% {
    left:calc(20vw - 1.8em);
  }
}
body > div.tutorialbox > div.tutorialfore > div.tutorialcontent div.tutorialitem > div.bodybox > div.cancel{
  height:2em;
}

body > div.tutorialbox > div.tutorialfore > div.tutorialcontent div.tutorialitem > div.bodybox > div.funcname{
  font-size:1.4em;
  line-height:1.8em;
  height:2.0em;
  width:100vw;
}
body > div.tutorialbox > div.tutorialfore > div.tutorialcontent div.tutorialitem > div.bodybox > div.imagebox{
  height:calc(100vh - (3.2em * 2) - 2.0em - 5em - 1em - (0.5em * 2) + 0.2em);
  width:100vw;
  display:table-cell;
  text-align:center;
  vertical-align:middle;
  padding:0.5em 0;
}
body > div.tutorialbox > div.tutorialfore > div.tutorialcontent div.tutorialitem > div.bodybox > div.imagebox > img{
  display:inline-block;
  margin:auto auto;
  max-height:calc((100vh - (3.2em * 2) - 2.0em - 5em - 1em - (0.5em * 2)) * 0.9);
  max-width:calc(100vw * 0.8);
}
body > div.tutorialbox > div.tutorialfore > div.tutorialcontent div.tutorialitem > div.bodybox > div.descrbox{
  height:6em;
  padding:0 1em;
}
body > div.tutorialbox > div.tutorialfore > div.tutorialcontent ul.slick-dots{
  bottom: calc(3.2em + 1em);
  z-index:999;
}
body > div.tutorialbox > div.tutorialfore > div.tutorialcontent ul.slick-dots > li:not(.slick-active) > button:before{
  color:#ddd;
}
body > div.tutorialbox > div.tutorialfore > div.tutorialcontent ul.slick-dots > li.slick-active > button:before{
  color:#fff;
}
body > div.tutorialbox > div.tutorialfore > div.tutorialcontent div.tutorialitem > div.bodybox > div.finishbox{
  height:calc(100vh - (3.2em * 2));
  width:100vw;
  display:table-cell;
  text-align:center;
  vertical-align:middle;
  padding:0.5em 0;
}
body > div.tutorialbox > div.tutorialfore > div.tutorialcontent div.tutorialitem > div.bodybox > div.finishbox > div.finishbutton{
  width:70vw;
  display:inline-block;
  text-align:center;
  margin:0 auto;
  font-size:1.4em;
  padding:0.5em 1em;
  background-color:rgba(0, 0, 0, 0.6);
  border-radius:2.4em;
  animation-name: blinkfinish;
  animation-duration: 1.5s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
}
@keyframes blinkfinish {
  0% {
    box-shadow: 0 0 0.1em #fff, 0 0 0.1em #fff;
  }
  50% {
    box-shadow: 0 0 0.6em #fff, 0 0 0.6em #fff;
  }
  100% {
    box-shadow: 0 0 0.1em #fff, 0 0 0.1em #fff;
  }
}


body > div.tutorialbox > div.tutorialcloser{
  width:1.5em;
  height:1.5em;
  position:fixed;
  top:1em;
  left:1em;
  z-index:999;
}
body > div.tutorialbox > div.tutorialcloser > img{
  box-shadow: 0 0 0.3em #fff, 0 0 0.3em #fff inset;
}

@media screen and (orientation:portrait){
  main div.scrollable {
    background-image:url("../_src/top-prt.png");
    height:calc(100vh - 3.2em - 3.2em);
  }
  main div.scrollable > img.toptitle{
    top:4em;
    left:5em;
    height: 15vw;
  }
  html:not(.sdl) body > div.tutorialbox.show{
    visibility:visible;
  }
  @media screen and (max-width: 800px){
    main div.scrollable > img.toptitle{
      top:3em;
      left:4em;
    }
  }
  @media screen and (max-width: 450px){
    main div.scrollable > img.toptitle{
      top:2em;
      left:3em;
    }
  }
  @media screen and (max-width: 420px){
    main div.scrollable > img.toptitle{
      top:1.5em;
      left:2em;
    }
  }
}
@media screen and (orientation:landscape){
  main div.scrollable {
    background-image:url("../_src/top-lnd.png");
    height:calc(100vh - 3.2em);
  }
  main div.scrollable > img.toptitle{
    top:3em;
    left:5em;
    height: 15vh;
  }
  @media screen and (max-width: 1000px){
    main div.scrollable > img.toptitle{
      top:2em;
      left:4em;
    }
  }
  @media screen and (max-width: 720px){
    main div.scrollable > img.toptitle{
      top:1em;
      left:2em;
    }
  }
}
