﻿@charset "utf-8";
@keyframes __show_pt {
  0% {
    opacity: 0;
    margin-right: -50%;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    margin-right: 0;
  }
}
@keyframes __hide_pt {
  0% {
    opacity: 1;
    margin-right: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    margin-right: -50%;
  }
}
/***************************************************
 * Reset
 ***************************************************/
*,
*::after,
*::before {
  box-sizing: border-box;
}
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  list-style: outside none none;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
body {
  line-height: 1;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
header,
footer,
section {
  width: 100%;
}
ul,
ol,
li {
  width: 100%;
}
ul {
  list-style: none;
}
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
input,
select {
  vertical-align: middle;
}
a:link,
a:visited,
a:active {
  color: inherit;
}
input[type="text"],
input[type="password"],
textarea,
select {
  outline: none;
}
/***************************************************
 * Contents
 ***************************************************/
html,
body {
  width: 100%;
  height: 100%;
  font-family: "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", "メイリオ", Meiryo, sans-serif;
  font-size: 15px;
  color: #555;
  line-height: 1.4;
  position: relative;
}
html[lang*="en"],
body[lang*="en"],
html[lang*="en-US"],
body[lang*="en-US"] {
  font-family: Arial, sans-serif;
}
main[role="contents_inner"] section.section {
  margin: 1.33rem 0 2.66rem;
}
main[role="contents_inner"] h1,
main[role="contents_inner"] h2 {
  margin: 1.33rem 0;
}
main[role="contents_inner"] h3,
main[role="contents_inner"] h4 {
  margin: 1.33rem 0 0.665rem;
}
main[role="contents_inner"] h3.title,
main[role="contents_inner"] h4.title {
  margin: 2.66rem 0 1.33rem;
}
main[role="contents_inner"] h5,
main[role="contents_inner"] h6 {
  margin: 0.665rem 0;
}
main[role="contents_inner"] p:first-child {
  margin: 0 0 0.665rem;
}
main[role="contents_inner"] p:not(:first-child) {
  margin: 0.665rem 0 0.665rem;
}
main[role="contents_inner"] p + p {
  margin: 0.665rem 0 0.665rem;
}
main[role="contents_inner"] figure.fig,
main[role="contents_inner"] .cols,
main[role="contents_inner"] .note,
main[role="contents_inner"] ul.ul,
main[role="contents_inner"] ol.ol,
main[role="contents_inner"] ol.steps {
  margin: 1.33rem 0;
}
main[role="contents_inner"] figure.fig:first-child,
main[role="contents_inner"] .cols:first-child,
main[role="contents_inner"] .note:first-child,
main[role="contents_inner"] ul.ul:first-child,
main[role="contents_inner"] ol.ol:first-child,
main[role="contents_inner"] ol.steps:first-child {
  margin-top: 0;
}
main[role="contents_inner"] figure.fig:last-child,
main[role="contents_inner"] .cols:last-child,
main[role="contents_inner"] .note:last-child,
main[role="contents_inner"] ul.ul:last-child,
main[role="contents_inner"] ol.ol:last-child,
main[role="contents_inner"] ol.steps:last-child {
  margin-bottom: 0;
}
main[role="contents_inner"] p + p {
  margin: 0.665rem 0;
}
main[role="contents_inner"] table p:last-child {
  margin-bottom: 0;
}
main[role="contents_inner"] .cols:not(:first-child),
main[role="contents_inner"] .note_contents:not(:first-child),
main[role="contents_inner"] ul.ul li:not(:first-child) {
  margin-top: 0.2em;
}
main[role="contents_inner"] .cols > *:first-child,
main[role="contents_inner"] .note_contents > *:first-child,
main[role="contents_inner"] ul.ul li > *:first-child {
  margin-top: 0;
}
main[role="contents_inner"] .cols > *:last-child,
main[role="contents_inner"] .note_contents > *:last-child,
main[role="contents_inner"] ul.ul li > *:last-child {
  margin-bottom: 0;
}
main[role="contents_inner"] .li_contents > *:first-child {
  margin-top: 0;
}
main[role="contents_inner"] .li_contents > *:last-child {
  margin-bottom: 0;
}
main[role="contents_inner"] h1,
main[role="contents_inner"] h2,
main[role="contents_inner"] h3,
main[role="contents_inner"] h4,
main[role="contents_inner"] h5,
main[role="contents_inner"] h6 {
  font-weight: bold;
}
main[role="contents_inner"] h1 {
  font-size: 2rem;
  margin: 1.33rem 0 1em;
}
@media screen and (max-width: 600px) {
  main[role="contents_inner"] h1 {
    font-size: 1.5rem;
  }
}
main[role="contents_inner"] h2 {
  font-size: 1.5rem;
  margin: 1.33rem 0;
  padding-left: 0.4em;
  border-left: 5px solid #263b74;
}
@media screen and (max-width: 600px) {
  main[role="contents_inner"] h2 {
    font-size: 1.25rem;
  }
}
main[role="contents_inner"] h3 {
  background: #ccc;
  background: #d9e0f3;
  font-size: 1.1rem;
  padding: 0.2em 0.4em;
}
main[role="contents_inner"] h3.title {
  font-size: 1.3rem;
}
main[role="contents_inner"] h4 {
  font-size: 1.1rem;
  display: inline-block;
}
@media screen {
  main[role="contents_inner"] h4 {
    border-bottom: 1px solid #ccc;
  }
}
@media print {
  main[role="contents_inner"] h4 {
    border-bottom: 0.3pt solid #ccc;
  }
}
main[role="contents_inner"] em.i {
  font-family: "游ゴシック体", "Yu Gothic", YuGothic, "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", "メイリオ", Meiryo, sans-serif;
  font-weight: 500;
}
main[role="contents_inner"] .tablewrapper {
  margin: 0.665rem 0;
  width: 100%;
  overflow: auto;
}
main[role="contents_inner"] .tablewrapper table {
  border-collapse: collapse;
  table-layout: fixed;
  max-width: 100%;
}
main[role="contents_inner"] .tablewrapper table th,
main[role="contents_inner"] .tablewrapper table td {
  vertical-align: middle;
  padding: 7px;
}
@media screen {
  main[role="contents_inner"] .tablewrapper table th,
  main[role="contents_inner"] .tablewrapper table td {
    border: 1px solid #ccc;
  }
}
@media print {
  main[role="contents_inner"] .tablewrapper table th,
  main[role="contents_inner"] .tablewrapper table td {
    border: 0.3pt solid #ccc;
  }
}
@media screen and (max-width: 600px) {
  main[role="contents_inner"] .tablewrapper table th,
  main[role="contents_inner"] .tablewrapper table td {
    padding: 5px;
  }
}
main[role="contents_inner"] .tablewrapper table th.bgmiddle,
main[role="contents_inner"] .tablewrapper table td.bgmiddle {
  background: #999;
  color: #fff;
}
main[role="contents_inner"] .tablewrapper table th.bgdark,
main[role="contents_inner"] .tablewrapper table td.bgdark {
  background: #555;
  color: #fff;
}
main[role="contents_inner"] .tablewrapper table th {
  background: #f5f5f5;
  vertical-align: middle;
  text-align: center;
}
main[role="contents_inner"] .tablewrapper table td {
  text-align: left;
}
main[role="contents_inner"] .tablewrapper table .no_border {
  border: none !important;
}
main[role="contents_inner"] .dl {
  display: table;
  border-collapse: separate;
  border-spacing: 0 0.2em;
}
main[role="contents_inner"] .dl dl {
  display: table-row;
}
main[role="contents_inner"] .dl dl dt {
  display: table-cell;
  flex-shrink: 0;
  padding-right: 0.5em;
  white-space: nowrap;
}
main[role="contents_inner"] .dl dl dd {
  display: table-cell;
}
main[role="contents_inner"] .dl dl.mark dt::after {
  content: attr(data-mark);
}
main[role="contents_inner"] .imageleft {
  text-align: left;
}
main[role="contents_inner"] .imageright {
  text-align: right;
}
main[role="contents_inner"] .imagecenter {
  text-align: center;
}
main[role="contents_inner"] .imagemap {
  text-align: center;
}
main[role="contents_inner"] img {
  max-width: 100%;
  vertical-align: top;
}
main[role="contents_inner"] img.inline {
  vertical-align: middle;
  margin: -0.1em 0 0;
  padding: 2px;
}
main[role="contents_inner"] img[usemap] {
  width: 100%;
  height: auto;
  max-width: 400px;
}
main[role="contents_inner"] figure img {
  padding: 0.2em;
}
main[role="contents_inner"] .ullinks a,
main[role="contents_inner"] a.xref {
  padding: 0.05em 0.2em 0.05em;
  color: unset;
  display: inline-flex;
  align-items: center;
}
@media screen {
  main[role="contents_inner"] .ullinks a,
  main[role="contents_inner"] a.xref {
    border-bottom: 1px solid #ccc;
  }
}
@media print {
  main[role="contents_inner"] .ullinks a,
  main[role="contents_inner"] a.xref {
    border-bottom: 0.3pt solid #ccc;
  }
}
main[role="contents_inner"] .ullinks a::before,
main[role="contents_inner"] a.xref::before {
  content: "";
  background-image: url("../img/common/icon_link.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0%;
  width: 1.5em;
  height: 1.5em;
  flex-shrink: 0;
  width: 1.2em;
  height: 1.2em;
  display: inline-block;
}
main[role="contents_inner"] .ullinks a:hover,
main[role="contents_inner"] a.xref:hover {
  background: #d9e0f3;
  color: #263b74;
}
@media screen {
  main[role="contents_inner"] .ullinks a:hover,
  main[role="contents_inner"] a.xref:hover {
    border-bottom: 1px solid #263b74;
  }
}
@media print {
  main[role="contents_inner"] .ullinks a:hover,
  main[role="contents_inner"] a.xref:hover {
    border-bottom: 0.3pt solid #263b74;
  }
}
main[role="contents_inner"] .filepath,
main[role="contents_inner"] .msgph,
main[role="contents_inner"] .systemoutput,
main[role="contents_inner"] .userinput,
main[role="contents_inner"] .menucascade {
  background: #edf0f9;
}
main[role="contents_inner"] .filepath::before,
main[role="contents_inner"] .msgph::before,
main[role="contents_inner"] .systemoutput::before,
main[role="contents_inner"] .userinput::before,
main[role="contents_inner"] .menucascade::before {
  content: "[";
  margin: 0 0.2em;
}
main[role="contents_inner"] .filepath::after,
main[role="contents_inner"] .msgph::after,
main[role="contents_inner"] .systemoutput::after,
main[role="contents_inner"] .userinput::after,
main[role="contents_inner"] .menucascade::after {
  content: "]";
  margin: 0 0.2em;
}
main[role="contents_inner"] .uicontrol {
  font-weight: bold;
  background: #edf0f9;
}
main[role="contents_inner"] sup {
  vertical-align: super;
  font-size: 0.7em;
  line-height: 0;
}
main[role="contents_inner"] sub {
  vertical-align: sub;
  font-size: 0.7em;
  line-height: 0;
}
main[role="contents_inner"] .underline {
  text-decoration: underline;
}
main[role="contents_inner"] .condensed {
  transform: scaleX(0.8);
  transform-origin: left;
  width: 125%;
}
main[role="contents_inner"] .condensed.scale5 {
  transform: scaleX(0.5);
  width: 200%;
}
main[role="contents_inner"] .condensed.scale6 {
  transform: scaleX(0.6);
  width: 166.66666667%;
}
main[role="contents_inner"] .condensed.scale7 {
  transform: scaleX(0.7);
  width: 142.85714286%;
}
main[role="contents_inner"] .condensed.scale8 {
  transform: scaleX(0.8);
  width: 125%;
}
main[role="contents_inner"] .condensed.scale9 {
  transform: scaleX(0.9);
  width: 111.11111111%;
}
main[role="contents_inner"] a .condensed,
main[role="contents_inner"] abbr .condensed,
main[role="contents_inner"] acronym .condensed,
main[role="contents_inner"] b .condensed,
main[role="contents_inner"] basefont .condensed,
main[role="contents_inner"] bdo .condensed,
main[role="contents_inner"] big .condensed,
main[role="contents_inner"] br .condensed,
main[role="contents_inner"] cite .condensed,
main[role="contents_inner"] code .condensed,
main[role="contents_inner"] dfn .condensed,
main[role="contents_inner"] em .condensed,
main[role="contents_inner"] font .condensed,
main[role="contents_inner"] i .condensed,
main[role="contents_inner"] img .condensed,
main[role="contents_inner"] input .condensed,
main[role="contents_inner"] kbd .condensed,
main[role="contents_inner"] label .condensed,
main[role="contents_inner"] q .condensed,
main[role="contents_inner"] s .condensed,
main[role="contents_inner"] samp .condensed,
main[role="contents_inner"] select .condensed,
main[role="contents_inner"] small .condensed,
main[role="contents_inner"] span .condensed,
main[role="contents_inner"] strike .condensed,
main[role="contents_inner"] strong .condensed,
main[role="contents_inner"] sub .condensed,
main[role="contents_inner"] sup .condensed,
main[role="contents_inner"] textarea .condensed,
main[role="contents_inner"] tt .condensed,
main[role="contents_inner"] u .condensed,
main[role="contents_inner"] var .condensed {
  display: inline-block;
}
main[role="contents_inner"] .extended {
  transform: scaleY(0.8);
  transform-origin: top;
  margin-bottom: -0.2em;
  display: inline-block;
}
main[role="contents_inner"] .extended.scale5 {
  transform: scaleY(0.5);
  margin-bottom: -0.5em;
}
main[role="contents_inner"] .extended.scale6 {
  transform: scaleY(0.6);
  margin-bottom: -0.4em;
}
main[role="contents_inner"] .extended.scale7 {
  transform: scaleY(0.7);
  margin-bottom: -0.3em;
}
main[role="contents_inner"] .extended.scale8 {
  transform: scaleY(0.8);
  margin-bottom: -0.2em;
}
main[role="contents_inner"] .extended.scale9 {
  transform: scaleY(0.9);
  margin-bottom: -0.1em;
}
main[role="contents_inner"] .note .note_title {
  font-weight: bold;
  font-size: 1.2rem;
  display: inline-flex;
  align-items: center;
}
main[role="contents_inner"] .note.type_note {
  padding: 0.3325rem 0 0.3325rem 1em;
}
@media screen {
  main[role="contents_inner"] .note.type_note {
    border-left: 1px solid #ccc;
  }
}
@media print {
  main[role="contents_inner"] .note.type_note {
    border-left: 0.3pt solid #ccc;
  }
}
main[role="contents_inner"] .note.type_note .note_title::before {
  content: "";
  background-image: url("../img/common/icon_note.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0%;
  flex-shrink: 0;
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  display: block;
}
main[role="contents_inner"] .note.type_tip {
  padding: 0.3325rem 0 0.3325rem 1em;
}
@media screen {
  main[role="contents_inner"] .note.type_tip {
    border-left: 1px solid #ccc;
  }
}
@media print {
  main[role="contents_inner"] .note.type_tip {
    border-left: 0.3pt solid #ccc;
  }
}
main[role="contents_inner"] .note.type_tip .note_title {
  padding: 0.1em 0.5em;
  background-color: #555;
  color: #fff;
}
main[role="contents_inner"] .note.type_caution {
  border: 2px solid #fc0;
  padding: 0.665rem;
}
main[role="contents_inner"] .note.type_caution .note_title::before {
  content: "";
  background-image: url("../img/common/icon_caution.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  flex-shrink: 0;
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  display: block;
}
main[role="contents_inner"] .note.type_warning,
main[role="contents_inner"] .note.type_danger {
  border: 2px solid #c00;
  padding: 0.665rem;
}
main[role="contents_inner"] .note.type_warning .note_title::before,
main[role="contents_inner"] .note.type_danger .note_title::before {
  content: "";
  background-image: url("../img/common/icon_caution.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 25%;
  flex-shrink: 0;
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  display: block;
}
main[role="contents_inner"] ul,
main[role="contents_inner"] ol {
  width: 100%;
  position: relative;
}
main[role="contents_inner"] ul li,
main[role="contents_inner"] ol li {
  width: 100%;
}
main[role="contents_inner"] ul.ul > li .li_before {
  display: table-cell;
  width: 1em;
  vertical-align: top;
}
main[role="contents_inner"] ul.ul > li .li_before::before {
  content: "";
  background-image: url("../img/common/icon_circle.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0%;
  width: 1.5em;
  height: 1.5em;
  flex-shrink: 0;
  display: inline-block;
  width: 1.4em;
  height: 1.4em;
}
main[role="contents_inner"] ul.ul > li ul {
  margin-top: 0;
}
main[role="contents_inner"] ul.ul > li li:not(:first-child) {
  margin-top: 0.1em;
}
main[role="contents_inner"] ul.ul > li li .li_before::before {
  width: 0.4em;
  height: 0.4em;
  margin: 0.5em 0;
}
main[role="contents_inner"] ul.ul > li .li_contents {
  vertical-align: top;
  display: table-cell;
}
main[role="contents_inner"] ul.ul.square > li .li_before::before {
  content: "";
  background-image: url("../img/common/icon_square.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0%;
  width: 1.5em;
  height: 1.5em;
  flex-shrink: 0;
  display: inline-block;
  width: 1.4em;
  height: 1.4em;
  margin-right: 0.2em;
}
main[role="contents_inner"] .ullinks {
  margin: 1.33rem 0;
}
main[role="contents_inner"] .ullinks li {
  margin-bottom: 0.5em;
  font-size: 1.2rem;
}
main[role="contents_inner"] ol:not(.steps) {
  display: table;
}
main[role="contents_inner"] ol:not(.steps):not(.continous) {
  counter-reset: ol-counter1;
}
main[role="contents_inner"] ol:not(.steps) > li {
  display: table-row;
  counter-increment: ol-counter1;
}
main[role="contents_inner"] ol:not(.steps) > li .li_before {
  display: table-cell;
  padding-right: 0.5em;
  width: 1em;
  text-align: center;
}
main[role="contents_inner"] ol:not(.steps) > li .li_before::before {
  content: counter(ol-counter1);
  font-weight: bold;
  font-size: 1.2rem;
  color: #263b74;
  line-height: 1.2;
}
main[role="contents_inner"] ol:not(.steps) > li .li_contents {
  display: table-cell;
  vertical-align: middle;
  padding-bottom: 0.5em;
}
main[role="contents_inner"] ol:not(.steps) > li ol:not(.continous) {
  counter-reset: ol-counter2;
}
main[role="contents_inner"] ol:not(.steps) > li ol > li {
  counter-increment: ol-counter2;
}
main[role="contents_inner"] ol:not(.steps) > li ol > li .li_before::before {
  content: "(" counter(ol-counter2) ")";
  padding-right: 0.5em;
  width: 2em;
  font-size: 1rem;
}
main[role="contents_inner"] ol.steps {
  counter-reset: step-counter;
}
main[role="contents_inner"] ol.steps > li.step {
  counter-increment: step-counter;
  display: list-item;
  padding: 1.33rem 0;
}
@media screen {
  main[role="contents_inner"] ol.steps > li.step:not(:last-of-type) {
    border-bottom: 1px dashed #ccc;
  }
}
@media print {
  main[role="contents_inner"] ol.steps > li.step:not(:last-of-type) {
    border-bottom: 0.3pt dashed #ccc;
  }
}
main[role="contents_inner"] ol.steps > li.step::before {
  content: attr(data-step-prefix) counter(step-counter);
  display: inline-block;
  background: #263b74;
  padding: 0.1em 1em;
  color: #fff;
  font-weight: bold;
  width: auto;
  margin-bottom: 1.33rem;
}
main[role="contents_inner"] ol.steps > li.step .cmd {
  display: block;
  font-weight: bold;
  margin-bottom: 0.665rem;
}
main[role="contents_inner"] ol.steps ol.substeps {
  counter-reset: substep-counter;
}
main[role="contents_inner"] ol.steps ol.substeps li.substep {
  counter-increment: substep-counter;
}
main[role="contents_inner"] ol.steps ol.substeps li.substep .li_before::before {
  content: counter(substep-counter);
  background: #263b74;
  color: #fff;
  font-weight: bold;
  width: 2em;
  height: 2em;
  border-radius: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8em;
  margin-top: -2px;
}
main[role="contents_inner"] li > .cols:first-child,
main[role="contents_inner"] .note > .cols:first-child {
  margin-top: 0;
}
main[role="contents_inner"] li.cols,
main[role="contents_inner"] .note.cols {
  margin-top: 0;
}
main[role="contents_inner"] .cols:not(.nofiggroup):not(.step) {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0.665rem 0;
}
main[role="contents_inner"] .cols:not(.nofiggroup):not(.step) .cols {
  margin: 0;
}
main[role="contents_inner"] .cols:not(.nofiggroup):not(.step).dashed > .col:not(:last-child) {
  padding-right: 1.33rem;
}
@media screen {
  main[role="contents_inner"] .cols:not(.nofiggroup):not(.step).dashed > .col:not(:first-child) {
    border-left: 1px dashed #ccc;
  }
}
@media print {
  main[role="contents_inner"] .cols:not(.nofiggroup):not(.step).dashed > .col:not(:first-child) {
    border-left: 0.3pt dashed #ccc;
  }
}
main[role="contents_inner"] .cols:not(.nofiggroup):not(.step).line > .col:not(:last-child) {
  padding-right: 1.33rem;
}
@media screen {
  main[role="contents_inner"] .cols:not(.nofiggroup):not(.step).line > .col:not(:first-child) {
    border-left: 1px solid #ccc;
  }
}
@media print {
  main[role="contents_inner"] .cols:not(.nofiggroup):not(.step).line > .col:not(:first-child) {
    border-left: 0.3pt solid #ccc;
  }
}
main[role="contents_inner"] .cols:not(.nofiggroup):not(.step) > .col {
  vertical-align: top;
  flex-grow: 99;
  flex-shrink: 0;
  overflow: hidden;
  flex-basis: auto;
}
main[role="contents_inner"] .cols:not(.nofiggroup):not(.step) > .col:not(:first-child) {
  padding-left: 1.33rem;
}
main[role="contents_inner"] .cols:not(.nofiggroup):not(.step) > .col.setwidth img {
  max-width: none;
}
main[role="contents_inner"] .cols:not(.nofiggroup):not(.step) > .col.unsetwidth {
  flex-shrink: 99;
  flex-grow: 0;
  flex-basis: 95%;
}
main[role="contents_inner"] .cols:not(.nofiggroup):not(.step) > .col > *:first-child,
main[role="contents_inner"] .cols:not(.nofiggroup):not(.step) > .col > .p:first-child .tablewrapper {
  margin-top: 0;
}
@media screen and (max-width: 600px) {
  main[role="contents_inner"] .cols:not(.nofiggroup):not(.step) {
    display: block;
  }
  main[role="contents_inner"] .cols:not(.nofiggroup):not(.step) > .col {
    width: 100%;
    display: block;
    padding: 0 !important;
  }
  main[role="contents_inner"] .cols:not(.nofiggroup):not(.step) > .col:not(:first-child) {
    margin-top: 1.33rem;
  }
  main[role="contents_inner"] .cols:not(.nofiggroup):not(.step).dashed > .col:not(:first-child) {
    border: none;
  }
  main[role="contents_inner"] .cols:not(.nofiggroup):not(.step).line > .col:not(:first-child) {
    border: none;
  }
}
main[role="contents_inner"] .cols.nofiggroup {
  columns: 2;
  column-fill: balance;
  column-gap: 1.33rem;
  display: block;
}
@media screen and (max-width: 600px) {
  main[role="contents_inner"] .cols.nofiggroup {
    columns: 1;
  }
}
main[role="contents_inner"] .cols.nofiggroup li {
  display: table;
  margin-bottom: 1.33rem;
}
main[role="contents_inner"] .cols.nofiggroup li,
main[role="contents_inner"] .cols.nofiggroup img,
main[role="contents_inner"] .cols.nofiggroup figure,
main[role="contents_inner"] .cols.nofiggroup .tablewrapper {
  break-inside: avoid;
}
main[role="contents_inner"] .cols.nofiggroup.dashed {
  column-rule: 1px dashed #ccc;
}
main[role="contents_inner"] .cols.nofiggroup.line {
  column-rule: 1px solid #ccc;
}
main[role="contents_inner"] .cols.nofiggroup.col3 {
  columns: 3;
}
main[role="contents_inner"] .cols.nofiggroup.col4 {
  columns: 4;
}
main[role="contents_inner"] .cols.step .col_wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
main[role="contents_inner"] .cols.step .col_wrapper .col {
  flex-shrink: 99;
  flex-grow: 99;
  width: 100%;
  flex-basis: 100%;
  overflow: hidden;
}
main[role="contents_inner"] .cols.step .col_wrapper .col:not(:first-child) {
  padding-left: 1.33rem;
}
main[role="contents_inner"] .troublebody .troubleSolution + .troubleSolution {
  margin-top: 2.66rem;
}
main[role="contents_inner"] .troublebody .troubleSolution .cause {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 0;
  margin-bottom: 1.33rem;
}
main[role="contents_inner"] .troublebody .troubleSolution .cause::before {
  content: "";
  background-image: url("../img/common/icon_question.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0%;
  width: 1.5em;
  height: 1.5em;
  display: inline-block;
  width: 2.5em;
  height: 2.5em;
  flex-shrink: 0;
  display: block;
}
main[role="contents_inner"] .troublebody .troubleSolution .cause .title {
  border: none;
  padding: 0;
  margin: 0;
  background: none;
  font-size: 1.2rem;
}
main[role="contents_inner"] .troublebody .troubleSolution .remedy {
  border-left: 3px solid #b3c1e6;
  padding-left: 1.33rem;
  margin: 0 0 0 1em;
  width: calc(100% - 1em);
}
main[role="contents_inner"] .troublebody .troubleSolution .remedy .cmd {
  font-weight: bold;
  margin-bottom: 1.33rem;
}
@media screen {
  main[role="contents_inner"] .fn_area:not(:empty) {
    margin-top: 2.66rem;
    padding-top: 1.33rem;
  }
}
@media screen and screen {
  main[role="contents_inner"] .fn_area:not(:empty) {
    border-top: 1px solid #ccc;
  }
}
@media screen and print {
  main[role="contents_inner"] .fn_area:not(:empty) {
    border-top: 0.3pt solid #ccc;
  }
}
main[role="contents_inner"] .fn_area:not(:empty) .fn {
  display: table-row;
}
main[role="contents_inner"] .fn_area:not(:empty) .fn .fn_link {
  display: table-cell;
  font-weight: normal;
  white-space: nowrap;
}
main[role="contents_inner"] .fn_area:not(:empty) .fn .fn_link sup {
  vertical-align: baseline;
  font-size: 1em;
}
main[role="contents_inner"] .fn_area:not(:empty) .fn .fn_text {
  display: table-cell;
  padding-left: 0.8em;
  padding-bottom: 0.5em;
}
main[role="contents_inner"] .fn_link {
  color: #6682cd;
  font-weight: bold;
}
main[role="contents_inner"] nav[role="navigation"] .relinfo {
  padding: 1em;
  margin-top: 2.66rem;
}
@media screen {
  main[role="contents_inner"] nav[role="navigation"] .relinfo {
    border: 1px solid #ccc;
  }
}
@media print {
  main[role="contents_inner"] nav[role="navigation"] .relinfo {
    border: 0.3pt solid #ccc;
  }
}
main[role="contents_inner"] nav[role="navigation"] .relinfo .title {
  font-size: 1.2rem;
  font-weight: bold;
}
main[role="contents_inner"] nav[role="navigation"] .relinfo a {
  padding: 0.05em 0.2em 0.05em;
  color: unset;
  display: inline-flex;
  align-items: center;
}
@media screen {
  main[role="contents_inner"] nav[role="navigation"] .relinfo a {
    border-bottom: 1px solid #ccc;
  }
}
@media print {
  main[role="contents_inner"] nav[role="navigation"] .relinfo a {
    border-bottom: 0.3pt solid #ccc;
  }
}
main[role="contents_inner"] nav[role="navigation"] .relinfo a::before {
  content: "";
  background-image: url("../img/common/icon_link.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0%;
  width: 1.5em;
  height: 1.5em;
  flex-shrink: 0;
  width: 1.2em;
  height: 1.2em;
  display: inline-block;
}
main[role="contents_inner"] nav[role="navigation"] .relinfo a:hover {
  background: #d9e0f3;
  color: #263b74;
}
@media screen {
  main[role="contents_inner"] nav[role="navigation"] .relinfo a:hover {
    border-bottom: 1px solid #263b74;
  }
}
@media print {
  main[role="contents_inner"] nav[role="navigation"] .relinfo a:hover {
    border-bottom: 0.3pt solid #263b74;
  }
}
main[role="contents_inner"] .body:empty + nav[role="navigation"] {
  margin: 0;
}
/***************************************************
 * PDF
 ***************************************************/
html,
body {
  font-size: 10pt;
}
.screen {
  display: none !important;
}
main[role="contents_inner"] {
  counter-reset: h1 0;
}
main[role="contents_inner"] .chapter:not(:empty) {
  counter-increment: h1;
  counter-reset: h2;
}
main[role="contents_inner"] .chapter-title-page {
  width: 100%;
  height: 257mm;
  text-align: right;
  display: flex;
  justify-content: flex-end;
}
main[role="contents_inner"] .chapter-title-page .chapter-title {
  font-size: 2.5rem;
  padding-right: 0.5em;
  margin-top: 110.8mm;
}
main[role="contents_inner"] .chapter-title-page .chapter-title::before {
  content: "Chapter " counter(h1);
  margin-right: 0.5em;
  font-size: 50%;
  display: block;
  font-weight: bold;
  color: #263b74;
  margin-bottom: 0.5em;
}
main[role="contents_inner"] .chapter-title-page .chapter-title .chapter-title-text {
  display: block;
}
main[role="contents_inner"] h1.title {
  display: none;
}
main[role="contents_inner"] h1.title::before {
  content: counter(h1);
  margin-right: 0.5em;
  display: inline-block;
}
main[role="contents_inner"] h2 {
  font-size: 2rem;
  counter-increment: h2;
}
main[role="contents_inner"] h2::before {
  content: counter(h1) "." counter(h2);
  margin-right: 0.5em;
  display: inline-block;
}
main[role="contents_inner"] h3 {
  font-size: 1.2rem;
}
main[role="contents_inner"] h3.title {
  font-size: 1.5rem;
}
main[role="contents_inner"] a.pagenum {
  content: "P." target-counter(attr(href url), page);
}
main[role="contents_inner"] .tablewrapper {
  overflow: hidden;
}
main[role="contents_inner"] .tablewrapper table th,
main[role="contents_inner"] .tablewrapper table td {
  padding: 1mm;
}
/***************************************************
 * PDF
 ***************************************************/
.page-box {
  display: flex;
  justify-content: space-between;
}
.page-box.top {
  align-items: flex-start;
}
.page-box.middle {
  align-items: center;
}
.page-box.bottom {
  align-items: flex-end;
}
.page-box .logo img {
  width: 100%;
  height: 100%;
}
.book-cover {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 256mm;
}
.book-cover#cover1::before {
  content: "";
  background: #263b74;
  position: absolute;
  width: 33mm;
  height: 303mm;
  margin-top: -23mm;
  margin-left: -23mm;
}
.book-cover#cover1 .manual-title {
  padding: 10mm 0 10mm 20mm;
}
.book-cover#cover1 .manual-title .manual-title-text {
  font-size: 2.5rem;
}
.book-cover#cover1 .manual-title .subtitle {
  display: block;
  font-size: 60%;
  padding-top: 5mm;
  margin-top: 5mm;
}
@media screen {
  .book-cover#cover1 .manual-title .subtitle {
    border-top: 1px solid #ccc;
  }
}
@media print {
  .book-cover#cover1 .manual-title .subtitle {
    border-top: 0.3pt solid #ccc;
  }
}
.book-cover#cover1 .top {
  flex-shrink: 0;
  flex-grow: 0;
  flex-basis: 15mm;
}
.book-cover#cover1 .top .logo {
  margin-left: auto;
  height: 10mm;
  width: 50mm;
}
.book-cover#cover1 .middle {
  flex-grow: 99;
  justify-content: center;
}
.book-cover#cover1 .bottom {
  flex-shrink: 0;
  flex-grow: 0;
  flex-basis: 15mm;
}
.book-cover#cover3 .manual-title {
  font-size: 1rem;
  text-align: center;
}
.book-cover#cover3 .manual-title .subtitle {
  display: block;
  font-size: 70%;
}
.book-cover#cover3 .bottom {
  flex-direction: column;
  align-items: center;
}
.book-cover#cover3 .bottom > * {
  margin: 0.3em;
}
.book-cover#cover3 .bottom ul.list {
  padding: 5mm 15mm;
}
@media screen {
  .book-cover#cover3 .bottom ul.list {
    border-top: 1px solid #ccc;
  }
}
@media print {
  .book-cover#cover3 .bottom ul.list {
    border-top: 0.3pt solid #ccc;
  }
}
.book-cover#cover3 .bottom ul.list li {
  list-style: disc;
}
.book-cover#cover4 .middle {
  align-items: center;
  justify-content: center;
  flex-grow: 99;
}
.book-cover#cover4 .middle .logo {
  height: 50mm;
  width: 50mm;
}
.book-cover#cover0 {
  align-items: center;
  flex-direction: row;
  height: 10mm;
}
.book-cover#cover0 .manual-title {
  width: 100%;
  display: flex;
  align-items: center;
}
.book-cover#cover0 .manual-title .subtitle {
  display: inline-block;
  font-size: 70%;
  margin-left: 1em;
}
.book-cover#cover0 .logo {
  height: 10mm;
  width: 30mm;
}
.book-cover#cover0 .top {
  padding: 0 5mm;
}
.book-cover#cover0 .middle {
  padding: 0 5mm;
  flex-grow: 99;
  font-size: 1.4rem;
}
.book-cover#cover0 .bottom {
  padding: 0 5mm;
  font-size: 1rem;
}
/***************************************************
 * TOC
 ***************************************************/
main[role="contents_inner"] .toc ul {
  counter-reset: tocLevels 0;
}
main[role="contents_inner"] .toc ul li {
  counter-increment: tocLevels 1;
  line-height: 1.4;
}
main[role="contents_inner"] .toc ul li.top {
  display: none !important;
}
main[role="contents_inner"] .toc ul li.toc-heading-1 {
  margin-bottom: 2em;
  display: flex;
}
main[role="contents_inner"] .toc ul li.toc-heading-1::before {
  content: "Chapter " counters(tocLevels, '.');
  font-size: 1.3em;
  min-width: 6.3em;
  color: #263b74;
  font-weight: bold;
}
main[role="contents_inner"] .toc ul li.toc-heading-1 > .contents {
  padding-left: 1em;
  width: 100%;
}
@media screen {
  main[role="contents_inner"] .toc ul li.toc-heading-1 > .contents {
    border-left: 1px solid #ccc;
  }
}
@media print {
  main[role="contents_inner"] .toc ul li.toc-heading-1 > .contents {
    border-left: 0.3pt solid #ccc;
  }
}
main[role="contents_inner"] .toc ul li.toc-heading-1 > .contents > a {
  font-size: 1.3rem;
  margin-bottom: 0.5em;
}
main[role="contents_inner"] .toc ul li.toc-heading-1 > .contents > a::before {
  content: none;
}
main[role="contents_inner"] .toc ul li.toc-heading-2 {
  font-size: 1rem;
}
main[role="contents_inner"] .toc ul li.toc-heading-2 ul li {
  padding-left: 1.3em;
}
main[role="contents_inner"] .toc ul li a {
  padding: 0 0.2em;
  display: flex;
  justify-content: space-between;
  flex-grow: 0;
  flex-shrink: 0;
}
main[role="contents_inner"] .toc ul li a::before {
  content: counters(tocLevels, '.');
  margin-right: 0.5em;
  flex-grow: 0;
  flex-shrink: 0;
}
main[role="contents_inner"] .toc ul li a::after {
  flex-grow: 99;
}
/***************************************************
 * Side index
 ***************************************************/
.side-index {
  width: 100%;
}
.side-index .side-index-list {
  display: flex;
  flex-direction: column;
  width: 15mm;
  justify-content: start;
  position: absolute;
  max-height: 257mm;
  min-height: 100mm;
}
.side-index .side-index-list.left {
  right: 0;
}
.side-index .side-index-list.left li a {
  padding-left: 3mm;
  border-radius: 0 3mm 3mm 0;
}
.side-index .side-index-list.right {
  left: 0;
}
.side-index .side-index-list.right li a {
  padding-right: 3mm;
  border-radius: 3mm 0 0 3mm;
}
.side-index .side-index-list li {
  flex-grow: 1;
  flex-shrink: 0;
  margin-bottom: 1mm;
  max-height: 20mm;
  min-height: 2.5em;
  display: flex;
}
.side-index .side-index-list li a {
  background: #d9e0f3;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 20mm;
  min-height: 2.5em;
  width: 100%;
}
.side-index .side-index-list li.else a {
  background: rgba(85, 85, 85, 0.1);
}
.side-index .side-index-list li .num {
  font-size: 1.2rem;
  font-weight: bold;
  flex-shrink: 0;
  flex-grow: 0;
  white-space: nowrap;
  width: 2.2em;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.side-index .side-index-list li .txt {
  display: none;
  flex-grow: 99;
}
#blank .content {
  font-weight: bold;
  font-family: "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", "メイリオ", Meiryo, sans-serif;
  color: #ccc;
  font-size: 2rem;
  text-align: center;
  width: 100%;
}
@media screen {
  #blank .content {
    border-bottom: 1px solid #ccc;
  }
}
@media print {
  #blank .content {
    border-bottom: 0.3pt solid #ccc;
  }
}