﻿@charset "utf-8";
@font-face {
  font-family: "dl-shingoB";
  src: prince-lookup("ShinGoPro-Bold");
}
@font-face {
  font-family: "dl-shingoDB";
  src: prince-lookup("ShinGoPro-DeBold");
}
@font-face {
  font-family: "dl-shingoM";
  src: prince-lookup("ShinGoPro-Medium");
}
@font-face {
  font-family: "dl-shingoR";
  src: prince-lookup("ShinGoPro-Regular");
}
@font-face {
  font-family: "dl-shingoL";
  src: prince-lookup("ShinGoPro-Light");
}
@font-face {
  font-family: "dl-shingo";
  font-weight: 900;
  src: prince-lookup("ShinGoPro-Bold");
}
@font-face {
  font-family: "dl-shingo";
  font-weight: 700;
  src: prince-lookup("ShinGoPro-DeBold");
}
@font-face {
  font-family: "dl-shingo";
  font-weight: 600;
  src: prince-lookup("ShinGoPro-Medium");
}
@font-face {
  font-family: "dl-shingo";
  font-weight: 400;
  src: prince-lookup("ShinGoPro-Regular");
}
@font-face {
  font-family: "dl-shingo";
  font-weight: 200;
  src: prince-lookup("ShinGoPro-Light");
}
@keyframes __show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes __hide {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/***************************************************
 * Pdf
 ***************************************************/
@prince-pdf {
  prince-pdf-page-layout: two-page-right;
  prince-pdf-profile: none;
  prince-pdf-output-intent: url("../../icc/JapanColor2001Coated.icc");
  prince-fallback-cmyk-profile: url("../../icc/JapanColor2001Coated.icc");
  prince-image-resolution: 300dpi;
  prince-pdf-color-options: use-true-black;
}
@page {
  prince-pdf-page-colorspace: rgb;
  prince-pdf-page-label: auto;
  prince-pdf-page-mode: auto;
  prince-rotate-body: portrait;
}
img {
  prince-image-magic: ignore-icc-profile;
}
/***************************************************
 * Page
 ***************************************************/
/***************************************************
 * @page
 ***************************************************/
@page {
  margin: 20mm 20mm;
  size: 210mm 297mm;
  color: #333333;
  font-family: "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", "メイリオ", Meiryo, Arial, sans-serif;
  @footnote {
    position: absolute;
    left: -90px;
    width: 60px;
  }
}
@page :left {
  @left-top {
    content: element(side-index-l);
    padding-right: 8mm;
  }
  @bottom-right {
    border-top: 0.3pt solid #333333;
    content: string(title-h1) " " string(title-delimeter) " " string(title-h2);
    font-size: 0.8rem;
    vertical-align: top;
    padding-top: 3mm;
    margin-top: 3mm;
  }
  @bottom-left {
    border-top: 0.3pt solid #333333;
    content: counter(page);
    font-size: 0.8rem;
    vertical-align: top;
    padding-top: 3mm;
    margin-top: 3mm;
  }
}
@page :right {
  @right-top {
    content: element(side-index-r);
    padding-left: 8mm;
  }
  @bottom-left {
    border-top: 0.3pt solid #333333;
    content: string(title-h1) " " string(title-delimeter) " " string(title-h2);
    font-size: 0.8rem;
    vertical-align: top;
    padding-top: 3mm;
    margin-top: 3mm;
  }
  @bottom-right {
    border-top: 0.3pt solid #333333;
    content: counter(page);
    font-size: 0.8rem;
    vertical-align: top;
    padding-top: 3mm;
    margin-top: 3mm;
  }
}
/* covers */
@page COVER {
  @right-top {
    content: none;
  }
  @left-top {
    content: none;
  }
  @right-top {
    content: none;
  }
  @left-top {
    content: none;
  }
  @bottom-left {
    border: none;
    color: transparent;
  }
  @bottom-right {
    border: none;
    color: transparent;
  }
}
@page COVER1 {
  @right-top {
    content: none;
  }
  @left-top {
    content: none;
  }
  @right-top {
    content: none;
  }
  @left-top {
    content: none;
  }
  @bottom-left {
    border: none;
    color: transparent;
  }
  @bottom-right {
    border: none;
    color: transparent;
  }
}
@page COVER2 {
  @right-top {
    content: none;
  }
  @left-top {
    content: none;
  }
  @right-top {
    content: none;
  }
  @left-top {
    content: none;
  }
  @bottom-left {
    border: none;
    color: transparent;
  }
  @bottom-right {
    border: none;
    color: transparent;
  }
}
@page COVER3 {
  @right-top {
    content: none;
  }
  @left-top {
    content: none;
  }
  @right-top {
    content: none;
  }
  @left-top {
    content: none;
  }
  @bottom-left {
    border: none;
    color: transparent;
  }
  @bottom-right {
    border: none;
    color: transparent;
  }
}
@page COVER4 {
  @right-top {
    content: none;
  }
  @left-top {
    content: none;
  }
  @right-top {
    content: none;
  }
  @left-top {
    content: none;
  }
  @bottom-left {
    border: none;
    color: transparent;
  }
  @bottom-right {
    border: none;
    color: transparent;
  }
}
@page COVER0 {
  @right-top {
    content: none;
  }
  @left-top {
    content: none;
  }
  @right-top {
    content: none;
  }
  @left-top {
    content: none;
  }
  @bottom-left {
    border: none;
    color: transparent;
  }
  @bottom-right {
    border: none;
    color: transparent;
  }
  size: 10mm 297mm;
  margin: 0;
  prince-rotate-body: landscape;
}
@page TOC {
  @right-top {
    content: none;
  }
  @left-top {
    content: none;
  }
  @right-top {
    content: none;
  }
  @left-top {
    content: none;
  }
  @bottom-left {
    border: none;
    color: transparent;
  }
  @bottom-right {
    border: none;
    color: transparent;
  }
}
@page TOC-CHAPTER {
  @right-top {
    content: none;
  }
  @left-top {
    content: none;
  }
  @right-top {
    content: none;
  }
  @left-top {
    content: none;
  }
  @bottom-left {
    border: none;
    color: transparent;
  }
  @bottom-right {
    border: none;
    color: transparent;
  }
}
@page CHAPTER-TITLE {
  @right-top {
    content: none;
  }
  @left-top {
    content: none;
  }
  @right-top {
    content: none;
  }
  @left-top {
    content: none;
  }
  @bottom-left {
    border: none;
    color: transparent;
  }
  @bottom-right {
    border: none;
    color: transparent;
  }
}
@page INDEX {
  @right-top {
    content: none;
  }
  @left-top {
    content: none;
  }
  @right-top {
    content: none;
  }
  @left-top {
    content: none;
  }
  @bottom-left {
    border: none;
    color: transparent;
  }
  @bottom-right {
    border: none;
    color: transparent;
  }
}
@page LANDSCAPE {
  prince-rotate-body: landscape;
  prince-shrink-to-fit: auto;
}
@page A3 {
  size: 420mm 297mm;
  prince-rotate-body: landscape;
}
.book-cover {
  page: COVER;
}
.book-cover#cover1 {
  page: COVER1;
}
.book-cover#cover2 {
  page: COVER2;
}
.book-cover#cover3 {
  page: COVER3;
}
.book-cover#cover4 {
  page: COVER4;
}
.book-cover#cover0 {
  page: COVER0;
}
#toc {
  page: TOC;
}
.fn_area {
  page: INDEX;
}
#contents {
  counter-reset: page 1;
}
.tablewrapper.land {
  page: LANDSCAPE;
}
/***************************************************
 * PageBreak
 ***************************************************/
.book-cover#cover3 {
  page-break-before: right;
}
#toc {
  page-break-before: right;
}
.chapter:not(:empty) {
  page-break-before: right;
}
article.topic:not(:first-of-type) {
  page-break-before: always;
}
.chapter > .body:not(:empty) {
  page-break-after: always;
}
.fn_area {
  page-break-before: always;
}
main[role="contents_inner"] .page_break_before {
  page-break-before: always !important;
}
main[role="contents_inner"] .page_break_after {
  page-break-after: always !important;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  page-break-inside: avoid;
}
.title + *:not(.body) {
  page-break-before: avoid;
}
.note_title {
  page-break-after: avoid;
}
table caption {
  page-break-after: avoid;
}
table tr:nth-of-type(1),
table tr:nth-of-type(2),
table tr:nth-last-of-type(2),
table tr:nth-last-of-type(1) {
  page-break-after: avoid;
  page-break-inside: avoid;
  page-break-before: avoid;
}
table th,
table td {
  page-break-inside: avoid;
}
li.step {
  page-break-inside: avoid;
}
li.step .cmd + .info {
  page-break-before: avoid;
}
p {
  orphans: 3;
  widows: 3;
}
/***************************************************
 * Index
 ***************************************************/
#index-chapter a::after {
  content: target-counter(attr(href), page);
}
.side-index.left {
  position: running(side-index-l);
}
.side-index.right {
  position: running(side-index-r);
}
/***************************************************
 * Marks
 ***************************************************/
@page {
}
#overlay {
  page: COVER1;
  position: running(overlay);
}
/***************************************************
 * Blank
 ***************************************************/
@page :blank {
  @prince-overlay {
    content: element(memo);
    vertical-align: top;
  }
}
#blank {
  page: COVER1;
  position: running(memo);
}
/***************************************************
 * CoverCommon
 ***************************************************/
/***************************************************
 * Cover1
 ***************************************************/
/***************************************************
 * Cover2
 ***************************************************/
/***************************************************
 * Cover3
 ***************************************************/
/***************************************************
 * Cover4
 ***************************************************/
/***************************************************
 * Cover0
 ***************************************************/
/***************************************************
 * Toc
 ***************************************************/
.toc .toc-heading-1 a::after {
  content: leader(".") target-counter(attr(href), page);
}
.toc .toc-heading-2 a::after {
  content: leader(".") target-counter(attr(href), page);
}
/***************************************************
 * Common
 ***************************************************/
*[title] {
  prince-tooltip: attr(title);
}
* {
  box-sizing: border-box;
}
img {
  max-width: 100%;
  max-height: 100%;
}
/***************************************************
 * Contents
 ***************************************************/
.chapter .chapter-title-text {
  string-set: title-h1 content();
}
.chapter .chapter-title-text::before {
  string-set: title-delimeter " ";
}
.chapter .chapter-title-text::after {
  string-set: title-h2 " ";
}
.chapter h1 {
  string-set: title-h1 content();
}
.chapter h1::before {
  string-set: title-delimeter " ";
}
.chapter h1::after {
  string-set: title-h2 " ";
}
.chapter h2 {
  string-set: title-h2 content();
}
.chapter h2::before {
  string-set: title-delimeter "-";
}