/***************************************************
 * Page
 ***************************************************/

@page {
  margin: 20mm 15mm;
  size: A4;
}

@page COVER1 {
  @bottom-left {
    border-top: none;
    color: transparent;
  }
  @bottom-right {
    border-top: none;
    color: transparent;
  }
  @top-right {
    color: transparent;
  }
}

@page TOC {
  @bottom-left {
    border-top: none;
    color: transparent;
  }
  @bottom-right {
    border-top: none;
    color: transparent;
  }
  @top-right {
    color: transparent;
  }
}

@page:right {
  @bottom-left {
    margin: 10pt 0 30pt 0;
    border-top: .25pt solid #666;
    font-size: 9pt;
    color: #333;
    content: string(book-chapter);
  }
  @bottom-right {
    margin: 10pt 0 30pt 0;
    border-top: .25pt solid #666;
    content: counter(page);
    font-size: 9pt;
  }
}

@page:left {
  @bottom-right {
    margin: 10pt 0 30pt 0;
    border-top: .25pt solid #666;
    content: string(sub-chapter);
    font-size: 9pt;
    color: #333;
  }
  @bottom-left {
    margin: 10pt 0 30pt 0;
    border-top: .25pt solid #666;
    content: counter(page);
    font-size: 9pt;
  }
}

/* --------------------------------------------------------
book-title
-------------------------------------------------------- */
div.book-title {
  page: COVER1;
  page-break-after: always;
}

div.book-title h1.title-page {
  border-bottom: none;
  position: absolute;
  text-align: center;
  top: 40%;
  width: 100%;
  font-size: 200%;
  string-set: book-title self;
}


@media screen {
  div.toc a {
    color: gray;
  }
}

@media print {
  a {
    color: black;
    text-decoration: none;
  }
  div.toc a::after {
   content: leader(".") target-counter(attr(href), page);
  }
  #index-chapter a::after {
    content: target-counter(attr(href), page);
  }
}

div.toc {
  page: TOC;
  page-break-after: always;
}

div.toc li.toc-heading-1 {
  font-weight: bold;
  font-size: 125%;
  padding-top: 10pt;
}

div.toc li.toc-heading-2 {
  font-weight: normal;
  padding-bottom: 0pt;
}

div.toc > h2 {
  page-break-before: avoid;
}

div.toc div {
  margin-bottom: 1.5pt;
}

div.toc ul,
#index-chapter ul {
  list-style-type: none;
}

h1 {
  font-size: 300%;
  padding-bottom: 15pt;
  page-break-before: always;
  string-set: book-chapter content();
}

h2 {
  string-set: sub-chapter content();
}

div.index h3 {
  font-weight: bold;
}

table caption {
  page-break-after: avoid;
}

img{
    max-width: 100%;
    max-height: 100%;
}