﻿@charset "utf-8";
@keyframes __show_pt {
  0% {
    opacity: 0;
    margin-right: -50%;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    margin-right: 0;
  }
}
@keyframes __hide_pt {
  0% {
    opacity: 1;
    margin-right: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    margin-right: -50%;
  }
}
/***************************************************
 * Page
 ***************************************************/
@prince-pdf {
  prince-pdf-page-layout: two-page-right;
}
/***************************************************
 * @page
 ***************************************************/
@page {
  margin: 20mm 20mm;
  size: 210mm 297mm;
  font-family: "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", "メイリオ", Meiryo, sans-serif;
  color: #555;
  font-size: 15px;
  size: 240mm 327mm;
  margin: 35mm;
  background: url("../../img/pdf/registration-left.svg") no-repeat left top, url("../../img/pdf/registration-center.svg") no-repeat center top, url("../../img/pdf/registration-right.svg") no-repeat right top;
  background-size: 240mm 327mm;
  width: 240mm;
  height: 327mm;
  @footnote {
    position: absolute;
    left: -90px;
    width: 60px;
  }
}
@page :left {
  @left-top {
    content: element(side-index-l);
    padding-right: 8mm;
  }
  @bottom-right {
    border-top: 0.3pt solid #555;
    content: string(title-h1) " " string(title-delimeter) " " string(title-h2);
    font-size: 0.8rem;
    vertical-align: top;
    padding-top: 3mm;
  }
  @bottom-left {
    border-top: 0.3pt solid #555;
    content: counter(page);
    font-size: 0.8rem;
    vertical-align: top;
    padding-top: 3mm;
  }
}
@page :right {
  @right-top {
    content: element(side-index-r);
    padding-left: 8mm;
  }
  @bottom-left {
    border-top: 0.3pt solid #555;
    content: string(title-h1) " " string(title-delimeter) " " string(title-h2);
    font-size: 0.8rem;
    vertical-align: top;
    padding-top: 3mm;
  }
  @bottom-right {
    border-top: 0.3pt solid #555;
    content: counter(page);
    font-size: 0.8rem;
    vertical-align: top;
    padding-top: 3mm;
  }
}
/* covers */
@page COVER {
  @right-top {
    content: none;
  }
  @left-top {
    content: none;
  }
  @right-top {
    content: none;
  }
  @left-top {
    content: none;
  }
  @bottom-left {
    border: none;
    color: transparent;
  }
  @bottom-right {
    border: none;
    color: transparent;
  }
}
@page COVER1 {
  @right-top {
    content: none;
  }
  @left-top {
    content: none;
  }
  @right-top {
    content: none;
  }
  @left-top {
    content: none;
  }
  @bottom-left {
    border: none;
    color: transparent;
  }
  @bottom-right {
    border: none;
    color: transparent;
  }
}
@page COVER2 {
  @right-top {
    content: none;
  }
  @left-top {
    content: none;
  }
  @right-top {
    content: none;
  }
  @left-top {
    content: none;
  }
  @bottom-left {
    border: none;
    color: transparent;
  }
  @bottom-right {
    border: none;
    color: transparent;
  }
}
@page COVER3 {
  @right-top {
    content: none;
  }
  @left-top {
    content: none;
  }
  @right-top {
    content: none;
  }
  @left-top {
    content: none;
  }
  @bottom-left {
    border: none;
    color: transparent;
  }
  @bottom-right {
    border: none;
    color: transparent;
  }
}
@page COVER4 {
  @right-top {
    content: none;
  }
  @left-top {
    content: none;
  }
  @right-top {
    content: none;
  }
  @left-top {
    content: none;
  }
  @bottom-left {
    border: none;
    color: transparent;
  }
  @bottom-right {
    border: none;
    color: transparent;
  }
}
@page COVER0 {
  @right-top {
    content: none;
  }
  @left-top {
    content: none;
  }
  @right-top {
    content: none;
  }
  @left-top {
    content: none;
  }
  @bottom-left {
    border: none;
    color: transparent;
  }
  @bottom-right {
    border: none;
    color: transparent;
  }
  size: 40mm 327mm;
  margin: 15mm;
  prince-rotate-body: landscape;
}
@page TOC {
  @right-top {
    content: none;
  }
  @left-top {
    content: none;
  }
  @right-top {
    content: none;
  }
  @left-top {
    content: none;
  }
  @bottom-left {
    border: none;
    color: transparent;
  }
  @bottom-right {
    border: none;
    color: transparent;
  }
}
@page TOC-CHAPTER {
  @right-top {
    content: none;
  }
  @left-top {
    content: none;
  }
  @right-top {
    content: none;
  }
  @left-top {
    content: none;
  }
  @bottom-left {
    border: none;
    color: transparent;
  }
  @bottom-right {
    border: none;
    color: transparent;
  }
}
@page CHAPTER-TITLE {
  @right-top {
    content: none;
  }
  @left-top {
    content: none;
  }
  @right-top {
    content: none;
  }
  @left-top {
    content: none;
  }
  @bottom-left {
    border: none;
    color: transparent;
  }
  @bottom-right {
    border: none;
    color: transparent;
  }
}
@page INDEX {
  @right-top {
    content: none;
  }
  @left-top {
    content: none;
  }
  @right-top {
    content: none;
  }
  @left-top {
    content: none;
  }
  @bottom-left {
    border: none;
    color: transparent;
  }
  @bottom-right {
    border: none;
    color: transparent;
  }
}
.book-cover {
  page: COVER;
}
.book-cover#cover1 {
  page: COVER1;
}
.book-cover#cover2 {
  page: COVER2;
}
.book-cover#cover3 {
  page: COVER3;
}
.book-cover#cover4 {
  page: COVER4;
}
.book-cover#cover0 {
  page: COVER0;
}
#toc {
  page: TOC;
}
.fn_area {
  page: INDEX;
}
#contents {
  counter-reset: page 1;
}
/***************************************************
 * PageBreak
 ***************************************************/
.book-cover#cover3 {
  page-break-before: right;
}
.toc {
  page-break-before: right;
}
.chapter:not(:empty) {
  page-break-before: right;
}
.topic:not(:first-of-type) {
  page-break-before: always;
}
.fn_area {
  page-break-before: always;
}
.page_break_before {
  page-break-before: always;
}
.page_break_after {
  page-break-after: always;
}
.title + * {
  page-break-before: avoid;
}
.note_title {
  page-break-after: avoid;
}
table caption {
  page-break-after: avoid;
}
table tr:nth-of-type(1),
table tr:nth-of-type(2),
table tr:nth-last-of-type(2),
table tr:nth-last-of-type(1) {
  page-break-after: avoid;
  page-break-inside: avoid;
  page-break-before: avoid;
}
table th,
table td {
  page-break-inside: avoid;
}
li.step {
  page-break-inside: avoid;
}
/***************************************************
 * Index
 ***************************************************/
#index-chapter a::after {
  content: target-counter(attr(href), page);
}
.side-index.left {
  position: running(side-index-l);
}
.side-index.right {
  position: running(side-index-r);
}
/***************************************************
 * Marks
 ***************************************************/
@page {
  size: 240mm 327mm;
  margin: 35mm;
  background: url("../../img/pdf/registration-left.svg") no-repeat left top, url("../../img/pdf/registration-center.svg") no-repeat center top, url("../../img/pdf/registration-right.svg") no-repeat right top;
  background-size: 240mm 327mm;
  width: 240mm;
  height: 327mm;
}
#overlay {
  page: COVER1;
  position: running(overlay);
}
/***************************************************
 * Blank
 ***************************************************/
@page :blank {
  @prince-overlay {
    content: element(memo);
    vertical-align: top;
  }
}
#blank {
  page: COVER1;
  position: running(memo);
}
/***************************************************
 * CoverCommon
 ***************************************************/
/***************************************************
 * Cover1
 ***************************************************/
/***************************************************
 * Cover2
 ***************************************************/
/***************************************************
 * Cover3
 ***************************************************/
/***************************************************
 * Cover4
 ***************************************************/
/***************************************************
 * Cover0
 ***************************************************/
/***************************************************
 * Toc
 ***************************************************/
.toc .toc-heading-1 a::after {
  content: leader(".") target-counter(attr(href), page);
}
.toc .toc-heading-2 a::after {
  content: leader(".") target-counter(attr(href), page);
}
/***************************************************
 * Common
 ***************************************************/
*[title] {
  prince-tooltip: attr(title);
}
* {
  box-sizing: border-box;
}
img {
  max-width: 100%;
  max-height: 100%;
}
/***************************************************
 * Contents
 ***************************************************/
.chapter .chapter-title-text {
  string-set: title-h1 content();
}
.chapter .chapter-title-text::before {
  string-set: title-delimeter " ";
}
.chapter .chapter-title-text::after {
  string-set: title-h2 " ";
}
.chapter h1 {
  string-set: title-h1 content();
}
.chapter h1::before {
  string-set: title-delimeter " ";
}
.chapter h1::after {
  string-set: title-h2 " ";
}
.chapter h2 {
  string-set: title-h2 content();
}
.chapter h2::before {
  string-set: title-delimeter "-";
}