﻿/***************************************************
 * Pdf
 ***************************************************/

@profile: "PDF/X-1a:2001";
//* @profile: "PDF/X-4";
@path2icc: "@{pathf-icc}/ISOcoated_v2_eci.icc";
@path2icc: "@{pathf-icc}/USWebCoatedSWOP.icc";
@path2icc: "@{pathf-icc}/JapanColor2001Coated.icc";

// @prince-pdf
@prince-pdf

{
    prince-pdf-page-layout: two-page-right;
    prince-pdf-profile: if((@is-cmyk),@profile, none);
    prince-pdf-output-intent: url(@path2icc);
    prince-fallback-cmyk-profile: url(@path2icc);
    prince-image-resolution: 300dpi;
    prince-pdf-color-options: use-true-black;
}

@page {
    prince-pdf-page-colorspace: @colorspace;
    prince-pdf-page-label: auto;
    prince-pdf-page-mode: auto;
    prince-rotate-body: portrait;
}

img {
    prince-image-magic: ignore-icc-profile;
}

