﻿@import "../_variables";

/***************************************************
 * Page
 ***************************************************/

.__no-index() {

    @right-top

{
    content: none;
}

@left-top

{
    content: none;
}
}
.__no-margin-object() {

    @right-top

{
    content: none;
}

@left-top

{
    content: none;
}
@bottom-left
{
    border: none;
    color: @color-trans;
}
@bottom-right
{
    border: none;
    color: @color-trans;
}
}

/***************************************************
 * @page
 ***************************************************/
@page {
    margin: @page-margins;
    size: @page-size;
    color: @color-default;
    font-family: @font-main;
    .__page-registration();
    //.__margin_backcolor();
    @footnote {
        position: absolute;
        left: -90px;
        width: 60px;
    }
}

@page:left {

    @left-top {
        content: element(side-index-l);
        padding-right: 8mm;
    }

    @bottom-right {
        border-top: @page-border;
        content: string(@title-h1) " " string(@title-delimeter) " " string(@title-h2);
        font-size: 0.8rem;
        vertical-align: top;
        padding-top: 3mm;
        margin-top: 3mm;
    }

    @bottom-left {
        border-top: @page-border;
        content: counter(page);
        font-size: 0.8rem;
        vertical-align: top;
        padding-top: 3mm;
        margin-top: 3mm;
    }
}
@page:right {

    @right-top {
        content: element(side-index-r);
        padding-left: 8mm;
    }

    @bottom-left {
        border-top: @page-border;
        content: string(@title-h1) " " string(@title-delimeter) " " string(@title-h2);
        font-size: 0.8rem;
        vertical-align: top;
        padding-top: 3mm;
        margin-top: 3mm;
    }

    @bottom-right {
        border-top: @page-border;
        content: counter(page);
        font-size: 0.8rem;
        vertical-align: top;
        padding-top: 3mm;
        margin-top: 3mm;
    }
}


/* covers */

@page COVER {
    .__no-index();
    .__no-margin-object;
}
@page COVER1 {
    .__no-index();
    .__no-margin-object;
}
@page COVER2 {
    .__no-index();
    .__no-margin-object;
}
@page COVER3 {
    .__no-index();
    .__no-margin-object;
}
@page COVER4 {
    .__no-index();
    .__no-margin-object;
}
@page COVER0 {
    .__no-index();
    .__no-margin-object;
    .__page-registration-cover0();
    prince-rotate-body: landscape;
}
@page TOC {
    .__no-index();
    .__no-margin-object;
}
@page TOC-CHAPTER {
    .__no-index();
    .__no-margin-object;
}
@page CHAPTER-TITLE {
    .__no-index();
    .__no-margin-object;
}
@page INDEX {
    .__no-index();
    .__no-margin-object;
}
@page LANDSCAPE {
    prince-rotate-body: landscape;
    prince-shrink-to-fit: auto;
}

.book-cover {
    page: COVER;

    &#cover1 {
        page: COVER1;
    }

    &#cover2 {
        page: COVER2;
    }

    &#cover3 {
        page: COVER3;
    }

    &#cover4 {
        page: COVER4;
    }

    &#cover0 {
        page: COVER0;
    }
}

#toc {
    page: TOC;
}
.fn_area {
    page: INDEX;
}

#contents {
    counter-reset: page 1;
}

.tablewrapper.land {
    page: LANDSCAPE;
}
/***************************************************
 * PageBreak
 ***************************************************/

// break

.book-cover {
    &#cover3 {
        page-break-before: right;
    }
}
.toc {
    page-break-before: right;
}

.chapter:not(:empty) {
    page-break-before: right;
}

//* .chapter-title-page {
//*     page-break-before: right;
//* }

.topic:not(:first-of-type) {
    page-break-before: always;
}
.fn_area {
    page-break-before: always;
}

.page_break_before {
    page-break-before: always;
}
.page_break_after {
    page-break-after: always;
}

// avoid
h1,h2,h3,h4,h5,h6 {
    page-break-inside: avoid;
}
.title + * {
    page-break-before: avoid;
}
.note_title {
    page-break-after: avoid;
}
table {
    caption {
        page-break-after: avoid;
    }

    tr {
        &:nth-of-type(1),
        &:nth-of-type(2),
        &:nth-last-of-type(2),
        &:nth-last-of-type(1) {
            page-break-after: avoid;
            page-break-inside: avoid;
            page-break-before: avoid;
        }
    }

    th, td {
        page-break-inside: avoid;
    }
}
li.step {
    page-break-inside: avoid;

    .cmd + .info {
        page-break-before: avoid;
    }
}

// orphans/widows
p {
    orphans: 2;
    widows: 2;
}

/***************************************************
 * Index
 ***************************************************/
#index-chapter a::after {
    content: target-counter(attr(href), page);
}

.side-index {

    &.left {
        position: running(side-index-l);
    }

    &.right {
        position: running(side-index-r);
    }
}

/***************************************************
 * Marks
 ***************************************************/
@page {
    //* marks: crop cross;
    //* bleed: @page-bleed;
    //* prince-bleed: @page-bleed;
    .__page-registration();
}

#overlay {
    page: COVER1;
    position: running(overlay);
}
/***************************************************
 * Blank
 ***************************************************/
@page:blank {


    @bottom-center {
    }

    @prince-overlay {
        content: element(memo);
        vertical-align: top;
    }
}

#blank {
    page: COVER1;
    position: running(memo);
}
