﻿@import "../_variables";

/***************************************************
 * Toc
 ***************************************************/
.toc {

    .toc-heading-1 {
        a {

            &::after {
                content: leader(".") target-counter(attr(href), page);
            }
        }
    }


    .toc-heading-2 {
        a {

            &::after {
                content: leader(".") target-counter(attr(href), page);
            }
        }
    }
}