﻿@import "../_variables";


/***************************************************
 * CoverCommon
 ***************************************************/
.book-cover {
}

/***************************************************
 * Cover1
 ***************************************************/
#cover1 {
}

/***************************************************
 * Cover2
 ***************************************************/
#cover2 {
}
/***************************************************
 * Cover3
 ***************************************************/
#cover3 {

}
/***************************************************
 * Cover4
 ***************************************************/
#cover4 {
}
/***************************************************
 * Cover0
 ***************************************************/
#cover0 {

}



.chapter-title-page {
}
