﻿.__;
// html
.__ when (@__format = html) {
    // fonts...
}
// pdf
.__ when (@__format = pdf) {
    // 新ゴ weight別
    @font-face {
        font-family: "dl-shingoB";
        src: prince-lookup("ShinGoPro-Bold");
    }

    @font-face {
        font-family: "dl-shingoDB";
        src: prince-lookup("ShinGoPro-DeBold");
    }

    @font-face {
        font-family: "dl-shingoM";
        src: prince-lookup("ShinGoPro-Medium");
    }

    @font-face {
        font-family: "dl-shingoR";
        src: prince-lookup("ShinGoPro-Regular");
    }

    @font-face {
        font-family: "dl-shingoL";
        src: prince-lookup("ShinGoPro-Light");
    }
    // 新ゴ font-weight指定
    @font-face {
        font-family: "dl-shingo";
        font-weight: 900;
        src: prince-lookup("ShinGoPro-Bold");
    }

    @font-face {
        font-family: "dl-shingo";
        font-weight: 700;
        src: prince-lookup("ShinGoPro-DeBold");
    }

    @font-face {
        font-family: "dl-shingo";
        font-weight: 600;
        src: prince-lookup("ShinGoPro-Medium");
    }

    @font-face {
        font-family: "dl-shingo";
        font-weight: 400;
        src: prince-lookup("ShinGoPro-Regular");
    }

    @font-face {
        font-family: "dl-shingo";
        font-weight: 200;
        src: prince-lookup("ShinGoPro-Light");
    }
}