﻿#func {
    .__greyscale(@k: 0,@f: 100%) {
        @keycmyk: #func.__unit_per(@k)[];
        @keyrgb: #func.__unit_per(@k)[];
        @cmyk: cmyk(0%,0%,0%,@keycmyk,@f);
        @rgb: darken(rgb(255,255,255),@keyrgb);
        content: @@colorspace;
    }
    // -100%～100％変換
    .__unit_per(@input) {
        @perflg: ispercentage(@input);
        @pernum: if((@input>1),@input / 100, @input);
        content: max(-100%,min(100%,if((@perflg),@input,percentage(@pernum))));
    }
    // -1.0～1.0変換
    .__unit_num(@input) {
        @perflg: ispercentage(@input);
        content: max(-1,min(1,if((@perflg),unit(@input) / 100, @input)));
    }
    // CMYK値からKを抽出
    .__color_cmyk2k(@cmyk) {
        // グレースケールCMYKのみ
        @aflg: if((replace("@{cmyk}","cmyk\(|\)|([\.\d%]+ *, *){3}([\.\d%]+ *)","","gim") = ""),false,true);
        @cmykstr: if( (@aflg), replace("@{cmyk}","cmyk\(|(, *[\.\d%]+ *)\)|([\.\d%]+ *, *){3}| ","","gim"), replace("@{cmyk}","cmyk\(|\)|([\.\d%]+ *, *){3}| ","","gim") );
        @k: e(@cmykstr);
        content: @k;
    }
    // 0% -  100%: @colorを100%として薄くスケール
    // 0% - -100%: @colorを-100%として濃くスケール
    // @colorがRGB
    .__color-scale(@color,@scale: 100%) when (iscolor(@color)) {
        @level: 100% - #func.__unit_per(abs(@scale))[];
        content: if( (@scale >= 0),lighten(@color,@level), darken(@color,@level) );
    }
    // @colorがCMYK
    .__color-scale(@color,@scale: 100%) when not (iscolor(@color)) {
        @level: 100% - #func.__unit_per(abs(@scale))[];
        content: #func.__greyscale(#func.__color_cmyk2k(@color)[] - @level)[];
    }
    // random color
    .__color-random(@fade: 100%) {
        @random-num: `(Math.random() * 0xFFFFFF<<0).toString(16)`;
        @color-hex: e(@random-num);
        content: ~"#@{color-hex}";
    }
    // transparent
    .__color-trans(@color,@fade: 100%) when (iscolor(@color)) {
        content: fade(@color,#func.__unit_per(@fade)[]);
    }
    .__color-trans(@color,@fade: 100%) when not (iscolor(@color)) {
        // PDF/X-1は透明不可
        //* content: #func.__greyscale(
        //*     #func.__color_cmyk2k(@color)[], @fade
        //* )[];
        content: #func.__color-scale(@color, @fade)[];
    }
    // variation
    .__greyscale_var(@n) when (@n =< 100) {
        @var: ~".color-grey@{n}";
        @per: percentage(@n / 100);

        @{var} {
            background-color: #func.__greyscale(@per)[];
        }

        #func.__greyscale_var(@n + 5);
    }
}