﻿@import "_variables";

/***************************************************
 * Contents
 ***************************************************/


html, body {
    width: 100%;
    height: 100%;
    font-family: @font-main;
    font-size: @font-size;
    color: @color-default;
    line-height: @line-height;
    position: relative;

    &[lang*="en"],
    &[lang*="en-US"] {
        font-family: @font-main;
    }
}

main[role="contents_inner"] {
    // style-set
    //------------------------------------------------------
    .__link() {
        padding: 0.05em 0.2em 0.05em;
        color: unset;
        .__border(bottom);
        display: inline-flex;
        align-items: center;

        &::before {
            .__icon("link");
            width: 1.2em;
            height: 1.2em;
            display: inline-block;
        }

        &:hover {
            .__border(bottom,@color:@color-base);
            background: @color-base-on;
            color: @color-base;
        }
    }

    section.section {
        margin: @margin-default 0 @margin-spread;
    }
    // Common Margin style
    //------------------------------------------------------
    h1, h2 {
        margin: @margin-default 0;
    }

    h3, h4 {
        margin: @margin-default 0 @margin-shrink;

        &.title {
            margin: @margin-spread 0 @margin-default;
        }
    }

    h5, h6 {
        margin: @margin-shrink 0;
    }

    p {
        &:first-child {
            margin: 0 0 @margin-vshrink;
        }

        &:not(:first-child) {
            margin: @margin-vshrink 0;
        }

        & + p {
            margin: @margin-vshrink 0;
        }
    }

    figure.fig,
    .cols,
    .note,
    ul.ul,
    ol.ol,
    ol.steps {
        margin: @margin-default 0;

        &:first-child {
            margin-top: 0;
        }

        &:last-child {
            margin-bottom: 0;
        }
        ol.ol {
            margin-top: 0.5em;
        }
    }


    p + .cols,
    p + ol.ol,
    p + ul.ul {
        //margin-top: @margin-shrink;
    }

    table p:last-child {
        margin-bottom: 0;
    }

    .cols,
    .note_contents,
    ul.ul > li {
        &:not(:first-child) {
            margin-top: 0.2em;
            
            & > .li_before {
                padding-top: @margin-vshrink;
            }
            & > .li_contents {
                padding-top: @margin-vshrink;
            }
        }

        & > *:first-child {
            margin-top: 0;
        }

        & > *:last-child {
            margin-bottom: 0;
        }
    }
    .li_contents {
        & > *:first-child {
            margin-top: 0 !important;
        }

        & > *:last-child {
            margin-bottom: 0 !important;;
        }
    }
    // Title style
    //------------------------------------------------------
    h1, h2, h3, h4, h5, h6 {
        font-weight: bold;
    }

    h1 {
        font-size: 2rem;
        margin: @margin-default 0 1em;

        @media screen and (max-width:@break3) {
            font-size: 1.5rem;
        }
    }

    h2 {
        font-size: 1.5rem;
        margin: @margin-default 0;
        padding-left: 0.4em;
        .__border(left;@width:5px;@color:@color-base);

        @media screen and (max-width:@break3) {
            font-size: 1.25rem;
        }
    }


    h3 {
        background: @color-light1;
        background: @color-base-on;
        font-size: 1.1rem;
        padding: 0.2em 0.4em;

        &.title {
            font-size: 1.3rem;
        }
    }

    h4 {
        font-size: 1.1rem;
        .__border(bottom);
        display: inline-block;
    }

    em.i {
        font-family: @font-sub;
        font-weight: 500;
    }
    // Table style
    //------------------------------------------------------
    .tablewrapper {
        margin: @margin-shrink 0;
        width: 100%;
        overflow: auto;

        table {
            border-collapse: collapse;
            table-layout: fixed;
            max-width: 100%;
            
            &[frame="border"] {
                .__border();
            }
            &[frame="below"] {
                .__border(bottom);
            }
            &[frame="void"] {
            }
            &[frame="vsides"] {
                .__border(left right);
            }
            &[frame="above"] {
                .__border(top);
            }
            &[frame="hsides"] {
                .__border(top bottom);
            }
            &[rules="all"] {
                 th, td {
                    .__border();
                 }
            }
            &[rules="cols"] {
                 th, td {
                    .__border(left right);
                 }
            }
            &[rules="rows"] {
                 th, td {
                    .__border(top bottom);
                 }
            }

            th, td {
                //*********** .__border();
                vertical-align: middle;
                padding: 7px;

                @media screen and (max-width:@break3) {
                    padding: 5px;
                }

                &.bgmiddle {
                    background: @color-default-40;
                    color: @color-back;
                }

                &.bgdark {
                    background: @color-default;
                    color: @color-back;
                }
            }

            th {
                background: @color-light2;
                vertical-align: middle;
                text-align: center;
            }

            td {
                text-align: left;
            }

            .no_border {
                .__border(@none:none) !important;
            }
        }
    }
    // Definition style
    //------------------------------------------------------
    .dl {
        display: table;
        border-collapse: separate;
        border-spacing: 0 0.2em;

        dl {
            display: table-row;


            dt {
                display: table-cell;
                flex-shrink: 0;
                padding-right: 0.5em;
                white-space: nowrap;
            }

            dd {
                display: table-cell;
            }

            &.mark {
                dt::after {
                    content: attr(data-mark);
                }
            }
        }
    }
    // Image style
    //------------------------------------------------------
    .imageleft {
        text-align: left;
    }

    .imageright {
        text-align: right;
    }

    .imagecenter {
        text-align: center;
    }

    .imagemap {
        text-align: center;
    }

    img {
        max-width: 100%;
        vertical-align: top;

        &.inline {
            vertical-align: middle;
            margin: -0.1em 0 0;
            padding: 2px;
        }

        &[usemap] {
            width: 100%;
            height: auto;
            max-width: 400px;
        }
    }

    figure {
        img {
            padding: 0.2em;
        }
    }
    // Text style
    //------------------------------------------------------
    p {
    }

    .ullinks a,
    a.xref {
        .__link();
    }

    .filepath,
    .msgph,
    .systemoutput,
    .userinput,
    .menucascade {
        background: @color-base-light;

        &::before {
            content: "[";
            margin: 0 0.2em;
        }

        &::after {
            content: "]";
            margin: 0 0.2em;
        }
    }

    .uicontrol {
        font-weight: bold;
        background: @color-base-light;
    }


    sup {
        vertical-align: super;
        font-size: 0.7em;
        line-height: 0;
    }

    sub {
        vertical-align: sub;
        font-size: 0.7em;
        line-height: 0;
    }

    .underline {
        text-decoration: underline;
    }
    
    span, p, h1, h2, h3, h4, h5, h6, sup, sub {

        &.condensed {
            .__scale (@scale) {
                &.scale@{scale} {
                    transform: scaleX(@scale * 0.1);
                    width: 100% / (@scale * 0.1);
                }
            }

            & {
                transform: scaleX(0.80);
                transform-origin: left;
                width: 125%;

                &[style*="center"] {
                    transform-origin: center;
                }

                .__scale(5);
                .__scale(6);
                .__scale(7);
                .__scale(8);
                .__scale(9);
            }
        }
    }
    section,
    div,
    table,
    tr,
    th,
    td {
        &.condensed {
            .__scale (@scale) {
                &.scale@{scale} {
                    p {
                        transform: scaleX(@scale * 0.1);
                        width: 100% / (@scale * 0.1);
                    }
                }
            }

            transform: initial !important;
            //* width: unset !important;
            p {
                transform: scaleX(0.80);
                transform-origin: left;
                width: 125%;
            }

            .__scale(5);
            .__scale(6);
            .__scale(7);
            .__scale(8);
            .__scale(9);
        }
    }

    a, abbr, acronym, b, basefont, bdo, big, br, cite, code, dfn, em, font, i, img, input, kbd, label, q, s, samp, select, small, span, strike, strong, sub, sup, textarea, tt, u, var {
        .condensed {
            display: inline-block;
        }
    }

    .extended {
        transform: scaleY(0.8);
        transform-origin: top;
        margin-bottom: -0.2em;
        display: inline-block;

        .__scale (@scale) {
            &.scale@{scale} {
                transform: scaleY(@scale * 0.1);
                margin-bottom: -1em + (@scale * 0.1);
            }
        }

        .__scale(5);
        .__scale(6);
        .__scale(7);
        .__scale(8);
        .__scale(9);
    }
    // Note style
    //------------------------------------------------------
    .note {

        .__note-line() {
            padding: @margin-shrink / 2 0 @margin-shrink / 2 1em;
            .__border(left);
        }

        .__note-box(@c) {
            .__border(@width:2px;@color:@c);
            padding: @margin-shrink;
        }

        .__note-icon(@id;@position: 0%) {
            .__icon(@id;@position);
            width: 1.5em;
            height: 1.5em;
            display: block;
        }

        .note_title {
            font-weight: bold;
            font-size: 1.1rem;
            display: inline-flex;
            align-items: center;
        }

        .note_contents {
        }


        &.type_note {
            .__note-line();

            .note_title::before {
                .__note-icon("note");
            }
        }

        &.type_tip {
            .__note-line();

            .note_title {
                padding: 0.1em 0.5em;
                font-size: 0.9rem;
                background-color: @color-default;
                color: @color-back;
            }
        }


        &.type_caution {
            .__note-box(@color-yellow);

            .note_title::before {
                .__note-icon("caution";50%);
            }
        }

        &.type_warning,
        &.type_danger {
            .__note-box(@color-red);

            .note_title::before {
                .__note-icon("caution";25%);
            }
        }
    }
    // List style
    //------------------------------------------------------
    ul, ol {
        width: 100%;
        position: relative;
        max-width: 100%;
        li {
            width: 100%;
            max-width: 100%;
            margin-bottom: .5em;

            .li_before {
                flex-shrink: 0;

            }

            .li_contents {
                width: 100%;
            }
        }

        li + li {
            //*margin-top: 0.5em;
        }
    }

    ul.ul {
        display: table;

        & > li {
            display: table-row;
            & > .li_before {
                display: table-cell;
                width: 1.5em;
                vertical-align: top;
                line-height: 0;

                &::before {
                    .__icon("circle");
                    width: 1em * @line-height;
                    height: 1em * @line-height;
                }
            }
            & > .li_contents {
                vertical-align: top;
                display: table-cell;
            }

            ul {
                margin-top: 0;

                & > li {

                    &:not(:first-child) {
                        margin-top: .1em;
                    }

                    .li_before {
                        &::before {
                            .__icon("dot2");
                            @width: 1em;
                            width: @width;
                            height: @width;
                            margin: (1em * @line-height - @width) / 2 0;
                        }
                    }
                }
            }
        }

        &.square {

            & > li {
                & > .li_before {
                    &::before {
                        .__icon("square");
                        width: 1em * @line-height;
                        height: 1em * @line-height;
                        margin-right: 0.2em;
                    }
                }
            }
        }
    }

    .ullinks {
        margin: @margin-default 0;

        & > li {
            margin-bottom: .5em;
            font-size: 1.2rem;

            a {
            }
        }
    }
    // List style: Order
    //------------------------------------------------------
    ol:not(.steps) {
        display: table;
        //table-layout: fixed;
        &:not(.continuous) {
            counter-reset: ol-counter1;
        }

        & > li {
            display: table-row;
            counter-increment: ol-counter1;

            & > .li_before {
                display: table-cell;
                padding-right: 0.5em;
                width: 1em;
                text-align: center;

                &::before {
                    content: counter(ol-counter1);
                    font-weight: bold;
                    font-size: 1.2rem;
                    color: @color-base;
                    line-height: 1.2;
                }
            }


            & > .li_contents {
                display: table-cell;
                vertical-align: middle;
                padding-bottom: 0.5em;
            }

            ol {
                &:not(.continuous) {
                    counter-reset: ol-counter2;
                }

                & > li {
                    counter-increment: ol-counter2;

                    & > .li_before {

                        &::before {
                            content: "(" counter(ol-counter2) ")";
                            padding-right: 0.5em;
                            width: 2em;
                            font-size: 1rem;
                        }
                    }
                }
            }
        }
    }
    // List style: Step
    //------------------------------------------------------
    ol.steps {
        counter-reset: step-counter;


        & > li.step {
            counter-increment: step-counter;
            display: list-item;
            padding: 0;//*@margin-default 0 0;

            //* &:not(:last-of-type) {
            //*     .__border(bottom;@style:@border-style3);
            //* }


            &:first-child {
                padding-top: 0;
            }


            &::before {
                content: attr(data-step-prefix) counter(step-counter);
                display: inline-block;
                background: @color-base;
                padding: 0.1em 1em;
                color: @color-back;
                font-weight: bold;
                font-size: 1.1rem;
                width: auto;
                margin-bottom: @margin-default;
            }
            
            &:not(:last-child){
                &::after {
                    content: "";
                    display: block;
                    width: 100%;
                    height: 2em;
                    margin-bottom: @margin-default;
                    .__border(bottom;@style:@border-style3);
                }
            }

            .cmd {
                display: block;
                font-size: 1.1rem;
                font-weight: bold;
                margin-bottom: @margin-shrink;
            }

            .info:not(.col) {
                & + .info {
                    margin-top: 1em;
                }
            }
        }

        ol.substeps {
            counter-reset: substep-counter;

            & > li.substep {
                counter-increment: substep-counter;

                & > .li_before {
                    &::before {
                        content: counter(substep-counter);
                        background: @color-base;
                        color: @color-back;
                        font-weight: bold;
                        width: 2em;
                        height: 2em;
                        border-radius: 2em;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-size: 0.8em;
                        margin-top: -2px;
                    }
                }
            }
        }
    }
    // Column style
    //------------------------------------------------------
    li, .note {
        & > .cols:first-child {
            margin-top: 0;
        }

        &.cols {
            margin-top: 0;
        }
    }


    .cols:not(.nofiggroup):not(.step) {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin: @margin-shrink 0;

        .cols {
            margin: 0;
        }
        //* .__col_width(@w1: 1) when (@w1 < 10) {
        //*     @w2: 10 - @w1;
        //*
        //*     &.width@{w1}@{w2} {
        //*         & > .col:first-child {
        //*             width: @w1 * 10% !important;
        //*         }
        //*
        //*         & > .col:not(:first-child) {
        //*             width: @w2 * 10% !important;
        //*         }
        //*     }
        //*
        //*     .__col_width(@w1 + 1);
        //* }
        //*
        //* .__col_width();
        &.dashed {
            & > .col {

                &:not(:last-child) {
                    padding-right: @margin-default;
                }

                &:not(:first-child) {
                    .__border(left;@style:@border-style3);
                }
            }
        }

        &.line {
            & > .col {

                &:not(:last-child) {
                    padding-right: @margin-default;
                }

                &:not(:first-child) {
                    .__border(left);
                }
            }
        }



        & > .col {
            vertical-align: top;
            flex-grow: 99;
            flex-shrink: 0;
            overflow: hidden;
            flex-basis: auto;

            &:not(:first-child) {
                padding-left: @margin-default;
            }

            &.setwidth {
                img {
                    max-width: none;
                }
            }

            &.unsetwidth {
                flex-shrink: 99;
                flex-grow: 0;
                //* width: 100%;
                //* max-width: 90%;
                flex-basis: 95%;
            }

            & > *:first-child,
            & > .p:first-child .tablewrapper {
                margin-top: 0;
            }
        }

        @media screen and (max-width:@break3) {
            display: block;

            & > .col {
                width: 100%;
                display: block;
                padding: 0 !important;

                &:not(:first-child) {
                    margin-top: @margin-default;
                }
            }

            &.dashed {
                & > .col {

                    &:not(:first-child) {
                        .__border(@none:none);
                    }
                }
            }

            &.line {
                & > .col {

                    &:not(:first-child) {
                        .__border(@none:none);
                    }
                }
            }
        }
    }

    .cols.nofiggroup {
        columns: 2;
        column-fill: balance;
        column-gap: @margin-default;
        display: block;

        @media screen and (max-width:@break3) {
            columns: 1;
        }

        li {
            display: table;
            //table-layout: fixed;
            margin-bottom: @margin-default;
        }

        li, img, figure,
        .tablewrapper {
            break-inside: avoid;
        }

        &.dashed {
            column-rule: 1px dashed @border-color;
        }

        &.line {
            column-rule: 1px solid @border-color;
        }

        &.col3 {
            columns: 3;
        }

        &.col4 {
            columns: 4;
        }
    }

    .cols.steps {
        // * steps.cols * // steps.cols
        // * steps.cols * .__col_width(@w1: 2) when (@w1 < 6) {
        // * steps.cols *     @w2: 10 / @w1;
        // * steps.cols *     @w3: @w1 - 1;
        // * steps.cols *     @width: floor(@w2 * 10%);
        // * steps.cols *
        // * steps.cols *     &.col@{w1} {
        // * steps.cols *         flex-wrap: wrap;
        // * steps.cols *         justify-content: start !important;
        // * steps.cols *
        // * steps.cols *         & > * {
        // * steps.cols *             width: @width;
        // * steps.cols *             padding-left: if((@w1=2),2%,1%) !important;
        // * steps.cols *             padding-right: if((@w1=2),2%,1%) !important;
        // * steps.cols *
        // * steps.cols *             &:nth-child(@{w1}n-@{w3}) {
        // * steps.cols *             }
        // * steps.cols *
        // * steps.cols *             &:not(:nth-child(@{w1}n-@{w3})) {
        // * steps.cols *                 //* .__border(left;@style:@border-style3);
        // * steps.cols *             }
        // * steps.cols *
        // * steps.cols *             &:nth-last-child(-n + @{w1}):nth-child(@{w1}n-@{w3}) {
        // * steps.cols *                 border-bottom: none !important;
        // * steps.cols *             }
        // * steps.cols *         }
        // * steps.cols *     }
        // * steps.cols *
        // * steps.cols *     .__col_width(@w1 + 1);
        // * steps.cols * }
        // * steps.cols *
        // * steps.cols * .__col_width();
    }

    .cols.step {
        .col_wrapper {
            display: flex;
            justify-content: space-between;
            width: 100%;

            .col {
                flex-shrink: 99;
                flex-grow: 99;
                width: 100%;
                flex-basis: 100%;
                overflow: hidden;

                &:not(:first-child) {
                    padding-left: @margin-default;
                }
            }
        }
    }
    // troublebody style
    //------------------------------------------------------
    .troublebody {
        .troubleSolution {
            & + .troubleSolution {
                margin-top: @margin-spread;
            }

            .cause {
                display: flex;
                align-items: center;
                cursor: pointer;
                padding: 0;
                margin-bottom: @margin-default;

                &::before {
                    .__icon("question");
                    width: 2.5em;
                    height: 2.5em;
                    flex-shrink: 0;
                    display: block;
                }

                .title {
                    .__border(@none:none);
                    padding: 0;
                    margin: 0;
                    background: none;
                    font-size: 1.2rem;
                }
            }

            .remedy {
                .__border(left;@width:3px;@color:@color-base-half);
                padding-left: @margin-default;
                padding-bottom: @margin-shrink;
                margin: 0 0 0 1em;
                width: calc(100% - 1em);


                .cmd {
                    font-weight: bold;
                    margin-bottom: @margin-default;
                }
            }
        }
    }
    // Footnote style
    //------------------------------------------------------
    .fn_area:not(:empty) {

        @media screen {
            margin-top: @margin-spread;
            padding-top: @margin-default;
            .__border(top);
        }

        .fn {
            display: table-row;

            .fn_link {
                display: table-cell;
                font-weight: normal;
                white-space: nowrap;

                sup {
                    vertical-align: baseline;
                    font-size: 1em;
                }
            }

            .fn_text {
                display: table-cell;
                padding-left: 0.8em;
                padding-bottom: 0.5em;
            }
        }
    }

    .fn_link {
        color: @color-link;
        font-weight: bold;
    }
    // navigation style
    //------------------------------------------------------
    nav[role="navigation"] {
        //*padding: @margin-default 0;
        //*margin: @margin-spread 0 0;
        .relinfo {
            .__border();
            padding: 1em;
            margin-top: @margin-spread;

            .title {
                font-size: 1.2rem;
                font-weight: bold;
            }

            a {
                .__link();
            }
        }
    }

    .body:empty + nav[role="navigation"] {
        margin: 0;
    }
}
