﻿@import "_functions";
@import "_fonts";
// **************************************************
//  Variables - Common
// **************************************************/

// ------------------------------------------------------------
// base
// ------------------------------------------------------------
@format: @__format;
@colorspace: @__colorspace;
@is-rgb: if((@colorspace = rgb), true, false);
@is-cmyk: if((@colorspace = cmyk), true, false);

// ------------------------------------------------------------
// path
// ------------------------------------------------------------
@path-base: "..";
@path-image: "@{path-base}/img";
@path-image-common: "@{path-image}/common";
@path-image-pdf: "@{path-image}/pdf";

@pathf-base: "../@{path-base}";
@pathf-image: "@{pathf-base}/img";
@pathf-image-common: "@{pathf-image}/common";
@pathf-image-pdf: "@{pathf-image}/pdf";
@pathf-icc: "@{pathf-base}/icc";

// ------------------------------------------------------------
// breakpoint
// ------------------------------------------------------------
@break1: 1366px;
@break2: 1024px;
@break3: 600px;

// ------------------------------------------------------------
// width
// ------------------------------------------------------------

// ------------------------------------------------------------
// transition
// ------------------------------------------------------------
@transition-dur1: 0.25s;
@transition-dur2: @transition-dur1 * 2;
@transition-dur3: @transition-dur1 * 4;


// ------------------------------------------------------------
// color
// ------------------------------------------------------------

// color 基本色
@color-trans:  transparent; //透明
@color-black:  #func.__greyscale(100%)[]; //黒系
@color-white:  #fff; //白系
@color-red:    #c00; //赤系
@color-blue:   #263b74; //青系
@color-yellow: #fc0; //黄系
@color-green:  #0c0; //緑系
@color-registration: cmyk(100%,100%,100%,100%);

// color 合成色
@color-default: #func.__color-scale(@color-black,80%)[];
@color-default-trans: #func.__color-trans(@color-black,10%)[];
@color-default-40: #func.__color-scale(@color-black,40%)[];
@color-default-10: #func.__color-scale(@color-black,10%)[];
@color-back: @color-white;
@color-base: @color-blue;
@color-base-half:  #func.__color-scale(@color-base,50%)[];
@color-base-light: #func.__color-scale(@color-base,35%)[];
@color-base-on:    #func.__color-scale(@color-base,40%)[];
@color-link:       #func.__color-scale(@color-base,70%)[];
@color-light1:     #func.__color-scale(@color-black,20%)[];
@color-light2:     #func.__color-scale(@color-black,4%)[];

// ------------------------------------------------------------
// border
// ------------------------------------------------------------
#func {
    .__border-width() {
        @html: 1px;
        @pdf: 0.3pt;
        content: @@format;
    }
}
@border-style1: solid;
@border-style2: dotted;
@border-style3: dashed;
@border-width: #func.__border-width()[];
@border-radius: 5px;
@border-color: @color-light1;
.__border(@part: ~"";@width: @border-width;@style: @border-style1;@color: @border-color;@radius:@border-radius;@none:~"") when (@part = ~"") {
    @partlength: length(@part);
    @partvalue: if((@none = ~""),@width @style @color, none);
    border: @partvalue;
}
.__border(@part: ~"";@width: @border-width;@style: @border-style1;@color: @border-color;@radius:@border-radius;@none:~"") when not (@part = ~"") and not (@part = none) {
    each(@part,{
        @novalue: "";
        @partflg1: boolean(replace("@{value}","[^-]","","gim") = "");
        @partflg2: boolean((@value = top) or (@value = left) or (@value = right) or (@value = bottom));
        @partflg: boolean(@partflg1 and @partflg2);
        @partvalue: if((@partflg),novalue,replace("@{value}","^.+-","","gim"));
        @borderpart: ~"border-@{value}";
        @content: if((@partflg),if((@none = ~""),@width @style @color, none),@@partvalue);
        @{borderpart}: @content;
    });

}

// ------------------------------------------------------------
// font
// ------------------------------------------------------------
#func {
    .__font-size() {
        @html: 15px;
        @pdf: 10pt;
        content: @@format;
    }
    .__line-height() {
        @html: 1.4;
        @pdf: 1.4;
        content: @@format;
    }
}
@font-size: #func.__font-size[];
@line-height: #func.__line-height[];
@font-serif_: "Times New Roman",serif;
@font-sans-serif_: "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3","メイリオ", Meiryo, Arial, sans-serif;
@font-en: Arial,sans-serif;
@font-mono_: monospace;
@font-num: impact;

@font-main: @font-sans-serif_;
@font-sub: "游ゴシック体", "Yu Gothic", YuGothic,@font-main;

// string
@title-book: title-book;
@title-h1: title-h1;
@title-h2: title-h2;
@title-delimeter: title-delimeter;
@num-h1: num-h1;
@num-h2: num-h2;

// margin
@margin-default: 1.33rem;
@margin-spread: @margin-default * 2;
@margin-blank: @margin-default * 3;
@margin-shrink: @margin-default / 2;
@margin-vshrink: @margin-default / 4;

// ------------------------------------------------------------
// icons
// ------------------------------------------------------------
@icon-url: "@{path-image-common}/icon_";
.__icon(@id:"";@position: 0%) when (@id = "") {
    background-position: @position;
}
.__icon(@id;@position: 0%) {
    content: "";
    background-image: url("@{icon-url}@{id}.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: @position;
    width: 1.5em;
    height: 1.5em;
    flex-shrink: 0;
    display: inline-block;
}

// **************************************************
//  Variables - HTML
// **************************************************/

@gheader-height: 60px;
@mheader-height: 80px;
@footer-height: 50px;

@sidetoc-width1: 18.5em;
@sidetoc-width2: 30em;
@width-contents-max1: 1621px;
@width-contents-max2: 1170px;


// **************************************************
//  Variables - Page
// **************************************************/
@page-height: 297mm;
@page-width: 210mm;
@page-width-cover0: 10mm;
@page-size: @page-width @page-height;
@page-margin-w: 20mm;
@page-margin-h: 20mm;
@page-margin-w2: @page-margin-w * 2;
@page-margin-h2: @page-margin-h * 2;
@page-margins: @page-margin-h @page-margin-w;
@page-content-width: @page-width - @page-margin-w2;
@page-content-height: @page-height - @page-margin-h2;
@page-border: @border-width @border-style1 @color-default;
@page-bottom-margin: 10pt 0 30pt 0;

// ------------------------------------------------------------
// registration
// ------------------------------------------------------------
@page-registration-flg: false;
@page-bleed: 3mm;
@page-height-bleed: @page-height + @page-bleed * 2;
@page-width-bleed: @page-width + @page-bleed * 2;
@page-margin-bleed-w: @page-margin-w + @page-bleed;
@page-margin-bleed-h: @page-margin-h + @page-bleed;
@page-registration-margin: 15mm;
@page-registration-width: @page-width + @page-registration-margin * 2;
@page-registration-height: @page-height + @page-registration-margin * 2;
@page-registration-width-cover0: @page-width-cover0 + @page-registration-margin * 2;

.__page-registration() when (@page-registration-flg) {
    size: @page-registration-width @page-registration-height;
    margin: @page-margin-w + @page-registration-margin @page-margin-h + @page-registration-margin;
    background: 
		url("@{pathf-image-pdf}/registration-lt.svg") no-repeat left top / 16mm 16mm,
		url("@{pathf-image-pdf}/registration-lm.svg") no-repeat left center / 15mm 25.4mm,
		url("@{pathf-image-pdf}/registration-lb.svg") no-repeat left bottom / 16mm 16mm,
		url("@{pathf-image-pdf}/registration-rt.svg") no-repeat right top / 16mm 16mm,
		url("@{pathf-image-pdf}/registration-rm.svg") no-repeat right center / 15mm 25.4mm,
		url("@{pathf-image-pdf}/registration-rb.svg") no-repeat right bottom / 16mm 16mm,
		url("@{pathf-image-pdf}/registration-ct.svg") no-repeat center top / 25.4mm 15mm,
		url("@{pathf-image-pdf}/registration-cb.svg") no-repeat center bottom / 25.4mm 15mm;
    width: @page-registration-width;
    height: @page-registration-height;
}

.__page-registration-cover0() when (@page-registration-flg) {
    size: @page-registration-width-cover0 @page-registration-height;
    margin: @page-registration-margin;
}

.__page-registration-cover0() when not (@page-registration-flg) {
    size: @page-width-cover0 @page-height;
    margin: 0;
}

// **************************************************
//  keyframes
// **************************************************/
@frameout: -50%;
@keyframes __show_pt {
    0% {
        opacity: 0;
        margin-right: @frameout;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
        margin-right: 0;
    }
}

@keyframes __hide_pt {
    0% {
        opacity: 1;
        margin-right: 0;
    }
    50% {
        opacity: 0;
    }

    100% {
        opacity: 0;
        margin-right: @frameout;
    }
}
