﻿@charset "utf-8";
// **************************************************
//  Import : for PDF
// **************************************************/
//@import "_style-common_ltr";

@__format: pdf;
@__colorspace: rgb;

// Variables
@import "_variables";

// Reset
@import "_style-common_reset";

// Common style
@import "_style-common_contents";

// For PDF
@import "_style-pdf_global";

// Script
@plugin "functions";


.__test2 {
    color-black: @color-black;
    font-size: @font-size;
    line-height: @line-height;
    __color-scale: #func.__color-scale(@color-black,0%)[];
    __color-scale: #func.__color-scale(@color-black,5%)[];
    __color-scale: #func.__color-scale(@color-black,10%)[];
    __color-scale: #func.__color-scale(@color-black,15%)[];
    __color-scale: #func.__color-scale(@color-black,20%)[];
    __color-scale: #func.__color-scale(@color-black,25%)[];
    __color-scale: #func.__color-scale(@color-black,30%)[];
    __color-scale: #func.__color-scale(@color-black,35%)[];
    __color-scale: #func.__color-scale(@color-black,40%)[];
    __color-scale: #func.__color-scale(@color-black,45%)[];
    __color-scale: #func.__color-scale(@color-black,50%)[];
    __color-scale: #func.__color-scale(@color-black,55%)[];
    __color-scale: #func.__color-scale(@color-black,60%)[];
    __color-scale: #func.__color-scale(@color-black,65%)[];
    __color-scale: #func.__color-scale(@color-black,70%)[];
    __color-scale: #func.__color-scale(@color-black,75%)[];
    __color-scale: #func.__color-scale(@color-black,80%)[];
    __color-scale: #func.__color-scale(@color-black,85%)[];
    __color-scale: #func.__color-scale(@color-black,90%)[];
    __color-scale: #func.__color-scale(@color-black,95%)[];
    __color-scale: #func.__color-scale(@color-black,100%)[];
    // __color-trans: #func.__color-trans(@color-black,50%)[];
    .__border();
    .__border(left,4px);
    .__border(left right);
    .__border(left right bottom;5pt);
}