﻿@charset "utf-8";
// **************************************************
//  Import : for HTML
// **************************************************/
//@import "_style-common_ltr";

@__format: html;
@__colorspace: rgb;

// Variables
@import "_variables";

// Reset
@import "_style-common_reset";

// Common style
@import "_style-common_contents";

// For HTML
@import "_style-html_global";

// Script
@plugin "functions";


.__test2 {
    color-black: @color-black;
    font-size: @font-size;
    line-height: @line-height;
    __color-scale: #func.__color-scale(@color-back,-0%)[];
    __color-scale: #func.__color-scale(@color-back,-5%)[];
    __color-scale: #func.__color-scale(@color-back,-10%)[];
    __color-scale: #func.__color-scale(@color-back,-15%)[];
    __color-scale: #func.__color-scale(@color-back,-20%)[];
    __color-scale: #func.__color-scale(@color-back,-25%)[];
    __color-scale: #func.__color-scale(@color-back,-30%)[];
    __color-scale: #func.__color-scale(@color-back,-35%)[];
    __color-scale: #func.__color-scale(@color-back,-40%)[];
    __color-scale: #func.__color-scale(@color-back,-45%)[];
    __color-scale: #func.__color-scale(@color-back,-50%)[];
    __color-scale: #func.__color-scale(@color-back,-55%)[];
    __color-scale: #func.__color-scale(@color-back,-60%)[];
    __color-scale: #func.__color-scale(@color-back,-65%)[];
    __color-scale: #func.__color-scale(@color-back,-70%)[];
    __color-scale: #func.__color-scale(@color-back,-75%)[];
    __color-scale: #func.__color-scale(@color-back,-80%)[];
    __color-scale: #func.__color-scale(@color-back,-85%)[];
    __color-scale: #func.__color-scale(@color-back,-90%)[];
    __color-scale: #func.__color-scale(@color-back,-95%)[];
    __color-scale: #func.__color-scale(@color-back,-100%)[];
    // __color-trans: #func.__color-trans(@color-black,50%)[];
    .__border();
    .__border(left,4px);
    .__border(left,4px);
    .__border(left right);
    .__border(left right bottom;5pt);
    .__border(none;5pt);
    .__border(bottom-color;@color:@color-trans);
    .__border(bottom-width;@width:51px);
    .__border(bottom-style;@style:@border-style3);
    .__border(@none:none);
    .__border(left;@none:none);
    .__border(color;@color:@color-link);

}