@charset "utf-8";
@font-face {
  font-family: "dl-shingoB";
  src: prince-lookup("ShinGoPro-Bold");
}
@font-face {
  font-family: "dl-shingoDB";
  src: prince-lookup("ShinGoPro-DeBold");
}
@font-face {
  font-family: "dl-shingoM";
  src: prince-lookup("ShinGoPro-Medium");
}
@font-face {
  font-family: "dl-shingoR";
  src: prince-lookup("ShinGoPro-Regular");
}
@font-face {
  font-family: "dl-shingoL";
  src: prince-lookup("ShinGoPro-Light");
}
@font-face {
  font-family: "dl-shingo";
  font-weight: 900;
  src: prince-lookup("ShinGoPro-Bold");
}
@font-face {
  font-family: "dl-shingo";
  font-weight: 700;
  src: prince-lookup("ShinGoPro-DeBold");
}
@font-face {
  font-family: "dl-shingo";
  font-weight: 600;
  src: prince-lookup("ShinGoPro-Medium");
}
@font-face {
  font-family: "dl-shingo";
  font-weight: 400;
  src: prince-lookup("ShinGoPro-Regular");
}
@font-face {
  font-family: "dl-shingo";
  font-weight: 200;
  src: prince-lookup("ShinGoPro-Light");
}
@keyframes __show_pt {
  0% {
    opacity: 0;
    margin-right: -50%;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    margin-right: 0;
  }
}
@keyframes __hide_pt {
  0% {
    opacity: 1;
    margin-right: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    margin-right: -50%;
  }
}
/***************************************************
 * Reset
 ***************************************************/
*,
*::after,
*::before {
  box-sizing: border-box;
}
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  list-style: outside none none;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
body {
  line-height: 1;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
header,
footer,
section {
  width: 100%;
}
ul,
ol,
li {
  width: 100%;
}
ul {
  list-style: none;
}
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
input,
select {
  vertical-align: middle;
}
a:link,
a:visited,
a:active {
  color: inherit;
}
input[type="text"],
input[type="password"],
textarea,
select {
  outline: none;
}
/***************************************************
 * Contents
 ***************************************************/
html,
body {
  width: 100%;
  height: 100%;
  font-family: "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", "メイリオ", Meiryo, Arial, sans-serif;
  font-size: 15px;
  color: #555;
  line-height: 1.45;
  position: relative;
}
html[lang*="en"],
body[lang*="en"],
html[lang*="en-US"],
body[lang*="en-US"] {
  font-family: "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", "メイリオ", Meiryo, Arial, sans-serif;
}
main[role="contents_inner"] section.section {
  margin: 1.33rem 0 2.66rem;
}
main[role="contents_inner"] h1,
main[role="contents_inner"] h2 {
  margin: 1.33rem 0;
}
main[role="contents_inner"] h3,
main[role="contents_inner"] h4 {
  margin: 1.33rem 0 0.665rem;
}
main[role="contents_inner"] h3.title,
main[role="contents_inner"] h4.title {
  margin: 2.66rem 0 1.33rem;
}
main[role="contents_inner"] h5,
main[role="contents_inner"] h6 {
  margin: 0.665rem 0;
}
main[role="contents_inner"] p:first-child {
  margin: 0 0 0.665rem;
}
main[role="contents_inner"] p:not(:first-child) {
  margin: 0.665rem 0 0.665rem;
}
main[role="contents_inner"] p + p {
  margin: 0.665rem 0 0.665rem;
}
main[role="contents_inner"] figure.fig,
main[role="contents_inner"] .cols,
main[role="contents_inner"] .note,
main[role="contents_inner"] ul.ul,
main[role="contents_inner"] ol.ol,
main[role="contents_inner"] ol.steps {
  margin: 1.33rem 0;
}
main[role="contents_inner"] figure.fig:first-child,
main[role="contents_inner"] .cols:first-child,
main[role="contents_inner"] .note:first-child,
main[role="contents_inner"] ul.ul:first-child,
main[role="contents_inner"] ol.ol:first-child,
main[role="contents_inner"] ol.steps:first-child {
  margin-top: 0;
}
main[role="contents_inner"] figure.fig:last-child,
main[role="contents_inner"] .cols:last-child,
main[role="contents_inner"] .note:last-child,
main[role="contents_inner"] ul.ul:last-child,
main[role="contents_inner"] ol.ol:last-child,
main[role="contents_inner"] ol.steps:last-child {
  margin-bottom: 0;
}
main[role="contents_inner"] p + p {
  margin: 0.665rem 0;
}
main[role="contents_inner"] table p:last-child {
  margin-bottom: 0;
}
main[role="contents_inner"] .cols:not(:first-child),
main[role="contents_inner"] .note_contents:not(:first-child),
main[role="contents_inner"] ul.ul li:not(:first-child) {
  margin-top: 0.2em;
}
main[role="contents_inner"] .cols > *:first-child,
main[role="contents_inner"] .note_contents > *:first-child,
main[role="contents_inner"] ul.ul li > *:first-child {
  margin-top: 0;
}
main[role="contents_inner"] .cols > *:last-child,
main[role="contents_inner"] .note_contents > *:last-child,
main[role="contents_inner"] ul.ul li > *:last-child {
  margin-bottom: 0;
}
main[role="contents_inner"] .li_contents > *:first-child {
  margin-top: 0;
}
main[role="contents_inner"] .li_contents > *:last-child {
  margin-bottom: 0;
}
main[role="contents_inner"] h1,
main[role="contents_inner"] h2,
main[role="contents_inner"] h3,
main[role="contents_inner"] h4,
main[role="contents_inner"] h5,
main[role="contents_inner"] h6 {
  font-weight: bold;
}
main[role="contents_inner"] h1 {
  font-size: 2rem;
  margin: 1.33rem 0 1em;
}
@media screen and (max-width: 600px) {
  main[role="contents_inner"] h1 {
    font-size: 1.5rem;
  }
}
main[role="contents_inner"] h2 {
  font-size: 1.5rem;
  margin: 1.33rem 0;
  padding-left: 0.4em;
  border-left: 5px solid #263b74;
}
@media screen and (max-width: 600px) {
  main[role="contents_inner"] h2 {
    font-size: 1.25rem;
  }
}
main[role="contents_inner"] h3 {
  background: #ccc;
  background: #d9e0f3;
  font-size: 1.1rem;
  padding: 0.2em 0.4em;
}
main[role="contents_inner"] h3.title {
  font-size: 1.3rem;
}
main[role="contents_inner"] h4 {
  font-size: 1.1rem;
  display: inline-block;
}
@media screen {
  main[role="contents_inner"] h4 {
    border-bottom: 1px solid #ccc;
  }
}
@media print {
  main[role="contents_inner"] h4 {
    border-bottom: 0.3pt solid #ccc;
  }
}
main[role="contents_inner"] em.i {
  font-family: "游ゴシック体", "Yu Gothic", YuGothic, "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", "メイリオ", Meiryo, Arial, sans-serif;
  font-weight: 500;
}
main[role="contents_inner"] .tablewrapper {
  margin: 0.665rem 0;
  width: 100%;
  overflow: auto;
}
main[role="contents_inner"] .tablewrapper table {
  border-collapse: collapse;
  table-layout: fixed;
  max-width: 100%;
}
main[role="contents_inner"] .tablewrapper table th,
main[role="contents_inner"] .tablewrapper table td {
  vertical-align: middle;
  padding: 7px;
}
@media screen {
  main[role="contents_inner"] .tablewrapper table th,
  main[role="contents_inner"] .tablewrapper table td {
    border: 1px solid #ccc;
  }
}
@media print {
  main[role="contents_inner"] .tablewrapper table th,
  main[role="contents_inner"] .tablewrapper table td {
    border: 0.3pt solid #ccc;
  }
}
@media screen and (max-width: 600px) {
  main[role="contents_inner"] .tablewrapper table th,
  main[role="contents_inner"] .tablewrapper table td {
    padding: 5px;
  }
}
main[role="contents_inner"] .tablewrapper table th.bgmiddle,
main[role="contents_inner"] .tablewrapper table td.bgmiddle {
  background: #999;
  color: #fff;
}
main[role="contents_inner"] .tablewrapper table th.bgdark,
main[role="contents_inner"] .tablewrapper table td.bgdark {
  background: #555;
  color: #fff;
}
main[role="contents_inner"] .tablewrapper table th {
  background: #f5f5f5;
  vertical-align: middle;
  text-align: center;
}
main[role="contents_inner"] .tablewrapper table td {
  text-align: left;
}
main[role="contents_inner"] .tablewrapper table .no_border {
  border: none !important;
}
main[role="contents_inner"] .dl {
  display: table;
  border-collapse: separate;
  border-spacing: 0 0.2em;
}
main[role="contents_inner"] .dl dl {
  display: table-row;
}
main[role="contents_inner"] .dl dl dt {
  display: table-cell;
  flex-shrink: 0;
  padding-right: 0.5em;
  white-space: nowrap;
}
main[role="contents_inner"] .dl dl dd {
  display: table-cell;
}
main[role="contents_inner"] .dl dl.mark dt::after {
  content: attr(data-mark);
}
main[role="contents_inner"] .imageleft {
  text-align: left;
}
main[role="contents_inner"] .imageright {
  text-align: right;
}
main[role="contents_inner"] .imagecenter {
  text-align: center;
}
main[role="contents_inner"] .imagemap {
  text-align: center;
}
main[role="contents_inner"] img {
  max-width: 100%;
  vertical-align: top;
}
main[role="contents_inner"] img.inline {
  vertical-align: middle;
  margin: -0.1em 0 0;
  padding: 2px;
}
main[role="contents_inner"] img[usemap] {
  width: 100%;
  height: auto;
  max-width: 400px;
}
main[role="contents_inner"] figure img {
  padding: 0.2em;
}
main[role="contents_inner"] .ullinks a,
main[role="contents_inner"] a.xref {
  padding: 0.05em 0.2em 0.05em;
  color: unset;
  display: inline-flex;
  align-items: center;
}
@media screen {
  main[role="contents_inner"] .ullinks a,
  main[role="contents_inner"] a.xref {
    border-bottom: 1px solid #ccc;
  }
}
@media print {
  main[role="contents_inner"] .ullinks a,
  main[role="contents_inner"] a.xref {
    border-bottom: 0.3pt solid #ccc;
  }
}
main[role="contents_inner"] .ullinks a::before,
main[role="contents_inner"] a.xref::before {
  content: "";
  background-image: url("../img/common/icon_link.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0%;
  width: 1.5em;
  height: 1.5em;
  flex-shrink: 0;
  width: 1.2em;
  height: 1.2em;
  display: inline-block;
}
main[role="contents_inner"] .ullinks a:hover,
main[role="contents_inner"] a.xref:hover {
  background: #d9e0f3;
  color: #263b74;
}
@media screen {
  main[role="contents_inner"] .ullinks a:hover,
  main[role="contents_inner"] a.xref:hover {
    border-bottom: 1px solid #263b74;
  }
}
@media print {
  main[role="contents_inner"] .ullinks a:hover,
  main[role="contents_inner"] a.xref:hover {
    border-bottom: 0.3pt solid #263b74;
  }
}
main[role="contents_inner"] .filepath,
main[role="contents_inner"] .msgph,
main[role="contents_inner"] .systemoutput,
main[role="contents_inner"] .userinput,
main[role="contents_inner"] .menucascade {
  background: #edf0f9;
}
main[role="contents_inner"] .filepath::before,
main[role="contents_inner"] .msgph::before,
main[role="contents_inner"] .systemoutput::before,
main[role="contents_inner"] .userinput::before,
main[role="contents_inner"] .menucascade::before {
  content: "[";
  margin: 0 0.2em;
}
main[role="contents_inner"] .filepath::after,
main[role="contents_inner"] .msgph::after,
main[role="contents_inner"] .systemoutput::after,
main[role="contents_inner"] .userinput::after,
main[role="contents_inner"] .menucascade::after {
  content: "]";
  margin: 0 0.2em;
}
main[role="contents_inner"] .uicontrol {
  font-weight: bold;
  background: #edf0f9;
}
main[role="contents_inner"] sup {
  vertical-align: super;
  font-size: 0.7em;
  line-height: 0;
}
main[role="contents_inner"] sub {
  vertical-align: sub;
  font-size: 0.7em;
  line-height: 0;
}
main[role="contents_inner"] .underline {
  text-decoration: underline;
}
main[role="contents_inner"] .condensed {
  transform: scaleX(0.8);
  transform-origin: left;
  width: 125%;
}
main[role="contents_inner"] .condensed.scale5 {
  transform: scaleX(0.5);
  width: 200%;
}
main[role="contents_inner"] .condensed.scale6 {
  transform: scaleX(0.6);
  width: 166.66666667%;
}
main[role="contents_inner"] .condensed.scale7 {
  transform: scaleX(0.7);
  width: 142.85714286%;
}
main[role="contents_inner"] .condensed.scale8 {
  transform: scaleX(0.8);
  width: 125%;
}
main[role="contents_inner"] .condensed.scale9 {
  transform: scaleX(0.9);
  width: 111.11111111%;
}
main[role="contents_inner"] a .condensed,
main[role="contents_inner"] abbr .condensed,
main[role="contents_inner"] acronym .condensed,
main[role="contents_inner"] b .condensed,
main[role="contents_inner"] basefont .condensed,
main[role="contents_inner"] bdo .condensed,
main[role="contents_inner"] big .condensed,
main[role="contents_inner"] br .condensed,
main[role="contents_inner"] cite .condensed,
main[role="contents_inner"] code .condensed,
main[role="contents_inner"] dfn .condensed,
main[role="contents_inner"] em .condensed,
main[role="contents_inner"] font .condensed,
main[role="contents_inner"] i .condensed,
main[role="contents_inner"] img .condensed,
main[role="contents_inner"] input .condensed,
main[role="contents_inner"] kbd .condensed,
main[role="contents_inner"] label .condensed,
main[role="contents_inner"] q .condensed,
main[role="contents_inner"] s .condensed,
main[role="contents_inner"] samp .condensed,
main[role="contents_inner"] select .condensed,
main[role="contents_inner"] small .condensed,
main[role="contents_inner"] span .condensed,
main[role="contents_inner"] strike .condensed,
main[role="contents_inner"] strong .condensed,
main[role="contents_inner"] sub .condensed,
main[role="contents_inner"] sup .condensed,
main[role="contents_inner"] textarea .condensed,
main[role="contents_inner"] tt .condensed,
main[role="contents_inner"] u .condensed,
main[role="contents_inner"] var .condensed {
  display: inline-block;
}
main[role="contents_inner"] .extended {
  transform: scaleY(0.8);
  transform-origin: top;
  margin-bottom: -0.2em;
  display: inline-block;
}
main[role="contents_inner"] .extended.scale5 {
  transform: scaleY(0.5);
  margin-bottom: -0.5em;
}
main[role="contents_inner"] .extended.scale6 {
  transform: scaleY(0.6);
  margin-bottom: -0.4em;
}
main[role="contents_inner"] .extended.scale7 {
  transform: scaleY(0.7);
  margin-bottom: -0.3em;
}
main[role="contents_inner"] .extended.scale8 {
  transform: scaleY(0.8);
  margin-bottom: -0.2em;
}
main[role="contents_inner"] .extended.scale9 {
  transform: scaleY(0.9);
  margin-bottom: -0.1em;
}
main[role="contents_inner"] .note .note_title {
  font-weight: bold;
  font-size: 1.2rem;
  display: inline-flex;
  align-items: center;
}
main[role="contents_inner"] .note.type_note {
  padding: 0.3325rem 0 0.3325rem 1em;
}
@media screen {
  main[role="contents_inner"] .note.type_note {
    border-left: 1px solid #ccc;
  }
}
@media print {
  main[role="contents_inner"] .note.type_note {
    border-left: 0.3pt solid #ccc;
  }
}
main[role="contents_inner"] .note.type_note .note_title::before {
  content: "";
  background-image: url("../img/common/icon_note.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0%;
  flex-shrink: 0;
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  display: block;
}
main[role="contents_inner"] .note.type_tip {
  padding: 0.3325rem 0 0.3325rem 1em;
}
@media screen {
  main[role="contents_inner"] .note.type_tip {
    border-left: 1px solid #ccc;
  }
}
@media print {
  main[role="contents_inner"] .note.type_tip {
    border-left: 0.3pt solid #ccc;
  }
}
main[role="contents_inner"] .note.type_tip .note_title {
  padding: 0.1em 0.5em;
  background-color: #555;
  color: #fff;
}
main[role="contents_inner"] .note.type_caution {
  border: 2px solid #fc0;
  padding: 0.665rem;
}
main[role="contents_inner"] .note.type_caution .note_title::before {
  content: "";
  background-image: url("../img/common/icon_caution.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  flex-shrink: 0;
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  display: block;
}
main[role="contents_inner"] .note.type_warning,
main[role="contents_inner"] .note.type_danger {
  border: 2px solid #c00;
  padding: 0.665rem;
}
main[role="contents_inner"] .note.type_warning .note_title::before,
main[role="contents_inner"] .note.type_danger .note_title::before {
  content: "";
  background-image: url("../img/common/icon_caution.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 25%;
  flex-shrink: 0;
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  display: block;
}
main[role="contents_inner"] ul,
main[role="contents_inner"] ol {
  width: 100%;
  position: relative;
}
main[role="contents_inner"] ul li,
main[role="contents_inner"] ol li {
  width: 100%;
}
main[role="contents_inner"] ul.ul > li .li_before {
  display: table-cell;
  width: 1em;
  vertical-align: top;
}
main[role="contents_inner"] ul.ul > li .li_before::before {
  content: "";
  background-image: url("../img/common/icon_circle.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0%;
  width: 1.5em;
  height: 1.5em;
  flex-shrink: 0;
  display: inline-block;
  width: 1.45em;
  height: 1.45em;
}
main[role="contents_inner"] ul.ul > li ul {
  margin-top: 0;
}
main[role="contents_inner"] ul.ul > li li:not(:first-child) {
  margin-top: 0.1em;
}
main[role="contents_inner"] ul.ul > li li .li_before::before {
  width: 0.4em;
  height: 0.4em;
  margin: 0.525em 0;
}
main[role="contents_inner"] ul.ul > li .li_contents {
  vertical-align: top;
  display: table-cell;
}
main[role="contents_inner"] ul.ul.square > li .li_before::before {
  content: "";
  background-image: url("../img/common/icon_square.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0%;
  width: 1.5em;
  height: 1.5em;
  flex-shrink: 0;
  display: inline-block;
  width: 1.45em;
  height: 1.45em;
  margin-right: 0.2em;
}
main[role="contents_inner"] .ullinks {
  margin: 1.33rem 0;
}
main[role="contents_inner"] .ullinks li {
  margin-bottom: 0.5em;
  font-size: 1.2rem;
}
main[role="contents_inner"] ol:not(.steps) {
  display: table;
}
main[role="contents_inner"] ol:not(.steps):not(.continuous) {
  counter-reset: ol-counter1;
}
main[role="contents_inner"] ol:not(.steps) > li {
  display: table-row;
  counter-increment: ol-counter1;
}
main[role="contents_inner"] ol:not(.steps) > li .li_before {
  display: table-cell;
  padding-right: 0.5em;
  width: 1em;
  text-align: center;
}
main[role="contents_inner"] ol:not(.steps) > li .li_before::before {
  content: counter(ol-counter1);
  font-weight: bold;
  font-size: 1.2rem;
  color: #263b74;
  line-height: 1.2;
}
main[role="contents_inner"] ol:not(.steps) > li .li_contents {
  display: table-cell;
  vertical-align: middle;
  padding-bottom: 0.5em;
}
main[role="contents_inner"] ol:not(.steps) > li ol:not(.continuous) {
  counter-reset: ol-counter2;
}
main[role="contents_inner"] ol:not(.steps) > li ol > li {
  counter-increment: ol-counter2;
}
main[role="contents_inner"] ol:not(.steps) > li ol > li .li_before::before {
  content: "(" counter(ol-counter2) ")";
  padding-right: 0.5em;
  width: 2em;
  font-size: 1rem;
}
main[role="contents_inner"] ol.steps {
  counter-reset: step-counter;
}
main[role="contents_inner"] ol.steps > li.step {
  counter-increment: step-counter;
  display: list-item;
  padding: 1.33rem 0;
}
@media screen {
  main[role="contents_inner"] ol.steps > li.step:not(:last-of-type) {
    border-bottom: 1px dashed #ccc;
  }
}
@media print {
  main[role="contents_inner"] ol.steps > li.step:not(:last-of-type) {
    border-bottom: 0.3pt dashed #ccc;
  }
}
main[role="contents_inner"] ol.steps > li.step::before {
  content: attr(data-step-prefix) counter(step-counter);
  display: inline-block;
  background: #263b74;
  padding: 0.1em 1em;
  color: #fff;
  font-weight: bold;
  width: auto;
  margin-bottom: 1.33rem;
}
main[role="contents_inner"] ol.steps > li.step .cmd {
  display: block;
  font-weight: bold;
  margin-bottom: 0.665rem;
}
main[role="contents_inner"] ol.steps ol.substeps {
  counter-reset: substep-counter;
}
main[role="contents_inner"] ol.steps ol.substeps li.substep {
  counter-increment: substep-counter;
}
main[role="contents_inner"] ol.steps ol.substeps li.substep .li_before::before {
  content: counter(substep-counter);
  background: #263b74;
  color: #fff;
  font-weight: bold;
  width: 2em;
  height: 2em;
  border-radius: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8em;
  margin-top: -2px;
}
main[role="contents_inner"] li > .cols:first-child,
main[role="contents_inner"] .note > .cols:first-child {
  margin-top: 0;
}
main[role="contents_inner"] li.cols,
main[role="contents_inner"] .note.cols {
  margin-top: 0;
}
main[role="contents_inner"] .cols:not(.nofiggroup):not(.step) {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0.665rem 0;
}
main[role="contents_inner"] .cols:not(.nofiggroup):not(.step) .cols {
  margin: 0;
}
main[role="contents_inner"] .cols:not(.nofiggroup):not(.step).dashed > .col:not(:last-child) {
  padding-right: 1.33rem;
}
@media screen {
  main[role="contents_inner"] .cols:not(.nofiggroup):not(.step).dashed > .col:not(:first-child) {
    border-left: 1px dashed #ccc;
  }
}
@media print {
  main[role="contents_inner"] .cols:not(.nofiggroup):not(.step).dashed > .col:not(:first-child) {
    border-left: 0.3pt dashed #ccc;
  }
}
main[role="contents_inner"] .cols:not(.nofiggroup):not(.step).line > .col:not(:last-child) {
  padding-right: 1.33rem;
}
@media screen {
  main[role="contents_inner"] .cols:not(.nofiggroup):not(.step).line > .col:not(:first-child) {
    border-left: 1px solid #ccc;
  }
}
@media print {
  main[role="contents_inner"] .cols:not(.nofiggroup):not(.step).line > .col:not(:first-child) {
    border-left: 0.3pt solid #ccc;
  }
}
main[role="contents_inner"] .cols:not(.nofiggroup):not(.step) > .col {
  vertical-align: top;
  flex-grow: 99;
  flex-shrink: 0;
  overflow: hidden;
  flex-basis: auto;
}
main[role="contents_inner"] .cols:not(.nofiggroup):not(.step) > .col:not(:first-child) {
  padding-left: 1.33rem;
}
main[role="contents_inner"] .cols:not(.nofiggroup):not(.step) > .col.setwidth img {
  max-width: none;
}
main[role="contents_inner"] .cols:not(.nofiggroup):not(.step) > .col.unsetwidth {
  flex-shrink: 99;
  flex-grow: 0;
  flex-basis: 95%;
}
main[role="contents_inner"] .cols:not(.nofiggroup):not(.step) > .col > *:first-child,
main[role="contents_inner"] .cols:not(.nofiggroup):not(.step) > .col > .p:first-child .tablewrapper {
  margin-top: 0;
}
@media screen and (max-width: 600px) {
  main[role="contents_inner"] .cols:not(.nofiggroup):not(.step) {
    display: block;
  }
  main[role="contents_inner"] .cols:not(.nofiggroup):not(.step) > .col {
    width: 100%;
    display: block;
    padding: 0 !important;
  }
  main[role="contents_inner"] .cols:not(.nofiggroup):not(.step) > .col:not(:first-child) {
    margin-top: 1.33rem;
  }
  main[role="contents_inner"] .cols:not(.nofiggroup):not(.step).dashed > .col:not(:first-child) {
    border: none;
  }
  main[role="contents_inner"] .cols:not(.nofiggroup):not(.step).line > .col:not(:first-child) {
    border: none;
  }
}
main[role="contents_inner"] .cols.nofiggroup {
  columns: 2;
  column-fill: balance;
  column-gap: 1.33rem;
  display: block;
}
@media screen and (max-width: 600px) {
  main[role="contents_inner"] .cols.nofiggroup {
    columns: 1;
  }
}
main[role="contents_inner"] .cols.nofiggroup li {
  display: table;
  margin-bottom: 1.33rem;
}
main[role="contents_inner"] .cols.nofiggroup li,
main[role="contents_inner"] .cols.nofiggroup img,
main[role="contents_inner"] .cols.nofiggroup figure,
main[role="contents_inner"] .cols.nofiggroup .tablewrapper {
  break-inside: avoid;
}
main[role="contents_inner"] .cols.nofiggroup.dashed {
  column-rule: 1px dashed #ccc;
}
main[role="contents_inner"] .cols.nofiggroup.line {
  column-rule: 1px solid #ccc;
}
main[role="contents_inner"] .cols.nofiggroup.col3 {
  columns: 3;
}
main[role="contents_inner"] .cols.nofiggroup.col4 {
  columns: 4;
}
main[role="contents_inner"] .cols.step .col_wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
main[role="contents_inner"] .cols.step .col_wrapper .col {
  flex-shrink: 99;
  flex-grow: 99;
  width: 100%;
  flex-basis: 100%;
  overflow: hidden;
}
main[role="contents_inner"] .cols.step .col_wrapper .col:not(:first-child) {
  padding-left: 1.33rem;
}
main[role="contents_inner"] .troublebody .troubleSolution + .troubleSolution {
  margin-top: 2.66rem;
}
main[role="contents_inner"] .troublebody .troubleSolution .cause {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 0;
  margin-bottom: 1.33rem;
}
main[role="contents_inner"] .troublebody .troubleSolution .cause::before {
  content: "";
  background-image: url("../img/common/icon_question.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0%;
  width: 1.5em;
  height: 1.5em;
  display: inline-block;
  width: 2.5em;
  height: 2.5em;
  flex-shrink: 0;
  display: block;
}
main[role="contents_inner"] .troublebody .troubleSolution .cause .title {
  border: none;
  padding: 0;
  margin: 0;
  background: none;
  font-size: 1.2rem;
}
main[role="contents_inner"] .troublebody .troubleSolution .remedy {
  border-left: 3px solid #b3c1e6;
  padding-left: 1.33rem;
  margin: 0 0 0 1em;
  width: calc(100% - 1em);
}
main[role="contents_inner"] .troublebody .troubleSolution .remedy .cmd {
  font-weight: bold;
  margin-bottom: 1.33rem;
}
@media screen {
  main[role="contents_inner"] .fn_area:not(:empty) {
    margin-top: 2.66rem;
    padding-top: 1.33rem;
  }
}
@media screen and screen {
  main[role="contents_inner"] .fn_area:not(:empty) {
    border-top: 1px solid #ccc;
  }
}
@media screen and print {
  main[role="contents_inner"] .fn_area:not(:empty) {
    border-top: 0.3pt solid #ccc;
  }
}
main[role="contents_inner"] .fn_area:not(:empty) .fn {
  display: table-row;
}
main[role="contents_inner"] .fn_area:not(:empty) .fn .fn_link {
  display: table-cell;
  font-weight: normal;
  white-space: nowrap;
}
main[role="contents_inner"] .fn_area:not(:empty) .fn .fn_link sup {
  vertical-align: baseline;
  font-size: 1em;
}
main[role="contents_inner"] .fn_area:not(:empty) .fn .fn_text {
  display: table-cell;
  padding-left: 0.8em;
  padding-bottom: 0.5em;
}
main[role="contents_inner"] .fn_link {
  color: #6682cd;
  font-weight: bold;
}
main[role="contents_inner"] nav[role="navigation"] .relinfo {
  padding: 1em;
  margin-top: 2.66rem;
}
@media screen {
  main[role="contents_inner"] nav[role="navigation"] .relinfo {
    border: 1px solid #ccc;
  }
}
@media print {
  main[role="contents_inner"] nav[role="navigation"] .relinfo {
    border: 0.3pt solid #ccc;
  }
}
main[role="contents_inner"] nav[role="navigation"] .relinfo .title {
  font-size: 1.2rem;
  font-weight: bold;
}
main[role="contents_inner"] nav[role="navigation"] .relinfo a {
  padding: 0.05em 0.2em 0.05em;
  color: unset;
  display: inline-flex;
  align-items: center;
}
@media screen {
  main[role="contents_inner"] nav[role="navigation"] .relinfo a {
    border-bottom: 1px solid #ccc;
  }
}
@media print {
  main[role="contents_inner"] nav[role="navigation"] .relinfo a {
    border-bottom: 0.3pt solid #ccc;
  }
}
main[role="contents_inner"] nav[role="navigation"] .relinfo a::before {
  content: "";
  background-image: url("../img/common/icon_link.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0%;
  width: 1.5em;
  height: 1.5em;
  flex-shrink: 0;
  width: 1.2em;
  height: 1.2em;
  display: inline-block;
}
main[role="contents_inner"] nav[role="navigation"] .relinfo a:hover {
  background: #d9e0f3;
  color: #263b74;
}
@media screen {
  main[role="contents_inner"] nav[role="navigation"] .relinfo a:hover {
    border-bottom: 1px solid #263b74;
  }
}
@media print {
  main[role="contents_inner"] nav[role="navigation"] .relinfo a:hover {
    border-bottom: 0.3pt solid #263b74;
  }
}
main[role="contents_inner"] .body:empty + nav[role="navigation"] {
  margin: 0;
}
/***************************************************
 * HTML
 ***************************************************/
html,
body {
  font-size: 18px;
  -webkit-text-size-adjust: 100%;
}
@media (max-width: 1366px) {
  html,
  body {
    font-size: 15px;
  }
}
html *,
body * {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  user-select: none;
}
body {
  padding: 60px 0 50px;
}
.print {
  display: none !important;
}
header {
  display: flex;
}
header[role="global"] {
  justify-content: center;
  position: fixed;
  top: 0;
  background: #fff;
  opacity: 0.95;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 99;
}
header[role="global"] > * {
  height: 60px;
}
header[role="global"] .header_logo {
  padding-left: 10px;
  flex-grow: 99;
  align-items: center;
  display: flex;
  border-bottom: 1px solid #ccc;
}
header[role="global"] .header_logo img {
  max-width: 180px;
  height: 30px;
}
header[role="global"] .header_nav {
  display: flex;
  width: auto;
}
header[role="global"] .header_nav li {
  width: 60px;
  height: 60px;
  border-left: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
header[role="global"] .header_nav li.open {
  border-bottom-color: transparent;
  background: #f5f5f5;
}
header[role="global"] .header_nav li > a {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
header[role="global"] .header_nav li.language > a::before {
  content: "";
  background-image: url("../img/common/icon_language.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0%;
  width: 1.5em;
  height: 1.5em;
  flex-shrink: 0;
  display: inline-block;
  width: 70%;
  height: 70%;
}
header[role="global"] .header_nav li.toc {
  display: none;
}
@media (max-width: 1024px) {
  header[role="global"] .header_nav li.toc {
    display: flex;
  }
}
header[role="global"] .header_nav li.toc > a::before {
  content: "";
  background-image: url("../img/common/icon_menu.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0%;
  width: 1.5em;
  height: 1.5em;
  flex-shrink: 0;
  display: inline-block;
  width: 70%;
  height: 70%;
}
header[role="global"] .header_nav li ul {
  display: none;
}
header[role="manual"] {
  justify-content: center;
  height: auto;
  top: 60px;
  background: #263b74;
  min-height: 80px;
  display: flex;
  align-items: center;
}
header[role="manual"] .contents_box {
  max-width: 1621px;
  width: 100%;
  padding: 0 1.33rem;
  display: flex;
  height: 100%;
  align-items: center;
}
@media (max-width: 1366px) {
  header[role="manual"] .contents_box {
    max-width: 1170px;
  }
}
header[role="manual"] .contents_box span {
  font-size: 1.8rem;
  color: #fff;
  font-weight: bold;
  line-height: 1.2;
  padding: 0.1em 0;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 600px) {
  header[role="manual"] .contents_box span {
    font-size: 1.5rem;
  }
}
header[role="manual"] .contents_box span::before {
  content: "";
  background-image: url("../img/common/icon_manual.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 75%;
  width: 1.5em;
  height: 1.5em;
  flex-shrink: 0;
  width: 1.7em;
  height: 1.7em;
  display: inline-block;
}
main[role="main_contents"] {
  width: 100%;
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 1024px) {
  main[role="main_contents"] {
    min-height: calc(100vh - 60px - 80px);
  }
}
main[role="main_contents"] .contents_box {
  max-width: 1621px;
  width: 100%;
  padding: 0 1.33rem;
  display: flex;
  margin-top: 1.33rem;
}
@media (max-width: 1366px) {
  main[role="main_contents"] .contents_box {
    max-width: 1170px;
  }
}
main[role="main_contents"] .contents_box nav[role="side_toc"] {
  flex-basis: 18.5em;
  flex-shrink: 0;
  line-height: 1.2;
  z-index: 2;
}
main[role="main_contents"] .contents_box nav[role="side_toc"] .side_toc {
  width: 18.5em;
  overflow: hidden;
  font-size: 1rem;
}
@media screen and (min-width: 1024px) {
  main[role="main_contents"] .contents_box nav[role="side_toc"].fixed .side_toc {
    position: fixed;
    top: calc(60px + 1.33rem);
  }
}
main[role="main_contents"] .contents_box nav[role="side_toc"] .side_toc_inner {
  width: calc(18.5em + 20px);
  overflow-y: scroll;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  height: 100%;
}
main[role="main_contents"] .contents_box nav[role="side_toc"] ul.toc_list {
  width: 18.5em;
}
@media screen and (min-width: 1024px) {
  main[role="main_contents"] .contents_box nav[role="side_toc"] ul.toc_list.level1 {
    padding: 1px 0;
  }
}
@media screen and (max-width: 1024px) {
  main[role="main_contents"] .contents_box nav[role="side_toc"] ul.toc_list.level1 {
    margin-top: -1px;
  }
}
main[role="main_contents"] .contents_box nav[role="side_toc"] ul.toc_list li {
  background: #f5f5f5;
  position: relative;
  width: 18.5em;
}
@media screen {
  main[role="main_contents"] .contents_box nav[role="side_toc"] ul.toc_list li {
    border-top: 1px solid #ccc;
  }
}
@media print {
  main[role="main_contents"] .contents_box nav[role="side_toc"] ul.toc_list li {
    border-top: 0.3pt solid #ccc;
  }
}
@media screen and (max-width: 1024px) {
  main[role="main_contents"] .contents_box nav[role="side_toc"] ul.toc_list li {
    width: 100%;
    max-width: 30em;
  }
}
@media screen and (max-width: 600px) {
  main[role="main_contents"] .contents_box nav[role="side_toc"] ul.toc_list li {
    max-width: unset;
  }
}
main[role="main_contents"] .contents_box nav[role="side_toc"] ul.toc_list li .toc_list_btn {
  display: flex;
  align-items: center;
  padding: 0.5em 0.3em;
}
@media screen and (max-width: 600px) {
  main[role="main_contents"] .contents_box nav[role="side_toc"] ul.toc_list li .toc_list_btn {
    padding: 0.5em;
  }
}
main[role="main_contents"] .contents_box nav[role="side_toc"] ul.toc_list li.parent .toc_list_btn::after {
  content: "";
  background-image: url("../img/common/icon_plus.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0%;
  width: 1.5em;
  height: 1.5em;
  flex-shrink: 0;
  display: inline-block;
}
main[role="main_contents"] .contents_box nav[role="side_toc"] ul.toc_list li.parent.open > .toc_list_a > .toc_list_btn::after {
  content: "";
  background-image: url("../img/common/icon_minus.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0%;
  width: 1.5em;
  height: 1.5em;
  flex-shrink: 0;
  display: inline-block;
}
main[role="main_contents"] .contents_box nav[role="side_toc"] ul.toc_list li .toc_list_a {
  padding: 0.2em 0 0.2em 0.7em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
main[role="main_contents"] .contents_box nav[role="side_toc"] ul.toc_list li .toc_list_a::after {
  content: "";
  display: block;
  min-height: 3em;
}
main[role="main_contents"] .contents_box nav[role="side_toc"] ul.toc_list li .toc_list_a:hover {
  border-left: 5px solid #263b74;
  padding-left: calc(0.7em - 5px);
}
main[role="main_contents"] .contents_box nav[role="side_toc"] ul.toc_list li .toc_list_a:hover .toc_list_text {
  text-decoration: underline;
}
main[role="main_contents"] .contents_box nav[role="side_toc"] ul.toc_list li .toc_list_a .toc_list_text {
  flex-grow: 99;
  padding-left: 0.3em;
}
main[role="main_contents"] .contents_box nav[role="side_toc"] ul.toc_list li .leaf .toc_list_text {
  padding-right: 0.5em;
}
main[role="main_contents"] .contents_box nav[role="side_toc"] ul.toc_list li .leaf .toc_list_btn::after {
  content: none;
}
main[role="main_contents"] .contents_box nav[role="side_toc"] ul.toc_list li .toc_list_inner {
  display: none;
  overflow: hidden;
}
main[role="main_contents"] .contents_box nav[role="side_toc"] ul.toc_list li.open > .toc_list_inner {
  display: unset;
}
main[role="main_contents"] .contents_box nav[role="side_toc"] ul.toc_list li.level1 {
  margin-bottom: 0.665rem;
}
@media screen and (max-width: 1024px) {
  main[role="main_contents"] .contents_box nav[role="side_toc"] ul.toc_list li.level1 {
    margin-bottom: 0;
  }
}
main[role="main_contents"] .contents_box nav[role="side_toc"] ul.toc_list li.level1.active > .toc_list_a {
  background: #263b74;
  color: #fff;
}
main[role="main_contents"] .contents_box nav[role="side_toc"] ul.toc_list li.level1.active > .toc_list_a::before {
  background-position: 75%;
  flex-basis: 2em;
  height: 2em;
}
main[role="main_contents"] .contents_box nav[role="side_toc"] ul.toc_list li.level1.active > .toc_list_a .toc_list_btn::after {
  background-position: 75%;
}
main[role="main_contents"] .contents_box nav[role="side_toc"] ul.toc_list li.level1.active.open > .toc_list_a .toc_list_btn::after {
  background-position: 75%;
}
main[role="main_contents"] .contents_box nav[role="side_toc"] ul.toc_list li.level1 > .toc_list_a {
  background: #edf0f9;
  font-weight: bold;
}
main[role="main_contents"] .contents_box nav[role="side_toc"] ul.toc_list li.level1 > .toc_list_a::before {
  content: "";
  background-image: url("../img/common/icon_list.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0%;
  width: 1.5em;
  height: 1.5em;
  flex-shrink: 0;
  display: inline-block;
  flex-basis: 2em;
  height: 2em;
}
main[role="main_contents"] .contents_box nav[role="side_toc"] ul.toc_list li.level1 > .toc_list_a .toc_list_btn::after {
  content: "";
  background-image: url("../img/common/icon_plus.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0%;
  width: 1.5em;
  height: 1.5em;
  flex-shrink: 0;
  display: inline-block;
}
main[role="main_contents"] .contents_box nav[role="side_toc"] ul.toc_list li.level2 {
  background: #f5f5f5;
}
main[role="main_contents"] .contents_box nav[role="side_toc"] ul.toc_list li.level3,
main[role="main_contents"] .contents_box nav[role="side_toc"] ul.toc_list li.level4,
main[role="main_contents"] .contents_box nav[role="side_toc"] ul.toc_list li.level5,
main[role="main_contents"] .contents_box nav[role="side_toc"] ul.toc_list li.level6 {
  background: #f5f5f5;
}
main[role="main_contents"] .contents_box nav[role="side_toc"] ul.toc_list li.level3 .toc_list_a::before,
main[role="main_contents"] .contents_box nav[role="side_toc"] ul.toc_list li.level4 .toc_list_a::before,
main[role="main_contents"] .contents_box nav[role="side_toc"] ul.toc_list li.level5 .toc_list_a::before,
main[role="main_contents"] .contents_box nav[role="side_toc"] ul.toc_list li.level6 .toc_list_a::before {
  content: "";
  background-image: url("../img/common/icon_hierarchy.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 5%;
  width: 1.5em;
  height: 1.5em;
  flex-shrink: 0;
  display: inline-block;
  height: 2em;
  flex-basis: 1.5em;
}
main[role="main_contents"] .contents_box nav[role="side_toc"] ul.toc_list li.level3 .toc_list_a::before {
  margin-left: 0.75em;
}
main[role="main_contents"] .contents_box nav[role="side_toc"] ul.toc_list li.level4 .toc_list_a::before {
  margin-left: 1.5em;
}
main[role="main_contents"] .contents_box nav[role="side_toc"] ul.toc_list li.level5 .toc_list_a::before {
  margin-left: 2.25em;
}
main[role="main_contents"] .contents_box nav[role="side_toc"] ul.toc_list li.level6 .toc_list_a::before {
  margin-left: 3em;
}
main[role="main_contents"] .contents_box nav[role="side_toc"] ul.toc_list li.active.level1 > .toc_list_a.active {
  font-weight: bold;
  color: #fff;
}
main[role="main_contents"] .contents_box nav[role="side_toc"] ul.toc_list li.active .toc_list_a.selected {
  font-weight: bold;
  color: #263b74;
}
@media screen and (max-width: 1024px) {
  main[role="main_contents"] .contents_box nav[role="side_toc"] {
    flex-basis: 30em;
    width: 30em;
    right: -100%;
    position: fixed;
    top: 59px;
    z-index: 98;
    transition: 0.25s;
  }
  main[role="main_contents"] .contents_box nav[role="side_toc"] .side_toc_back::before {
    content: "";
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.7);
    position: fixed;
    top: 60px;
    left: 0;
    display: block;
    opacity: 0;
    transition: 0.5s;
    transform: translate3d(0, 0, 0);
    pointer-events: none;
  }
  main[role="main_contents"] .contents_box nav[role="side_toc"] .side_toc {
    width: 30em;
    max-width: 30em;
    position: absolute;
  }
  main[role="main_contents"] .contents_box nav[role="side_toc"] .side_toc_inner {
    width: calc(30em + 20px);
    max-width: calc(30em + 20px);
  }
  main[role="main_contents"] .contents_box nav[role="side_toc"] ul.toc_list {
    width: 30em;
  }
  main[role="main_contents"] .contents_box nav[role="side_toc"] ul.toc_list.level1 {
    border-left: 1px solid #ccc;
  }
  main[role="main_contents"] .contents_box nav[role="side_toc"].open .side_toc_back::before {
    opacity: 1;
    pointer-events: auto;
  }
}
@media screen and (max-width: 1024px) and screen {
  main[role="main_contents"] .contents_box nav[role="side_toc"] ul.toc_list.level1 {
    border-bottom: 1px solid #ccc;
  }
}
@media screen and (max-width: 1024px) and print {
  main[role="main_contents"] .contents_box nav[role="side_toc"] ul.toc_list.level1 {
    border-bottom: 0.3pt solid #ccc;
  }
}
@media screen and (max-width: 600px) {
  main[role="main_contents"] .contents_box nav[role="side_toc"] {
    position: fixed;
    top: 60px;
    right: -100%;
    z-index: 99;
    width: 100%;
  }
  main[role="main_contents"] .contents_box nav[role="side_toc"]::before {
    content: none;
  }
  main[role="main_contents"] .contents_box nav[role="side_toc"] .side_toc,
  main[role="main_contents"] .contents_box nav[role="side_toc"] .side_toc_inner,
  main[role="main_contents"] .contents_box nav[role="side_toc"] .toc_list {
    width: 100% !important;
    max-width: none !important;
  }
}
main[role="main_contents"] .contents_box nav[role="side_toc"] .simplebar-track.simplebar-vertical {
  left: calc(18.5em - 11px);
  right: auto;
}
@media screen and (max-width: 1024px) {
  main[role="main_contents"] .contents_box nav[role="side_toc"] .simplebar-track.simplebar-vertical {
    left: calc(30em - 10px);
  }
}
@media screen and (max-width: 600px) {
  main[role="main_contents"] .contents_box nav[role="side_toc"] .simplebar-track.simplebar-vertical {
    left: calc(100% - 10px);
  }
}
main[role="main_contents"] .contents_box main[role="contents_inner"] {
  flex-shrink: 99;
  margin-left: 2.66rem;
  width: 100%;
  padding-bottom: 11.97rem;
  position: relative;
  min-width: 0;
}
main[role="main_contents"] .contents_box main[role="contents_inner"] nav[role="breadcrumb"] {
  width: 100%;
  overflow: hidden;
}
@media screen and (max-width: 600px) {
  main[role="main_contents"] .contents_box main[role="contents_inner"] nav[role="breadcrumb"] {
    display: none;
  }
}
main[role="main_contents"] .contents_box main[role="contents_inner"] nav[role="breadcrumb"] .breadcrumb_list {
  display: flex;
  flex-wrap: wrap;
}
main[role="main_contents"] .contents_box main[role="contents_inner"] nav[role="breadcrumb"] .breadcrumb_list li {
  width: auto;
  height: 2em;
  display: flex;
  align-items: center;
  margin-bottom: 0.665rem;
  padding: 0;
  position: relative;
}
main[role="main_contents"] .contents_box main[role="contents_inner"] nav[role="breadcrumb"] .breadcrumb_list li:first-child .topicref_before {
  display: none;
}
main[role="main_contents"] .contents_box main[role="contents_inner"] nav[role="breadcrumb"] .breadcrumb_list li:not(:first-child) .topicref_inner {
  border-left: none;
  padding-left: 2em;
}
main[role="main_contents"] .contents_box main[role="contents_inner"] nav[role="breadcrumb"] .breadcrumb_list li.active a {
  color: #555;
  font-weight: bold;
}
main[role="main_contents"] .contents_box main[role="contents_inner"] nav[role="breadcrumb"] .breadcrumb_list li span a {
  display: flex;
  color: #6682cd;
  position: relative;
}
main[role="main_contents"] .contents_box main[role="contents_inner"] nav[role="breadcrumb"] .breadcrumb_list li span a .topicref_before {
  width: 1.414em;
  height: 2em;
  display: flex;
  align-items: center;
  overflow: hidden;
  position: absolute;
}
main[role="main_contents"] .contents_box main[role="contents_inner"] nav[role="breadcrumb"] .breadcrumb_list li span a .topicref_before::before {
  content: "";
  width: 1.414em;
  height: 1.414em;
  display: block;
  transform: rotate(45deg);
  position: relative;
  left: -0.707em;
  background: #fff;
  z-index: 2;
}
@media screen {
  main[role="main_contents"] .contents_box main[role="contents_inner"] nav[role="breadcrumb"] .breadcrumb_list li span a .topicref_before::before {
    border-right: 1px solid #ccc;
  }
}
@media print {
  main[role="main_contents"] .contents_box main[role="contents_inner"] nav[role="breadcrumb"] .breadcrumb_list li span a .topicref_before::before {
    border-right: 0.3pt solid #ccc;
  }
}
@media screen {
  main[role="main_contents"] .contents_box main[role="contents_inner"] nav[role="breadcrumb"] .breadcrumb_list li span a .topicref_before::before {
    border-top: 1px solid #ccc;
  }
}
@media print {
  main[role="main_contents"] .contents_box main[role="contents_inner"] nav[role="breadcrumb"] .breadcrumb_list li span a .topicref_before::before {
    border-top: 0.3pt solid #ccc;
  }
}
main[role="main_contents"] .contents_box main[role="contents_inner"] nav[role="breadcrumb"] .breadcrumb_list li span a .topicref_inner {
  height: 2em;
  padding: 0.2em 1em;
}
@media screen {
  main[role="main_contents"] .contents_box main[role="contents_inner"] nav[role="breadcrumb"] .breadcrumb_list li span a .topicref_inner {
    border-top: 1px solid #ccc;
  }
}
@media print {
  main[role="main_contents"] .contents_box main[role="contents_inner"] nav[role="breadcrumb"] .breadcrumb_list li span a .topicref_inner {
    border-top: 0.3pt solid #ccc;
  }
}
@media screen {
  main[role="main_contents"] .contents_box main[role="contents_inner"] nav[role="breadcrumb"] .breadcrumb_list li span a .topicref_inner {
    border-bottom: 1px solid #ccc;
  }
}
@media print {
  main[role="main_contents"] .contents_box main[role="contents_inner"] nav[role="breadcrumb"] .breadcrumb_list li span a .topicref_inner {
    border-bottom: 0.3pt solid #ccc;
  }
}
@media screen {
  main[role="main_contents"] .contents_box main[role="contents_inner"] nav[role="breadcrumb"] .breadcrumb_list li span a .topicref_inner {
    border-left: 1px solid #ccc;
  }
}
@media print {
  main[role="main_contents"] .contents_box main[role="contents_inner"] nav[role="breadcrumb"] .breadcrumb_list li span a .topicref_inner {
    border-left: 0.3pt solid #ccc;
  }
}
main[role="main_contents"] .contents_box main[role="contents_inner"] nav[role="breadcrumb"] .breadcrumb_list li span a .topicref_after {
  width: 1.414em;
  height: 2em;
  display: flex;
  align-items: center;
  overflow: hidden;
  position: absolute;
  right: -1.414em;
}
main[role="main_contents"] .contents_box main[role="contents_inner"] nav[role="breadcrumb"] .breadcrumb_list li span a .topicref_after::after {
  content: "";
  width: 1.414em;
  height: 1.414em;
  display: block;
  transform: rotate(45deg);
  position: relative;
  left: -0.707em;
  background: #fff;
  z-index: 3;
}
@media screen {
  main[role="main_contents"] .contents_box main[role="contents_inner"] nav[role="breadcrumb"] .breadcrumb_list li span a .topicref_after::after {
    border-right: 1px solid #ccc;
  }
}
@media print {
  main[role="main_contents"] .contents_box main[role="contents_inner"] nav[role="breadcrumb"] .breadcrumb_list li span a .topicref_after::after {
    border-right: 0.3pt solid #ccc;
  }
}
@media screen {
  main[role="main_contents"] .contents_box main[role="contents_inner"] nav[role="breadcrumb"] .breadcrumb_list li span a .topicref_after::after {
    border-top: 1px solid #ccc;
  }
}
@media print {
  main[role="main_contents"] .contents_box main[role="contents_inner"] nav[role="breadcrumb"] .breadcrumb_list li span a .topicref_after::after {
    border-top: 0.3pt solid #ccc;
  }
}
main[role="main_contents"] .contents_box main[role="contents_inner"] nav[role="breadcrumb"] .breadcrumb_list li span a:hover .topicref_inner,
main[role="main_contents"] .contents_box main[role="contents_inner"] nav[role="breadcrumb"] .breadcrumb_list li span a:hover .topicref_after::after {
  border-color: #6682cd;
  background: #6682cd;
  color: #fff;
}
main[role="main_contents"] .contents_box main[role="contents_inner"] nav[role="footer_control"] {
  position: fixed;
  left: 0;
  z-index: 3;
  width: 100%;
  display: flex;
  justify-content: center;
  pointer-events: none;
  bottom: calc(50px + 0.665rem);
}
@media screen and (max-width: 1024px) {
  main[role="main_contents"] .contents_box main[role="contents_inner"] nav[role="footer_control"] {
    bottom: 0.665rem;
  }
}
main[role="main_contents"] .contents_box main[role="contents_inner"] nav[role="footer_control"].bottom {
  position: absolute;
  margin-left: -1.33rem;
  width: calc(100% + 1.33rem * 2);
  overflow: visible;
  bottom: 1.33rem;
}
main[role="main_contents"] .contents_box main[role="contents_inner"] nav[role="footer_control"] .footer_control_inner {
  width: 100%;
  max-width: calc(1621px - 2.66rem);
  margin: 0 1.33rem;
  padding-left: calc(18.5em + 2.66rem);
  display: flex;
  flex-direction: column-reverse;
}
@media screen and (max-width: 1366px) {
  main[role="main_contents"] .contents_box main[role="contents_inner"] nav[role="footer_control"] .footer_control_inner {
    max-width: calc(1170px - 2.66rem);
  }
}
@media screen and (max-width: 1024px) {
  main[role="main_contents"] .contents_box main[role="contents_inner"] nav[role="footer_control"] .footer_control_inner {
    padding-left: 0;
  }
}
main[role="main_contents"] .contents_box main[role="contents_inner"] nav[role="footer_control"] .footer_control_inner a {
  border: 2px solid #fff;
  background-clip: padding-box;
  pointer-events: auto;
}
main[role="main_contents"] .contents_box main[role="contents_inner"] nav[role="footer_control"] .footer_control_inner .pagenation {
  display: none;
}
main[role="main_contents"] .contents_box main[role="contents_inner"] nav[role="footer_control"] .footer_control_inner .topic_prev_next {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-right: 2.66rem;
}
main[role="main_contents"] .contents_box main[role="contents_inner"] nav[role="footer_control"] .footer_control_inner .topic_prev_next span {
  padding: 0.2em 0;
  flex-basis: 50%;
}
main[role="main_contents"] .contents_box main[role="contents_inner"] nav[role="footer_control"] .footer_control_inner .topic_prev_next span a {
  background-color: #263b74;
  color: #fff;
  font-weight: bold;
  border-radius: 5px;
  margin: 0 0.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  min-width: 100px;
  max-width: 200px;
  height: 100%;
}
main[role="main_contents"] .contents_box main[role="contents_inner"] nav[role="footer_control"] .footer_control_inner .topic_prev_next span.topic_prev a {
  padding: 0.3em 1em 0.3em 2em;
  margin-left: auto;
}
main[role="main_contents"] .contents_box main[role="contents_inner"] nav[role="footer_control"] .footer_control_inner .topic_prev_next span.topic_prev a::before {
  content: "";
  background-image: url("../img/common/icon_link.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 75%;
  flex-shrink: 0;
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  transform: rotate(180deg);
  position: absolute;
  left: 0;
}
main[role="main_contents"] .contents_box main[role="contents_inner"] nav[role="footer_control"] .footer_control_inner .topic_prev_next span.topic_next a {
  padding: 0.3em 2em 0.3em 1em;
  margin-right: auto;
}
main[role="main_contents"] .contents_box main[role="contents_inner"] nav[role="footer_control"] .footer_control_inner .topic_prev_next span.topic_next a::after {
  content: "";
  background-image: url("../img/common/icon_link.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 75%;
  flex-shrink: 0;
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  position: absolute;
  right: 0;
}
main[role="main_contents"] .contents_box main[role="contents_inner"] nav[role="footer_control"] .footer_control_inner .topic_prev_next span:only-child a {
  margin-left: auto;
  margin-right: auto;
}
main[role="main_contents"] .contents_box main[role="contents_inner"] nav[role="footer_control"] .footer_control_inner .page_top {
  display: flex;
  flex-direction: row-reverse;
  margin-right: -50%;
  padding-right: 0.665rem;
}
@media screen and (min-width: 700px) {
  main[role="main_contents"] .contents_box main[role="contents_inner"] nav[role="footer_control"] .footer_control_inner .page_top {
    margin-bottom: -2.5em;
  }
}
main[role="main_contents"] .contents_box main[role="contents_inner"] nav[role="footer_control"] .footer_control_inner .page_top a {
  display: flex;
  width: 3em;
  height: 3em;
  background-color: #263b74;
  border-radius: 3em;
  justify-content: center;
  align-items: center;
}
main[role="main_contents"] .contents_box main[role="contents_inner"] nav[role="footer_control"] .footer_control_inner .page_top a::before {
  content: "";
  background-image: url("../img/common/icon_arrow.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 75%;
  width: 1.5em;
  height: 1.5em;
  flex-shrink: 0;
  display: inline-block;
  width: 2.5em;
  height: 2.5em;
}
main[role="main_contents"] .contents_box main[role="contents_inner"] nav[role="footer_control"].fixed .page_top {
  animation: __show_pt 0.25s;
  opacity: 1;
  margin-right: 0;
}
main[role="main_contents"] .contents_box main[role="contents_inner"] nav[role="footer_control"].top_area .page_top {
  animation: __hide_pt 0.25s;
  opacity: 0;
  margin-right: -50%;
}
main[role="main_contents"] .contents_box main[role="contents_inner"] nav[role="footer_control"].top_area .page_top a {
  pointer-events: none;
}
@media screen and (max-width: 1024px) {
  main[role="main_contents"] .contents_box main[role="contents_inner"] {
    margin-left: 0;
  }
}
footer {
  height: 50px;
  background: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  position: fixed;
  bottom: 0;
  z-index: 9;
}
@media screen and (max-width: 1024px) {
  footer {
    position: relative;
  }
}
body#top main[role="contents_inner"] {
  padding-bottom: 0;
}
body#top nav[role="footer_control"] {
  display: none;
}
.faq:not(.pagenation) section:not(:last-child) {
  padding-bottom: 2.66rem;
}
.faq main[role="main_contents"] h1 {
  display: flex;
  align-items: center;
}
.faq main[role="main_contents"] h1::before {
  content: "";
  background-image: url("../img/common/icon_faq.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0%;
  width: 1.5em;
  height: 1.5em;
  flex-shrink: 0;
  display: inline-block;
  margin-right: 0.2em;
}
.faq main[role="main_contents"] .enclosure {
  padding: 0.665rem;
  margin: 1.33rem 0;
}
@media screen {
  .faq main[role="main_contents"] .enclosure {
    border: 1px solid #ccc;
  }
}
@media print {
  .faq main[role="main_contents"] .enclosure {
    border: 0.3pt solid #ccc;
  }
}
.faq main[role="main_contents"] a.faq_link {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-weight: bold;
  color: #263b74;
  border: none;
}
.faq main[role="main_contents"] a.faq_link::before {
  content: "";
  background-image: url("../img/common/icon_question.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0%;
  width: 1.5em;
  height: 1.5em;
  display: inline-block;
  width: 2.5em;
  height: 2.5em;
  flex-shrink: 0;
  display: block;
}
.faq main[role="main_contents"] a.faq_button {
  background-color: #263b74;
  color: #fff;
  font-weight: bold;
  border-radius: 5px;
  margin: 0 0.5em;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.3em 2em;
  min-width: 150px;
  margin: 0 auto;
  position: absolute;
  transform: translate(-50%, 0);
  left: 50%;
}
@media screen and (max-width: 600px) {
  .faq main[role="main_contents"] a.faq_button {
    width: 100%;
  }
}
.faq main[role="main_contents"] a.faq_button::before {
  content: none;
}
.faq main[role="main_contents"] a.faq_button::after {
  content: "";
  background-image: url("../img/common/icon_link.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100%;
  flex-shrink: 0;
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  position: absolute;
  right: 0;
}
.faq.pagenation nav[role="footer_control"] .pagenation {
  display: flex !important;
  align-items: center;
  justify-content: center;
  pointer-events: auto;
  background: rgba(255, 255, 255, 0.8);
  padding: 0.665rem 0;
}
.faq.pagenation nav[role="footer_control"] .pagenation .pagenation_page {
  margin: 0 0.5em;
  max-width: 200px;
  min-width: 50px;
}
@media screen and (max-width: 600px) {
  .faq.pagenation nav[role="footer_control"] .pagenation .pagenation_page {
    max-width: 50%;
  }
}
.faq.pagenation nav[role="footer_control"] .pagenation .pagenation_page .pagenation_page_inner {
  display: flex;
}
.faq.pagenation nav[role="footer_control"] .pagenation .pagenation_page .slick-center .pagenation_num {
  background: #263b74;
  color: #fff;
}
.faq.pagenation nav[role="footer_control"] .pagenation .pagenation_page .pagenation_num {
  background: #d9e0f3;
  border-radius: 2em;
  width: 2em;
  height: 2em;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 0 0.2em;
  font-weight: bold;
  cursor: pointer;
  color: #263b74;
}
.faq.pagenation nav[role="footer_control"] .pagenation .pagenation_prev {
  display: flex;
  align-items: center;
  justify-content: center;
}
.faq.pagenation nav[role="footer_control"] .pagenation .pagenation_prev .last {
  content: "";
  background-image: url("../img/common/icon_link-last.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0%;
  width: 1.5em;
  height: 1.5em;
  flex-shrink: 0;
  display: inline-block;
  width: 2em;
  height: 2em;
  cursor: pointer;
  margin: 0 0.2em;
  transform: rotate(180deg);
}
.faq.pagenation nav[role="footer_control"] .pagenation .pagenation_prev .one {
  content: "";
  background-image: url("../img/common/icon_link.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0%;
  width: 1.5em;
  height: 1.5em;
  flex-shrink: 0;
  display: inline-block;
  width: 2em;
  height: 2em;
  cursor: pointer;
  margin: 0 0.2em;
  transform: rotate(180deg);
}
.faq.pagenation nav[role="footer_control"] .pagenation .pagenation_prev[data-position="inactive"] .last {
  content: "";
  background-image: url("../img/common/icon_link-last.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100%;
  width: 1.5em;
  height: 1.5em;
  flex-shrink: 0;
  display: inline-block;
  width: 2em;
  height: 2em;
  cursor: pointer;
  margin: 0 0.2em;
}
.faq.pagenation nav[role="footer_control"] .pagenation .pagenation_prev[data-position="inactive"] .one {
  content: "";
  background-image: url("../img/common/icon_link.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100%;
  width: 1.5em;
  height: 1.5em;
  flex-shrink: 0;
  display: inline-block;
  width: 2em;
  height: 2em;
  cursor: pointer;
  margin: 0 0.2em;
}
.faq.pagenation nav[role="footer_control"] .pagenation .pagenation_next {
  display: flex;
  align-items: center;
  justify-content: center;
}
.faq.pagenation nav[role="footer_control"] .pagenation .pagenation_next .last {
  content: "";
  background-image: url("../img/common/icon_link-last.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0%;
  width: 1.5em;
  height: 1.5em;
  flex-shrink: 0;
  display: inline-block;
  width: 2em;
  height: 2em;
  cursor: pointer;
  margin: 0 0.2em;
}
.faq.pagenation nav[role="footer_control"] .pagenation .pagenation_next .one {
  content: "";
  background-image: url("../img/common/icon_link.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0%;
  width: 1.5em;
  height: 1.5em;
  flex-shrink: 0;
  display: inline-block;
  width: 2em;
  height: 2em;
  cursor: pointer;
  margin: 0 0.2em;
}
.faq.pagenation nav[role="footer_control"] .pagenation .pagenation_next[data-position="inactive"] .last {
  content: "";
  background-image: url("../img/common/icon_link-last.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100%;
  width: 1.5em;
  height: 1.5em;
  flex-shrink: 0;
  display: inline-block;
  width: 2em;
  height: 2em;
  cursor: pointer;
  margin: 0 0.2em;
}
.faq.pagenation nav[role="footer_control"] .pagenation .pagenation_next[data-position="inactive"] .one {
  content: "";
  background-image: url("../img/common/icon_link.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100%;
  width: 1.5em;
  height: 1.5em;
  flex-shrink: 0;
  display: inline-block;
  width: 2em;
  height: 2em;
  cursor: pointer;
  margin: 0 0.2em;
}
.faq.pagenation nav[role="footer_control"] .topic_prev_next {
  display: none !important;
}
.faq .related-links {
  display: none !important;
}
.__test2 {
  color: #808080;
  color: 15px;
  color: 1.45;
}
