﻿@f: pdf;

@font-size: {
             @pdf: 10pt;
             @html: 15px;
         }



#test {
    content: "@{f}";
    content: @f;
    font-size: @font-size[@@f];
}
@font-sizes: @font-size[@@f];
@test: "dco";
