﻿@charset "utf-8";
@font-face {
  font-family: "dl-shingoB";
  src: prince-lookup("ShinGoPro-Bold");
}
@font-face {
  font-family: "dl-shingoDB";
  src: prince-lookup("ShinGoPro-DeBold");
}
@font-face {
  font-family: "dl-shingoM";
  src: prince-lookup("ShinGoPro-Medium");
}
@font-face {
  font-family: "dl-shingoR";
  src: prince-lookup("ShinGoPro-Regular");
}
@font-face {
  font-family: "dl-shingoL";
  src: prince-lookup("ShinGoPro-Light");
}
@font-face {
  font-family: "dl-shingo";
  font-weight: 900;
  src: prince-lookup("ShinGoPro-Bold");
}
@font-face {
  font-family: "dl-shingo";
  font-weight: 700;
  src: prince-lookup("ShinGoPro-DeBold");
}
@font-face {
  font-family: "dl-shingo";
  font-weight: 600;
  src: prince-lookup("ShinGoPro-Medium");
}
@font-face {
  font-family: "dl-shingo";
  font-weight: 400;
  src: prince-lookup("ShinGoPro-Regular");
}
@font-face {
  font-family: "dl-shingo";
  font-weight: 200;
  src: prince-lookup("ShinGoPro-Light");
}
@keyframes __show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes __hide {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes __anchor {
  0% {
    background: yellow;
  }
  100% {
    background: unset;
  }
}
/***************************************************
 * Reset
 ***************************************************/
*,
*::after,
*::before {
  box-sizing: border-box;
}
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  list-style: outside none none;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
body {
  line-height: 1;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
header,
footer,
section {
  width: 100%;
}
ul,
ol,
li {
  width: 100%;
}
ul {
  list-style: none;
}
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
input,
select {
  vertical-align: middle;
}
a:link,
a:visited,
a:active {
  color: inherit;
}
input[type="text"],
input[type="password"],
textarea,
select {
  outline: none;
}
abbr {
  text-decoration: none;
}
/***************************************************
 * Contents
 ***************************************************/
html,
body {
  width: 100%;
  height: 100%;
  font-size: 10pt;
  color: #333333;
  line-height: 1.4;
  position: relative;
}
html {
  font-family: "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", "メイリオ", Meiryo, Arial, sans-serif;
}
main[role="contents_inner"] article.topic {
  margin: 1.33rem 0 3.99rem;
}
main[role="contents_inner"] section.section {
  margin: 1.33rem 0 2.66rem;
}
main[role="contents_inner"] .title:first-child {
  margin-top: 0;
}
main[role="contents_inner"] h1,
main[role="contents_inner"] h2 {
  margin: 1.33rem 0;
}
main[role="contents_inner"] h3,
main[role="contents_inner"] h4 {
  margin: 1.33rem 0 0.665rem;
}
main[role="contents_inner"] h3.title,
main[role="contents_inner"] h4.title {
  margin: 2.66rem 0 1.33rem;
}
main[role="contents_inner"] h5,
main[role="contents_inner"] h6 {
  margin: 0.665rem 0;
}
main[role="contents_inner"] p:first-child {
  margin: 0 0 0.3325rem;
}
main[role="contents_inner"] p:not(:first-child) {
  margin: 0.3325rem 0;
}
main[role="contents_inner"] p + p {
  margin: 0.3325rem 0;
}
main[role="contents_inner"] figure.fig,
main[role="contents_inner"] .cols,
main[role="contents_inner"] .note,
main[role="contents_inner"] ul.ul,
main[role="contents_inner"] ol.ol,
main[role="contents_inner"] ol.steps {
  margin: 1.33rem 0;
}
main[role="contents_inner"] figure.fig:first-child,
main[role="contents_inner"] .cols:first-child,
main[role="contents_inner"] .note:first-child,
main[role="contents_inner"] ul.ul:first-child,
main[role="contents_inner"] ol.ol:first-child,
main[role="contents_inner"] ol.steps:first-child {
  margin-top: 0;
}
main[role="contents_inner"] figure.fig:last-child,
main[role="contents_inner"] .cols:last-child,
main[role="contents_inner"] .note:last-child,
main[role="contents_inner"] ul.ul:last-child,
main[role="contents_inner"] ol.ol:last-child,
main[role="contents_inner"] ol.steps:last-child {
  margin-bottom: 0;
}
main[role="contents_inner"] figure.fig ol.ol,
main[role="contents_inner"] .cols ol.ol,
main[role="contents_inner"] .note ol.ol,
main[role="contents_inner"] ul.ul ol.ol,
main[role="contents_inner"] ol.ol ol.ol,
main[role="contents_inner"] ol.steps ol.ol {
  margin-top: 0.5em;
}
main[role="contents_inner"] figcaption.figcap,
main[role="contents_inner"] figcaption.figdesc {
  margin: 0.3325rem 0;
}
main[role="contents_inner"] table p:last-child {
  margin-bottom: 0;
}
main[role="contents_inner"] .cols:not(:first-child),
main[role="contents_inner"] .note_contents:not(:first-child),
main[role="contents_inner"] ul.ul > li:not(:first-child) {
  margin-top: 0.2em;
}
main[role="contents_inner"] .cols:not(:first-child) > .li_before,
main[role="contents_inner"] .note_contents:not(:first-child) > .li_before,
main[role="contents_inner"] ul.ul > li:not(:first-child) > .li_before {
  padding-top: 0.3325rem;
}
main[role="contents_inner"] .cols:not(:first-child) > .li_contents,
main[role="contents_inner"] .note_contents:not(:first-child) > .li_contents,
main[role="contents_inner"] ul.ul > li:not(:first-child) > .li_contents {
  padding-top: 0.3325rem;
}
main[role="contents_inner"] .cols > *:first-child,
main[role="contents_inner"] .note_contents > *:first-child,
main[role="contents_inner"] ul.ul > li > *:first-child {
  margin-top: 0;
}
main[role="contents_inner"] .cols > *:last-child,
main[role="contents_inner"] .note_contents > *:last-child,
main[role="contents_inner"] ul.ul > li > *:last-child {
  margin-bottom: 0;
}
main[role="contents_inner"] .li_contents > *:first-child {
  margin-top: 0 !important;
}
main[role="contents_inner"] .li_contents > *:last-child {
  margin-bottom: 0 !important;
}
main[role="contents_inner"] h1,
main[role="contents_inner"] h2,
main[role="contents_inner"] h3,
main[role="contents_inner"] h4,
main[role="contents_inner"] h5,
main[role="contents_inner"] h6 {
  font-weight: 700;
}
main[role="contents_inner"] h1 {
  font-size: 2rem;
  margin: 1.33rem 0 1em;
}
@media screen and (max-width: 600px) {
  main[role="contents_inner"] h1 {
    font-size: 1.5rem;
  }
}
main[role="contents_inner"] h2 {
  font-size: 1.5rem;
  margin: 1.33rem 0;
  padding-left: 0.4em;
  border-left: 5px solid #263b74;
}
@media screen and (max-width: 600px) {
  main[role="contents_inner"] h2 {
    font-size: 1.25rem;
  }
}
main[role="contents_inner"] h3 {
  background: #cccccc;
  background: #d9e0f3;
  font-size: 1.1rem;
  padding: 0.2em 0.4em;
}
main[role="contents_inner"] h3.title {
  font-size: 1.3rem;
}
main[role="contents_inner"] h4 {
  font-size: 1.1rem;
  border-bottom: 0.3pt solid #cccccc;
  display: inline-block;
}
main[role="contents_inner"] em.i {
  font-family: "游ゴシック体", "Yu Gothic", YuGothic, "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", "メイリオ", Meiryo, Arial, sans-serif;
  font-weight: 500;
}
main[role="contents_inner"] .tablewrapper {
  margin: 0.665rem 0;
  width: 100%;
  overflow: auto;
}
main[role="contents_inner"] .tablewrapper table {
  border-collapse: collapse;
  table-layout: fixed;
  max-width: 100%;
}
main[role="contents_inner"] .tablewrapper table[frame="border"] {
  border: 0.3pt solid #cccccc;
}
main[role="contents_inner"] .tablewrapper table[frame="below"] {
  border-bottom: 0.3pt solid #cccccc;
}
main[role="contents_inner"] .tablewrapper table[frame="vsides"] {
  border-left: 0.3pt solid #cccccc;
  border-right: 0.3pt solid #cccccc;
}
main[role="contents_inner"] .tablewrapper table[frame="above"] {
  border-top: 0.3pt solid #cccccc;
}
main[role="contents_inner"] .tablewrapper table[frame="hsides"] {
  border-top: 0.3pt solid #cccccc;
  border-bottom: 0.3pt solid #cccccc;
}
main[role="contents_inner"] .tablewrapper table[rules="all"] th,
main[role="contents_inner"] .tablewrapper table[rules="all"] td {
  border: 0.3pt solid #cccccc;
}
main[role="contents_inner"] .tablewrapper table[rules="cols"] th,
main[role="contents_inner"] .tablewrapper table[rules="cols"] td {
  border-left: 0.3pt solid #cccccc;
  border-right: 0.3pt solid #cccccc;
}
main[role="contents_inner"] .tablewrapper table[rules="rows"] th,
main[role="contents_inner"] .tablewrapper table[rules="rows"] td {
  border-top: 0.3pt solid #cccccc;
  border-bottom: 0.3pt solid #cccccc;
}
main[role="contents_inner"] .tablewrapper table caption {
  margin-bottom: 0.25em;
  text-align: left;
}
main[role="contents_inner"] .tablewrapper table caption.tabledesc {
  caption-side: bottom;
  text-align: left;
}
main[role="contents_inner"] .tablewrapper table caption .tableunit {
  font-size: 0.9em;
  float: right;
  margin-left: 1em;
  line-height: 1.4rem;
}
main[role="contents_inner"] .tablewrapper table tr:first-child .no_border {
  border-top-color: transparent !important;
}
main[role="contents_inner"] .tablewrapper table th,
main[role="contents_inner"] .tablewrapper table td {
  vertical-align: middle;
  padding: 7px;
}
@media screen and (max-width: 600px) {
  main[role="contents_inner"] .tablewrapper table th,
  main[role="contents_inner"] .tablewrapper table td {
    padding: 5px;
  }
}
main[role="contents_inner"] .tablewrapper table th.bgmiddle,
main[role="contents_inner"] .tablewrapper table td.bgmiddle {
  background: #999999;
  color: #fff;
}
main[role="contents_inner"] .tablewrapper table th.bgdark,
main[role="contents_inner"] .tablewrapper table td.bgdark {
  background: #333333;
  color: #fff;
}
main[role="contents_inner"] .tablewrapper table th:first-child.no_border,
main[role="contents_inner"] .tablewrapper table td:first-child.no_border {
  border-left-color: transparent !important;
}
main[role="contents_inner"] .tablewrapper table th.no_border-top,
main[role="contents_inner"] .tablewrapper table td.no_border-top {
  border-top-color: transparent !important;
}
main[role="contents_inner"] .tablewrapper table th.no_border-right,
main[role="contents_inner"] .tablewrapper table td.no_border-right {
  border-right-color: transparent !important;
}
main[role="contents_inner"] .tablewrapper table th.no_border-bottom,
main[role="contents_inner"] .tablewrapper table td.no_border-bottom {
  border-bottom-color: transparent !important;
}
main[role="contents_inner"] .tablewrapper table th.no_border-left,
main[role="contents_inner"] .tablewrapper table td.no_border-left {
  border-left-color: transparent !important;
}
main[role="contents_inner"] .tablewrapper table th {
  background: #f5f5f5;
  vertical-align: middle;
  text-align: center;
}
main[role="contents_inner"] .tablewrapper table td {
  text-align: left;
}
main[role="contents_inner"] figure .simpletable th,
main[role="contents_inner"] figure .simpletable td {
  padding: 0;
}
main[role="contents_inner"] .dl {
  display: table;
  border-collapse: separate;
  border-spacing: 0 0.2em;
}
main[role="contents_inner"] .dl dl {
  display: table-row;
}
main[role="contents_inner"] .dl dl dt {
  display: table-cell;
  flex-shrink: 0;
  padding-right: 1em;
  white-space: nowrap;
}
main[role="contents_inner"] .dl dl dd {
  display: table-cell;
}
main[role="contents_inner"] .dl dl.mark dt::after {
  content: attr(data-mark);
}
main[role="contents_inner"] .imageleft {
  text-align: left;
}
main[role="contents_inner"] .imageright {
  text-align: right;
}
main[role="contents_inner"] .imagecenter {
  text-align: center;
}
main[role="contents_inner"] .imagemap {
  text-align: center;
}
main[role="contents_inner"] img {
  max-width: 100%;
  vertical-align: top;
  object-fit: contain;
}
main[role="contents_inner"] img.inline {
  vertical-align: middle;
  margin: -0.1em 0 0;
  padding: 2px;
}
main[role="contents_inner"] img[usemap] {
  width: 100%;
  height: auto;
  max-width: 400px;
}
main[role="contents_inner"] figure img {
  padding: 0.2em;
}
main[role="contents_inner"] figure figcaption.figdesc,
main[role="contents_inner"] .figgroup figcaption.figdesc {
  font-size: 90%;
  color: #999999;
}
main[role="contents_inner"] .ullinks a,
main[role="contents_inner"] a.xref:not(.fn_link) {
  padding: 0.05em 0.2em 0.05em;
  color: unset;
  border-bottom: 0.3pt solid #cccccc;
  display: inline-flex;
  align-items: center;
  align-items: baseline;
}
main[role="contents_inner"] .ullinks a::before,
main[role="contents_inner"] a.xref:not(.fn_link)::before {
  content: "";
  background-image: url("../img/common/icon_link_blue.svg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 1.5em;
  height: 1.5em;
  flex-shrink: 0;
  width: 1.2em;
  height: 1.2em;
  display: inline-block;
  margin-bottom: auto;
}
main[role="contents_inner"] .ullinks a:hover,
main[role="contents_inner"] a.xref:not(.fn_link):hover {
  border-bottom-color: #263b74;
  background: #d9e0f3;
  color: #263b74;
}
main[role="contents_inner"] .filepath,
main[role="contents_inner"] .msgph,
main[role="contents_inner"] .systemoutput,
main[role="contents_inner"] .userinput,
main[role="contents_inner"] .menucascade {
  background: #edf0f9;
}
main[role="contents_inner"] .filepath::before,
main[role="contents_inner"] .msgph::before,
main[role="contents_inner"] .systemoutput::before,
main[role="contents_inner"] .userinput::before,
main[role="contents_inner"] .menucascade::before {
  content: "[";
  content: attr(data-path-open);
  margin: 0 0.2em;
}
main[role="contents_inner"] .filepath::after,
main[role="contents_inner"] .msgph::after,
main[role="contents_inner"] .systemoutput::after,
main[role="contents_inner"] .userinput::after,
main[role="contents_inner"] .menucascade::after {
  content: "]";
  content: attr(data-path-close);
  margin: 0 0.2em;
}
main[role="contents_inner"] .uicontrol {
  font-weight: bold;
  background: #edf0f9;
}
main[role="contents_inner"] .trademark.reg {
  vertical-align: super;
  font-size: 0.8em;
}
main[role="contents_inner"] sup {
  vertical-align: super;
  font-size: 0.7em;
  line-height: 0;
}
main[role="contents_inner"] sub {
  vertical-align: sub;
  font-size: 0.7em;
  line-height: 0;
}
main[role="contents_inner"] .underline {
  text-decoration: underline;
}
main[role="contents_inner"] p.condensed,
main[role="contents_inner"] h1.condensed,
main[role="contents_inner"] h2.condensed,
main[role="contents_inner"] h3.condensed,
main[role="contents_inner"] h4.condensed,
main[role="contents_inner"] h5.condensed,
main[role="contents_inner"] h6.condensed {
  transform: scaleX(0.8);
  transform-origin: left;
  width: 125%;
}
main[role="contents_inner"] p.condensed[style*="center"],
main[role="contents_inner"] h1.condensed[style*="center"],
main[role="contents_inner"] h2.condensed[style*="center"],
main[role="contents_inner"] h3.condensed[style*="center"],
main[role="contents_inner"] h4.condensed[style*="center"],
main[role="contents_inner"] h5.condensed[style*="center"],
main[role="contents_inner"] h6.condensed[style*="center"] {
  transform-origin: center;
}
main[role="contents_inner"] p.condensed.scale5,
main[role="contents_inner"] h1.condensed.scale5,
main[role="contents_inner"] h2.condensed.scale5,
main[role="contents_inner"] h3.condensed.scale5,
main[role="contents_inner"] h4.condensed.scale5,
main[role="contents_inner"] h5.condensed.scale5,
main[role="contents_inner"] h6.condensed.scale5 {
  transform: scaleX(0.5);
  width: 200%;
}
main[role="contents_inner"] p.condensed.scale6,
main[role="contents_inner"] h1.condensed.scale6,
main[role="contents_inner"] h2.condensed.scale6,
main[role="contents_inner"] h3.condensed.scale6,
main[role="contents_inner"] h4.condensed.scale6,
main[role="contents_inner"] h5.condensed.scale6,
main[role="contents_inner"] h6.condensed.scale6 {
  transform: scaleX(0.6);
  width: 166.66666667%;
}
main[role="contents_inner"] p.condensed.scale7,
main[role="contents_inner"] h1.condensed.scale7,
main[role="contents_inner"] h2.condensed.scale7,
main[role="contents_inner"] h3.condensed.scale7,
main[role="contents_inner"] h4.condensed.scale7,
main[role="contents_inner"] h5.condensed.scale7,
main[role="contents_inner"] h6.condensed.scale7 {
  transform: scaleX(0.7);
  width: 142.85714286%;
}
main[role="contents_inner"] p.condensed.scale8,
main[role="contents_inner"] h1.condensed.scale8,
main[role="contents_inner"] h2.condensed.scale8,
main[role="contents_inner"] h3.condensed.scale8,
main[role="contents_inner"] h4.condensed.scale8,
main[role="contents_inner"] h5.condensed.scale8,
main[role="contents_inner"] h6.condensed.scale8 {
  transform: scaleX(0.8);
  width: 125%;
}
main[role="contents_inner"] p.condensed.scale9,
main[role="contents_inner"] h1.condensed.scale9,
main[role="contents_inner"] h2.condensed.scale9,
main[role="contents_inner"] h3.condensed.scale9,
main[role="contents_inner"] h4.condensed.scale9,
main[role="contents_inner"] h5.condensed.scale9,
main[role="contents_inner"] h6.condensed.scale9 {
  transform: scaleX(0.9);
  width: 111.11111111%;
}
main[role="contents_inner"] section.condensed p,
main[role="contents_inner"] div.condensed p,
main[role="contents_inner"] table.condensed p,
main[role="contents_inner"] ul.condensed p,
main[role="contents_inner"] ol.condensed p,
main[role="contents_inner"] li.condensed p,
main[role="contents_inner"] tr.condensed p,
main[role="contents_inner"] th.condensed p,
main[role="contents_inner"] td.condensed p {
  transform: scaleX(0.8);
  transform-origin: left;
  width: 125%;
}
main[role="contents_inner"] section.condensed.scale5,
main[role="contents_inner"] div.condensed.scale5,
main[role="contents_inner"] table.condensed.scale5,
main[role="contents_inner"] ul.condensed.scale5,
main[role="contents_inner"] ol.condensed.scale5,
main[role="contents_inner"] li.condensed.scale5,
main[role="contents_inner"] tr.condensed.scale5,
main[role="contents_inner"] th.condensed.scale5,
main[role="contents_inner"] td.condensed.scale5 {
  transform: scaleX(0.5);
  width: 200%;
}
main[role="contents_inner"] section.condensed.scale6,
main[role="contents_inner"] div.condensed.scale6,
main[role="contents_inner"] table.condensed.scale6,
main[role="contents_inner"] ul.condensed.scale6,
main[role="contents_inner"] ol.condensed.scale6,
main[role="contents_inner"] li.condensed.scale6,
main[role="contents_inner"] tr.condensed.scale6,
main[role="contents_inner"] th.condensed.scale6,
main[role="contents_inner"] td.condensed.scale6 {
  transform: scaleX(0.6);
  width: 166.66666667%;
}
main[role="contents_inner"] section.condensed.scale7,
main[role="contents_inner"] div.condensed.scale7,
main[role="contents_inner"] table.condensed.scale7,
main[role="contents_inner"] ul.condensed.scale7,
main[role="contents_inner"] ol.condensed.scale7,
main[role="contents_inner"] li.condensed.scale7,
main[role="contents_inner"] tr.condensed.scale7,
main[role="contents_inner"] th.condensed.scale7,
main[role="contents_inner"] td.condensed.scale7 {
  transform: scaleX(0.7);
  width: 142.85714286%;
}
main[role="contents_inner"] section.condensed.scale8,
main[role="contents_inner"] div.condensed.scale8,
main[role="contents_inner"] table.condensed.scale8,
main[role="contents_inner"] ul.condensed.scale8,
main[role="contents_inner"] ol.condensed.scale8,
main[role="contents_inner"] li.condensed.scale8,
main[role="contents_inner"] tr.condensed.scale8,
main[role="contents_inner"] th.condensed.scale8,
main[role="contents_inner"] td.condensed.scale8 {
  transform: scaleX(0.8);
  width: 125%;
}
main[role="contents_inner"] section.condensed.scale9,
main[role="contents_inner"] div.condensed.scale9,
main[role="contents_inner"] table.condensed.scale9,
main[role="contents_inner"] ul.condensed.scale9,
main[role="contents_inner"] ol.condensed.scale9,
main[role="contents_inner"] li.condensed.scale9,
main[role="contents_inner"] tr.condensed.scale9,
main[role="contents_inner"] th.condensed.scale9,
main[role="contents_inner"] td.condensed.scale9 {
  transform: scaleX(0.9);
  width: 111.11111111%;
}
main[role="contents_inner"] a .condensed,
main[role="contents_inner"] abbr .condensed,
main[role="contents_inner"] acronym .condensed,
main[role="contents_inner"] b .condensed,
main[role="contents_inner"] basefont .condensed,
main[role="contents_inner"] bdo .condensed,
main[role="contents_inner"] big .condensed,
main[role="contents_inner"] br .condensed,
main[role="contents_inner"] cite .condensed,
main[role="contents_inner"] code .condensed,
main[role="contents_inner"] dfn .condensed,
main[role="contents_inner"] em .condensed,
main[role="contents_inner"] font .condensed,
main[role="contents_inner"] i .condensed,
main[role="contents_inner"] img .condensed,
main[role="contents_inner"] input .condensed,
main[role="contents_inner"] kbd .condensed,
main[role="contents_inner"] label .condensed,
main[role="contents_inner"] q .condensed,
main[role="contents_inner"] s .condensed,
main[role="contents_inner"] samp .condensed,
main[role="contents_inner"] select .condensed,
main[role="contents_inner"] small .condensed,
main[role="contents_inner"] span .condensed,
main[role="contents_inner"] strike .condensed,
main[role="contents_inner"] strong .condensed,
main[role="contents_inner"] sub .condensed,
main[role="contents_inner"] sup .condensed,
main[role="contents_inner"] textarea .condensed,
main[role="contents_inner"] tt .condensed,
main[role="contents_inner"] u .condensed,
main[role="contents_inner"] var .condensed {
  display: inline-block;
}
main[role="contents_inner"] .extended {
  transform: scaleY(0.8);
  transform-origin: top;
  margin-bottom: -0.2em;
  display: inline-block;
}
main[role="contents_inner"] .extended.scale5 {
  transform: scaleY(0.5);
  margin-bottom: -0.5em;
}
main[role="contents_inner"] .extended.scale6 {
  transform: scaleY(0.6);
  margin-bottom: -0.4em;
}
main[role="contents_inner"] .extended.scale7 {
  transform: scaleY(0.7);
  margin-bottom: -0.3em;
}
main[role="contents_inner"] .extended.scale8 {
  transform: scaleY(0.8);
  margin-bottom: -0.2em;
}
main[role="contents_inner"] .extended.scale9 {
  transform: scaleY(0.9);
  margin-bottom: -0.1em;
}
main[role="contents_inner"] .note .note_title {
  font-weight: bold;
  font-size: 1.1rem;
  display: inline-flex;
  align-items: center;
}
main[role="contents_inner"] .note.type_note {
  padding: 0.3325rem 0 0.3325rem 1em;
  border-left: 0.3pt solid #cccccc;
}
main[role="contents_inner"] .note.type_note .note_title::before {
  content: "";
  background-image: url("../img/common/icon_note_blue.svg");
  background-repeat: no-repeat;
  background-size: cover;
  flex-shrink: 0;
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  display: block;
}
main[role="contents_inner"] .note.type_tip {
  padding: 0.3325rem 0 0.3325rem 1em;
  border-left: 0.3pt solid #cccccc;
}
main[role="contents_inner"] .note.type_tip .note_title {
  padding: 0.1em 0.5em;
  margin-bottom: 0.3em;
  font-size: 0.9rem;
  background-color: #333333;
  color: #fff;
}
main[role="contents_inner"] .note.type_caution {
  border: 2px solid #fc0;
  padding: 0.665rem;
}
main[role="contents_inner"] .note.type_caution .note_title::before {
  content: "";
  background-image: url("../img/common/icon_caution_yellow.svg");
  background-repeat: no-repeat;
  background-size: cover;
  flex-shrink: 0;
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  display: block;
}
main[role="contents_inner"] .note.type_warning,
main[role="contents_inner"] .note.type_danger {
  border: 2px solid #c00;
  padding: 0.665rem;
}
main[role="contents_inner"] .note.type_warning .note_title::before,
main[role="contents_inner"] .note.type_danger .note_title::before {
  content: "";
  background-image: url("../img/common/icon_caution_red.svg");
  background-repeat: no-repeat;
  background-size: cover;
  flex-shrink: 0;
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  display: block;
}
main[role="contents_inner"] ul,
main[role="contents_inner"] ol {
  width: 100%;
  position: relative;
  max-width: 100%;
}
main[role="contents_inner"] ul li,
main[role="contents_inner"] ol li {
  width: 100%;
  max-width: 100%;
  margin-bottom: 0.5em;
}
main[role="contents_inner"] ul li .li_before,
main[role="contents_inner"] ol li .li_before {
  flex-shrink: 0;
}
main[role="contents_inner"] ul li .li_contents,
main[role="contents_inner"] ol li .li_contents {
  width: 100%;
}
main[role="contents_inner"] ul.ul {
  display: table;
}
main[role="contents_inner"] ul.ul > li {
  display: table-row;
}
main[role="contents_inner"] ul.ul > li > .li_before {
  display: table-cell;
  width: 1.5em;
  vertical-align: top;
  line-height: 0;
}
main[role="contents_inner"] ul.ul > li > .li_before::before {
  content: "";
  background-image: url("../img/common/icon_circle_blue.svg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 1.5em;
  height: 1.5em;
  flex-shrink: 0;
  display: inline-block;
  width: 1.4em;
  height: 1.4em;
}
main[role="contents_inner"] ul.ul > li > .li_contents {
  vertical-align: top;
  display: table-cell;
}
main[role="contents_inner"] ul.ul > li ul {
  margin-top: 0;
}
main[role="contents_inner"] ul.ul > li ul > li:not(:first-child) {
  margin-top: 0.1em;
}
main[role="contents_inner"] ul.ul > li ul > li .li_before::before {
  content: "";
  background-image: url("../img/common/icon_dot2_blue.svg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 1.5em;
  height: 1.5em;
  flex-shrink: 0;
  display: inline-block;
  width: 1em;
  height: 1em;
  margin: 0.2em 0;
}
main[role="contents_inner"] ul.ul.square > li > .li_before::before {
  content: "";
  background-image: url("../img/common/icon_square_blue.svg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 1.5em;
  height: 1.5em;
  flex-shrink: 0;
  display: inline-block;
  width: 1.4em;
  height: 1.4em;
  margin-right: 0.2em;
}
main[role="contents_inner"] .ullinks {
  margin: 1.33rem 0;
}
main[role="contents_inner"] .ullinks > li {
  margin-bottom: 0.5em;
  font-size: 1.2rem;
}
main[role="contents_inner"] ol:not(.steps) {
  display: table;
}
main[role="contents_inner"] ol:not(.steps):not(.continuous) {
  counter-reset: ol-counter1;
}
main[role="contents_inner"] ol:not(.steps) > li {
  display: table-row;
  counter-increment: ol-counter1;
}
main[role="contents_inner"] ol:not(.steps) > li > .li_before {
  display: table-cell;
  padding-right: 0.5em;
  width: 1em;
  text-align: center;
}
main[role="contents_inner"] ol:not(.steps) > li > .li_before::before {
  content: counter(ol-counter1);
  font-weight: bold;
  font-size: 1.2rem;
  color: #263b74;
  line-height: 1.2;
}
main[role="contents_inner"] ol:not(.steps) > li > .li_contents {
  display: table-cell;
  vertical-align: middle;
  padding-bottom: 0.5em;
}
main[role="contents_inner"] ol:not(.steps) > li ol:not(.continuous) {
  counter-reset: ol-counter2;
}
main[role="contents_inner"] ol:not(.steps) > li ol > li {
  counter-increment: ol-counter2;
}
main[role="contents_inner"] ol:not(.steps) > li ol > li > .li_before::before {
  content: attr(data-num-open) counter(ol-counter2) attr(data-num-close);
  padding-right: 0.5em;
  width: 2em;
  font-size: 1rem;
}
main[role="contents_inner"] ol.steps {
  counter-reset: step-counter;
}
main[role="contents_inner"] ol.steps > li.step {
  counter-increment: step-counter;
  display: list-item;
  padding: 0;
}
main[role="contents_inner"] ol.steps > li.step:first-child {
  padding-top: 0;
}
main[role="contents_inner"] ol.steps > li.step::before {
  content: attr(data-step-prefix) counter(step-counter);
  display: inline-block;
  background: #263b74;
  padding: 0.1em 1em;
  color: #fff;
  font-weight: bold;
  font-size: 1.1rem;
  width: auto;
  margin-bottom: 1.33rem;
}
main[role="contents_inner"] ol.steps > li.step:not(:last-child)::after {
  content: "";
  display: block;
  width: 100%;
  height: 2em;
  margin-bottom: 1.33rem;
  border-bottom: 0.3pt dashed #cccccc;
}
main[role="contents_inner"] ol.steps > li.step .cmd {
  display: block;
  font-size: 1.1rem;
  font-weight: bold;
  margin-bottom: 0.665rem;
}
main[role="contents_inner"] ol.steps > li.step .info:not(.col) + .info {
  margin-top: 1em;
}
main[role="contents_inner"] ol.steps ol.substeps {
  counter-reset: substep-counter;
}
main[role="contents_inner"] ol.steps ol.substeps > li.substep {
  counter-increment: substep-counter;
}
main[role="contents_inner"] ol.steps ol.substeps > li.substep > .li_before::before {
  content: counter(substep-counter);
  background: #263b74;
  color: #fff;
  font-weight: bold;
  width: 2em;
  height: 2em;
  border-radius: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8em;
  margin-top: -2px;
}
main[role="contents_inner"] li > .cols:first-child,
main[role="contents_inner"] .note > .cols:first-child {
  margin-top: 0;
}
main[role="contents_inner"] li.cols,
main[role="contents_inner"] .note.cols {
  margin-top: 0;
}
main[role="contents_inner"] .cols:not(.nofiggroup):not(.step) {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0.665rem 0;
}
main[role="contents_inner"] .cols:not(.nofiggroup):not(.step) .cols {
  margin: 0;
}
main[role="contents_inner"] .cols:not(.nofiggroup):not(.step).dashed > .col:not(:last-child) {
  padding-right: 1.33rem;
}
main[role="contents_inner"] .cols:not(.nofiggroup):not(.step).dashed > .col:not(:first-child) {
  border-left: 0.3pt dashed #cccccc;
}
main[role="contents_inner"] .cols:not(.nofiggroup):not(.step).line > .col:not(:last-child) {
  padding-right: 1.33rem;
}
main[role="contents_inner"] .cols:not(.nofiggroup):not(.step).line > .col:not(:first-child) {
  border-left: 0.3pt solid #cccccc;
}
main[role="contents_inner"] .cols:not(.nofiggroup):not(.step) > .col {
  vertical-align: top;
  flex-grow: 99;
  flex-shrink: 0;
  overflow: hidden;
  flex-basis: auto;
}
main[role="contents_inner"] .cols:not(.nofiggroup):not(.step) > .col:not(:first-child) {
  padding-left: 0.665rem;
}
main[role="contents_inner"] .cols:not(.nofiggroup):not(.step) > .col:not(:last-child) {
  padding-right: 0.665rem;
}
main[role="contents_inner"] .cols:not(.nofiggroup):not(.step) > .col.setwidth img {
  max-width: none;
}
main[role="contents_inner"] .cols:not(.nofiggroup):not(.step) > .col.unsetwidth {
  flex-shrink: 99;
  flex-grow: 0;
  flex-basis: 95%;
}
main[role="contents_inner"] .cols:not(.nofiggroup):not(.step) > .col > *:first-child,
main[role="contents_inner"] .cols:not(.nofiggroup):not(.step) > .col > .p:first-child .tablewrapper {
  margin-top: 0;
}
@media screen and (max-width: 600px) {
  main[role="contents_inner"] .cols:not(.nofiggroup):not(.step) {
    display: block;
  }
  main[role="contents_inner"] .cols:not(.nofiggroup):not(.step) > .col {
    width: 100%;
    display: block;
    padding: 0 !important;
  }
  main[role="contents_inner"] .cols:not(.nofiggroup):not(.step) > .col:not(:first-child) {
    margin-top: 1.33rem;
  }
  main[role="contents_inner"] .cols:not(.nofiggroup):not(.step).dashed > .col:not(:first-child) {
    border: none;
  }
  main[role="contents_inner"] .cols:not(.nofiggroup):not(.step).line > .col:not(:first-child) {
    border: none;
  }
}
main[role="contents_inner"] .cols.nofiggroup {
  columns: 2;
  column-fill: balance;
  column-gap: 1.33rem;
  display: block;
}
@media screen and (max-width: 600px) {
  main[role="contents_inner"] .cols.nofiggroup {
    columns: 1;
  }
}
main[role="contents_inner"] .cols.nofiggroup li {
  display: table;
  margin-bottom: 1.33rem;
}
main[role="contents_inner"] .cols.nofiggroup li,
main[role="contents_inner"] .cols.nofiggroup img,
main[role="contents_inner"] .cols.nofiggroup figure,
main[role="contents_inner"] .cols.nofiggroup .tablewrapper {
  break-inside: avoid;
}
main[role="contents_inner"] .cols.nofiggroup.dashed {
  column-rule: 1px dashed #cccccc;
}
main[role="contents_inner"] .cols.nofiggroup.line {
  column-rule: 1px solid #cccccc;
}
main[role="contents_inner"] .cols.nofiggroup.col3 {
  columns: 3;
}
main[role="contents_inner"] .cols.nofiggroup.col4 {
  columns: 4;
}
main[role="contents_inner"] .cols.step .col_wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
main[role="contents_inner"] .cols.step .col_wrapper .col {
  flex-shrink: 99;
  flex-grow: 99;
  width: 100%;
  flex-basis: 100%;
  overflow: hidden;
}
main[role="contents_inner"] .cols.step .col_wrapper .col:not(:first-child) {
  padding-left: 1.33rem;
}
main[role="contents_inner"] .troublebody .troubleSolution + .troubleSolution {
  margin-top: 2.66rem;
}
main[role="contents_inner"] .troublebody .troubleSolution .cause {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 0;
  margin-bottom: 1.33rem;
}
main[role="contents_inner"] .troublebody .troubleSolution .cause::before {
  content: "";
  background-image: url("../img/common/icon_question_blue.svg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 1.5em;
  height: 1.5em;
  display: inline-block;
  width: 2.5em;
  height: 2.5em;
  flex-shrink: 0;
  display: block;
}
main[role="contents_inner"] .troublebody .troubleSolution .cause .title {
  border: none;
  padding: 0;
  margin: 0;
  background: none;
  font-size: 1.2rem;
}
main[role="contents_inner"] .troublebody .troubleSolution .remedy {
  border-left: 3px solid #b3c1e6;
  padding-left: 1.33rem;
  padding-bottom: 0.665rem;
  margin: 0 0 0 1em;
  width: calc(100% - 1em);
}
main[role="contents_inner"] .troublebody .troubleSolution .remedy .cmd {
  font-weight: bold;
  margin-bottom: 1.33rem;
}
@media screen {
  main[role="contents_inner"] .fn_area:not(:empty) {
    margin-top: 2.66rem;
    padding-top: 1.33rem;
    border-top: 0.3pt solid #cccccc;
  }
}
main[role="contents_inner"] .fn_link {
  color: #6682cd;
  font-weight: bold;
}
main[role="contents_inner"] .fn {
  display: table-row;
}
main[role="contents_inner"] .fn .fn_link {
  display: table-cell;
  font-weight: normal;
  white-space: nowrap;
}
main[role="contents_inner"] .fn .fn_link sup {
  vertical-align: baseline;
  font-size: 1em;
}
main[role="contents_inner"] .fn .fn_text {
  display: table-cell;
  padding-left: 0.8em;
  padding-bottom: 0.5em;
}
main[role="contents_inner"] nav[role="navigation"] .relinfo {
  border: 0.3pt solid #cccccc;
  padding: 1em;
  margin-top: 2.66rem;
}
main[role="contents_inner"] nav[role="navigation"] .relinfo .title {
  font-size: 1.2rem;
  font-weight: bold;
}
main[role="contents_inner"] nav[role="navigation"] .relinfo a {
  padding: 0.05em 0.2em 0.05em;
  color: unset;
  border-bottom: 0.3pt solid #cccccc;
  display: inline-flex;
  align-items: center;
  align-items: baseline;
}
main[role="contents_inner"] nav[role="navigation"] .relinfo a::before {
  content: "";
  background-image: url("../img/common/icon_link_blue.svg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 1.5em;
  height: 1.5em;
  flex-shrink: 0;
  width: 1.2em;
  height: 1.2em;
  display: inline-block;
  margin-bottom: auto;
}
main[role="contents_inner"] nav[role="navigation"] .relinfo a:hover {
  border-bottom-color: #263b74;
  background: #d9e0f3;
  color: #263b74;
}
main[role="contents_inner"] .body:empty + nav[role="navigation"] {
  margin: 0;
}
main[role="contents_inner"] .draft-comment {
  background-color: #f00;
  color: #fff;
  padding: 0.665rem;
}
/***************************************************
 * PARTS CSS - PDF
 ***************************************************/
html[lang="ja"],
html *[lang="ja"],
html[lang="ja-jp"],
html *[lang="ja-jp"] {
  font-family: "dl-shingo", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", "メイリオ", Meiryo, Arial, sans-serif;
}
html[lang="en"],
html *[lang="en"],
html[lang="en-us"],
html *[lang="en-us"] {
  font-family: Arial, sans-serif;
}
.screen {
  display: none !important;
}
main[role="contents_inner"] {
  counter-reset: h1 0;
}
main[role="contents_inner"] .chapter:not(:empty) {
  counter-increment: h1;
  counter-reset: h2;
}
main[role="contents_inner"] .chapter-title-page {
  width: 100%;
  height: 257mm;
  text-align: right;
  display: flex;
  justify-content: flex-end;
}
main[role="contents_inner"] .chapter-title-page .chapter-title {
  font-size: 2.5rem;
  padding-right: 0.5em;
  margin-top: 83.1mm;
}
main[role="contents_inner"] .chapter-title-page .chapter-title::before {
  content: counter(h1, decimal-leading-zero);
  display: block;
  color: #d9e0f3;
  font-size: 7rem;
  font-weight: 100;
  font-family: impact;
  line-height: 1;
  border-bottom: 0.3pt solid #cccccc;
  padding-bottom: 0.1em;
  margin-bottom: 0.2em;
}
main[role="contents_inner"] .chapter-title-page .chapter-title .chapter-title-text {
  display: block;
  padding-left: 0.5em;
}
main[role="contents_inner"] h1.title::before {
  content: counter(h1);
  margin-right: 0.5em;
  display: inline-block;
}
main[role="contents_inner"] h2 {
  font-size: 1.7rem;
  counter-increment: h2;
}
main[role="contents_inner"] h2:not([class*="toc"])::before {
  content: counter(h1) "." counter(h2);
  margin-right: 0.5em;
  display: inline-block;
}
main[role="contents_inner"] h3 {
  font-size: 1.2rem;
}
main[role="contents_inner"] .start-h1 h1.title {
  display: block;
}
main[role="contents_inner"] .start-h2 h1.title {
  display: none;
}
main[role="contents_inner"] .start-h3 h1.title,
main[role="contents_inner"] .start-h3 h2.title {
  display: none;
}
main[role="contents_inner"] a.pagenum {
  content: "P." target-counter(attr(href url), page);
}
main[role="contents_inner"] .tablewrapper {
  overflow: hidden;
}
main[role="contents_inner"] .tablewrapper table th,
main[role="contents_inner"] .tablewrapper table td {
  padding: 1mm;
}
/***************************************************
 * PDF
 ***************************************************/
.page-box {
  display: flex;
  justify-content: space-between;
}
.page-box.top {
  align-items: flex-start;
}
.page-box.middle {
  align-items: center;
}
.page-box.bottom {
  align-items: flex-end;
}
.page-box .logo img {
  min-width: 10mm;
  min-height: 8mm;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.book-cover {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 256mm;
}
.book-cover#cover1::before {
  content: "";
  background: #263b74;
  position: absolute;
  width: 33mm;
  height: 303mm;
  margin-top: -23mm;
  margin-left: -23mm;
}
.book-cover#cover1 .manual-title {
  padding: 10mm 0 10mm 20mm;
}
.book-cover#cover1 .manual-title .manual-title-text {
  font-size: 2.5rem;
  text-align: center;
  font-weight: 600;
}
.book-cover#cover1 .manual-title .subtitle {
  display: block;
  font-size: 60%;
  border-top: 0.3pt solid #cccccc;
  padding-top: 5mm;
  margin-top: 5mm;
  font-weight: 500;
}
.book-cover#cover1 .top {
  flex-shrink: 0;
  flex-grow: 0;
  flex-basis: 15mm;
}
.book-cover#cover1 .top .logo {
  margin-left: auto;
  height: 30mm;
  width: 40mm;
}
.book-cover#cover1 .top .logo img {
  object-position: top;
}
.book-cover#cover1 .middle {
  flex-grow: 99;
  justify-content: center;
  padding-bottom: 20mm;
}
.book-cover#cover1 .bottom {
  flex-shrink: 0;
  flex-grow: 0;
  flex-basis: 15mm;
}
.book-cover#cover3 .manual-title {
  font-size: 1rem;
  text-align: center;
  padding: 0.7em;
  white-space: nowrap;
  border-top: 0.3pt solid #cccccc;
  border-bottom: 0.3pt solid #cccccc;
}
.book-cover#cover3 .manual-title .book-title {
  display: inline-block;
}
.book-cover#cover3 .manual-title .subtitle {
  display: block;
  font-size: 70%;
  margin-top: 0.5em;
}
.book-cover#cover3 .bottom {
  flex-direction: column;
  align-items: center;
}
.book-cover#cover3 .bottom > * {
  margin: 0.3em;
}
.book-cover#cover3 .bottom ul.list {
  margin-top: 1em;
  padding: 1em 15mm;
  border-top: 0.3pt solid #cccccc;
}
.book-cover#cover3 .bottom ul.list li {
  list-style: disc;
}
.book-cover#cover4 .middle {
  align-items: center;
  justify-content: center;
  flex-grow: 99;
}
.book-cover#cover4 .middle .logo {
  height: 50mm;
  width: 50mm;
}
.book-cover#cover0 {
  align-items: center;
  flex-direction: row;
  height: 10mm;
  overflow: hidden;
}
.book-cover#cover0 .manual-title {
  width: 100%;
  display: flex;
  align-items: center;
  line-height: 1.1;
  font-size: 1.2rem;
}
.book-cover#cover0 .manual-title .subtitle {
  display: inline-block;
  font-size: 70%;
  line-height: 1.2;
  margin-left: 1.5em;
}
.book-cover#cover0 .logo {
  width: 100%;
  height: 100%;
  max-height: 8mm;
}
.book-cover#cover0 .logo img {
  object-position: left;
}
.book-cover#cover0 .top {
  height: 100%;
  padding: 0 5mm;
  flex-basis: 40mm;
  flex-shrink: 99;
  align-items: center;
}
.book-cover#cover0 .middle {
  padding: 0 5mm;
  font-size: 1.4rem;
  flex-grow: 99;
}
.book-cover#cover0 .bottom {
  padding: 0 5mm;
  font-size: 1rem;
}
/***************************************************
 * TOC
 ***************************************************/
main[role="contents_inner"] #toc ul {
  counter-reset: tocLevels 0;
}
main[role="contents_inner"] #toc ul li {
  counter-increment: tocLevels 1;
  line-height: 1.4;
}
main[role="contents_inner"] #toc ul li.top {
  display: none !important;
}
main[role="contents_inner"] #toc ul li.toc-heading-1 {
  margin-bottom: 2em;
  display: flex;
}
main[role="contents_inner"] #toc ul li.toc-heading-1::before {
  content: counter(tocLevels, decimal-leading-zero);
  font-size: 5rem;
  min-width: 1.3em;
  color: #d9e0f3;
  font-weight: 100;
  font-family: impact;
  line-height: 1;
}
main[role="contents_inner"] #toc ul li.toc-heading-1 > .contents {
  border-left: 0.3pt solid #cccccc;
  padding-left: 1em;
  width: 100%;
}
main[role="contents_inner"] #toc ul li.toc-heading-1 > .contents > a {
  font-size: 1.3rem;
  margin-bottom: 0.5em;
}
main[role="contents_inner"] #toc ul li.toc-heading-1 > .contents > a::before {
  content: none;
}
main[role="contents_inner"] #toc ul li.toc-heading-2 {
  font-size: 1rem;
}
main[role="contents_inner"] #toc ul li.toc-heading-2 ul li {
  padding-left: 1.3em;
}
main[role="contents_inner"] #toc ul li a {
  padding: 0 0.2em;
  display: block;
}
main[role="contents_inner"] #toc ul li a::before {
  content: counters(tocLevels, '.');
  margin-right: 0.5em;
}
main[role="contents_inner"] #toc ul li a::after {
  min-width: 2em;
}
/***************************************************
 * Side index
 ***************************************************/
.side-index {
  width: 100%;
}
.side-index .side-index-list {
  display: flex;
  flex-direction: column;
  width: 15mm;
  justify-content: start;
  position: absolute;
  max-height: 257mm;
  min-height: 100mm;
}
.side-index .side-index-list.left {
  right: 0;
}
.side-index .side-index-list.left li a {
  padding-left: 3mm;
  border-radius: 0 1.5mm 1.5mm 0;
}
.side-index .side-index-list.right {
  left: 0;
}
.side-index .side-index-list.right li a {
  padding-right: 3mm;
  border-radius: 1.5mm 0 0 1.5mm;
}
.side-index .side-index-list li {
  flex-grow: 1;
  flex-shrink: 0;
  margin-bottom: 1mm;
  max-height: 20mm;
  min-height: 2em;
  display: flex;
}
.side-index .side-index-list li a {
  background: #d9e0f3;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 20mm;
  min-height: 2.5em;
  width: 100%;
}
.side-index .side-index-list li.else a {
  background: #e6e6e6;
}
.side-index .side-index-list li .num {
  font-size: 1.2rem;
  font-weight: bold;
  flex-shrink: 0;
  flex-grow: 0;
  white-space: nowrap;
  width: 2.2em;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.side-index .side-index-list li .txt {
  display: none;
  flex-grow: 99;
}
#blank .content {
  font-weight: bold;
  color: #cccccc;
  font-size: 2rem;
  text-align: center;
  width: 100%;
  border-bottom: 0.3pt solid #cccccc;
}