﻿@import "../_variables";

/***************************************************
 * Common
 ***************************************************/
*[title] {
    prince-tooltip: attr(title);
}
* {
    box-sizing: border-box;
}
h1 {

}

h2 {
}



img {
    max-width: 100%;
    max-height: 100%;
}



// * {
//     border-color: cmyk(100%,100%,100%,100%) !important;
//     background-color: cmyk(100%,100%,100%,100%) !important;
//     caret-color: cmyk(100%,100%,100%,100%) !important;
//     outline-color: cmyk(100%,100%,100%,100%) !important;
//     text-decoration-color: cmyk(100%,100%,100%,100%) !important;
//     color: cmyk(100%,100%,100%,100%) !important;
// }