﻿@import "../_variables";

/***************************************************
 * Contents
 ***************************************************/
#contents {
}
.chapter {
    .chapter-title-text {
        string-set: @title-h1 content();

        &::before {
            string-set: @title-delimeter " ";
        }

        &::after {
            string-set: @title-h2 " ";
        }
    }

    h1 {
        string-set: @title-h1 content();

        &::before {
            string-set: @title-delimeter " ";
        }

        &::after {
            string-set: @title-h2 " ";
        }
    }

    h2 {
        string-set: @title-h2 content();

        &::before {
            string-set: @title-delimeter "-";
        }
    }
}