@charset:"UTF-8";

html,body {
	width: 100%;
	height: 100%;
}
#hotspot-overlay {
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 998;
  top: 0;
}
#hotspot-back {
  content: "";
  display: block;
  background: rgba(0,0,0,0.6);
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 998;
}
.ggskin_container #hotspot-popup {
  top: 0;
  left: 0;
  transform: none;
}
#hotspot-popup {
  width: 90%;
  min-width: 250px;
  max-width: 400px;
  background: #333;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50.5%);
  z-index: 999;
  font-size: 14px;
  box-shadow: 0 0 7px rgba(0,0,0,0.5);
}
#hotspot-popup * {
  color: #fff;
  box-sizing: border-box;
}
#hotspot-popup a {
	text-decoration: none;
}
#hotspot-popup #close{
	display:block;
	float: right;
	cursor: pointer;
	width: 40px;
	height: 45px;
	/* padding: 10px; */
	margin-left: 10px;
}
#hotspot-popup #close::after {
	content:"";
	width: 2px;
	height: 20px;
	background: #fff;
	display: block;
	transform: rotate(45deg);
	position: absolute;
	right: 20px;
	top: 12px;
}
#hotspot-popup #close::before {
	content:"";
	width: 2px;
	height: 20px;
	background: #fff;
	display: block;
	transform: rotate(-45deg);
	position: absolute;
	right: 20px;
	top: 12px;
}
#hotspot-popup #close:hover::before,
#hotspot-popup #close:hover::after{
	background: #666;
}

#title {
  font-size: 18px;
  padding: 10px;
  border-bottom: 1px solid #fff;
}
#links-list {
	overflow-y: auto;
	overflow-x: hidden;
	margin: 0;
	padding: 0;
	max-height: 420px;
}
#links-list li {
	list-style: none;
	width: 100%;
	border-bottom: 1px solid #fff;
	height: 100%;
}
#links-list li .modal-div {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	flex-wrap: nowrap;
	height: 100%;
}

#links-list li:last-child {
	border-bottom: none;
}
#links-list li .modal-div:hover {
	background: #666;
}

#links-list li .modal-div .modal-img{
	width: 70px;
	border-right: 1px solid #666;
	align-items: safe;
	align-items: stretch;
	align-content: stretch;
	align-self: stretch;
	display: flex;
}
#links-list li .modal-div .modal-img img{
	width: 100%;
	align-self: center;
}

.landscape #hotspot-popup {
	max-width: 700px;
}
.landscape #links-list {
	display: flex;
	flex-wrap: wrap;
	align-content: stretch;
	max-height: 200px;
}
.landscape #links-list li {
	width: 50%;
	padding-right: 0;
	border-left: 1px solid #666;
}
.landscape #links-list li:nth-child(2n+1) {
	border-right: 1px solid #666;
	padding-right: 10px;
	border-left: none;
	margin-right: -1px;
}
.landscape #links-list li:nth-child(2n+1):nth-last-of-type(2) {
	border-bottom: none
}
#links-list li .modal-div .modal-a{
  padding: 0 10px;
  flex-grow: 9;
  flex-shrink: 9;
  flex-basis: 50px;
}
#links-list li .modal-div .modal-a a {
	display: flex;
	min-height: 69px;
	align-items: center;
}
#links-list li .modal-div::after{
  content: "";
  background: url(../../ico/icon-arrow-x.svg) no-repeat;
  background-size: 1.5em;
  width: 30px;
  vertical-align: middle;
  background-position: center;
  display: block;
  height: 30px;
  flex-basis: 30px;
}

/* .ggskin_hotspot */
.ggskin_hotspot.on {
  cursor: pointer;
}
.ggskin_hotspot .ggskin_container .ggskin_rectangle {
  box-shadow: 0 0 5px rgba(0,0,0,0.5);
}
.ggskin_hotspot .ggskin_container .ggskin_text {
  font-weight: bold;
}
.ggskin_hotspot .ggskin_button{
  transform: scale(1.0);
  transition: all 0.1s;
}
.ggskin_hotspot.over .ggskin_button {
  transform: scale(1.1);
  transition: all 0.1s;
}

.ggskin_hotspot.on {
  z-index: 999;
}
.ggskin_hotspot.on > div.ggskin_button:nth-last-child(1) {
  visibility: inherit !important;
}
.ggskin_hotspot.on > div.ggskin_button:nth-last-child(2) {
  visibility: hidden !important;
}
.ggskin_hotspot  * {
	cursor: pointer !important;
}

.hotspotpopupsvg {
  fill: #08f;
}
.pc .on .hotspotpopupsvg {
  fill: #5bf;
}
.pc .hotspotpopupsvg:hover {
  opacity: 0.8;
  transform: scale(1.15);
  transition: all 0.2s;
}
.sp .on .hotspotpopupsvg {
  fill: #5bf;
  opacity: 0.8;
  transform: scale(1.15);
  transition: all 0.2s;
}