@charset:"UTF-8";

#hotspot-overlay {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 998;
  top: 0;
}
#hotspot-back {
  content: "";
  display: block;
  background: rgba(0,0,0,0.4);
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 998;
}
#hotspot-popup {
  width: 80%;
  min-width: 250px;
  max-width: 400px;
  /* height: 300px; */
  background: #333;
  margin: auto;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 999;
  font-size: 14px;
}
#hotspot-popup * {
  color: #fff;
  box-sizing: border-box;
}
#hotspot-popup #close{
	display:block;
	float: right;
	cursor: pointer;
	width: 40px;
	height: 45px;
	/* padding: 10px; */
	margin-left: 10px;
}
#hotspot-popup #close::after {
	content:"";
	width: 2px;
	height: 20px;
	background: #fff;
	display: block;
	transform: rotate(45deg);
	position: absolute;
	right: 20px;
	top: 12px;
}
#hotspot-popup #close::before {
	content:"";
	width: 2px;
	height: 20px;
	background: #fff;
	display: block;
	transform: rotate(-45deg);
	position: absolute;
	right: 20px;
	top: 12px;
}
#hotspot-popup #close:hover::before,
#hotspot-popup #close:hover::after{
	background: #666;
}

#title {
  font-size: 18px;
  padding: 10px;
  border-bottom: 1px solid #fff;
}
#links-list {
	overflow-y: auto;
	overflow-x: hidden;
	margin: 0;
	padding: 0;
	max-height: 300px;
}
#links-list li {
	list-style: none;
	display: table;
	justify-content: space-between;
	align-items: center;
	overflow: hidden;
	width: 100%;
	table-layout: fixed;
}

#links-list li:hover {
	background: #666;
}
.landscape #hotspot-popup {
	max-width: 600px;
}
.landscape #links-list {
	display: flex;
	flex-wrap: wrap;
	align-content: stretch;
}
.landscape #links-list li {
	width: 49.5%;
	padding-right: 0;
	align-self: center;
	border-left: 1px solid #666;
}
.landscape #links-list li:nth-child(2n+1) {
	border-right: 1px solid #666;
	padding-right: 10px;
	border-left: none;
	margin-right: -1px;
}
#links-list li a{
  display: inline-block;
  padding: 12px 10px;
  text-decoration: none;
  width: 100%;
}
#links-list li::after{
  content: "";
  background: url(../../ico/icon-arrow-x.svg) no-repeat;
  background-size: 1.5em;
  width: 30px;
  vertical-align: middle;
  display: table-cell;
  background-position: center;
}

.ggskin_hotspot.on {
  cursor: pointer;
}
.ggskin_hotspot .ggskin_container .ggskin_rectangle {
  box-shadow: 0 0 5px rgba(0,0,0,0.5);
}
.ggskin_hotspot .ggskin_container .ggskin_text {
  font-weight: bold;
}
.ggskin_hotspot .ggskin_button{
  transform: scale(1.0);
  transition: all 0.1s;
}
.ggskin_hotspot.over .ggskin_button {
  transform: scale(1.1);
  transition: all 0.1s;
}

.ggskin_hotspot.on {
  z-index: 999;
}
.ggskin_hotspot.on > div.ggskin_button:nth-last-child(1) {
  visibility: inherit !important;
}
.ggskin_hotspot.on > div.ggskin_button:nth-last-child(2) {
  visibility: hidden !important;
}
.ggskin_hotspot  * {
	cursor: pointer !important;
}
