/**
 * @license
 * MyFonts Webfont Build ID 2872977, 2014-08-27T22:55:57-0400
 * 
 * The fonts listed in this notice are subject to the End User License
 * Agreement(s) entered into by the website owner. All other parties are 
 * explicitly restricted from using the Licensed Webfonts(s).
 * 
 * You may obtain a valid license at the URLs below.
 * 
 * Webfont: Frutiger Com 55 Roman by Linotype
 * URL: http://www.myfonts.com/fonts/linotype/frutiger/com-55-roman/
 * Copyright: Part of the digitally encoded machine readable outline data for producing the Typefaces provided is copyrighted &#x00A9; 1981 - 2009 Linotype GmbH, www.linotype.com. All rights reserved. This software is the property of Linotype GmbH, and may not be repro
 * Licensed pageviews: 250,000
 * 
 * 
 * License: http://www.myfonts.com/viewlicense?type=web&buildid=2872977
 * 
 * © 2014 MyFonts Inc
*/


/* @import must be at top of file, otherwise CSS will not work */
@import url("//hello.myfonts.net/count/2bd691");
@font-face {font-family: 'FrutigerLTCom-Roman';src: url('webfonts/2BD691_0_0.eot');src: url('webfonts/2BD691_0_0.eot?#iefix') format('embedded-opentype'),url('webfonts/2BD691_0_0.woff') format('woff'),url('webfonts/2BD691_0_0.ttf') format('truetype');}
@import url("//hello.myfonts.net/count/2d5c34");
@font-face {font-family: 'FrutigerLTPro-Bold';src: url('webfonts/2D5C34_0_0.eot');src: url('webfonts/2D5C34_0_0.eot?#iefix') format('embedded-opentype'),url('webfonts/2D5C34_0_0.woff2') format('woff2'),url('webfonts/2D5C34_0_0.woff') format('woff'),url('webfonts/2D5C34_0_0.ttf') format('truetype');}