.ti-section .bordermarker--011 {
  border: none;
}
.ti-section .bordermarker--012 {
  border: none;
}
.ti-section .bordermarker--013 {
  border: none;
}
.ti-section .bordermarker--014 {
  border: none;
}
.ti-section .bordermarker--015 {
  border: none;
}
.ti-section .bordermarker--016 {
  border: none;
}
.ti-section .bordermarker--017 {
  border: none;
}
.ti-section .bordermarker--018 {
  border: none;
}
.ti-section .bordermarker--019 {
  border: none;
}
.ti-section .bordermarker--020 {
  border: none;
}
.ti-section .bordermarker--021 {
  border: none;
}
.ti-section .bordermarker--022 {
  border: none;
}
.ti-section .bordermarker--023 {
  border: medium solid #f8cfc6;
}
.ti-section .markonly--011 {
  background-color: none;
}
.ti-section .markonly--012 {
  background-color: none;
}
.ti-section .markonly--013 {
  background-color: none;
}
.ti-section .markonly--014 {
  background-color: none;
}
.ti-section .markonly--015 {
  background-color: none;
}
.ti-section .markonly--016 {
  background-color: none;
}
.ti-section .markonly--017 {
  background-color: none;
}
.ti-section .markonly--018 {
  background-color: none;
}
.ti-section .markonly--019 {
  background-color: none;
}
.ti-section .markonly--020 {
  background-color: none;
}
.ti-section .markonly--021 {
  background-color: none;
}
.ti-section .markonly--022 {
  background-color: none;
}
.ti-section .markonly--023 {
  background-color: #f8cfc6 !important;
}
.ti-section .update--011 {
  background-color: none;
}
.ti-section .update--012 {
  background-color: none;
}
.ti-section .update--013 {
  background-color: none;
}
.ti-section .update--014 {
  background-color: none;
}
.ti-section .update--015 {
  background-color: none;
}
.ti-section .update--016 {
  background-color: none;
}
.ti-section .update--017 {
  background-color: none;
}
.ti-section .update--018 {
  background-color: none;
}
.ti-section .update--019 {
  background-color: none;
}
.ti-section .update--020 {
  background-color: none;
}
.ti-section .update--021 {
  background-color: none;
}
.ti-section .update--022 {
  background-color: none;
}
.ti-section .update--023 {
  background-color: #f8cfc6;
}
.spec-table table tr:nth-child(even) td.update_1{
  background-color: none;
}
.spec-table table tr:nth-child(even) td.update_2{
  background-color: none;
}
.spec-table table tr:nth-child(even) td.update_3{
  background-color: none;
}
.spec-table table tr:nth-child(even) td.update_4{
  background-color: none;
}
.spec-table table tr:nth-child(even) td.update_5{
  background-color: none;
}
.spec-table table tr:nth-child(even) td.update_6{
  background-color: none;
}
.spec-table table tr:nth-child(even) td.update_7{
  background-color: none;
}
.spec-table table tr:nth-child(even) td.update_8{
  background-color: none;
}
.spec-table table tr:nth-child(even) td.update_9{
  background-color: none;
}
.spec-table table tr:nth-child(even) td.update_10{
  background-color: none;
}
.spec-table table tr:nth-child(even) td.update_11{
  background-color: none;
}
.spec-table table tr:nth-child(even) td.update_12{
  background-color: none;
}
.spec-table table tr:nth-child(even) td.update_13{
  background-color: #f8cfc6;
}
.spec-table table tr:nth-child(odd) td.update_1{
  background-color: none;
}
.spec-table table tr:nth-child(odd) td.update_2{
  background-color: none;
}
.spec-table table tr:nth-child(odd) td.update_3{
  background-color: none;
}
.spec-table table tr:nth-child(odd) td.update_4{
  background-color: none;
}
.spec-table table tr:nth-child(odd) td.update_5{
  background-color: none;
}
.spec-table table tr:nth-child(odd) td.update_6{
  background-color: none;
}
.spec-table table tr:nth-child(odd) td.update_7{
  background-color: none;
}
.spec-table table tr:nth-child(odd) td.update_8{
  background-color: none;
}
.spec-table table tr:nth-child(odd) td.update_9{
  background-color: none;
}
.spec-table table tr:nth-child(odd) td.update_10{
  background-color: none;
}
.spec-table table tr:nth-child(odd) td.update_11{
  background-color: none;
}
.spec-table table tr:nth-child(odd) td.update_12{
  background-color: none;
}
.spec-table table tr:nth-child(odd) td.update_13{
  background-color: #f8cfc6;
}