﻿#svg .svg-frame.horizon .group {
  cursor: grab; }

#svg .svg-frame.horizon .scrollable-rect {
  opacity: 0.1; }

#svg .hidden {
  display: none; }

#svg .box.ghost {
  opacity: 0; }

#svg .box.single {
  stroke-dasharray: 6px 3px; }

#svg rect.box-header {
  fill: #22b4f1;
  fill-opacity: 1; }

#svg rect.rect, #svg rect.box-wrapper {
  fill: transparent;
  fill-opacity: 0;
  stroke: #22b4f1;
  stroke-width: 2px; }

#svg rect.opt_rect {
  fill: rgba(0, 0, 0, 0.1);
  fill-opacity: 1; }

#svg rect.model-box {
  fill: transparent;
  fill-opacity: 0; }

#svg rect.update-rect {
  fill: transparent;
  fill-opacity: 1; }

#svg rect.comment-wrapper {
  fill: #fff;
  fill-opacity: 1;
  stroke: #22b4f1;
  stroke-width: 2px;
  stroke-dasharray: 6px 3px; }

#svg rect.add {
  fill: rgba(34, 180, 241, 0.3);
  fill-opacity: 1; }

#svg rect.alt {
  fill: rgba(153, 153, 153, 0.17);
  fill-opacity: 1; }

#svg rect.single {
  stroke: #22b4f1;
  stroke-width: 2px;
  stroke-dasharray: 6px 3px; }

#svg rect.search-back {
  fill: #fcf8e3;
  fill-opacity: 1; }

#svg path.line,
#svg line.line {
  stroke: #22b4f1;
  stroke-width: 4px;
  stroke-linecap: butt;
  fill: transparent;
  fill-opacity: 0;
  pointer-events: none; }

#svg path.dash,
#svg line.dash {
  stroke-dasharray: 5px; }

#svg path.kage,
#svg line.kage {
  stroke: #c00;
  stroke-dasharray: 10px; }

#svg path.update-path,
#svg line.update-path {
  fill: transparent;
  fill-opacity: 0;
  stroke: #c00;
  stroke-width: 1px;
  stroke-dasharray: 0;
  stroke-linecap: round;
  stroke-linejoin: round; }

#svg path.hidden,
#svg line.hidden {
  display: none; }

#svg path.vert,
#svg line.vert {
  stroke-linecap: butt; }

#svg path.connection,
#svg line.connection {
  fill: transparent;
  fill-opacity: 0;
  stroke: #22b4f1;
  stroke-width: 4px;
  stroke-linecap: square; }

#svg text {
  font-family: Arial;
  text-anchor: middle;
  fill: #333; }
  #svg text.box-header-text {
    fill: #fff;
    font-weight: bold; }
  #svg text.icon {
    font-size: 80px; }
  #svg text.icon-text {
    font-size: 14px;
    font-style: italic;
    font-weight: bold; }
  #svg text.update-text {
    fill: #c00;
    font-size: 10px; }
  #svg text.model-name, #svg text.model-names {
    font-size: 18px;
    font-weight: bold;
    fill: #22b4f1;
    cursor: pointer; }
    #svg text.model-name.no-link, #svg text.model-names.no-link {
      cursor: auto;
      fill: #000;
      font-weight: normal; }
  #svg text.model-header tspan {
    font-weight: bold; }
  #svg text.cap tspan {
    font-size: 14px; }
  #svg text.item {
    font-size: 60px;
    fill: #000;
    font-family: Impact,Arial;
    font-weight: bold; }
  #svg text.comment tspan {
    font-size: 12px; }
  #svg text.narrow {
    transform: scale(0.8, 1); }
    #svg text.narrow[data-narrow="1"] {
      transform: scale(0.9, 1); }
    #svg text.narrow[data-narrow="2"] {
      transform: scale(0.8, 1); }
    #svg text.narrow[data-narrow="3"] {
      transform: scale(0.7, 1); }

#svg .icon-url-g {
  cursor: pointer; }

tspan.new {
  fill: #c00;
  font-size: 13px; }

tspan.search {
  font-style: italic;
  font-weight: bold;
  fill: #000; }

#download {
  top: 100px;
  position: absolute;
  right: 0; }
  #download a {
    display: inline-block;
    background: #22b4f1;
    padding: 10px 15px;
    color: #fff;
    font-weight: bold;
    text-decoration: none; }
    #download a:hover {
      background: #c00;
      color: #fff; }

#d3-target {
  width: 100%;
  text-align: center; }

#switcher {
  position: absolute;
  top: 10px;
  right: 10px;
  border-radius: 17px;
  width: 64px;
  height: 34px;
  display: block;
  overflow: hidden;
  border: 2px solid #eee;
  cursor: pointer; }
  #switcher #switch {
    position: relative;
    margin-left: -30px; }
    #switcher #switch .box {
      width: 90px;
      height: 30px;
      background: linear-gradient(to right, #22b4f1 0%, #22b4f1 50%, #eee 50%, #eee);
      display: block; }
      #switcher #switch .box::before {
        content: "";
        display: block;
        background: #fff;
        box-shadow: 0 0 3px #eee;
        border-radius: 15px;
        width: 30px;
        height: 30px;
        position: absolute;
        left: 30px; }
      #switcher #switch .box::after {
        content: "";
        display: block;
        width: 15px;
        height: 15px;
        border-radius: 7.5px;
        border: 2px solid #fff;
        position: absolute;
        left: 38px;
        top: 7.5px;
        transition: .3s; }
      #switcher #switch .box:hover::after {
        transition: .3s;
        border: 2px solid #22b4f1; }
    #switcher #switch.on .box:hover::after {
      border-color: #eee; }
  #switcher.hidden {
    display: none; }

#scale {
  position: absolute;
  top: 10px;
  right: 0; }
  #scale .plus, #scale .minus {
    border: 2px solid #eee;
    border-radius: 17px;
    display: inline-block;
    cursor: pointer;
    width: 34px;
    height: 34px; }
    #scale .plus::before, #scale .minus::before {
      content: "";
      display: inline-block;
      border-bottom: 2px solid #999;
      width: 16px;
      height: 0;
      position: absolute;
      left: 9px;
      top: 16px; }
    #scale .plus::after, #scale .minus::after {
      content: "";
      display: inline-block;
      border-left: 2px solid #999;
      width: 0;
      height: 16px;
      position: absolute;
      left: 16px;
      top: 9px; }
    #scale .plus:hover, #scale .minus:hover {
      background: #22b4f1;
      transition: .3s; }
      #scale .plus:hover::before, #scale .minus:hover::before, #scale .plus:hover::after, #scale .minus:hover::after {
        border-color: #fff;
        transition: .3s; }
  #scale .minus::before {
    right: 9px;
    left: auto; }
  #scale .minus::after {
    display: none; }
  #scale .minus:hover::before {
    border-color: #fff; }

#downloader {
  position: absolute;
  top: 10px;
  right: 90px; }
  #downloader .svg, #downloader .png, #downloader .pdf {
    border: 2px solid #eee;
    border-radius: 17px;
    display: inline-block;
    cursor: pointer;
    width: 34px;
    height: 34px; }
    #downloader .svg::before, #downloader .png::before, #downloader .pdf::before {
      content: "";
      display: inline-block;
      background: #999;
      width: 2px;
      height: 16px;
      margin: 7px 14px;
      position: absolute; }
    #downloader .svg::after, #downloader .png::after, #downloader .pdf::after {
      content: "";
      display: inline-block;
      border: 2px solid #999;
      border-width: 0 0 2px 2px;
      width: 12px;
      height: 12px;
      position: relative;
      transform: rotate(-45deg);
      top: 6px;
      left: 9px; }
    #downloader .svg:hover, #downloader .png:hover, #downloader .pdf:hover {
      background: #22b4f1;
      transition: .3s; }
      #downloader .svg:hover::before, #downloader .png:hover::before, #downloader .pdf:hover::before {
        background: #fff;
        transition: .3s; }
      #downloader .svg:hover::after, #downloader .png:hover::after, #downloader .pdf:hover::after {
        border-color: #fff;
        transition: .3s; }

#main.container #contents {
  overflow-y: hidden; }
  #main.container #contents #d3-target {
    overflow-y: scroll; }

#context {
  display: none;
  position: absolute;
  z-index: 999;
  min-width: 200px;
  min-height: 50px;
  background: #22b4f1;
  border-radius: 0 10px 10px 10px; }

@media print {
  @page {
    size: 210mm 1000mm; }
  * {
    overflow: visible !important;
    overflow-y: visible !important; }
  #d3-target {
    height: 1000mm !important; } }
