﻿<!DOCTYPE html>
<html xmlns:ng="http://angularjs.org" id="ng-app" class="js svg ng-scope">
<head>
    <style type="text/css">
        @charset "UTF-8";

        [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak, .ng-hide {
            display: none !important;
        }

        ng\:form {
            display: block;
        }

        .ng-animate-block-transitions {
            transition: 0s all !important;
            -webkit-transition: 0s all !important;
        }
    </style>
    <meta charset="utf-8">
    <title>2019-2020 SHIMANO Product Information Web</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="robots" content="noindex,nofollow,noarchive" />
    <!--<link rel="stylesheet" href="/libs/reset.min.css">-->
    <link rel="stylesheet" href="./libs/font-awesome-4.1.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="./libs/MyFontsWebfontsKit/MyFontsWebfontsKit.css">
    <!--<link rel="stylesheet" href="./libs/reveal/reveal.css">
    <link rel="stylesheet" href="./build/css/common-51ca9a91.css">-->
    <link rel="stylesheet" href="./build/css/print-7ed7a17e.css" media="print">
    <link rel="stylesheet" href="./build/css/spec-dc52c5bb.css">

    <link class="style-old-1" rel="stylesheet" href="./libs/reset.min.css">
    <link class="style-old-2" rel="stylesheet" href="./libs/reveal/reveal.css">
    <!--<link class="style-old-3" rel="stylesheet" href="./build/css/common-51ca9a91.css">-->
    <link class="style-new-1" rel="stylesheet" href="./build/css/product-new.min-d2bcd631.css">

    <!-- Editor -->
    <link rel="stylesheet" href="./libs/editor/js/colorbox/colorbox.css">


    <link rel="stylesheet" href="css/d3-style.css">

    <script src="js/ss.js"></script>
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.debug.js" integrity="sha384-NaWTHo/8YCBYJ59830LTz/P4aQZK1sS0SneOgAvhsIl3zBu8r9RevNg5lHCHAuQ/" crossorigin="anonymous"></script>
    <script src="libs/svgToPdf.js"></script>

    <script src="https://mozilla.github.io/pdf.js/build/pdf.js"></script>-->

</head>
<body class="en">
    <div ng-view="" class="ng-scope">
        <div id="contents-header" class="container navbar">
            <div class="h-wrap">
                <div class="navbar-header pull-left">
                    <a class="navbar-brand" href="#"><img src="images/common/logo-shimano-white.png" width="129" alt="SHIMANO"></a>
                </div>
                <div class="navbar-collapse">
                    <ul class="nav navbar-nav cont3">
                        <!-- ngRepeat: content in header.contents -->
                        <li ng-repeat="content in header.contents" class="dropdown ng-scope">
                            <a class="dropdown-toggle ng-binding">SPECIFICATIONS &amp; TECHNICAL DOCUMENTS</a>
                            <ul class="dropdown-menu">
                                <!-- ngRepeat: child_content in content.child_contents -->
                                <li ng-repeat="child_content in content.child_contents" class="ng-scope">
                                    <!-- ngIf: child_content.slug !='ti' --><a ng-if="child_content.slug !='ti'" href="/#/lc" class="ng-scope ng-binding">Line-up chart</a><!-- end ngIf: child_content.slug !='ti' -->
                                    <!-- ngIf: child_content.slug =='ti' -->
                                </li><!-- end ngRepeat: child_content in content.child_contents -->
                                <li ng-repeat="child_content in content.child_contents" class="ng-scope">
                                    <!-- ngIf: child_content.slug !='ti' --><a ng-if="child_content.slug !='ti'" href="/#/spec" class="ng-scope ng-binding">Specifications</a><!-- end ngIf: child_content.slug !='ti' -->
                                    <!-- ngIf: child_content.slug =='ti' -->
                                </li><!-- end ngRepeat: child_content in content.child_contents -->
                                <li ng-repeat="child_content in content.child_contents" class="ng-scope">
                                    <!-- ngIf: child_content.slug !='ti' -->
                                    <!-- ngIf: child_content.slug =='ti' --><a ng-if="child_content.slug =='ti'" href="/#/com" class="ng-scope ng-binding">Compatibility</a><!-- end ngIf: child_content.slug =='ti' -->
                                </li><!-- end ngRepeat: child_content in content.child_contents -->
                            </ul>
                        </li><!-- end ngRepeat: content in header.contents -->
                    </ul>
                </div>
                <div class="navbar-landl">
                    <ul>
                        <li class="navbar-word">
                            <a href="/#/wd">
                                <img src="images/common/header/word.png" width="15" alt="Word definitions">
                            </a>
                        </li>
                        <li class="navbar-language">
                            <select id="lang" ng-model="lang" ng-change="changeLang()" class="ng-pristine ng-valid">
                                <option value="jp">日本語</option>
                                <option value="en">ENGLISH</option>
                                <option value="tw">繁体中文</option>
                                <option value="ch">简体中文</option>
                            </select>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div id="contents-subheader" class="container ng-isolate-scope" data="secondHeader" content-lang="contentLang">
            <div class="h-wrap">
                <div class="subhead-l">
                    <p class="category"><a href="/#/lc" title="Back to top page" class="ng-binding">Line-up chart</a></p>
                    <p ng-show="data.content_slug != 'launchdate' &amp;&amp; data.content_slug != 'idc'" class="version ng-binding">version 2.2</p>
                    <p class="update ng-binding">updated: May 31, 2019</p>
                </div>
                <div class="subhead-r">
                    <p class="fa fa-archive">
                        <a href="#/archive" class="archive ng-binding">2004-2019 Archive</a>
                    </p>
                    <div ng-show="data.content_slug == 'com'" class="info ng-hide">
                        <a href="" class="color-definitions-help"></a>
                    </div>
                    <div ng-show="data.content_slug == 'lc'" class="info">
                        <a href="" class="lc-help"></a>
                    </div>
                    <div ng-show="data.content_slug == 'spec'" class="download ng-hide"><a href="/download/pdf/lc/2.2/en" onclick="trackLink($(this).attr('href'))"></a></div>
                    <div ng-show="data.content_slug == 'com'" class="download ng-hide"><a href="/download/pdf/lc/2.2/en" onclick="trackLink($(this).attr('href'))"></a></div>
                    <div ng-show="data.content_slug == 'lc'" class="download"><a href="/download/pdf/lc/2.2/en" onclick="trackLink($(this).attr('href'))"></a></div>
                    <ul ng-show="data.content_slug == 'com'" class="fontsize_changebtn ng-hide">
                        <li ng-click="TiUtils.changeFontSize()" class="small active" ng-class="{active: !TiStore.isFontLarge}"></li>
                        <li ng-click="TiUtils.changeFontSize()" class="large" ng-class="{'active': TiStore.isFontLarge}"></li>
                    </ul>
                    <form ng-show="data.content_slug == 'com'" action="" ng-submit="TiUtils.searchCid(data.version)" class="search__cid ng-pristine ng-valid ng-hide">
                        <span>C-</span><input type="text" placeholder="001" ng-model="TiStore.input_acid" class="ng-pristine ng-valid">
                    </form>
                    <form ng-show="data.content_slug == 'com'" action="" ng-submit="TiUtils.searchText(data.version, true)" class="search ng-pristine ng-valid ng-hide">
                        <input type="text" ng-model="TiStore.input_q" class="ng-pristine ng-valid">
                    </form>
                    <form ng-show="data.content_slug == 'spec'" action="" ng-submit="SpecUtils.searchText(SpecStore.input_q, data.version)" class="search ng-pristine ng-valid ng-hide">
                        <input type="text" ng-model="SpecStore.input_q" class="ng-pristine ng-valid">
                    </form>
                    <form ng-show="" action="javascript:_.action.search()" ng-submit="_.d3.action.search()" class="search ng-pristine ng-valid">
                        <input id="search-text" type="text" ng-model="LcStore.input_q" class="ng-pristine ng-valid">
                    </form>
                </div>
            </div>
        </div>






        <div id="main" class="container ng-scope">
            <div id="sidebar" class="sidebar lc ng-isolate-scope" data="contentNav" version="version" style="height: 887px;">
                <span class="sidebar__menu__btn"></span>
                <ul class="sidebar__menu" style="max-height: 847px;">

                    <li class="mtb active">
                        <a href="" class="ng-binding">▼レイアウトパターンサンプル</a>
                        <ul class="active">

                            <li data-num="1" class="ng-scope link active">
                                <a href="" class="ng-binding">SAMPLE</a>
                                <!--<ul class="active">

                                    <li class="ng-scope active">
                                        <a href="" class="ng-binding">xxxxxxx</a>
                                    </li>
                                </ul>-->
                            </li>
                            <li data-num="2" class="ng-scope link">
                                <a href="" class="ng-binding">SHIMANO DEORE XT</a>
                                <!--<ul class="">

                                    <li class="ng-scope ">
                                        <a href="" class="ng-binding">1x12-speed</a>
                                    </li>
                                </ul>-->
                            </li>
                            <li data-num="3" class="ng-scope link">
                                <a href="" class="ng-binding">SHIMANO ACERA ALTUS</a>
                                <!--<ul class="">

                                    <li class="ng-scope">
                                        <a href="" class="ng-binding">3x7-speed</a>
                                    </li>
                                </ul>-->
                            </li>
                            <li data-num="4" class="ng-scope link">
                                <a href="" class="ng-binding">DURA-ACE</a>
                                <!--<ul class="">

                                    <li class="ng-scope">
                                        <a href="" class="ng-binding">2x11-speed</a>
                                    </li>
                                </ul>-->
                            </li>
                            <li data-num="5" class="ng-scope link">
                                <a href="" class="ng-binding">SHIMANO TOURNEY</a>
                                <!--<ul class="">

                                    <li class="ng-scope">
                                        <a href="" class="ng-binding">3x7-speed</a>
                                    </li>
                                </ul>-->
                            </li>
                            <li data-num="6" class="ng-scope link">
                                <a href="" class="ng-binding">要望1／要望2</a>
                                <!--<ul class="">

                                    <li class="ng-scope">
                                        <a href="" class="ng-binding">3x7-speed</a>
                                    </li>
                                </ul>-->
                            </li>
                            <li data-num="7" class="ng-scope link ">
                                <a href="" class="ng-binding">説明用</a>
                                <!--<ul class="">

                                    <li class="ng-scope">
                                        <a href="" class="ng-binding">3x7-speed</a>
                                    </li>
                                </ul>-->
                            </li>

                            <li data-num="sora__2x9" class="ng-scope link ">
                                <a href="" class="ng-binding">静的svg出力：Sora</a>
                                <!--<ul class="">

                                    <li class="ng-scope">
                                        <a href="" class="ng-binding">3x7-speed</a>
                                    </li>
                                </ul>-->
                            </li>
                            <li data-num="ep801_urban-trekking__di2_igh" class="ng-scope link ">
                                <a href="" class="ng-binding">静的svg出力：EP801</a>
                                <!--<ul class="">

                                    <li class="ng-scope">
                                        <a href="" class="ng-binding">3x7-speed</a>
                                    </li>
                                </ul>-->
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="ng-scope">
                <div id="contents" class="content lc ng-scope" style="height: 902px;">
                    <div class="lc-header">
                        <div class="lc-header__logo"><!-- ngIf: series.slug --><img ng-if="series.slug" ng-attr-src="./images/lc/{{lang}}/trees/logos/{{series.slug}}{{speed.suffix_png}}.png" width="375" height="34" alt="" class="ng-scope" src="./images/lc/en/trees/logos/xtr_m9100.png"><!-- end ngIf: series.slug --></div>
                        <ul class="lc-header__speeds">
                            <li class="lc-header__speeds__item"><a href="" class="ng-binding active">1x12-speed</a></li>
                        </ul>


                        <div id="downloader">
                            <div class="svg"></div>
                            <!--<div class="pdf"></div>-->
                        </div>
                        <div id="scale">
                            <div class="plus"></div>
                            <div class="minus"></div>
                        </div>
                        <!--<div id="switcher">
                            <div id="switch">
                                <div class="box"></div>
                            </div>
                        </div>-->

                    </div>

                    <div class="watermark">

                        <div class="watermark__pane ng-scope"></div>
                        <div id="d3-target" class="watermark__inner" ng-transclude="">

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div id="context"></div>
    <script src="libs/jquery.min.js"></script>
    <script src="libs/jquery.cookie.min.js"></script>
    <!--<script src="libs/reveal/jquery.reveal.js"></script>
    <script src="libs/underscore.min.js"></script>
    <script src="libs/moment.min.js"></script>
    <script src="libs/modernizr.custom.73880.js"></script>
    <script src="libs/jquery.swfobject.1-1-1.min.js"></script>-->
    <script src="js/common.js"></script>
    <script src="js/scroll.js"></script>
    <!-- Editor -->
    <script src="libs/editor/js/colorbox/jquery.colorbox.js"></script>
    <script src="libs/editor/js/editor_popup.js"></script>
    <!--<script src="build/templates/admin_templates-fd7adf86.js"></script>
    <script src="build/templates/lc_templates-6bd1c344.js"></script>
    <script src="build/templates/other_templates-2b66fea1.js"></script>-->
    <!-- ADD -->
    <div id="opeEditArea" style="display:none;">
        <div id="tooltipEditArea" style="position:absolute;top:0px;right:0px;border:1px solid #DDDDDD;background-color:#EEEEEE;padding:5px;">
            <div>
                <span><a class="btnOpenEditor cboxElement" default-href="/popup_editor" href="#">Edit</a></span>
            </div>
        </div>
    </div>
    <!-- ADD -->
    <!-- d3 -->
    <script src="libs/d3/d3.v5.min.js"></script>
    <script src="libs/d3/promise-7.0.4.min.js"></script>
    <script src="libs/d3/innersvg.js"></script>
    <script src="js/d3-svg.js"></script>
    <script src="js/d3-common2.es5.js"></script>
    <!-- <script src="js/d3-common2.js"></script> -->



    <div id="cboxOverlay" style="display: none;"></div><div id="colorbox" class="" role="dialog" tabindex="-1" style="display: none;"><div id="cboxWrapper"><div><div id="cboxTopLeft" style="float: left;"></div><div id="cboxTopCenter" style="float: left;"></div><div id="cboxTopRight" style="float: left;"></div></div><div style="clear: left;"><div id="cboxMiddleLeft" style="float: left;"></div><div id="cboxContent" style="float: left;"><div id="cboxTitle" style="float: left;"></div><div id="cboxCurrent" style="float: left;"></div><button type="button" id="cboxPrevious"></button><button type="button" id="cboxNext"></button><button id="cboxSlideshow"></button><div id="cboxLoadingOverlay" style="float: left;"></div><div id="cboxLoadingGraphic" style="float: left;"></div></div><div id="cboxMiddleRight" style="float: left;"></div></div><div style="clear: left;"><div id="cboxBottomLeft" style="float: left;"></div><div id="cboxBottomCenter" style="float: left;"></div><div id="cboxBottomRight" style="float: left;"></div></div></div><div style="position: absolute; width: 9999px; visibility: hidden; display: none;"></div></div>
</body>

    </html>
