@charset "UTF-8";

html {
  font-size: 14px;
  font-family: "Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;
}
@media screen and (max-width:500px){
  html {
    font-size: 3.5vw;
  }
}
@media screen and (max-width:768px){
  html {
  }
}
* {
  box-sizing: border-box;
}
*:hover {
  transition: all 0.2s;
}
body {
  background: #fff;
  color: #666;
  line-height: 1.2;
  padding: 0;
  margin: 0;
}
ol ,
ul {
  margin: 0;
  padding: 0;
}
ol li {
  margin-bottom: 1.5em;
}
li {
  list-style: none;
}
p {
  margin: 0;
}
p + p {
  margin-top: 0.5em;
}
/*
------------------------------------------------*/
header.global {
  height: 50px;
  display: flex;
  align-items: center;
  padding-left: 20px;
  position: fixed;
  z-index: 999;
  background: rgba(255,255,255,0.9);
  width: 100%;
  top: 0;
  box-shadow: 0px -5px 10px #263b74;
}
.box {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}
header.global img {
  height: 30px;
}
header.local {
  background: #263b74;
  color: #fff;
  padding: 0 1em;
  min-height: 80px;
  display: flex;
  align-items: center;
  margin-top: 50px;
}
header h1 {
  padding: 10px 0;
  margin: 0;
  line-height: 1;
  display: flex;
  align-items: center;
  /* max-width: 1200px; */
  /* width: 100%; */
}
header h1::before {
  content: "";
  background: url(../img/icon_manual.svg);
  display: inline-flex;
  width: 1.5em;
  height: 1.5em;
  background-size: cover;
  background-position: 75%;
  flex-shrink: 0;
}
@media screen and (max-width:768px){
  header h1 {
  }
}
main {
  padding: 20px;
  /* max-width: 1200px; */
  /* margin: 0 auto; */
}
article {
  margin-bottom: 2em;
  /* border-bottom: 1px dashed #ccc; */
  padding-bottom: 2em;
}
article:last-of-type {
  border: none;
  margin-bottom: 0;
}
article h2 {
  border-left: 5px solid #263b74;
  /* border-bottom: 1px solid #263b74; */
  padding: .5em;
}
article h3 {
}
footer {
  margin-bottom: 5em;
}
/* hearing
------------------------------------------------*/
.hearing {
  display: flex;
  flex-wrap: wrap;
}
.hearing * {
}
.hearing li {
  width: 32%;
  list-style: none;
  border: 1px dotted #aaa;
  border-radius: 10px;
  margin-bottom: 20px;
  margin-right: 2%;
  padding: 5px 15px;
  /* box-shadow: 5px 5px 9px rgba(0,0,0,0.1), -5px -5px 10px rgba(255,255,255,0.4); */
  position: relative;
  min-height: 6em;
  transition: 0.1s;
  cursor: pointer;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  user-select: none;
}
.hearing li:nth-child(3n) {
  margin-right: 0;
}
@media screen and (max-width:800px) {
  .hearing li {
    width: 49%;
    margin-right: 2% !important;   
  }  
  .hearing li:nth-child(2n) {
    margin-right: 0 !important;
  }
}
@media screen and (max-width:600px) {
  .hearing li {
    width: 100%;
    margin-right: 0 !important;
  }  
}
.hearing li.on {
  background: #263b74;
  color: #fff;
  transition: 0.1s;
}
.hearing li:active {
  transform: translate(0,2px);
}
.task {
  margin: .5em 0;
  pointer-events: none;
  min-height: 2.4em;
  width: 100%;
}
.neads {
  font-weight: 700;
  font-size: 1.3em;
  /* margin-bottom: .5em; */
  pointer-events: none;
  width: 100%;
}
.task + .neads {
  margin-bottom: .5em;
}
.nega {
  border-color: #c00;
}
.nega.hearing li.on {
  background: #c00;
}
/* submit
------------------------------------------------*/
#submit {
  /* display: flex; */
  justify-content: center;
  /* border-top: 1px dotted #fff; */
  padding: 2em 1em 0;
  margin: 1em 0;
  font-size: 1.2em;
  position: fixed;
  bottom: 0;
  width: 100%;
  left: 0;
  justify-content: space-between;
  pointer-events: none;
  text-align: center;
}
@media screen and (max-width: 768px){
  #submit {
    
  }
}
#submit a {
  display: inline-flex;
  background: #263b74;
  color: #fff;
  border-radius: 2em;
  text-decoration: none;
  font-weight: bold;
  border: 4px solid #fff;
  min-width: 3em;
  height: 3em;
  align-items: center;
  justify-content: center;
  padding: 0.8em;
  pointer-events: all;
  overflow: hidden;
}

@media (pointer: coarse) {
  #submit a:active {
    background: #616d8c;
  }
}
@media (pointer: fine) {
  #submit a:hover {
    background: #616d8c;
  }
}
@media (pointer: none) {
  #submit a:hover {
    background: #616d8c;
  }
}
#submit #btn-cancel {
  position: absolute;
  left: 10px;
}
#submit #btn-result {
  padding: 0.8em 3em;
}
#submit #btn-pagetop {
  position: absolute;
  right: 10px;
}

/* result
------------------------------------------------*/
.result {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: none;
  justify-content: center;
  align-items: center;
}
.result.on {
  display: flex;
}

.result .back {
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  position: fixed;
  z-index: -1;

}

.result img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.result_contents {
  background: #fff;
  position: relative;
  width: 85%;
  height: 90%;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  flex-wrap: wrap;
  max-width: 1050px;
  overflow: auto;
  margin-top: 40px;
}

.result #btn-close {
  position: absolute;
  right: 0;
}
.result #btn-close a {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 3em;
  height: 3em;
  display: flex;
  background: #666;
  border: 3px solid #fff;
    border-radius: 1.5em;
    justify-content: center;
    align-items: center;
}
.result #btn-close a::before ,
.result #btn-close a::after {
  content: "";
  width: 20px;
  height: 2px;
  display: flex;
  background: #fff;
  position: absolute;

}
.result #btn-close a::before {
  transform: rotate(45deg);
}
.result #btn-close a::after {
  transform: rotate(-45deg);
}
.result h2 {
  margin: 1.5em 0 0.5em;
  text-align: center;
}

.result .dita {
  background: #263b74;
  color: #fff;
}
.result .result-box {
  width: 100%;
  min-height: 150px;
  display: flex;
  color: #fff;
  /* height: 380px; */
  padding: 1em 0 2em;
  color: #fff;
  justify-content: center;
}
.result .result-ttl {
  margin: 0;
  padding: 2em 0 0;
  color: #fff;
}
.result .result-ttl h2 {
  margin: 0;
}
.result .request {
  background: #c00;
  color: #fff;
}
.result .request h3 {
  text-align: center;
}
.dita * {
  width: 100%;
}
.result .chart {
  text-align: center;
  display: flex;
  align-items: center;
}
.result .dita .chart {
  width: 300px;
}
.result .request .chart {
  width: 250px;
}
.result .chart svg {
  width: 250px;
}
.result .caption {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.result .caption * {
  width: 100%;
}
.result .caption .contents {
  background: rgba(255,255,255,0.2);
  padding: 15px;
  width: 100%;
  position: relative;
  border-radius: .5em;
  margin: 0 20px;
}
.result .caption.right {
  margin-left: 1em;
}
.result .caption.right .contents::before {
  content: "";
  width: 0;
  height: 0;
  border: 1em solid white;
  display: inline-block;
  position: absolute;
  left: -3em;
  border-color: transparent rgba(254,255,255,0.2) transparent transparent;
  top: calc(50% - 1em);
  border-width: 1em 1.5em;
}
.result .caption.left {
  margin-right: 1em;
}
.result .caption.left .contents::after {
  content: "";
  width: 0;
  height: 0;
  border: 1em solid white;
  display: inline-block;
  position: absolute;
  right: -3em;
  border-color: transparent transparent transparent rgba(254,255,255,0.2);
  top: calc(50% - 1em);
  border-width: 1em 1.5em;
}
.result .caption h3 {
  margin: 0 0 0.5em;
}
.result .caption ol,
.result .caption ul {
  margin-top: .5em;
  max-height: 250px;
  overflow: auto;
}
ol strong {
  border-bottom: 1px dotted #fff;
  padding-bottom: 0.2em;
  display: block;
}
.result .caption .characteristic {
  display: none;
}
.result .caption .characteristic.on {
  display: block;
}
.result .caption .bul li::before {
  content: "-";
  margin: 0 .3em;
}

.result .request.no-request1.no-request2 {
  display: none;
}

.result .result-cap {
  text-align: center;
  padding: 1.5em 0;
  font-size: 1.1rem;
}

.service .result-cap strong {
  color: #263b74;
}

.result .service {
}
.service .cards {
  display: flex;
  /* flex-wrap: wrap; */
  flex-direction: column;
  padding: 0 10px 0 20px;
}
.cards * {
  transition: all 0.3s;

}
.service .cards-ttl {
  width: 100%;
  padding: 0.2em;
  font-weight: 700;
  font-size: 1.5rem;
  margin-bottom: 1em;
  
  border-left: 5px solid #263b74;
  /* border-bottom: 1px solid #263b74; */
  padding: .5em;  
}
.service .cards-ctt {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1.5em;
}
.service .cards-ctt[data-cards-on="0"] {
  margin-bottom: 0;
}
.service .card {
  border: 1px dotted #aaa;
  border-radius: 10px;
  width: 31.333%;
  margin-right: 2%;
  margin-bottom: 20px;
  min-height: 150px;
  position: relative;
  display: none;
  overflow: hidden;
}
.service .card.on {
  display: block;
}
.service .card:nth-child(3n) {
  
}
.service .card .category {
  display: inline-block;
  background: #263b74;
  border-radius: .5em;
  color: #fff;
  font-size: 80%;
  padding: 0 .5em;
  position: absolute;
  top: 10px;
  left: 10px;
  opacity: 0.8;
      box-shadow: 0 0 6px rgba(255,255,255,1);
}
.service .card .image {
  background: #ccc;
  width: 100%;
  height: 140px;
}
.service .card .title {
  padding: 10px;
  font-weight: bold;
}
.service .card .title .num {
  display: none;
}



/* svg
------------------------------------------------*/
svg text {
  text-anchor: middle;
  fill: #fff;
  font-size: 69px;
  font-weight: bold;
  dominant-baseline: middle;
}

/* tippy.js
------------------------------------------------*/
.tippy-box[data-animation=fade][data-state=hidden]{
	opacity:0
}
[data-tippy-root]{
	max-width:calc(100vw - 10px)
}
.tippy-box{
	position:relative;
	background-color:#333;
	color:#fff;
	border-radius:1em;
	font-size:14px;
	line-height:1.4;
	outline:0;
	transition-property:transform,visibility,opacity
  
}
.tippy-box[data-placement^=top]>.tippy-arrow{
	bottom:0
}
.tippy-box[data-placement^=top]>.tippy-arrow:before{
	bottom:-7px;
	left:0;
	border-width:8px 8px 0;
	border-top-color:initial;
	transform-origin:center top
}
.tippy-box[data-placement^=bottom]>.tippy-arrow{
	top:0
}
.tippy-box[data-placement^=bottom]>.tippy-arrow:before{
	top:-7px;
	left:0;
	border-width:0 8px 8px;
	border-bottom-color:initial;
	transform-origin:center bottom
}
.tippy-box[data-placement^=left]>.tippy-arrow{
	right:0
}
.tippy-box[data-placement^=left]>.tippy-arrow:before{
	border-width:8px 0 8px 8px;
	border-left-color:initial;
	right:-7px;
	transform-origin:center left
}
.tippy-box[data-placement^=right]>.tippy-arrow{
	left:0
}
.tippy-box[data-placement^=right]>.tippy-arrow:before{
	left:-7px;
	border-width:8px 8px 8px 0;
	border-right-color:initial;
	transform-origin:center right
}
.tippy-box[data-inertia][data-state=visible]{
	transition-timing-function:cubic-bezier(.54,1.5,.38,1.11)
}
.tippy-arrow{
	width:16px;
	height:16px;
	color:#333
}
.tippy-arrow:before{
	content:"";
	position:absolute;
	border-color:transparent;
	border-style:solid
}
.tippy-content{
	position:relative;
	padding:1em;
	z-index:1;
  max-width: 300px;
}
.tooltip-content p {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.tooltip-content a {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
  font-size: 0.8em;
  background: #c00;
  color: #fff;
  padding: 0 0 0 0.7em;
  border-radius: 0.75em;
  height: 1.5em;
}
.tooltip-content a:hover {
  background: #f99;
}
.tooltip-content a + a {
  margin-left: 0.5em;
}
.tooltip-content a::after {
  content: "";
  width: 0.5em;
  height: 0.5em;
  transform: rotate(-45deg);
  display: inline-block;
  margin: 0 0.7em;
  border-width: 0px 1px 1px 0;
  border-color: #fff;
  border-style: solid;
}
.tooltip-content p + ul {
  margin-top: 0.5em;
}
.tooltip-content li {
  list-style-type: disc;
  margin-left: 1.5em;
}



/* btn
------------------------------------------------*/
.icon {
  transition: all 0.3s cubic-bezier(0.22, 0.61, 0.36, 1);
  max-width: 1em;
  white-space: nowrap;
  justify-content: start !important;
  color: #c00;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
}
@media (pointer: coarse) {
  .icon:active {
    max-width: 12em !important;
  }
}
@media (pointer: fine) {
  .icon:hover {
    max-width: 12em !important;
  }
}
@media (pointer: none) {
  .icon:hover {
    max-width: 12em !important;
  }
}
#btn-pagetop.icon::before {
  content: "";
  width: 0.7em;
  height: 0.7em;
  border: 2px solid #fff;
  border-color: #fff #fff transparent transparent;
  display: inline-block;
  transform: scaleX(0.7) rotate(-45deg);
  margin-right: 15px;
  margin-top: 8px;
  flex-shrink: 0;
}

#btn-cancel.icon::before {
  content: "";
  width: 0.7em;
  height: 0.7em;
  border: 2px dotted #fff;
  display: inline-block;
  margin-right: 15px;
  flex-shrink: 0;
}


/* common
------------------------------------------------*/
.line-control {
  display: inline-block;
}
.small {
  font-size: 60%;
}
.hide {
  display: none;
}
.tooltip {
  display: none;
}

.note {
  color: #ccc;
  text-indent: -1em;
  padding-left: 1em;
}
.note::before {
  content: "※";
  
}
.hover .hover {
}
.hover .card.hover {
  transform: scale(1.05);
  box-shadow: 0 0 8px rgba(0,0,0,0.3);
}
.hover .card:not(.hover) {
  opacity: 0.5;
}