@charset "UTF-8";
/* //////////////////////////////////////
- フォント読み込み
////////////////////////////////////// */
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&family=Noto+Sans+JP:wght@100;300;400;500;700&display=swap");
/* //////////////////////////////////////
- reset
////////////////////////////////////// */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary, time, mark, audio, video, a, picture, figure {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  background: transparent;
  font-weight: normal;
  text-decoration: none;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, picture, figure {
  display: block;
}

ul, ol {
  list-style: none;
  list-style-position: inside;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  background: transparent;
  font-size: 100%;
  text-decoration: none;
  vertical-align: baseline;
}

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

hr {
  display: block;
  height: 1px;
  margin: 1em 0;
  padding: 0;
  border: 0;
  background-color: #D7DBE4;
}

img, input, select {
  vertical-align: middle;
}

/* //////////////////////////////////////
- common
////////////////////////////////////// */
body {
  background-color: #333;
  color: #fff;
  font-size: 1rem;
  font-family: 'Noto Sans JP', sans-serif;
}

.pc_none {
  display: none;
}

.sp_none {
  display: inline-block;
}

.fade {
  -webkit-transform: translate(0, 30px);
          transform: translate(0, 30px);
  opacity: 0;
  -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
  transition: opacity 0.5s, -webkit-transform 0.5s;
  transition: opacity 0.5s, transform 0.5s;
  transition: opacity 0.5s, transform 0.5s, -webkit-transform 0.5s;
}

.fade.fade_in {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 1;
}

h2 {
  font-weight: bold;
  font-size: 2rem;
  text-align: center;
}

h2 span {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

h3 {
  font-weight: bold;
}

a.link_arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
  border-radius: 50px;
  font-weight: bold;
  font-size: 18px;
  text-decoration: none;
}

a.link_arrow::after {
  display: inline-block;
  width: 22px;
  height: 22px;
  margin-left: 16px;
  background-image: url(../img/ico_arrow.svg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  content: "";
  flex-shrink: 0;
}

a {
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

/* //////////////////////////////////////
- header
////////////////////////////////////// */
header {
  z-index: 1;
  position: relative;
}

header h1 {
  position: fixed;
  top: 0;
  left: 0;
}

header div {
  padding: 23px 14px 23px 0;
  background-color: #000;
  color: #fff;
  font-size: 14px;
  line-height: 1;
  text-align: right;
}

header div a {
  color: #EFC100;
  text-decoration: underline;
}

header div a:hover {
  opacity: 0.7;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav li {
  margin-left: 16px;
}

nav a {
  display: inline-block;
  padding: 12px 20px;
  border-radius: 50px;
  color: #fff;
  line-height: 1;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

/* //////////////////////////////////////
- pagetop
////////////////////////////////////// */
.pagetop {
  z-index: 999;
  position: fixed;
  right: 34px;
  bottom: -110px;
  width: 12px;
  height: 103px;
  padding: 0;
  background: none;
  opacity: 1;
  -webkit-transition: bottom 0.2s, opacity 0.2s;
  transition: bottom 0.2s, opacity 0.2s;
}

.pagetop.pagetop_in {
  bottom: 34px;
  opacity: 1;
}

/* //////////////////////////////////////
- goto_meta
////////////////////////////////////// */
a.goto_meta {
  background-color: #fff;
  color: #333;
  min-width: 335px;
  display: inline-flex;
  padding: 0.5em 2em;
  min-height: 74px;
}
aside a.goto_meta {
  max-width: 40vw;
  box-shadow: 0 0 5px rgba(0,0,0,0.5);
}

a.goto_meta:hover {
  background-color: #333;
  color: #fff;
}

a.goto_meta:hover::after {
  background-image: url(../img/ico_arrow_w.svg);
}

aside a.goto_meta:hover {
  box-shadow: 0 0 5px rgba(255,255,255,1);
  opacity: 0.9;
}


/* //////////////////////////////////////
- footer
////////////////////////////////////// */
footer {
  padding: 60px 20px 20px;
  background-color: #EFC100;
  color: #333333;
  text-align: center;
}

footer h2 {
  margin-bottom: 22px;
  font-size: 26px;
}


footer .copyright {
  margin-top: 70px;
  font-size: 14px;
  letter-spacing: 0;
}

/* //////////////////////////////////////
- main
////////////////////////////////////// */
main a {
  color: #EFC100;
  text-decoration: underline;
}

main .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 470px;
  background-image: url(../img/bg_main.jpg);
  background-position: 50% 50%;
  background-size: cover;
  text-align: center;
  height: 530px;
}

main .header .description {
  margin: 38px auto 30px;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.15em;
}

main .header p {
  width: 100%;
  font-size: 14px;
}

main .header a::after {
  display: inline-block;
  width: 15px;
  height: 13px;
  margin: 0 4px;
  background-image: url(../img/ico_window.svg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  content: "";
}

main .header a:hover {
  opacity: 0.7;
}

main .page_link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 50px 20px 60px;
  background-color: #fff;
  text-align: center;
}

main .page_link h2,
main .page_link a {
  color: #333;
}

main .page_link h2 {
  margin-bottom: 20px;
}

main .page_link ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

main .page_link li {
  height: 60px;
  margin: 0 8px;
}

main .page_link li a {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60px;
  padding: 0 30px;
  border: 1px solid #333;
  border-radius: 50px;
  font-weight: bold;
  text-decoration: none;
}

main .page_link li a::after {
  display: inline-block;
  position: relative;
  top: -3px;
  width: 5px;
  height: 5px;
  margin-left: 16px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  border-right: 2px solid #333;
  border-bottom: 2px solid #333;
  content: "";
  vertical-align: middle;
}

main .page_link li a:hover {
  border: 4px solid #EFC100;
  opacity: 1;
}

main .wrap {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 28px 20px 40px;
}

main .wrap section {
  margin-bottom: 60px;
  padding-top: 60px;
}

main .wrap h2 {
  margin-bottom: 8px;
  color: #EFC100;
  font-size: 36px;
  letter-spacing: 0.2em;
  text-align: left;
}

main .wrap h2 + p {
  margin-bottom: 25px;
  font-size: 18px;
}

main .wrap .dt_btnimg {
  width: 100%;
  max-width: 135px;
  height: auto;
}

main .wrap img {
  width: auto;
  max-width: 100%;
  height: auto;
}

main .wrap dl {
  margin-top: 32px;
}

main .wrap dt {
  margin-bottom: 12px;
}

main .wrap dd {
  line-height: 1.8;
}

main .wrap dd p {
  margin-bottom: 10px;
}

main .wrap dd div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 20px;
}

main .wrap dd div.block {
  padding: 30px;
  border: 1px solid #fff;
}

main .wrap dd div.block picture {
  width: 340px;
}

main .wrap dd div.block div {
  width: calc(100% - 360px);
}

main .wrap dd div picture {
  width: 445px;
}

main .wrap dd div div {
  display: block;
  width: calc(100% - 465px);
  margin-top: 0 !important;
}

main .wrap dl.accordion {
  position: relative;
  border: 1px solid #fff;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

main .wrap dl.accordion.on::after {
  display: none;
}

main .wrap dl.accordion::before, main .wrap dl.accordion::after {
  display: inline-block;
  position: absolute;
  background-color: #fff;
  content: "";
}

main .wrap dl.accordion::before {
  top: 35px;
  right: 30px;
  width: 18px;
  height: 2px;
}

main .wrap dl.accordion::after {
  top: 28px;
  right: 38px;
  width: 2px;
  height: 17px;
}

main .wrap dl.accordion dt {
  position: relative;
  margin-bottom: 0;
  padding: 20px 30px;
  color: #EFC100;
  font-weight: bold;
  font-size: 22px;
  letter-spacing: 0.2em;
  cursor: pointer;
}

main .wrap dl.accordion dd {
  display: none;
  padding: 0 30px 20px;
}

main .wrap dl.accordion dd > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .wrap dl.accordion dd picture {
  width: 340px;
}

main .wrap dl.accordion dd div div {
  display: block;
  width: calc(100% - 360px);
  margin-top: 0;
}

main .wrap dl.accordion dd a {
  max-width: 353px;
  height: 60px;
  margin: 0;
  border: 2px solid #EFC100;
  background-color: #EFC100;
  color: #333;
}

main .wrap dl.accordion dd a:hover {
  border: 2px solid #EFC100;
  background-color: #fff;
}

main .wrap .sect02 dt {
  padding: 0 0 10px;
  border-bottom: 1px solid #fff;
  font-weight: bold;
  font-size: 26px;
}

main .wrap .sect02 dd div {
  margin-top: 30px;
}

main .wrap .sect02 dd h3 {
  font-weight: bold;
  font-size: 20px;
}

main .wrap .sect02 dd h3::before {
  display: inline-block;
  position: relative;
  top: -2px;
  width: 12px;
  height: 12px;
  margin-right: 4px;
  border-radius: 50px;
  background-color: #EFC100;
  content: "";
  vertical-align: middle;
}

main .wrap .sect02 dl + dl {
  margin-top: 50px;
}

main .wrap .sect03 ol {
  margin-bottom: 20px;
}

main .wrap .sect03 li {
  margin-top: 20px;
  line-height: 1.8;
}

main .wrap .sect03 h3 {
  font-weight: bold;
  font-size: 20px;
}

main .wrap .sect03 h3::before {
  display: inline-block;
  position: relative;
  top: -2px;
  width: 20px;
  height: 20px;
  margin-right: 4px;
  background-size: 100% 100%;
  content: "";
  vertical-align: middle;
}

main .wrap .sect03 li:nth-child(1) h3::before {
  background-image: url(../img/ico_01.svg);
}

main .wrap .sect03 li:nth-child(2) h3::before {
  background-image: url(../img/ico_02.svg);
}

main .wrap .sect03 li:nth-child(3) h3::before {
  background-image: url(../img/ico_03.svg);
}

main .wrap .sect03 li:nth-child(4) h3::before {
  background-image: url(../img/ico_04.svg);
}

main .wrap .sect03 li:nth-child(5) h3::before {
  width: 12px;
  height: 12px;
  border-radius: 50px;
  background-color: #EFC100;
  vertical-align: middle;
}

main .wrap .sect03 a {
  max-width: 302px;
  height: 60px;
  margin: 0;
  background-color: #EFC100;
  color: #333;
}

main .wrap .sect03 a:hover {
  border: 2px solid #EFC100;
  background-color: #fff;
}

aside {
  position: fixed;
  top: 16px;
  right: 20px;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  z-index: 1;
}

aside img {
  width: 176px;
  height: 176px;
}

aside.scroll_on {
  top: 20px;
}

.modal {
  display: none;
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

.modal .modal_close_btn {
  z-index: 101;
  position: fixed;
  top: 35px;
  right: 20px;
  cursor: pointer;
}

.modal .modal_close_btn img {
  width: 70px;
  height: 70px;
}

.modal_bg {
  position: absolute;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.9);
}

.modal_cont {
  position: relative;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 96%;
  max-width: 657px;
  max-height: 96%;
  padding: 0;
  overflow: auto;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #fff;
}

.modal_cont ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.modal_cont li {
  width: 49%;
  max-width: 313px;
  margin: 0 0 30px;
}

.modal_cont a {
  color: #fff;
}

.modal_cont picture {
  display: block;
}

.modal_cont img {
  display: block;
  width: 100%;
  height: auto;
  margin-bottom: 5px;
  line-height: 1;
}

.modal_cont p {
  width: 100%;
  font-weight: normal;
  font-size: 16px;
}

@media screen and (max-width: 768px) {
  body {
    font-size: 0.875rem;
  }
  .pc_none {
    display: inline-block;
  }
  .sp_none {
    display: none;
  }
  h2 {
    font-size: 1.375rem;
  }
  header {
    height: 66px;
  }
  header h1 {
    position: fixed;
    width: calc(100% - 170px);
    background-color: #EFC100;
  }
  header h1 img {
    width: auto;
    height: 66px;
  }
  header div {
    width: 170px;
    height: 66px;
    margin: 0 0 0 auto;
    padding: 7px 0 0 12px;
    font-size: 12px;
    line-height: 1.4;
    text-align: left;
  }
  nav ul {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  nav li {
    width: 100%;
  }
  aside {
  z-index: 99;
  }
  aside a.goto_meta {
    font-size: 100%;
    min-height: 66px;
    border-radius: 0;
    min-width: 0;
    max-width: 50vw;
    box-shadow: none !important;
  }
  footer {
    padding: 30px 20px 20px;
  }
  footer h2 {
    font-size: 22px;
  }
  footer .copyright {
    margin-top: 50px;
  }
  main .header {
    padding: 0 20px;
    background-image: url(../img/bg_main_sp.jpg);
  }
  main .header h1 img {
    width: 100%;
    height: auto;
  }
  main .header .description {
    margin: 24px auto 20px;
    font-size: 16px;
    line-height: 1.8;
    letter-spacing: 0.1em;
  }
  main .header p {
    line-height: 1.8;
    letter-spacing: 0.1em;
  }
  main .page_link {
    padding: 25px 20px 25px;
  }
  main .page_link ul {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  main .page_link li {
    width: 100%;
    margin: 0 0 10px;
  }
  main .page_link li a {
    position: relative;
    width: 100%;
    text-align: left;
  }
  main .page_link li a::after {
    position: absolute;
    top: 0%;
    right: 20px;
    bottom: 0;
    margin: auto;
  }
  main .wrap {
    padding: 0 20px 60px;
  }
  main .wrap section {
    margin-bottom: 0px;
    padding-top: 66px;
  }
  main .wrap h2 {
    font-size: 26px;
    letter-spacing: 0.1em;
  }
  main .wrap h2 + p {
    font-size: 16px;
  }
  main .wrap img {
    width: 100%;
  }
  main .wrap dd div {
    font-size: 14px;
  }
  main .wrap dd div.block {
    padding: 20px;
  }
  main .wrap dd div.block picture {
    width: 100%;
  }
  main .wrap dd div.block div {
    width: 100%;
  }
  main .wrap dd div picture {
    width: 100%;
    margin-bottom: 10px;
  }
  main .wrap dd div div {
    width: 100%;
  }
  main .wrap dl.accordion::before {
    top: 32px;
    right: 20px;
    width: 18px;
    height: 2px;
  }
  main .wrap dl.accordion::after {
    top: 25px;
    right: 28px;
    width: 2px;
    height: 17px;
  }
  main .wrap dl.accordion dt {
    padding: 20px;
    font-size: 18px;
    letter-spacing: 0.1em;
  }
  main .wrap dl.accordion dd {
    padding: 0 20px 20px;
  }
  main .wrap dl.accordion dd picture {
    width: 100%;
  }
  main .wrap dl.accordion dd div div {
    width: 100%;
  }
  main .wrap dl.accordion dd a {
    width: 100%;
    font-size: 16px;
  }
  main .wrap .sect02 dt {
    font-size: 16px;
  }
  main .wrap .sect02 dd div h3 {
    font-size: 16px;
  }
  main .wrap .sect03 h3 {
    font-size: 18px;
  }
  main .wrap .sect03 h3::before {
    width: 18px;
    height: 18px;
  }
  aside {
    top: 0;
    right: 0;
  }
  aside.scroll_on {
    top: 0;
  }
  aside img {
    width: 170px;
    height: 66px;
  }
  .modal .modal_close_btn {
    width: 40px;
    height: 40px;
  }
  .modal .modal_close_btn::before, .modal .modal_close_btn::after {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 24px;
    height: 2px;
    margin: auto;
    background-color: #EFC100;
    content: "";
  }
  .modal .modal_close_btn::before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .modal .modal_close_btn::after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  .modal .modal_close_btn img {
    display: none;
  }
  .modal .modal_close_btn {
    top: 15px;
    right: 15px;
  }
  .modal_cont {
    width: calc(100% - 60px);
    max-width: none;
    height: 100%;
    max-height: none;
    padding: 70px 0 50px;
  }
  .modal_cont li {
    width: calc(100%);
    max-width: inherit;
  }
  .modal_cont p {
    font-size: 14px;
  }
}

/*# sourceMappingURL=maps/style.css.map */
